/*****************
 * Import Partials
 *****************/
/* Helpers from base */
/*
 *Fonts
 */
/*
 *Colors
 */
/*
 *Misc
 */
/* Helpers Overrides */
/*
 * Variables File
 * Global variables should be defined in the base theme.  Variables specific to 'Fresh' should be added here
 */
/* Fonts */
/* Colors */
/* line 1, ../../base/sass/base/normalize/_normalize.scss */
a {
  color: #00a084;
  text-decoration: none;
}
/* line 4, ../../base/sass/base/normalize/_normalize.scss */
a:hover, a:visited, a:active {
  color: #00a084;
}

/* line 8, ../../base/sass/base/normalize/_normalize.scss */
.pr-5 {
  padding-right: 5px;
}

/* line 11, ../../base/sass/base/normalize/_normalize.scss */
.pr-10 {
  padding-right: 10px;
}

/* line 14, ../../base/sass/base/normalize/_normalize.scss */
.pr-20 {
  padding-right: 20px;
}

/* line 17, ../../base/sass/base/normalize/_normalize.scss */
.pr-30 {
  padding-right: 30px;
}

/* line 20, ../../base/sass/base/normalize/_normalize.scss */
.pl-5 {
  padding-left: 5px;
}

/* line 23, ../../base/sass/base/normalize/_normalize.scss */
.pl-10 {
  padding-left: 10px;
}

/* line 26, ../../base/sass/base/normalize/_normalize.scss */
.pl-20 {
  padding-left: 20px;
}

/* line 29, ../../base/sass/base/normalize/_normalize.scss */
.pl-30 {
  padding-left: 30px;
}

/* Overrides to the base normalize.scss */
/* line 3, ../sass/base/_normalize.scss */
body, p {
  font-family: "Ashbury";
  font-weight: 100;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -.01em;
}

/* line 10, ../sass/base/_normalize.scss */
h1 {
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

/* line 16, ../sass/base/_normalize.scss */
h2 {
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
}

/* line 22, ../sass/base/_normalize.scss */
h3 {
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
}

/* line 28, ../sass/base/_normalize.scss */
h4, h5 {
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

/* line 34, ../sass/base/_normalize.scss */
blockquote {
  font-family: "Ashbury";
  font-weight: 100px;
  font-size: 18px;
  line-height: 27px;
}

/* line 40, ../sass/base/_normalize.scss */
.sponsor-label {
  font-family: "Brown";
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
}

/* line 46, ../sass/base/_normalize.scss */
.label {
  font-family: "AdelleSans";
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .01em;
}

/* line 53, ../sass/base/_normalize.scss */
.caption {
  font-family: "Ashbury";
  font-weight: 100;
  font-size: 12px;
  line-height: 24px;
}

/* line 65, ../sass/base/_normalize.scss */
hr {
  border-bottom: 1px solid #c7c7c7;
}
/* line 67, ../sass/base/_normalize.scss */
hr.special {
  color: #0080a5;
}

/* line 71, ../sass/base/_normalize.scss */
a {
  font-family: "Ashbury";
  font-weight: 100;
  color: #00a084;
}

/* line 76, ../sass/base/_normalize.scss */
img {
  max-width: 100%;
}

/*
* Components
*************************/
/* line 85, ../sass/base/_normalize.scss */
.pullquote {
  font-family: "Ashbury";
  font-weight: 100;
  font-style: italic;
  font-size: 22px;
  line-height: 36px;
}

/* line 95, ../sass/base/_normalize.scss */
.author-block {
  font-family: "Ashbury";
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
}
/* line 100, ../sass/base/_normalize.scss */
.author-block span {
  font-weight: bold;
}

/* line 107, ../sass/base/_normalize.scss */
.btn-primary {
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 14px;
}

/* line 112, ../sass/base/_normalize.scss */
.btn-secondary {
  font-family: "AdelleSans";
  font-weight: normal;
  font-size: 14px;
}

/* Modules */
/***********
* New mobile menu
************/
/* line 4, ../../base/sass/base/modules/_mobile-menu.scss */
body {
  overflow-x: hidden;
}

/* line 7, ../../base/sass/base/modules/_mobile-menu.scss */
#page-wrapper {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 18, ../../base/sass/base/modules/_mobile-menu.scss */
nav.menu {
  position: fixed;
  z-index: 20;
  background: black;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 28, ../../base/sass/base/modules/_mobile-menu.scss */
nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 34, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu {
  top: 0;
  width: 300px;
  height: 100%;
  left: -300px;
}
/* line 39, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu li {
  display: block;
}
/* line 42, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu li:first-child {
  border-top: none;
}
/* line 45, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu li:last-child {
  border-bottom: none;
}
/* line 48, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu a {
  display: block;
  color: white;
  padding: 10px;
  border-color: #9c9c9c;
  font-family: 'Apercu Medium', sans-serif;
  font-size: 16px;
  text-transform: none;
  border-bottom: none;
}

/* line 59, ../../base/sass/base/modules/_mobile-menu.scss */
body.mobile-menu-show nav#mobile-menu {
  left: 0;
}

/* line 62, ../../base/sass/base/modules/_mobile-menu.scss */
body.mobile-menu-show #page-wrapper {
  left: 300px;
}

/**************
 * Mobile menu navigation
 **************/
/* line 72, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu .mobile-menu li {
  border-bottom: 1px solid #646464;
}

/**************
 * Mobile menu social
 **************/
/* line 82, ../../base/sass/base/modules/_mobile-menu.scss */
.mobile-menu-header {
  border-color: #9c9c9c;
}
/* line 84, ../../base/sass/base/modules/_mobile-menu.scss */
.mobile-menu-header > div > ul > li {
  width: 24px;
  margin-left: 3px;
}
/* line 87, ../../base/sass/base/modules/_mobile-menu.scss */
.mobile-menu-header > div > ul > li a {
  margin-left: 0;
}
/* line 89, ../../base/sass/base/modules/_mobile-menu.scss */
.mobile-menu-header > div > ul > li a:hover {
  background-color: #000;
}

/* line 96, ../../base/sass/base/modules/_mobile-menu.scss */
.follow-us ul {
  clear: both;
}

/* line 99, ../../base/sass/base/modules/_mobile-menu.scss */
.follow-us ul li a {
  height: 24px;
  width: 24px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin-left: 6px;
}

/* line 109, ../../base/sass/base/modules/_mobile-menu.scss */
.follow-us ul li:first-child a {
  margin-left: 0;
}

/* For testing only */
/* line 117, ../../base/sass/base/modules/_mobile-menu.scss */
.toggle-mobile-left {
  display: block;
  width: 100px;
  height: 100px;
  background: blue;
}

/*****************
 * Article Page
 *****************/
