/*****************
 * Import Partials
 *****************/
/* Helpers from base */
/*
 *Fonts
 */
/*
 *Colors
 */
/*
 *Misc
 */
/* Helpers Overrides */
/*
 * Variables File
 * Global variables should be defined in the base theme.  Variables specific to 'Fresh' should be added here
 */
/* Fonts */
/* Colors */
/* Fonts and Icons */
/* line 1, ../../base/sass/base/icons/_icons.scss */
.icon {
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 2, ../../base/sass/base/icons/_icons.scss */
.icon:after {
  font-family: takepart;
}
/* line 19, ../../base/sass/base/icons/_icons.scss */
.icon.i-take-action:after {
  content: '\e100';
}
/* line 20, ../../base/sass/base/icons/_icons.scss */
.icon.i-pledge:after {
  content: '\e101';
}
/* line 21, ../../base/sass/base/icons/_icons.scss */
.icon.i-petition:after {
  content: '\e102';
}
/* line 22, ../../base/sass/base/icons/_icons.scss */
.icon.i-messages-of-support:after {
  content: '\e103';
}
/* line 23, ../../base/sass/base/icons/_icons.scss */
.icon.i-awareness:after {
  content: '\e104';
}
/* line 24, ../../base/sass/base/icons/_icons.scss */
.icon.i-donation:after {
  content: '\e105';
}
/* line 25, ../../base/sass/base/icons/_icons.scss */
.icon.i-story:after {
  content: '\e106';
}
/* line 26, ../../base/sass/base/icons/_icons.scss */
.icon.i-letter:after {
  content: '\e115';
}
/* line 28, ../../base/sass/base/icons/_icons.scss */
.icon.i-graph:after {
  content: '\e107';
}
/* line 29, ../../base/sass/base/icons/_icons.scss */
.icon.i-monitor:after {
  content: '\e108';
}
/* line 30, ../../base/sass/base/icons/_icons.scss */
.icon.i-update-circle:after {
  content: '\e109';
}
/* line 31, ../../base/sass/base/icons/_icons.scss */
.icon.i-personal:after {
  content: '\e10A';
}
/* line 32, ../../base/sass/base/icons/_icons.scss */
.icon.i-user-avatar:after {
  content: '\e10C';
}
/* line 33, ../../base/sass/base/icons/_icons.scss */
.icon.i-buzz:after {
  content: '\e10D';
}
/* line 34, ../../base/sass/base/icons/_icons.scss */
.icon.i-concentric-circles:after {
  content: '\e10E';
}
/* line 35, ../../base/sass/base/icons/_icons.scss */
.icon.i-thumbs-up:after {
  content: '\e10f';
}
/* line 36, ../../base/sass/base/icons/_icons.scss */
.icon.i-badge:after {
  content: '\e110';
}
/* line 37, ../../base/sass/base/icons/_icons.scss */
.icon.i-influence:after {
  content: '\e111';
}
/* line 38, ../../base/sass/base/icons/_icons.scss */
.icon.i-like-heart:after {
  content: '\e112';
}
/* line 39, ../../base/sass/base/icons/_icons.scss */
.icon.i-share:after {
  content: '\e113';
}
/* line 40, ../../base/sass/base/icons/_icons.scss */
.icon.i-organization:after {
  content: '\e114';
}
/* line 43, ../../base/sass/base/icons/_icons.scss */
.icon.i-double-arrow-left:after {
  content: '\e605\e605';
  letter-spacing: -1px;
}
/* line 44, ../../base/sass/base/icons/_icons.scss */
.icon.i-double-arrow-right:after {
  content: '\e606\e606';
  letter-spacing: -1px;
}
/* line 45, ../../base/sass/base/icons/_icons.scss */
.icon.i-double-arrow-up:after {
  content: '\e603';
}
/* line 46, ../../base/sass/base/icons/_icons.scss */
.icon.i-double-arrow-down:after {
  content: '\e604';
}
/* line 47, ../../base/sass/base/icons/_icons.scss */
.icon.i-zoom-in:after {
  content: "\e614";
}
/* line 48, ../../base/sass/base/icons/_icons.scss */
.icon.i-zoom-out:after {
  content: "\e615";
}
/* line 49, ../../base/sass/base/icons/_icons.scss */
.icon.i-search:after {
  content: '\e616';
}
/* line 51, ../../base/sass/base/icons/_icons.scss */
.icon.i-touch-menu:after {
  content: "\e609";
}
/* line 52, ../../base/sass/base/icons/_icons.scss */
.icon.i-remove:after {
  content: "\e610";
}
/* line 53, ../../base/sass/base/icons/_icons.scss */
.icon.i-minus:after {
  content: "\e611";
}
/* line 54, ../../base/sass/base/icons/_icons.scss */
.icon.i-plus:after, .icon.i-add:after {
  content: "\e612";
}
/* line 55, ../../base/sass/base/icons/_icons.scss */
.icon.i-close-x:after {
  content: '\e617';
}
/* line 56, ../../base/sass/base/icons/_icons.scss */
.icon.i-ok:after {
  content: "\e613";
}
/* line 59, ../../base/sass/base/icons/_icons.scss */
.icon.i-arrow-left:after {
  content: '\e605';
}
/* line 60, ../../base/sass/base/icons/_icons.scss */
.icon.i-arrow-right:after {
  content: '\e606';
}
/* line 61, ../../base/sass/base/icons/_icons.scss */
.icon.i-arrow-up:after {
  content: '\e607';
}
/* line 62, ../../base/sass/base/icons/_icons.scss */
.icon.i-arrow-down:after {
  content: '\e608';
}
/* line 65, ../../base/sass/base/icons/_icons.scss */
.icon.i-facebook:after {
  content: "\e301";
}
/* line 66, ../../base/sass/base/icons/_icons.scss */
.icon.i-twitter:after {
  content: '\e302';
}
/* line 67, ../../base/sass/base/icons/_icons.scss */
.icon.i-google_plusone_share:after {
  content: '\e303';
}
/* line 68, ../../base/sass/base/icons/_icons.scss */
.icon.i-email:after {
  content: '\e305';
}
/* line 71, ../../base/sass/base/icons/_icons.scss */
.icon.i-poto-camera:after {
  content: '\e301';
}
/* line 72, ../../base/sass/base/icons/_icons.scss */
.icon.i-video-camera:after {
  content: '\e302';
}

/* line 75, ../../base/sass/base/icons/_icons.scss */
.i-checkmark:after {
  content: '\2713';
}

/* line 76, ../../base/sass/base/icons/_icons.scss */
.i-close-x:after {
  content: '\d7';
}

/* line 77, ../../base/sass/base/icons/_icons.scss */
.i-triangle-up:after {
  content: '\25B2';
}

/* line 78, ../../base/sass/base/icons/_icons.scss */
.i-triangle-down:after {
  content: '\25BC';
}

/* line 79, ../../base/sass/base/icons/_icons.scss */
.i-triangle-left:after {
  content: '\25C0';
}

/* line 80, ../../base/sass/base/icons/_icons.scss */
.i-triangle-right:after {
  content: '\25B6';
}

/* line 82, ../../base/sass/base/icons/_icons.scss */
.tp-social-link, .tp-follow-link {
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 83, ../../base/sass/base/icons/_icons.scss */
.tp-social-link:before, .tp-follow-link:before {
  font-family: takepart;
}
/* line 100, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Pinterest:before, .tp-follow-link.tp-social-Pinterest:before {
  content: '\e300';
}
/* line 101, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Facebook:before, .tp-follow-link.tp-social-Facebook:before {
  content: "\e301";
}
/* line 102, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Twitter:before, .tp-follow-link.tp-social-Twitter:before {
  content: '\e302';
}
/* line 103, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-GooglePlus:before, .tp-follow-link.tp-social-GooglePlus:before {
  content: '\e303';
}
/* line 104, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Tumblr:before, .tp-follow-link.tp-social-Tumblr:before {
  content: '\e304';
}
/* line 105, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Email:before, .tp-follow-link.tp-social-Email:before {
  content: '\e305';
}
/* line 106, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Mailto:before, .tp-follow-link.tp-social-Mailto:before {
  content: '\e305';
}
/* line 107, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Linkedin:before, .tp-follow-link.tp-social-Linkedin:before {
  content: '\e308';
}
/* line 108, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Vine:before, .tp-follow-link.tp-social-Vine:before {
  content: '\e309';
}
/* line 109, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Instagram:before, .tp-follow-link.tp-social-Instagram:before {
  content: '\e306';
}
/* line 110, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Youtube:before, .tp-follow-link.tp-social-Youtube:before {
  content: '\e307';
}
/* line 111, ../../base/sass/base/icons/_icons.scss */
.tp-social-link.tp-social-Reddit:before, .tp-follow-link.tp-social-Reddit:before {
  content: '\e312';
}

/* line 114, ../../base/sass/base/icons/_icons.scss */
.tpi {
  display: inline-block;
  font: normal normal normal 20px/1 takepart;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../../base/sass/base/normalize/_normalize.scss */
a {
  color: #00a084;
  text-decoration: none;
}
/* line 4, ../../base/sass/base/normalize/_normalize.scss */
a:hover, a:visited, a:active {
  color: #00a084;
}

/* line 8, ../../base/sass/base/normalize/_normalize.scss */
.pr-5 {
  padding-right: 5px;
}

/* line 11, ../../base/sass/base/normalize/_normalize.scss */
.pr-10 {
  padding-right: 10px;
}

/* line 14, ../../base/sass/base/normalize/_normalize.scss */
.pr-20 {
  padding-right: 20px;
}

/* line 17, ../../base/sass/base/normalize/_normalize.scss */
.pr-30 {
  padding-right: 30px;
}

/* line 20, ../../base/sass/base/normalize/_normalize.scss */
.pl-5 {
  padding-left: 5px;
}

/* line 23, ../../base/sass/base/normalize/_normalize.scss */
.pl-10 {
  padding-left: 10px;
}

/* line 26, ../../base/sass/base/normalize/_normalize.scss */
.pl-20 {
  padding-left: 20px;
}

/* line 29, ../../base/sass/base/normalize/_normalize.scss */
.pl-30 {
  padding-left: 30px;
}

/* Overrides to the base normalize.scss */
/* line 3, ../sass/base/_normalize.scss */
body, p {
  font-family: "Ashbury";
  font-weight: 100;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -.01em;
}

/* line 10, ../sass/base/_normalize.scss */
h1 {
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

/* line 16, ../sass/base/_normalize.scss */
h2 {
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
}

/* line 22, ../sass/base/_normalize.scss */
h3 {
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
}

/* line 28, ../sass/base/_normalize.scss */
h4, h5 {
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

/* line 34, ../sass/base/_normalize.scss */
blockquote {
  font-family: "Ashbury";
  font-weight: 100px;
  font-size: 18px;
  line-height: 27px;
}

/* line 40, ../sass/base/_normalize.scss */
.sponsor-label {
  font-family: "Brown";
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
}

/* line 46, ../sass/base/_normalize.scss */
.label {
  font-family: "AdelleSans";
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .01em;
}

/* line 53, ../sass/base/_normalize.scss */
.caption {
  font-family: "Ashbury";
  font-weight: 100;
  font-size: 12px;
  line-height: 24px;
}

/* line 65, ../sass/base/_normalize.scss */
hr {
  border-bottom: 1px solid #c7c7c7;
}
/* line 67, ../sass/base/_normalize.scss */
hr.special {
  color: #0080a5;
}

/* line 71, ../sass/base/_normalize.scss */
a {
  font-family: "Ashbury";
  font-weight: 100;
  color: #00a084;
}

/* line 76, ../sass/base/_normalize.scss */
img {
  max-width: 100%;
}

/*
* Components
*************************/
/* line 85, ../sass/base/_normalize.scss */
.pullquote {
  font-family: "Ashbury";
  font-weight: 100;
  font-style: italic;
  font-size: 22px;
  line-height: 36px;
}

/* line 95, ../sass/base/_normalize.scss */
.author-block {
  font-family: "Ashbury";
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
}
/* line 100, ../sass/base/_normalize.scss */
.author-block span {
  font-weight: bold;
}

/* line 107, ../sass/base/_normalize.scss */
.btn-primary {
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 14px;
}

/* line 112, ../sass/base/_normalize.scss */
.btn-secondary {
  font-family: "AdelleSans";
  font-weight: normal;
  font-size: 14px;
}

/* line 118, ../sass/base/_normalize.scss */
.social .icon {
  with: 24px;
  height: 24px;
}

/* line 124, ../sass/base/_normalize.scss */
.horizontal-menu li {
  margin: 0;
  display: inline-block;
  text-align: center;
}

/* Modules */
/***********
* New mobile menu
************/
/* line 4, ../../base/sass/base/modules/_mobile-menu.scss */
body {
  overflow-x: hidden;
}

/* line 7, ../../base/sass/base/modules/_mobile-menu.scss */
#page-wrapper {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 18, ../../base/sass/base/modules/_mobile-menu.scss */
nav.menu {
  position: fixed;
  z-index: 20;
  background: black;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 28, ../../base/sass/base/modules/_mobile-menu.scss */
nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 34, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu {
  top: 0;
  width: 300px;
  height: 100%;
  left: -300px;
}
/* line 39, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu li:first-child {
  border-top: none;
}
/* line 42, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu li:last-child {
  border-bottom: none;
}
/* line 45, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu a {
  display: block;
  color: white;
  padding: 10px;
  border-color: #9c9c9c;
  font-family: 'Apercu Medium', sans-serif;
  font-size: 16px;
  text-transform: none;
  border-bottom: none;
}

/* line 56, ../../base/sass/base/modules/_mobile-menu.scss */
body.mobile-menu-show nav#mobile-menu {
  left: 0;
}

/* line 59, ../../base/sass/base/modules/_mobile-menu.scss */
body.mobile-menu-show #page-wrapper {
  left: 300px;
}

/**************
 * Mobile menu navigation
 **************/
/* line 69, ../../base/sass/base/modules/_mobile-menu.scss */
nav#mobile-menu .mobile-menu li {
  border-bottom: 1px solid #646464;
}

/**************
 * Mobile menu social
 **************/
/* line 79, ../../base/sass/base/modules/_mobile-menu.scss */
.mobile-menu-header {
  border-color: #9c9c9c;
}
/* line 81, ../../base/sass/base/modules/_mobile-menu.scss */
.mobile-menu-header > div > ul > li {
  width: 24px;
  margin-left: 3px;
}
/* line 84, ../../base/sass/base/modules/_mobile-menu.scss */
.mobile-menu-header > div > ul > li a {
  margin-left: 0;
}
/* line 86, ../../base/sass/base/modules/_mobile-menu.scss */
.mobile-menu-header > div > ul > li a:hover {
  background-color: #000;
}

/* line 93, ../../base/sass/base/modules/_mobile-menu.scss */
.follow-us ul {
  clear: both;
}

/* line 96, ../../base/sass/base/modules/_mobile-menu.scss */
.follow-us ul li a {
  height: 24px;
  width: 24px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin-left: 6px;
}

/* line 106, ../../base/sass/base/modules/_mobile-menu.scss */
.follow-us ul li:first-child a {
  margin-left: 0;
}

/* For testing only */
/* line 114, ../../base/sass/base/modules/_mobile-menu.scss */
.toggle-mobile-left {
  display: block;
  width: 100px;
  height: 100px;
  background: blue;
}

/*****************
 * Article Page
 *****************/
