/* Fonts */
@font-face 
{
  font-family: calibri-webfont;
  src: url("../fonts/calibri-webfont.eot") /* EOT file for IE */
}

@font-face 
{
  font-family: calibrib-webfont;
  src: url("../fonts/calibrib-webfont.eot") /* EOT file for IE */
}

@font-face 
{
  font-family: 'calibri-webfont';
  src: url('../fonts/calibri-webfont.woff') format('woff'),
       url('../fonts/calibri-webfont.ttf') format('truetype'),
       url('../fonts/calibri-webfont.svg#calibri-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: 'calibrib-webfont';
  src: url('../fonts/calibrib-webfont.woff') format('woff'),
       url('../fonts/calibrib-webfont.ttf') format('truetype'),
       url('../fonts/calibrib-webfont.svg#calibrib-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General Form Styles */
#takepart_contests_form_wrapper_1 .counter:before
{
  content:"Characters remaining: ";
}

#takepart_contests_form_wrapper_1 .form-required
{
  color:#f37e3b;
}

#takepart_contests_form_wrapper_1 #edit-step1-custom-269
{
  margin-left:17px;
}

#takepart_contests_form_wrapper_1 .form-item
{
  margin-bottom:2em;
  margin-top:1em;
}

#takepart_contests_form_wrapper_1 label
{
  font-weight:400;
}

#takepart_contests_form_wrapper_1 .container-inline-date
{
	margin-top: -8px;
}


#takepart_contests_form_wrapper_1 .counter
{
  font-size:11px;
  font-style:italic;
  font-weight:400;
  width:200px;
  padding-top:5px;
}

#takepart_contests_form_wrapper_1 input.aboutyou,
#takepart_contests_form_wrapper_1 input.finalinfo,
#takepart_contests_form_wrapper_1 input.reviewentry,
#takepart_contests_form_wrapper_1 input.submitentry
{
  border:medium none;
  height:35px;
  padding:2px 8px;
  text-indent:-500px;
  text-transform:capitalize;
  cursor:pointer;
}

#takepart_contests_form_wrapper_1 input.aboutyou
{
  background:url(../images/about_you_button.png) no-repeat scroll left top transparent;
  width:198px;
}

#takepart_contests_form_wrapper_1 input.aboutyou:hover
{
  background:url(../images/about_you_button_rollover.png) no-repeat scroll left top transparent;
}

#takepart_contests_form_wrapper_1 input.finalinfo
{
  background:url(../images/final_info_button.png) no-repeat scroll left top transparent;
  width:209px;
}

#takepart_contests_form_wrapper_1 input.finalinfo:hover
{
  background:url(../images/final_info_button_rollover.png) no-repeat scroll left top transparent;
}

#takepart_contests_form_wrapper_1 input.reviewentry
{
  background:url(../images/review_button.png) no-repeat scroll left top transparent;
  width:209px;
}

#takepart_contests_form_wrapper_1 input.reviewentry:hover
{
  background:url(../images/review_button_rollover.png) no-repeat scroll left top transparent;
}

#takepart_contests_form_wrapper_1 input.submitentry
{
  background:url(../images/submit_button.png) no-repeat scroll left top transparent;
  width:209px;
}

#takepart_contests_form_wrapper_1 input.submitentry:hover
{
  background:url(../images/submit_button_rollover.png) no-repeat scroll left top transparent;
}

#takepart_contests_form_wrapper_1 input.backtostepone,
#takepart_contests_form_wrapper_1 input.backtosteptwo,
#takepart_contests_form_wrapper_1 input.backtostepthree
{
  background:url(../images/back_step.png) no-repeat scroll left top transparent;
  border:0 none;
  clear:none;
  margin-top:10px;
  text-indent:-300px;
  width:121px;
}

#takepart_contests_form_wrapper_1 input.backtostepone:hover,
#takepart_contests_form_wrapper_1 input.backtosteptwo:hover,
#takepart_contests_form_wrapper_1 input.backtostepthree:hover
{
  background:url(../images/back_step_rollover.png) no-repeat scroll left top transparent;
}

#takepart_contests_form_wrapper_1 .button
{
  display:block;
  width:620px;
}

#takepart_contests_form_wrapper_1 .next
{
  padding-top: 30px;
}

#takepart_contests_form_wrapper_1 div.aboutyou,
#takepart_contests_form_wrapper_1 div.finalinfo,
#takepart_contests_form_wrapper_1 div.reviewentry
{
  color:#770BCB;
  float:left;
  font-family:calibrib-webfont;
  font-size:20px;
  margin-top:4px;
  padding-right:7px;
  text-transform:uppercase;
}

#takepart_contests_form_wrapper_1 div.submitentry
{
  display:none;
}

#takepart_contests_form_wrapper_1 input.form-checkbox,
#takepart_contests_form_wrapper_1 input.form-radio
{
  float: left;
}

#takepart_contests_form_wrapper_1 span
{
  width:200px;
}

#takepart_contests_form_wrapper_1 span.ui-checkbox
{
  width:18px;
}

#takepart_contests_form_wrapper_1 textarea,
#takepart_contests_form_wrapper_1 input,
#takepart_contests_form_wrapper_1 .grippie
{
  width:625px;
}

#takepart_contests_form_wrapper_1 .grippie
{
  display:none;
}

#takepart_contests_form_wrapper_1 fieldset
{
  border:0 none;
  padding:0;
  margin-bottom:18px;
}

#takepart_contests_form_wrapper_1 fieldset legend span
{
  display:none;
}

/* Throbber Styles */
#takepart_contests_form_wrapper_1 .ajax-progress-throbber
{
  position:fixed;
  z-index:9999;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:transparent;
}

#takepart_contests_form_wrapper_1 .ajax-progress-throbber .message
{
  display:none;
}

#takepart_contests_form_wrapper_1 .ajax-progress-throbber .throbber
{
  position:fixed;
  left:50%;
  top:50%;
  width:25px;
  height:25px;
  margin:-12px 0 0 -12px;
  background-color:#fff;
  background-position:6px -14px;
  -khtml-box-shadow:0 0 5px 6px rgba(0,0,0,.1);
  -moz-box-shadow:0 0 5px 6px rgba(0,0,0,.1);
  -webkit-box-shadow:0 0 5px 6px rgba(0,0,0,.1);
  box-shadow:0 0 5px 6px rgba(0,0,0,.1);
  -khtml-border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter:alpha(opacity=80);
  -moz-opacity:.8;
  -khtml-opacity:.8;
  opacity:.8;
}

#takepart_contests_form_wrapper_1 .form-item
{
  margin-bottom:22px;
  margin-top:8px;
}

#takepart_contests_form_wrapper_1 .form-checkboxes .form-item
{
  margin-bottom:8px;
  margin-top:8px;
}

/* Steps */
#takepart_contests_form_wrapper_1 .group-step1 legend
{
  background:url(../images/submit_step1.png) no-repeat scroll left top transparent;
  height:24px;
  width:761px;
}

#takepart_contests_form_wrapper_1 .group-step2 legend
{
  background:url(../images/submit_step2.png) no-repeat scroll left top transparent;
  height:24px;
  width:761px;
}

#takepart_contests_form_wrapper_1 .group-step3 legend
{
  background:url(../images/submit_step3.png) no-repeat scroll left top transparent;
  height:24px;
  width:761px;
}

#takepart_contests_form_wrapper_1 .group-step4 legend
{
  background:url(../images/submit_step4.png) no-repeat scroll left top transparent;
  height:24px;
  width:761px;
}


/* Final Steps */
#takepart_contests_form_wrapper_1 .step4wrapper .group-step1 legend
{
  background:url(../images/review_about_idea_headline.png) no-repeat scroll left top transparent;
  height:24px;
  width:761px;
}

#takepart_contests_form_wrapper_1 .step4wrapper .group-step2 legend
{
  background:url(../images/review_about_you_headline.png) no-repeat scroll left top transparent;
  height:24px;
  width:761px;
}

#takepart_contests_form_wrapper_1 .step4wrapper .group-step3 legend
{
  background:url(../images/review_final_info_headline.png) no-repeat scroll left top transparent;
  height:24px;
  width:761px;
}

#takepart_contests_form_wrapper_1 #step4legend
{
  background:url(../images/submit_step4.png) no-repeat scroll left top transparent;
  height:24px;
  width:761px;
}

/* CheckBox Styles */
#takepart_contests_form_wrapper_1 .form-checkboxes .form-item
{
  margin-left:18px;
}

#takepart_contests_form_wrapper_1 .ui-radio-state-disabled,
#takepart_contests_form_wrapper_1 .ui-radio-state-checked-disabled,
#takepart_contests_form_wrapper_1 .ui-radio-state-disabled-hover,
#takepart_contests_form_wrapper_1 .ui-radio-state-checked-disabled-hover
{
  color:#999;
}

#takepart_contests_form_wrapper_1 span.ui-checkbox,
#takepart_contests_form_wrapper_1 span.ui-radio
{
  display:block;
  float:left;
  width:16px;
  height:16px;
  background:url(../images/checkbox_off.png) 0 0 no-repeat;
}

#takepart_contests_form_wrapper_1 span.ui-helper-hidden
{
  display:none;
}

#takepart_contests_form_wrapper_1 span.ui-checkbox-state-checked
{
  background:url(../images/checkbox_on.png) 0 0 no-repeat;
}

#takepart_contests_form_wrapper_1 span.ui-checkbox-state-checked-hover
{
  background:url(../images/checkbox_on.png) 0 0 no-repeat;
}

#takepart_contests_form_wrapper_1 span.ui-radio-state-checked-disabled-hover,
#takepart_contests_form_wrapper_1 span.ui-radio-state-checked-disabled,
#takepart_contests_form_wrapper_1 span.ui-radio-state-checked
{
  background:url(../images/checkbox_on.png) 0 0 no-repeat;
}

#takepart_contests_form_wrapper_1 span.ui-radio-state-checked-hover
{
  background:url(../images/checkbox_on.png) 0 0 no-repeat;
}

#takepart_contests_form_wrapper_1 .ui-radio-disabled,
#takepart_contests_form_wrapper_1 .ui-checkbox-disabled
{
  opacity:.7;
}

/* Select Box Styles */
#takepart_contests_form_wrapper_1 .form-type-select span
{
  width:auto;
}

/* Select Box Styles */
#takepart_contests_form_wrapper_1 .container-inline-date .form-type-select label
{
  display:none;
}

#takepart_contests_form_wrapper_1 .container-inline-date label
{
  float:left;
  margin-top:12px;
  padding-right:20px;
}

#takepart_contests_form_wrapper_1 .container-inline-date .form-type-select div
{
  padding-right:10px;
}

#takepart_contests_form_wrapper_1 span.customStyleSelectBox
{
  background:url(../images/dropdown_gradient.png) repeat-x scroll left top transparent;
  border:1px solid #b2b2b2;
  color:#000;
  font-size:11px;
  height:19px;
  padding:0 2px 1px 7px;
}

#takepart_contests_form_wrapper_1 .customStyleSelectBoxInner
{
  background:url(../images/select_arrow_full.png) no-repeat scroll right center transparent;
  height:20px;
  line-height:20px;
}

#takepart_contests_form_wrapper_1 .reqtext
{
  clear:both;
}

#takepart_contests_form_wrapper_1 .form-type-select input
{
  width:auto;
}

#takepart_contests_form_wrapper_1 div.selectbox-wrapper
{
  position:absolute;
  width:400px;
  background-color:#FFF;
  border:1px solid #ccc;
  margin:0;
  margin-top:-10px;
  padding:0;
  font-size:.8em;
  text-align:left;
  height:100px;
  overflow:auto;
}

#takepart_contests_form_wrapper_1 div.selectbox-wrapper ul
{
  list-style-type:none;
  margin:0;
  padding:0;
}

#takepart_contests_form_wrapper_1 div.selectbox-wrapper ul li.selected
{
  background-color:#EAF2FB;
}

#takepart_contests_form_wrapper_1 div.selectbox-wrapper ul li.current
{
  background-color:#CDD8E4;
}

#takepart_contests_form_wrapper_1 div.selectbox-wrapper ul li
{
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

#takepart_contests_form_wrapper_1 label
{
  display:block;
  padding-top: 5px;
}

#takepart_contests_form_wrapper_1 .selectbox /* look&fell of select box*/
{
  margin:0 5px 10px 0;
  padding-left:2px;
  font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size:.8em;
  width:10em;
  display:block;
  text-align:left;
  background:url(../images/bg_select.png) right;
/*height:18px;*/
  cursor:pointer;
  border:1px solid #D1E4F6;
  color:#333;
}

#takepart_contests_form_wrapper_1 select
{
  background:url(../images/bg_select.png) right;
}

#takepart_contests_form_wrapper_1 .step4wrapper .counter 
{
  display:none;
}


#takepart_contests_form_wrapper_1 .step4wrapper textarea 
{
	border:0px !important;
	background: none repeat scroll 0 0 transparent !important;
	margin-left:24px;
}

#takepart_contests_form_wrapper_1 .step4wrapper label 
{
    font-weight: bold;
}

/* text fields */
#takepart_contests_form_wrapper_1 .form-type-textfield input.form-text,
#takepart_contests_form_wrapper_1 .form-type-textarea textarea.form-textarea
{
  background:#FFF url(../images/text_field_bg.gif) no-repeat left top;
  border:1px solid #B3B2B0;
}

/* submit your idea page */
#takepart_contests_form_wrapper_1 #edit-field-profile-email,
#takepart_contests_form_wrapper_1 #edit-field-profile-first-name,
#takepart_contests_form_wrapper_1 #edit-field-profile-last-name,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr1,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr2,
#takepart_contests_form_wrapper_1 #edit-field-profile-city,
#takepart_contests_form_wrapper_1 #edit-field-profile-zip,
#takepart_contests_form_wrapper_1 #edit-field-profile-phone,
#takepart_contests_form_wrapper_1 #edit-field-profile-state
{
  width:300px;
  float:left;
  padding-right: 48px;
}

#takepart_contests_form_wrapper_1 #edit-field-profile-email input,
#takepart_contests_form_wrapper_1 #edit-field-profile-first-name input,
#takepart_contests_form_wrapper_1 #edit-field-profile-last-name input,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr1 input,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr2 input,
#takepart_contests_form_wrapper_1 #edit-field-profile-city input,
#takepart_contests_form_wrapper_1 #edit-field-profile-zip input,
#takepart_contests_form_wrapper_1 #edit-field-profile-phone input,
#takepart_contests_form_wrapper_1 #edit-field-profile-state .form-item
{
  width:200px;
}

#takepart_contests_form_wrapper_1 #edit-field-profile-email .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-first-name .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-last-name .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr1 .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr2 .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-city .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-zip .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-phone .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-state .form-item
{
  margin-bottom: 5px;
}

#takepart_contests_form_wrapper_1 #edit-field-profile-email label,
#takepart_contests_form_wrapper_1 #edit-field-profile-first-name label,
#takepart_contests_form_wrapper_1 #edit-field-profile-last-name label,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr1 label,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr2 label,
#takepart_contests_form_wrapper_1 #edit-field-profile-city label,
#takepart_contests_form_wrapper_1 #edit-field-profile-zip label,
#takepart_contests_form_wrapper_1 #edit-field-profile-phone label,
#takepart_contests_form_wrapper_1 #edit-field-profile-state label
{
  width:80px;
  float:left;
}


#takepart_contests_form_wrapper_1 #edit-field-profile-email--2 input,
#takepart_contests_form_wrapper_1 #edit-field-profile-first-name--2 input,
#takepart_contests_form_wrapper_1 #edit-field-profile-last-name--2 input,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr1--2 input,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr2--2 input,
#takepart_contests_form_wrapper_1 #edit-field-profile-city--2 input,
#takepart_contests_form_wrapper_1 #edit-field-profile-zip--2 input,
#takepart_contests_form_wrapper_1 #edit-field-profile-phone--2 input,
#takepart_contests_form_wrapper_1 #edit-field-profile-state--2 .form-item
{
  width:200px;
}

#takepart_contests_form_wrapper_1 #edit-field-profile-email--2 .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-first-name--2 .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-last-name--2 .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr1--2 .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr2--2 .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-city--2 .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-zip--2 .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-phone--2 .form-item,
#takepart_contests_form_wrapper_1 #edit-field-profile-state--2 .form-item
{
  margin-bottom: 5px;
}

#takepart_contests_form_wrapper_1 #edit-field-profile-email--2 label,
#takepart_contests_form_wrapper_1 #edit-field-profile-first-name--2 label,
#takepart_contests_form_wrapper_1 #edit-field-profile-last-name--2 label,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr1--2 label,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr2--2 label,
#takepart_contests_form_wrapper_1 #edit-field-profile-city--2 label,
#takepart_contests_form_wrapper_1 #edit-field-profile-zip--2 label,
#takepart_contests_form_wrapper_1 #edit-field-profile-phone--2 label,
#takepart_contests_form_wrapper_1 #edit-field-profile-state--2 label
{
  width:80px;
  float:left;
}

#takepart_contests_form_wrapper_1 #edit-field-profile-email--2,
#takepart_contests_form_wrapper_1 #edit-field-profile-first-name--2,
#takepart_contests_form_wrapper_1 #edit-field-profile-last-name--2,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr1--2,
#takepart_contests_form_wrapper_1 #edit-field-profile-addr2--2,
#takepart_contests_form_wrapper_1 #edit-field-profile-city--2,
#takepart_contests_form_wrapper_1 #edit-field-profile-zip--2,
#takepart_contests_form_wrapper_1 #edit-field-profile-phone--2,
#takepart_contests_form_wrapper_1 #edit-field-profile-state--2
{
  width:300px;
  float:left;
  padding-right: 48px;
}