#mg-email-share-block-2 {
    background:url(../images/yourideaforgood/prize_pic.png) no-repeat scroll left top transparent;
    height:309px;
    width:280px;
}

#mg-email-share-block-2 .addthis_button_email {
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 309px;
    width: 280px;
}

#mg-email-share-block-2 .addthis_button_email .at15t_email {
    background: none repeat scroll 0 0 transparent;
}

#mg-email-share-block .email-share-block-top {
    background:url(../images/flower_prize.png) no-repeat scroll left top transparent;
    height:242px;
    width:278px;
}

#mg-email-share-block .email-share-block-emailto {
    background:url("../images/button_contest_email.png") no-repeat scroll 15px top transparent;
    width:278px;
    height:70px
}

#mg-email-share-block .email-share-block-emailto span,
#mg-email-share-block .email-share-block-top span{
	display: none;
}

#mg-email-share-block .addthis_button_email {
    display: block;
    height: 70px;
    width: 278px;
}

#mg-contest-addthis-block {
  clear: both;
}

.mg-contest-share-button-bar {
  height: 27px;
}

.mg-contest-addthis-button {
  padding: 0 4px;
}

.mg-contest-addthis-label {
  height: 27px;
  font-size: 14px;
  padding-right: 28px;
  margin-top: 6px;
  float: left;
}

#mg-contest-saved-entry-block {
  padding-top: 20px;
}

#mg-contest-saved-entry-block #mg-note {
  font-size: 14px;
  line-height: 24px;
}

#mg-contest-saved-entry-block #mg-hash-square {
  background: url("../images/45deg_lines_large.png") repeat scroll 0 8px #FFFFFF;
  float: left;
  height: 88px;
  width: 88px;
  margin: 0 10px 0 0;
}

#mg-contest-saved-entry-block #mg-join-us-button {
  float: right;
  height: 88px;
  width: 71px;
  padding-top: 63px;
}
