/*****************
 * Import Partials
 *****************/
@import "compass/support";
@import "compass/css3";

/* Bootstrap Grid */
@import "bootstrap/grid";


/* Helpers from base */
@import "base/helpers/variables";
@import "base/helpers/mixins";
@import "helpers/variables";
@import "helpers/mixins";

/* Fonts and Icons */
@import "base/icons/icons";

@import "base/normalize/normalize";
@import "base/normalize";


/* Modules */
@import "base/modules/mobile-menu";
@import "modules/header";
@import "modules/tp_more_on_takepart";

/*****************
 * Article Page
 *****************/
.main-media{
  display: block;
  margin: 0 auto;
}
.headline{
  margin: 10px inherit;
}
