/*****************
 * Import Partials
 *****************/
@import "compass/support";
@import "compass/css3";

/* Bootstrap Grid */
@import "base/bootstrap/grid";

/* Helpers from base */
@import "base/helpers/variables";
@import "base/helpers/mixins";
@import "helpers/variables";
@import "helpers/mixins";

/* Fonts and Icons */
@import "base/icons/icons";
@import "base/icons/social-menu";
@import "base/normalize/normalize";
@import "base/normalize";

/* Modules */
@import "base/modules/tap";
@import "base/modules/mobile-menu";
@import "base/modules/bxslider";
@import "base/modules/video_playlist";
@import "base/modules/sponsored";
@import "base/modules/megaslim";
@import "base/modules/header";
@import "base/modules/header_transparent";
@import "base/modules/cic_menu";
@import "base/modules/feature_menu";
@import "modules/fb_comments";
@import "modules/footer";
@import "modules/tp_more_on_takepart";
@import "modules/tp_ads";
@import "modules/series-nav";
@import "base/modules/infographics";
@import "base/modules/modals";
@import "base/modules/interstitials";

/* Content Types */
@import "page/video-playlist";
@import "page/feature-article";
@import "page/video";
@import "page/fresh-gallery";


/*****************************
 * All Content types on Fresh
 ****************************/

@include breakpoint($breakpoint-phablet){
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@include breakpoint($breakpoint-tablet){
  #header {
    max-width: 970px;
    margin: 0 auto;
  }
}

#page-wrapper {
  max-width: 100%;
}

.tp_ad_takeover #page-wrapper {
  max-width: 1000px;
}

.tp_ad_takeover.feature-active #page-wrapper {
  max-width: 100%;
}

/*Admin and editor tabs*/
.messages,
.tabs-primary {
  max-width: 970px;
  margin: 10px auto;
  z-index: 2;
  position: relative;
}

h1.title{
  margin-top: 20px; //Total spacing should be 30px accounting for font height gap
  margin-bottom: 15px;
  @include breakpoint($breakpoint-tablet){
    text-align: center;
  }
}
.main-media {
  display: block;
  margin: 0 auto;
  .caption{
    text-align: center;
    @include breakpoint($breakpoint-phablet){
      text-align: left;
    }
  }
}
.headline{
  margin-top: 20px;
  margin-right: inherit;
  margin-left: inherit;
  margin-bottom: 18px;
  @include breakpoint($breakpoint-phablet){
    text-align: center;
  }
}
.btn-secondary{
  display: block;
  width: 40px;
  padding: 0;
  height: 31px;
  line-height: 31px;
}
.horizontal-menu{
  margin-bottom: 5px;
  margin-top: 6px;
  li{
    margin-right: 4px;
  }
}
.field-item > p:first-child{
  margin-top: 0;
}
#more-on-takepart {
  margin: 0 auto 5px auto;
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  max-width: 320px;
  @include breakpoint($breakpoint-tablet) {
    max-width: 640px;
  }
  .unpublished {
    background-color: #fff4f4;
  }
}
blockquote.pullquote {
  margin: 0;
  padding: 0;
}
.inline-html-wrapper {
  display: block;
  margin: 0 auto;
  .jwplayer {
    overflow: hidden;
    @include breakpoint($breakpoint-phablet) {
      overflow: visible;
    }
  }
}
.inline-social-embed-wrapper {
  @include breakpoint($breakpoint-tablet) {
    max-width: 650px;
  }
}

.inline-social-embed-wrapper,
.inline-social-embed-wrapper > *:not(script),
.inline-youtube-embed-wrapper,
.inline-youtube-embed-wrapper > *:not(script),
.inline-interactive-iframe-wrapper,
.inline-interactive-iframe-wrapper > *:not(script),
.inline-social-embed-wrapper .fb-post span {
  display: block;
  margin: 0 auto;
}
.inline-interactive-iframe-wrapper .caption {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

.inline-interactive-campaign-promo {
  display: block;
  margin: 0 30px 20px 0;
  .stories-item-1,
  .stories-item-2 {
      display: none;
  }
  width: 100%;
  @include breakpoint($breakpoint-tablet) {
    .stories-item-1,
    .stories-item-2 {
      display: block;
    }
    width: 244px;
    float: left;
    margin-right: 30px;
  }
  img {
    width: 100%;
    @include breakpoint($breakpoint-tablet) {
      width: 211px;
      height: 125px;
    }
  }
  h4, h3 {
    padding: 0;
    margin: 0;
    span.volume {
      font-weight: 100;
    }
  }
  h3.campaign-title {
    text-transform: uppercase;
  }
  .stories-header {
    color: #FFFFFF;
    padding: 17px 20px 15px 20px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    a {
      color: #FFFFFF;
    }
    .campaign-description {
      font-size: 16px;
      margin-top: 16px;
      margin-bottom: 0;
      line-height: 24px;
      margin-top:12px;
    }
  }
  .stories-wrapper {
    .stories-item  {
      padding-bottom: 4px;
    }
    padding: 19px 15px 0px 15px;
    p {
      margin-top: 13px;
      font-size: 14px;
      line-height: 20px;
    }
    a,
    a:hover {
      color: #3A383A;
      font-family: $primary-sans-font;
      font-weight: bold;
    }
  }
  .stories-footer {
    text-align: center;
    padding: 15px 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    a {
      font-size: 16px;
      color: #FFFFFF;
      font-family: $primary-sans-font;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
    a:after {
      content: '\2192';
      padding-left: 3px;
      font-size: 16px;
    }
  }
}
.align-center {
  .inline-feature-image {
    img {
      margin: 0 auto;
    }
  }
}

.field-name-body {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
/****** Override for sticky **********/
.social.sticky,
.campaign-experience .social.cic-sticky {
  position: fixed !important;
}

/** Hide Share let the onload show it **/
.social {
  display: none;
}

body {
  &.node-preview {
    .node-unpublished {
      background-color: transparent;
    }
  }
}
.fresh-content-wrapper {
  position: relative;
  .advertisement {
    padding: 0 15px;
    @include breakpoint($breakpoint-phablet){
      padding: 0;
    }
  }
}

.sticky-wrapper {
  @include breakpoint($breakpoint-phablet){
    position: absolute;
    margin-left: 15px;
  }
}
body.node-type-openpublish-article,
body.node-type-video,
body.node-type-video-playlist,
body.node-type-feature-article,
body.node-type-fresh-gallery {
  aside.social.social-vertical {
    display: none;
    background: rgba(255,255,255,.75);
    padding-bottom: 13px;

    @include breakpoint($breakpoint-phablet){
      position: absolute;
    }
    @include breakpoint($breakpoint-desktop) {
      position: static;
    }
  }
}
article {
  color: #3A3A3A;
  @include breakpoint($breakpoint-phablet) {
    margin-left: 54px;
  }
  @include breakpoint($breakpoint-desktop) {
    margin-left: 8.33%;
  }
  h1.title, #more-on-takepart h2{
    color: $black;
  }
  .series-navigation {
    a {
       .label {
        text-decoration: none;
      }
    &:hover {
      .label {
        text-decoration: none;
      }
      .series-nav-title {
        text-decoration: underline;
      }
    }
  }
  }
}
.video_playlist-wrapper,
.article-wrapper,
.video-wrapper,
.fresh_gallery-wrapper {
  .fresh-inner-content-wrapper{
    max-width: 970px;
    margin: 0 auto;
  }
  max-width: 100%;
}

/** Content Inside Campaign */
h4.campaign-vol {
  margin: 0;
  color: #fff;
  font-size: 13px;
  span {
    font-weight: 100;
  }
}

.big-issue {
    margin: 0;
    color: #fff;
    font-size: 13px;
    font-family: $AdelleSans;
    font-weight: 900;
    line-height: 20px;
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      font-weight: 100;
    }
}

#page-wrapper.campaign-experience {
  #header {
    max-width: 100%;
    z-index: 2;
    color: white;
    position: absolute;
    top: 80px;
    @include breakpoint($breakpoint-tablet) {
      position: inherit;
      top: 0;
    }
  }
  @include breakpoint($breakpoint-tablet) {
    .fresh-content-wrapper.cic:not(.autoloaded) {
      margin-top: -60px;
    }
  }
  @media (max-width: 767px) {
    .fresh-content-wrapper.cic.first {
      .tp-ad-wrapper {
        margin-bottom: 20px;
        margin-top: 5px;
      }
    }

  }
  .sticky-cic-header {
    width: 100%;
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 998;
    height: 65px;
    @include breakpoint($breakpoint-tablet) {
      background-size: inherit;
      height: 80px;
    }
    .campaign-info-wrapper {
      height: 65px;
      display: inline-block;
      min-width: 330px;
      opacity: 0.97;
      z-index: 999;
      @include breakpoint($breakpoint-tablet) {
        height: 80px;
      }
      @media (max-width: 320px) {
        min-width: 290px;
      }
    }
    .toggle-menu {
      display: inline-block;
      cursor: pointer;
      margin: 20px 20px 0 20px;
      font-size: 16px;
      vertical-align: top;
      &:after {
        content: '\e609';
        font-family: takepart;
      }
      @include breakpoint($breakpoint-tablet) {
        margin-top: 25px;
      }
    }
    .campaign-info {
      display: inline-block;
      padding: 15px 20px 0 0;
      max-width: 240px;
      @include breakpoint($breakpoint-phablet) {
        max-width: inherit;
      }
      img {
        max-height: 20px;
        margin-bottom: 0px;
      }
      .big-issue a {
        font-size: 12px;
      }
      @include breakpoint($breakpoint-tablet) {
        padding-top: 20px;
        img {
          margin-bottom: 5px;
        }
        .big-issue a {
          font-size: 13px;
        }
      }
    }
  }
}

.node-type-feature-article #page-wrapper.campaign-experience #header {
  @media (max-width: 767px) {
    top: 0;
  }
}

.sticky-cic-nav #page-wrapper.campaign-experience {
  .sticky-cic-header {
    position: fixed;
  }
}

.campaign-ref-wrapper {
  text-align: center;
  background-size: cover;
  background-position-x: center;
  height: 170px;
  @include breakpoint($breakpoint-tablet) {
    height: 315px;
    margin-bottom: 22px;
    background-size: inherit;
  }
  .campaign-logo {
    display: inline-block;
    margin: 60px 0 0px 0;
    img {
      max-height: 40px;
    }
    @include breakpoint($breakpoint-tablet) {
      margin: 90px 0 10px 0;
      img {
        max-height: 100px;
      }
    }
  }
}

.campaign-experience .fresh-content-wrapper.autoloaded .campaign-ref-wrapper {
  display: none;
}

/* Content inside campaign in autoload experience - Not feature article */
#page-wrapper:not(.campaign-experience) .fresh-content-wrapper.cic.autoloaded:not(.feature_article-wrapper) {
  .campaign-ref-wrapper {
    margin-bottom: 0;
    @media (max-width: 767px) {
      height: 180px;
      .campaign-logo {
        margin: 40px 0 0px 0;
      }
    }
  }
  article {
    background: #fff;
    margin-top: -70px;
    h1.title {
      margin-top: 63px;
    }
    @media (max-width: 767px) {
      margin-left: 5%;
      width: 90%;
      padding: 0;
      h1.title {
        padding: 25px 15px 0 15px;
        margin-top: 0;
      }
      .main-media {
        margin-left: -1px;
        margin-right: -1px;
      }
    }
  }
}

.feature-campaign-ref {
  display: none;
}
/* Content inside campaign in autoload experience - feature article */
#page-wrapper:not(.campaign-experience) .feature_article-wrapper.cic.autoloaded {
  .feature-campaign-ref {
    display: block;
    text-align: center;
    padding-top: 5px;
    .campaign-dark-logo {
      margin-bottom: 8px;
      img {
        margin: 0 auto;
        max-height: 50px;
      }
    }
    .big-issue {
      color: $black;
      a {
        color: $black;
      }
    }
  }
  .topic-box-wrapper {
    display: none;
  }
}

.cic_bottom_promo_block_container {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 14%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0) 100%);
  position:relative;
  overflow: hidden;
  .tp-cic-bottom-promo {
    width: 100%;
    @include breakpoint($breakpoint-tablet) {
      width: 606px;
      margin: 0 auto;
    }
    @include breakpoint($breakpoint-desktop) {
      width: 940px;
      margin: 0 auto;
    }
    h2 {
      color: #FFFFFF;
      font-size: 29px;
      margin: 20px 0 6px 0;
      text-align: center;
      text-transform: uppercase;
      img {
        display: inline;
        height: 23px;
      }
    }
    .cic_bottom_promo_numb_stories {
      color: #FFFFFF;
      text-align: center;
      font-size: 14px;
      font-family: $primary-sans-font;
    }
    h3 {
      background-color: #FFFFFF;
      color: #3A3A3A;
      margin: 0;
      padding: 7px 16px;
      text-align: center;
      height: 115px;
      &.node-unpublished {
        background-color: #fff4f4;
      }
    }
    .owl-carousel {
      margin-top: 11px;
      .item {
        padding: 3px;
        .cic_bottom_promo_item {
          -moz-box-shadow: 0 0 3px #3A3A3A;
          -webkit-box-shadow: 0 0 3px #3A3A3A;
          box-shadow: 0 0 3px #3A3A3A;
          max-width: 270px;
          margin: 0 auto;
        }
      }
    }
    .owl-nav-custom {
      .owl-next-custom,
      .owl-prev-custom {
        width: 22px;
        height: 100%;
        top: 104px;
        font-size: 22px;
        padding-top: 137px;
        font-weight: bold;
        @include breakpoint($breakpoint-tablet) {
          width: 53px;
          height: 60px;
          background: rgba(0,0,0,.1) !important;
          top: 50%;
          font-size: 31px;
          padding-top: 16px;
        }
        cursor: pointer;
        color: #FFFFFF;
        display: inline;
        position: absolute;
        margin-top: -2px;
        margin-left: 0;
        display: inline;
        z-index: 1;
      }
      .owl-next-custom{
        right: 0;
        text-align: right;
        &:after{
          font-family: takepart;
          content: '\e606';
          display: inline;
          font-size: 20px;
          padding-right: 2px;
          font-weight: normal;
          text-align: right;
          @include breakpoint($breakpoint-tablet) {
            padding-right: 15px;
            font-size: 22px;
          }
        }
      }
      .owl-prev-custom {
        left: 0;
        &:after{
          font-family: takepart;
          content: '\e605';
          display: inline;
          font-size: 20px;
          padding-left: 2px;
          @include breakpoint($breakpoint-tablet) {
            padding-left: 15px;
            font-size: 22px;
          }
          font-weight: normal;
        }
      }
    }
    .cic_bottom_promo_see_more {
      margin: 35px 0 44px;
      text-align: center;
      a {
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        color: #FFFFFF;
        font-family: $primary-sans-font;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 21px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &:before {
      content: '';
      width: 14px;
      height: 14px;
      display: block;
      border-top: none;
      border-left: none;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      margin: 0 auto;
      position: relative;
      top: -7px;
      background: white;
  }
}


/** End of Content Inside Campaign */

/* Promoted link to next Article */
#prompt-next-article {
  position: fixed;
  z-index: 9;
  .i-close-x {
    position: absolute;
    color: #fff;
    cursor: pointer;
    right: 10px;
    top: 5px;
    font-size: 28px;
  }
  @media (max-width: 979px) {
    right: 0px;
    top: 0;
    background: $green-link;
    img {
      display: none;
    }
    .prompt-content {
      padding: 12px 20px 20px 20px;
      p {
        font-family: $AdelleSans;
        color: #fff;
        margin: 0;
        font-size: 15px;
      }
      h1 {
        margin-top: 0;
        font-size: 18px;
        line-height: 25px;
        color: #fff;
        width: 76%;
        letter-spacing: 0.2px;
      }
      .jump.desktop {
        display: none;
      }
    }
  }
  @include breakpoint($breakpoint-desktop) {
    .prompt-next-article-inner {
      position: relative;
    }
    background: #fff;
    top: 140px;
    max-width: 300px;
    right: -320px;
    -webkit-box-shadow: -6px 5px 9px 1px rgba(230,221,230,1);
    -moz-box-shadow: -6px 5px 9px 1px rgba(230,221,230,1);
    box-shadow: -6px 5px 9px 1px rgba(230,221,230,1);
    .i-close-x {
      height: 20px;
      width: 20px;
      top: 10px;
      right: 17px;
      font-size: 50px;
    }
    .prompt-content {
      padding: 25px;
      h1 {
        text-align: left;
        color: $light-black;
        font-size: 31px;
        line-height: 36px;
        margin: 3px 0 8px 0;
        margin-top: 3px;
      }
      p {
        font-family: $AdelleSans;
        color: $light-black;
        font-size: 19px;
        margin: 0;
      }
      a.jump {
        color: $green-link;
        font-family: $AdelleSans;
        font-weight: bold;
        font-size: 17px;
        &:after {
          content: '\2192';
          font-family: 'takepart';
          transform: rotateZ(90deg);
          display: inline-block;
          padding-left: 5px;
          font-weight: 100;
          font-size: 16px;
        }
      }
      .jump.mobile {
        display: none;
      }
    }
  }
}
