/*****************
 * Import Partials
 *****************/
@import "compass/support";
@import "compass/css3";

/* Bootstrap Grid */
@import "base/bootstrap/grid";

/* Helpers from base */
@import "base/helpers/variables";
@import "base/helpers/mixins";
@import "helpers/variables";
@import "helpers/mixins";

/* Fonts and Icons */
@import "base/icons/icons";
@import "base/icons/social-menu";
@import "base/normalize/normalize";
@import "base/normalize";

/* Modules */
@import "base/modules/tap";
@import "base/modules/mobile-menu";
@import "base/modules/bxslider";
@import "base/modules/video_playlist";
@import "base/modules/sponsored";
@import "base/modules/megaslim";
@import "base/modules/header";
@import "modules/fb_comments";
@import "modules/footer";
@import "modules/tp_more_on_takepart";
@import "modules/tp_ads";
@import "modules/series-nav";
@import "base/modules/infographics";
@import "base/modules/modals";


@include breakpoint($breakpoint-tablet){
 .row {
  margin: 0;
 }
}

@include breakpoint($breakpoint-tablet){
  #header {
    max-width: 960px;
    margin: 0 auto;
  }
}


/*****************************
 * All Content types on Fresh
 ****************************/

h1.title{
  margin-top: 20px; //Total spacing should be 30px accounting for font height gap
  margin-bottom: 15px;
  @include breakpoint($breakpoint-tablet){
    text-align: center;
  }
}
.main-media {
  display: block;
  margin: 0 auto;
  .caption{
    text-align: center;
    @include breakpoint($breakpoint-phablet){
      text-align: left;
    }
  }
}
.headline{
  margin-top: 20px;
  margin-right: inherit;
  margin-left: inherit;
  margin-bottom: 18px;
  @include breakpoint($breakpoint-phablet){
    text-align: center;
  }
}
.btn-secondary{
  display: block;
  width: 40px;
  padding: 0;
  height: 31px;
  line-height: 31px;
}
.horizontal-menu{
  margin-bottom: 5px;
  margin-top: 6px;
  li{
    margin-right: 4px;
  }
}
.field-item > p:first-child{
  margin-top: 0;
}
#more-on-takepart {
  margin: 0 auto 5px auto;
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  .unpublished {
    background-color: #fff4f4;
  }
}
blockquote.pullquote {
  margin: 0;
  padding: 0;
}
.inline-html-wrapper {
  display: block;
  margin: 0 auto;
}

.align-center {
  .inline-feature-image {
    img {
      margin: 0 auto;
    }
  }
}

.field-name-body {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
/****** Override for sticky **********/
.social.sticky{
  position: fixed !important;
}

/****** Hide the social until loaded **********/
aside.social.social-vertical {
  display: none;
}

body {
  &.node-preview {
    .node-unpublished {
      background-color: transparent;
    }
  }
}
.fresh-content-wrapper {
  position: relative;
}

.sticky-wrapper{
  @include breakpoint($breakpoint-phablet){
    position: absolute;
    margin-left: 15px;
  }
}
aside.social.social-vertical {
  @include breakpoint($breakpoint-phablet){
    position: absolute;
  }
  @include breakpoint($breakpoint-desktop) {
    position: static;
  }
}
article{
  color: #3A3A3A;
  @include breakpoint($breakpoint-phablet) {
    margin-left: 54px;
  }
  @include breakpoint($breakpoint-desktop) {
    margin-left: 8.33%;
  }
  h1.title, #more-on-takepart h2{
    color: $black;
  }
  .series-navigation {
    a {
       .label {
        text-decoration: none;
      }
    &:hover {
      .label {
        text-decoration: none;
      }
      .series-nav-title {
        text-decoration: underline;
      }
    }
  }
  }
}
.video_playlist-wrapper,
.article-wrapper,
.video-wrapper {
  max-width: 960px;
  // article {
  //   padding: 0;
  // }
  margin: 0 auto;
}

/*******************************
 * Video Content Type
 ******************************/
.video-wrapper{
  .main-media {
    margin-bottom: 8px;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
}

/*******************************
 * Video Playlist Content Type
 ******************************/

.video_playlist-wrapper{
  /*overwriting _video_playlist.scss*/
  //TODO: Once @Jacob is finished with his Video playlist changes, some of the following styles could be refactored*/
  .bx-wrapper .bx-prev,
  .bx-wrapper .bx-next {
    font-size: 1.9em;
  }
  .bx-wrapper .bx-prev {
    left: -13px;
  }
  .bx-wrapper .bx-next {
    right: 6px;
  }
  .main-media {
    .current-video .jwplayer {
      height: 0;
      padding-bottom: 56.25%;
    }
    .video-description {
      @include breakpoint($breakpoint-mobile){
        font-size: 15px;
        line-height: 16px;
      }
      @include breakpoint($breakpoint-tablet){
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
  //Min-height added to prevent the page from jumping before video loads.
  [data-playlist-type="detailed"] {
    @include breakpoint($breakpoint-phablet){
      min-height: 588px;
    }
    @include breakpoint($breakpoint-mobile){
      min-height: 588px;
    }
    @include breakpoint($breakpoint-desktop){
      min-height: 780px;
    }
  }

  [data-playlist-type="basic"] {
    @include breakpoint($breakpoint-phablet){
      min-height: 550px;
    }
    @include breakpoint($breakpoint-mobile){
      min-height: 440px;
    }
    @include breakpoint($breakpoint-tablet){
      min-height: 620px;
    }
    @include breakpoint($breakpoint-desktop){
      min-height: 680px;
    }
  }

  [data-playlist-type="hidelist"] {
    height: 0;
    padding-bottom: 56.25%;
  }
}

/*******************************
 * Feature Article Content Type
 ******************************/

 /* Header takes 100% if the Feature Article is the first Node*/

.node-type-feature-article {
  @include breakpoint($breakpoint-tablet){
    #header {
      max-width: 100%;
    }
  }
}

.feature_article-wrapper{
  article{
    .main-media .caption {
      text-align: left;
    }
    @include breakpoint($breakpoint-tablet){
      width: 100%;
      padding: 0;
      margin: 0;
    }
   .headline {
      margin-top: 20px;
    }
    .feature-article-small {
     a,p {
        font-family: "AdelleSans";
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        color: #3A3A3A;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .main-media {
      position: relative;
      img.main-image {
        width: 100%;
        height: auto;
      }
      .caption {
        padding: 10px 15px;
        position: relative;
      }
    }
    .section.top {
      margin: 10px 0 30px 0;
      .topic-box-wrapper {
        margin: 0;
      }
      .tp_sponsor {
        margin-top: 5px;
      }
    }

    .article-header .title-block {
        padding: 0 15px;
        h1.title {
          margin-top: 15px;
        }
    }
    @include breakpoint($breakpoint-tablet) {
      .series-navigation-wrapper,
      #more-on-takepart,
      .sponsor-disclosure {
        max-width: 70%;
        @include breakpoint($breakpoint-desktop) {
          max-width: 620px;
       }
        margin: 0 auto;
      }
      aside.inline-content.pull-right {
        max-width: 80%;
        margin: 0 auto;
        float: none !important; /*To override the float:right from _normalize*/
        width: auto;
        padding-left: 0;
        @include breakpoint($breakpoint-desktop) {
          max-width: 780px;
        }
        .inline-content-wrapper {
          float: right;
          width: 275px;
          @include breakpoint($breakpoint-desktop) {
            width: 321px;
         }
          padding-left: 30px;
          margin: 10px 0;
        }
      }
      .series-navigation .item {
        padding: 0;
      }
      .tp_sponsored_content_disclaimer {
        margin: 10px 0;
      }
    .section.top {
      max-width: 750px;
      margin: 65px auto 0;
      padding: 0 15px;
      .topic-box-wrapper {
        margin-bottom: 10px;
      }
      .tp_sponsor {
        margin: 5px 0 15px 0;
        display: inline-block;
      }
    }
    .section.header {
      max-width: 100%;
      padding: 0;
    }
    .section.main-content {
      margin-top: 35px;
      hr {
        max-width: 70%;
        @include breakpoint($breakpoint-desktop) {
          max-width: 620px;
       }
        margin: 0 auto;
      }
      p {
        max-width: 70%;
        @include breakpoint($breakpoint-desktop) {
          max-width: 620px;
       }
        margin: 20px auto;
      }
      blockquote.pullquote.text-center {
        padding-top: 15px;
      }
      /*inline-replacements*/
      .inline-image-wrapper {
        //Tablet width
        max-width: 80%;
        margin: 0 auto;
        @include breakpoint($breakpoint-desktop) {
          max-width: 780px;
        }
        .align-right {
          margin: 15px 0 15px 35px;
        }
        .align-left {
          margin: 15px 35px 15px 0;
        }
        .align-center {
          max-width: 620px;
          margin: 50px auto 30px auto;
        }
        .align-full,
        .align-full_width {
          margin: 50px 0 30px;
        }
        &.full-width {
          max-width: 100%;
          margin: 0;
          img.inline-image {
            width: 100%;
            height: auto;
          }
          .align-full_width .caption p {
            max-width: 80%;
            @include breakpoint($breakpoint-desktop) {
              max-width: 780px;
            }
            margin: 0 auto;
          }
        }
        .inline-feature-image {
          .caption {
            padding: 0 15px 0px 0;
            margin-top: 20px;
            p {
              margin: 0;
            }
          }
        }
      }
     /* .inline-content-video {
        max-width: 80%;
        @include breakpoint($breakpoint-desktop) {
          max-width: 780px;
        }
      }*/
    }
      .article-header {
        position: relative;
        .caption {
          padding: 0 15px;
          p {
            position: absolute;
            top: 10px;
            @include breakpoint($breakpoint-desktop) {
              left: 20%;
            }
            left: 13%;
            padding: 0;
          }
        }
        .title-block {
          padding: 0;
          position: absolute;
          margin: 0 35px 0 0;
          bottom: 50px;
         @include breakpoint($breakpoint-desktop) {
           left: 20%;
          }
          left: 13%;
          max-width: 780px;
          h1.title,.headline {
            color: $white;
            margin: 15px 0 15px 0;
            text-align: left;
          }
          .feature-article-small {
           a,p {
            color: $white;
            }
          }
          h1.title {
            margin-top: 10px;
          }

        }
      }
    }
    //mobile overrides
    @include breakpoint($breakpoint-mobile) {
      .inline-image-wrapper {
        .align-right {
          margin: 15px 0;
        }
        .align-left {
          margin: 15px 0;
        }
      }
    }
  }
}
