/*****************
 * Import Partials
 *****************/
@import "compass/support";
@import "compass/css3";

/* Bootstrap Grid */
@import "base/bootstrap/grid";

/* Helpers from base */
@import "base/helpers/variables";
@import "base/helpers/mixins";
@import "helpers/variables";
@import "helpers/mixins";

/* Fonts and Icons */
@import "base/icons/icons";
@import "base/icons/social-menu";
@import "base/normalize/normalize";
@import "base/normalize";

/* Modules */
@import "base/modules/mobile-menu";
@import "base/modules/bxslider";
@import "base/modules/video_playlist";
@import "base/modules/sponsored";
@import "base/modules/megaslim";
@import "base/modules/header";
@import "modules/fb_comments";
@import "modules/footer";
@import "modules/tp_more_on_takepart";
@import "modules/tp_ads";
@import "modules/series-nav";
@import "base/modules/infographics";
@import "base/modules/modals";

/*****************
 * Article Page
 *****************/
.field-name-body {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.article-wrapper{
  position: relative;
  .sticky-wrapper{
    @include breakpoint($breakpoint-phablet){
      position: absolute;
      margin-left: 15px;
    }
  }
  article{
    color: #3A3A3A;
    h1.title, #more-on-takepart h2{
      color: $black;
    }
    .series-navigation {
	 a {
	   .label {
		text-decoration: none;
	   }
	 }
	 a:hover {
	   .label {
		text-decoration: none;
	   }
	   .series-nav-title {
		text-decoration: underline;
	   }
	 }
    }
  }
}
h1.title{
  margin-top: 10px;
  margin-bottom: 15px;
  @include breakpoint($breakpoint-tablet){
    text-align: center;
  }
}
.main-media{
  display: block;
  /* margin: 0 auto; */
}
.main-image {
  display: block;
  margin: 0 auto;
  .caption{
    text-align: center;
    @include breakpoint($breakpoint-phablet){
      text-align: left;
    }
  }
}
.headline{
  margin-top: 20px;
  margin-right: inherit;
  margin-left: inherit;
  margin-bottom: 18px;
  @include breakpoint($breakpoint-phablet){
    text-align: center;
  }
}
.btn-secondary{
  display: block;
  width: 40px;
  padding: 0;
  height: 31px;
  line-height: 31px;
}
.horizontal-menu{
  margin-bottom: 5px;
  margin-top: 6px;
  li{
    margin-right: 4px;
  }
}
.field-item > p:first-child{
  margin-top: 0;
}
#more-on-takepart {
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
}
blockquote.pullquote {
  margin: 0;
  padding: 0;
}
.inline-html-wrapper {
  display: block;
  margin: 0 auto;
}

.align-center {
  .inline-feature-image {
    img {
      margin: 0 auto;
    }
  }
}