@body-text-color: #000000;
@body-font-size: 12px;
@body-family: Helvetica, Arial, sans-serif;
@nav-family: TradeGothicLTStdCnBold, 'Arial Narrow', sans-serif;
@nav-family-size: 17px;
@primary-color-1: #1CA9E7;
@primary-color-2: #000000;
@primary-color-3: #ffffff;
@secondary-color-slates-1: #99bbcc;
@secondary-color-slates-2: #d9e7ee;
@secondary-color-slates-3: #eff3f5;
@secondary-color-grays-1: #666666;
@secondary-color-grays-2: #cccccc;
@secondary-color-grays-3: #ededed;
@accents-color-1: #ffca00;
@accents-color-2: #fdab30;
@accents-color-3: #ffe789;


/* markup styling ---------------------------------------------------------- */
body {
    background-color: @primary-color-3;
    color: @body-text-color;
    font-size: @body-font-size;
    font-family: @body-family;
    margin: 0;
    padding: 0;
    /* width: 320px; */
}
a {
    color: @primary-color-1;
    text-decoration: none;
}
h1 {
   
   font-size: 18px;
   font-family: @body-family;
   font-weight: bold;
   margin-bottom: 4px;
   
}
/* scale images */
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
}
p {
    margin: 0 0 1em;
}

/* general, universal styling ---------------------------------------------------------- */
.field-name-field-display-tag {
    font-family: @body-family;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.field-name-field-article-subhead, 
.field-name-field-blogpost-subhead {
    font-size: 14px;
    line-height: 120%;
    color: @secondary-color-grays-1;
}
.submitted-wrapper {
    margin-bottom: 3px;
    overflow: hidden;
    
    .field {
        display: block;
        float: left;
        font-size: 10px;
        line-height: 17px;
        vertical-align: top;
        margin-right: 30px;
    }
}
.field-name-field-media-caption {
    color:@secondary-color-grays-1;
    font-size: 11px;
    margin-bottom: 18px;
}
.embed-action-wrapper {
    border: solid 3px @accents-color-3;
}

/* content body styles ---------------------------------------------------------- */
#page {
    .main-content {
        padding: 10px;
    }
    p {
        line-height: 24px;
        font-size: 14px;
    }    
}


/* top header styles ---------------------------------------------------------- */
#header-wrapper {
    height: 36px;
    background-color: @secondary-color-slates-2;
    
    #join-login-top,
    #dontmiss-nav,
    #top-follow,
    #top-search,
    #top-follow-wrapper,
    #participant-pulldown {
        display: none;
    }
    
    #logo {
        float: left;
        left: 0;
        position: absolute;
        top: 0px;
         a {
            background: url(/profiles/takepart/themes/takepart3/images/2012-08-01/logo-sm-slim.png) no-repeat scroll 0 0 transparent;
            display: block;
            height: 41px;
            text-indent: -9000px;
            width: 42px;
        }
    }

    #user-nav {
        padding: 0px;
        margin: 0px;
    }

    .logo-wrapper {
        float: left;
    }

    #join-login-top {
        float: left;
    }

    .header-right {
        padding-top: 0px;
        margin-left: 41px;
    }

    #nav-wrap {
        float: left;
    }

    #nav-wrap {
        ul.menu {
            display: block;
            height: 37px;
            width: 64px;
            background: url(/profiles/takepart/themes/takepart3/images/2012-08-01/small-menu-arrow.png) no-repeat scroll 56px 11px transparent;
            font-family: @nav-family;
            font-size: @nav-family-size;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            position: absolute;
            
        }

        ul.menu:before {
            content: "Topics";
        }

        ul.menu li.leaf {
            display: none;
            text-align: left;
            /*height: 30px;*/
            z-index: 3;
            background: @secondary-color-slates-1;
            width: 103px;
            padding: 0px 6px;
            
            a {
                padding-top: 1px;
                float: none;
                color: @primary-color-3;
            }
        }

        ul.menu:hover li.leaf {
            display: block;
        }

        ul.menu li.first {
           /*  padding-top: 30px;*/
        }

    }

    #hot-topics-nav {
        height: 36px;
        width: 100%;
        margin-left: 64px;
        ul {
            font-family: @nav-family;
            font-size: @nav-family-size;
            text-transform: uppercase;
            
            li {
                display: block;
                float: left;
                padding-left: 3px;
                padding-right: 3px;
                height: 30px;
                
                a {
                    text-decoration: none;
                    color: @primary-color-2;
                }
            }
        }
    }
}