#takepart-feed-hub li.rss {
  background: url("/profiles/takepart/themes/takepart3/images/sprite.png") no-repeat scroll -120px -115px #FFFFFF;
  display: block;
  padding: 0 0 0 25px;
}

#takepart-feed-hub li.rss a {
  background: none repeat scroll 0 0 #FFFFFF;
  display: block;
  margin: 0 0 0 5px;
  padding: 5px 0;
}

#views-exposed-form-publication-report-page select#edit-type {
  height: 6em;
}

#views-exposed-form-publication-report-page select#edit-field-author-nid {
  height: 6em;
}