/*
* styles for cleanup_pathauto module
*/

.cleanup-pathauto p {
  font-weight: bold;
}
.cleanup-pathauto p.final {
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}
.cleanup-pathauto span.bogus {
  color: orangered;
  font-weight: bold;
}
.cleanup-pathauto th {
  font-weight: bold;
}
.cleanup-pathauto td.alias {
  font-family: "Courier New", Courier, mono;
}
