div.tp-twitter-feed ul {
  list-style: none;
  font-size: 11px;
}

div.tp-twitter-feed div.tweet-authorphoto {
  margin: 0 5px 0 0;
  float: left;
}

div.tp-twitter-feed div.tweet-authorphoto img {
  max-height: 40px;
  max-width: 40px;
  margin: 0 .5em 0 0;
}

div.tp-twitter-feed a {
  color: #1CA9E7;
}

div.tp-twitter-feed a:hover {
  color: #1659ac;
  text-decoration: underline;
}

div.tp-twitter-feed .tweet-author a {
  font-weight: bold;

}

div.tp-twitter-feed div.tweet-divider {
  clear: left;
  border-bottom: 1px solid #efefef;
  margin: 5px 0 5px 0;
}