.more-or-less-view.active {
  display: block;
}

.more-or-less-view.inactive {
  display: none;
}

.signature-state-fields {
  display: block;
}
.signature-state-fields.inactive,
.signature-state-fields.inactive.active {
  display: none;
}

.view-mode-medium-preview .signature-progress-percent,
div.drupal-embed .group-heading .signature-progress-percent {
	background: url('../images/pie.png') no-repeat left top;
	background-size: 100% auto;
	position: absolute;
	top: -24px;
	right: 22px;
	width: 66px;
	height: 66px;
	padding-top: 17px;
}
.view-mode-medium-preview .signature-progress-percent span,
div.drupal-embed .group-heading .signature-progress-percent span {
	display: block;
	width: 66px;
	text-align: center;
	font: bold 15px/1 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

/* # Preview Page
================================================== */
.page-node-30110 .main-content .field-name-field-tp-campaign-subheadline {
  font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
  font-size: 28px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

/* # Preview Page Right Rail
================================================== */
#right-rail #block-boxes-take-action-join-now,
#right-rail #block-boxes-what-is-takepart-take-action ,
#right-rail #block-boxes-take-action-about-dashboard {
  padding: 0;
  border: none;
}
#right-rail #block-boxes-take-action-join-now p,
#right-rail #block-boxes-what-is-takepart-take-action p,
#right-rail #block-boxes-take-action-about-dashboard p {
  color: #8c8c8c;
  line-height: 1.3em;
}
#right-rail #block-boxes-take-action-join-now .facebook-login {
  width: 212px;
  height: 30px;
  background: url('../images/tab/fb_button.png') no-repeat;
  display: block;
  margin: 0 auto;
  text-indent: -999999px;
}

/* # Preview Page View Row
================================================== */
.view-mode-medium-preview {
  border: 1px solid #d8d8d8;
  padding: 25px;
  margin-bottom: 46px;
}
div.drupal-embed .view-mode-medium-preview .group-heading, /* selector override for embedded styling */
.view-mode-medium-preview .group_heading {
  display: block;
  position: relative;
  height: 20px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
  padding: 0; /* override for embedded styling */
}
.view-mode-medium-preview .signature-action-type-label,
.view-mode-medium-preview .signature-progress-percent,
.view-mode-medium-preview .signature-progress-days-left {
  position: absolute;
}
.view-mode-medium-preview .signature-action-type-label {
  left: 0;
}
div.drupal-embed .view-mode-medium-preview .signature-progress-days-left, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-days-left {
  right: 75px;
  font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
div.drupal-embed .view-mode-medium-preview .group-heading .signature-progress-percent, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-percent {
  right: 0;
  top: -49px;
  background: url(../images/tab/sprite-pie-20-sm.png) no-repeat;
  width: 76px;
  height: 49px;
  overflow: hidden;
  padding-top: 23px;
}
.view-mode-medium-preview .signature-progress-complete-twentieth-0 { background-position: 0 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-1 { background-position: -86px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-2 { background-position: -172px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-3 { background-position: -258px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-4 { background-position: -344px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-5 { background-position: -430px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-6 { background-position: -516px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-7 { background-position: -602px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-8 { background-position: -688px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-9 { background-position: -774px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-10 { background-position: -860px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-11 { background-position: -946px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-12 { background-position: -1032px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-13 { background-position: -1118px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-14 { background-position: -1204px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-15 { background-position: -1290px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-16 { background-position: -1376px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-17 { background-position: -1462px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-18 { background-position: -1548px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-19 { background-position: -1634px 0; }
.view-mode-medium-preview .signature-progress-complete-twentieth-20 { background-position: -1720px 0; }
.view-mode-medium-preview .group_summary,
.view-mode-medium-preview .field-name-field-action-main-image {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  width: 50%;
}
div.drupal-embed .view-mode-medium-preview .signature-progress-percent .complete, /* selector override for embedded styling */
div.drupal-embed .view-mode-medium-preview .signature-progress-percent .percentage, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-percent .complete,
.view-mode-medium-preview .signature-progress-percent .percentage  {
  width: 100%;
  text-align: center;
  color: #fff;
  display: block;
}
div.drupal-embed .view-mode-medium-preview .signature-progress-percent .complete, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-percent .complete {
  text-transform: uppercase;
  font-size: 7px;
  font-weight: normal;
}
div.drupal-embed .view-mode-medium-preview .signature-progress-percent span, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-percent span {
  position: relative;
  z-index: 2;
}
div.drupal-embed .view-mode-medium-preview .signature-progress-percent .percentage, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-percent .percentage {
  font-size: 16px;
}
.view-mode-medium-preview .field-name-field-action-main-image {
  margin: 0;
  text-align: right;
}
.view-mode-medium-preview .field-name-field-short-introduction {
  color: #333;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.3em;
}
.view-mode-medium-preview .signature-progress-count-goal span {
  color: #666;
}
div.drupal-embed .group-heading .signature-action-type-label h3, /* selector override for embedded styling */
.view-mode-medium-preview h3 {
  color: #1CA9E7;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold; /* override for embedded styling */
}
/* override for embedded styling */
div.drupal-embed .view-mode-medium-preview .group-summary .signature-call-to-action {
  clear: both;
  background: transparent;
  text-shadow: 0 0 0;
  border: none;
  box-shadow: 0 0 0;
  border-radius: 0;
  padding: 0;
  text-align: left;
  max-width: auto;
}
/* override for embedded styling */
.node-type-takepart-campaign #content .block-boxes .view-mode-medium-preview a {
  color: #000;
}
.view-mode-medium-preview .signature-call-to-action a {
  width: 175px;
  height: 24px;
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  background: transparent url('../images/tab/button_175_32.png') top left no-repeat;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding-top: 8px;
}
.view-mode-medium-preview .signature-call-to-action a:hover {
  text-decoration: none;
}
.view-mode-medium-preview .signature-progress-needed,
.view-mode-medium-preview .needed {
  font-size: 10px;
  color: #707070;
  padding-top: 5px;
  display: block;
}
.view-mode-medium-preview .group_summary {
  width: 50%;
}
.view-mode-medium-preview .field-name-field-promo-headline {
  font-size: 28px;
  font-weight: bold;
  color: #000;
  line-height: 30px;
  padding-bottom: 10px;
}

/* # Thank You Page
================================================== */
#block-takeaction-thankyou-thank-you {
  border: 1px solid #e6dcbd;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1), 1px -1px 1px rgba(0, 0, 0, 0.1);
  background: #fffaea;
  padding: 20px;
}
.main-content .block-takeaction-thankyou, /* selector override */
.block-takeaction-thankyou {
margin-bottom: 15px;
}
.main-content .block-takeaction-thankyou h2, /* selector override */
.block-takeaction-thankyou h2 {
  font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
}
.main-content .block-takeaction-thankyou h3, /* selector override */
.block-takeaction-thankyou h3 {
  font-family: TradeGothicLTStdCnBold;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
}
.main-content #block-takeaction-thankyou-thank-you h2, /* selector override */
#block-takeaction-thankyou-thank-you h2 {
  font-size: 34px;
}
.main-content #block-takeaction-thankyou-dashboard h2, /* selector override */
#block-takeaction-thankyou-dashboard h2 {
  padding-bottom: 10px;
  background: url('../images/tab/doubleLine.png') repeat-x bottom left;
  margin-bottom: 20px;
}
#block-takeaction-thankyou-thank-you .message {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  padding: 0 0 16px 0;
}
#block-takeaction-thankyou-thank-you .progress {
  font-weight: normal;
}
#block-takeaction-thankyou-more-actions iframe {
  width: 666px;
  border: 0;
  height: 342px;
  overflow: hidden;
}
#block-takeaction-thankyou-more-actions h2 {
  padding-bottom: 10px;
  background: url('../images/tab/doubleLine.png') repeat-x bottom left;
  margin-bottom: 20px;
}
.block-takeaction-thankyou .signature-progress-percent {
  background: url("/profiles/takepart/themes/takepart3/images/orange-cirlce.png") no-repeat scroll 0 0 transparent; */
  clear: both;
  display: block;
  height: 28px;
  padding: 15px 0;
  text-align: center;
  width: 60px;
  float: left;
  margin-top: -5px;
}
.block-takeaction-thankyou .pie_container .pie_slice_container {
  width: 50px;
  height: 50px;
}
.block-takeaction-thankyou .progress .percentage,
.block-takeaction-thankyou .progress .complete {
  position: relative;
}
#block-takeaction-thankyou-dashboard h2 {
  font-size: 30px;
}
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out a.facebook-login,
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out a.facebook-login:hover {
  background: url('../images/tab/fb_button_blank.png') no-repeat;
  display: inline-block; *display: inline; *zoom: 1;
  color: #fff;
  width: 208px;
  height: 22px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 8px;
  padding-left: 46px;
}
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out .inner_content_left,
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out .inner_content_right {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
}
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out .inner_content_left {
  width: 250px;
  padding-right: 15px;
}
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out .inner_content_right {
  width: 365px;
}
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out .inner_content_right p {
  line-height: 1.5em;
  font-size: 13px;
  color: #333;
  padding-top: 5px;
}
.logged-in #block-takeaction-thankyou-dashboard {
  background: #ffce35;
  font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal!important;
  text-transform: uppercase;
  border: 1px solid #cb9900;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2), 1px -1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 2px rgba(100%,100%,100%,0.5);
  padding: 15px 20px;
}
.logged-in #block-takeaction-thankyou-dashboard span {
  background: transparent;
}
.logged-in #block-takeaction-thankyou-dashboard h2 {
  font-size: 28px;
}
.logged-in #block-takeaction-thankyou-dashboard h2,
.logged-in #block-takeaction-thankyou-dashboard .content {
  display: inline;
  background: transparent;
  margin: 0;
  padding: 0;
}
.logged-in #block-takeaction-thankyou-dashboard .content {
  float: right;
  margin-top: 6px;
}
.logged-in #block-takeaction-thankyou-dashboard .dashboard-link {
  background: #ffce35;
  font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  border: 1px solid #cb9900;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1), 2px -2px 2px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 2px rgba(100%,100%,100%,0.5);
  padding: 5px 15px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* # Original (Charles') Thank You Page Styling
================================================== */
.thankyou .ty-cont {

border: 1px solid #e6dcbd;
box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1), 1px -1px 1px rgba(0, 0, 0, 0.1);

}

.thankyou .ty-cont hgroup {
font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
font-weight: normal!important;
margin-bottom: 20px;
color: #000;
}

.thankyou .ty-cont hgroup h1 {
font-size: 36px;
}

.thankyou .ty-cont hgroup h2 {
font-size: 20px;
}

.thankyou .ty-cont .goal {
position: relative;
margin-bottom: 20px;
}

.thankyou .ty-cont .goal .status {
margin: 0 0 0 70px;
}

.thankyou .ty-cont .goal .status emph {
font-weight: bold;
}

.thankyou .ty-cont .goal .pie {
position: absolute;
top: -10px;
left: 0;
width: 60px;
}

.thankyou .ty-cont .goal .pie p {
position: absolute;
top: 13px;
left: 13px;
font: normal 18px/1 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
text-align: center;
color: #fff;
}

.thankyou .ty-cont .goal .pie span {
display: block;
font-size: 10px;
}

.thankyou .ty-cont .goal p {
display: inline-block;
line-height: 25px;
}

.thankyou .ty-cont .social h3 {
font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
font-weight: normal!important;
font-size: 16px;
}

.thankyou .ty-cont .social .addthis_toolbox {
float: none;
}

.thankyou .impact-cta {
color: #000;
margin-top: 20px;
padding: 20px;
}

.thankyou-loggedin .impact-cta { 
background: #ffce35;
border: 1px solid #e0a900;
box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2), 2px -2px 2px rgba(0, 0, 0, 0.2);
}

.thankyou .impact-cta:after, .thankyou .impact-cta:before {
content:"";
display:table;

}

.thankyou .impact-cta:after {
clear: both;
}

.thankyou .impact-cta h1 {
font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
font-weight: normal!important;
text-transform: uppercase;
float: left;
}

.thankyou-loggedin .impact-cta .impact-btn {
background: #ffce35;
font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
font-size: 17px;
font-weight: normal!important;
text-transform: uppercase;
float: right;
margin-top: -5px;
border: 1px solid #cb9900;
box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2), 2px -2px 2px rgba(0, 0, 0, 0.2);
text-shadow: 0 1px 2px rgba(100%,100%,100%,0.5);
padding: 10px 20px;
}

.thankyou-loggedin .impact-cta .impact-btn:before {
content: '>>\0a';
vertical-align: top;
}

.thankyou-loggedout .impact-cta h1 {
margin-bottom: 10px;
}

.thankyou-loggedout .impact-cta img {
margin-top: 10px;
}

.thankyou-loggedout .impact-cta .impact-btn {
position: relative;
background: url(_images/_thankyou/fb-btn.png) 0 0 transparent no-repeat;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
margin-top: 10px;
padding: 4px 0 10px 47px;
color: #fff;
display: block;
width: 254px;
height: 30px;
}

.thankyou-loggedout .impact-cta img {
float: left;
}

.thankyou-loggedout .impact-cta p {
float: left;
width: 250px;
margin-left: 20px;
margin-top: 20px;
}

.block-takeaction-thankyou h2 {
  font-family: TradeGothicLTStdCnBold;
  background: none;
  font-size: 32px;
  color: #000;
}

#block-takeaction-thankyou-thank-you,
#block-takeaction-thankyou-thank-you h2 span {
  background-color: #fffaea;
}

.block-takeaction-thankyou .takeaction-thankyou-message span {
  color: #333333;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.block-takeaction-thankyou .signature-progress-needed {
  float: none;
}

.block-takeaction-thankyou .signature-progress-percent span {
  color: #FFFFFF;
  display: block;
  font-weight: bold;
}

.block-takeaction-thankyou .signature-progress-percent span.percentage {
  text-align: center;
  font-size: 16px;
  height: 17px;
  text-align: center;
  float: none;
}

.block-takeaction-thankyou .signature-progress-percent span.complete {
  font-size: 7px;
  text-transform: uppercase;
  height: 13px;
}

.block-takeaction-thankyou .sharing {
  clear:both;
  padding-top: 20px;
}

.block-takeaction-thankyou .signature-progress-needed {
  background: url("/profiles/takepart/themes/takepart3/images/twodot58x58linework.png") repeat-x scroll 0 0 transparent;
  height: 58px;
  margin-bottom: -17px;
  padding-top: 17px;
}

iframe.moreactions {
  border-style: none;
  height: 300px;
  width: 100%;
}

/* tab unsigned */

.petition_pledge_action .block-boxes-bid-boxes-action_topic_and_share .field-type-taxonomy-term-reference {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  padding-left: 40px;
  background: url(/profiles/takepart/themes/takepart3/css/images/action-pledge-icon.png) left top no-repeat;
}

.petition_action .block-boxes-bid-boxes-action_topic_and_share .field-type-taxonomy-term-reference {
  background-image: url(/profiles/takepart/themes/takepart3/css/images/action-petition-icon.png);
}

.petition_pledge_action .block-boxes-bid-boxes-action_topic_and_share .field-type-share-bar {
  float: right;
}

.petition_pledge_action .block-boxes-bid-boxes-action_topic_and_share {
  border: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  line-height: 30px;
  margin-bottom: 20px;
}

.petition_pledge_action {
  padding: 10px 0 0 30px;
}

.petition_pledge_action #block-takepart-custom-page-title-h1 h1 span {
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.petition_pledge_action .signature-action-taken {
  margin-bottom: 15px;
  font-size: 16px;
}

.petition_pledge_action .signature-action-taken span:after {
  content: ' ';
  display: inline;
}

.petition_pledge_action .field-name-field-article-main-image, .field-name-field-blogpost-main-image, .field-name-field-action-main-image {
  margin: 0 0 15px 0;
}

.petition_pledge_action .field-name-field-petition-recipient .field-label,
.petition_pledge_action .field-name-field-petition-recipient .field-item {
  display: inline;
}

.petition_pledge_action .field-name-field-petition-recipient {
  font-size: 16px;
  margin: 0 0 1em 0;
}

.petition_pledge_action .field-group-format .field-label {
  text-transform: uppercase;
  font-size: 16px;
  margin: 2em 0 1em 0;
}

.petition_pledge_action .more-or-less-link {
  text-decoration: none;
  font-size: 13px;
  text-transform: lowercase;
  margin: 10px 0 20px 0;
  display: block;
}

.petition_pledge_action .more-or-less-link:hover {
  text-decoration: underline;
}

.petition_pledge_action .field-name-field-action-form-title {
  background: #000;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStdCnBold';
  line-height: 33px;
  height: 33px;
  margin: 3px 0 30px 0;
  padding-top: 1px;
}

.petition_pledge_action .field-name-field-action-form-title .field-item {
  height: 46px;
  margin-top: -3px;
  background: url(/profiles/takepart/themes/takepart3/css/images/field-name-field-action-form-title-bg.png) 17px top no-repeat;
  padding-left: 55px;
  padding-top: 3px;
}

.petition_pledge_action .signature-form {
  padding: 0 55px 45px 55px;
  margin-top: 30px;
}

.petition_pledge_action .signature-form .form-select,
.petition_pledge_action .signature-form .form-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #c0c0c0;
  padding: 10px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.petition_pledge_action .signature-form .form-submit {
  font-size: 24px;
  color: #000;
  border-radius: 5px;
  line-height: 51px;
  height: 51px;
  padding: 0 80px;
  text-shadow: 1px 1px 1px #ffffff;
  filter: dropshadow(color=#ffffff, offx=1, offy=1);
  border: 1px solid #fdbc59;
  cursor: pointer;
  cursor: hand;
  text-transform: uppercase;
  font-weight: bold;

  background: #ffca00;
  background: -moz-linear-gradient(top,  #ffda4d 2%, #ffca00 6%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ffda4d), color-stop(6%,#ffca00));
  background: -webkit-linear-gradient(top,  #ffda4d 2%,#ffca00 6%);
  background: -o-linear-gradient(top,  #ffda4d 2%,#ffca00 6%);
  background: -ms-linear-gradient(top,  #ffda4d 2%,#ffca00 6%);
  background: linear-gradient(to bottom,  #ffda4d 2%,#ffca00 6%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffda4d', endColorstr='#ffca00',GradientType=0 );
}

.petition_pledge_action .signature-form label {
  display: block !important;
  margin: 1em 0 .1em 0;
}

.petition_pledge_action .signature-form .form-type-checkbox label.option {
  font-weight: bold;
  font-size: 14px;
}

.petition_pledge_action .signature-form .form-type-checkbox label {
  display: inline !important;
}

.petition_pledge_action .signaturelist-processed {
  border: 12px solid #d9e8ef;
  padding: 10px;
}

.petition_pledge_action .signaturelist-processed h2 {
  color: #333;
  font-family: 'TradeGothicLTStdCnBold';
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3px;
}

.petition_pledge_action .signaturelist-processed .view-empty h2 {
  color: #333;
  border-bottom: none;
}

.petition_pledge_action .view-petition-signature-block {
  padding-top: 5px;
  border-top: 1px solid #ccc;
  margin-top: 3px;
}

.petition_pledge_action .view-petition-signature-block table {
  width: 100%;
}

.petition_pledge_action .view-petition-signature-block thead th {
  border: none;
}

.petition_pledge_action .view-petition-signature-block tbody {
  border: none;
}

.petition_pledge_action .view-petition-signature-block tr {
  background: none;
}

.petition_pledge_action .view-petition-signature-block td {
  padding: 10px;
}

.petition_pledge_action #block-signature-summary {
  border: 4px solid #ffcd33;
  padding: 20px 10px 10px 10px;
}

.petition_pledge_action #block-signature-summary h2 {
  background: none;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStdCnBold';
  color: #333;
  font-size: 20px;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3px;
}

.petition_pledge_action #block-signature-summary > .content {
  border-top: 1px solid #ccc;
  margin-top: 3px;
  padding: 10px;
}

.petition_pledge_action #block-signature-summary .group-signature-progress {
  position: relative;
  height: 122px;
  padding-top: 1px;
  margin-bottom: 20px;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .signature-progress-percent {
  background: url(/profiles/takepart/themes/takepart3/css/images/signature-progress-percent-bg.png) left top no-repeat;
  height: 122px;
  width: 122px;
  color: #fff;
  text-shadow: 0 1px 0 #f66201;
  filter: dropshadow(color=#f66201, offx=0, offy=1);
  font-weight: bold;
  text-align: center;
  line-height: 1;
  float: left;
  z-index: 2;
}

.petition_pledge_action #block-signature-summary .group-signature-progress span {
  position: relative;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .percentage {
  display: block;
  font-size: 38px;
  padding-top: 32px;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .complete {
  display: block;
  font-size: 14px;
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .signature-progress-days-left {
  height: 122px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .signature-progress-goal,
.petition_pledge_action #block-signature-summary .group-signature-progress .signature-progress-days-left span {
  font-size: 25px;
  background: #ececec;
  text-shadow: 0 1px 0 #fff;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
  padding: 20px 20px 20px 90px;
  margin: 20px 0 0 60px;
  line-height: 1;
  display: block;
}

.petition_pledge_action #block-signature-summary .field-name-field-action-sponsor .field-label,
.petition_pledge_action #block-signature-summary .field-name-field-action-organizer .field-label {
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}

.petition_pledge_action #block-signature-summary .field-name-field-action-sponsor .field-name-field-group-logo,
.petition_pledge_action #block-signature-summary .field-name-field-action-organizer .field-name-field-group-logo {
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.petition_pledge_action #block-signature-summary .field-name-field-action-sponsor .field-name-field-group-logo img,
.petition_pledge_action #block-signature-summary .field-name-field-action-organizer .field-name-field-group-logo img {
  max-width: 250px;
}

.petition_pledge_action #block-signature-summary .field-name-field-action-sponsor .field-name-field-short-introduction,
.petition_pledge_action #block-signature-summary .field-name-field-action-organizer .field-name-field-short-introduction {
  font-size: 12px;
}

.petition_pledge_action #block-signature-summary .field-name-field-action-sponsor,
.petition_pledge_action #block-signature-summary .field-name-field-action-organizer {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
}

/* pie stuff */

.pie_container .pie_slice_container {
  opacity: 0.2;
  filter: alpha(opacity=20);
  border-radius: 25px;
  width: 112px;
  height: 112px;
  left: 5px;
  top: 5px;
}

.pie_container .pie_slice {
  background: #000;
  border-radius: 56px;
}

.view-mode-medium-preview .pie_container .pie_slice_container {
  width: 53px;
  height: 53px;
  left: 12px;
  top: 9px;
}

/* embeded action */

.embedaction-wrapper.petition_pledge_action {
  padding: 0;
}

.embedaction-wrapper .content-bottom {
  padding-top: 1px;
}

.embedaction-wrapper .signature-action-taken {
  margin: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.embedaction-wrapper .field-name-field-petition-recipient {
  margin: 15px;
  font-size: 13px;
  text-align: center;
}

.embedaction-wrapper .field-name-field-petition-recipient .field-label {
  float: none;
}

.embedaction-wrapper .field-name-field-petition-recipient .field-items {
  float: none;
  display: inline;
}

/*.embedaction-wrapper .field-name-field-petition-recipient .field-items .field-item:after {
  display: inline;
  content: ', ';
}

.embedaction-wrapper .field-name-field-petition-recipient .field-items .field-item:last-child:after {
  display: none;
  content: '';
}*/

.embedaction-wrapper .group-signature-progress {
  position: relative;
  height: 82px;
  padding-top: 1px;
  padding-left: 78px;
  background: #ECECEC;
  margin: 35px 26px 35px 87px;
}

.embedaction-wrapper .group-signature-progress .signature-progress-percent {
  background: url(/profiles/takepart/themes/takepart3/css/images/signature-progress-percent-bg.png) left top no-repeat;
  height: 122px;
  width: 122px;
  color: #fff;
  text-shadow: 0 1px 0 #f66201;
  filter: dropshadow(color=#f66201, offx=0, offy=1);
  font-weight: bold;
  text-align: center;
  line-height: 1;
  z-index: 2;
  position: absolute;
  top: -15px;
  left: -61px;
}

.embedaction-wrapper .group-signature-progress span {
  position: relative;
}

.embedaction-wrapper .group-signature-progress .percentage {
  display: block;
  font-size: 38px;
  padding-top: 32px;
}

.embedaction-wrapper .group-signature-progress .complete {
  display: block;
  font-size: 14px;
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
}

.embedaction-wrapper .signature-progress-days-left,
.embedaction-wrapper .signature-progress-goal {
  font-size: 14px;
  background: #ececec;
  text-shadow: 0 1px 0 #fff;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
  line-height: 1;
  width: 139px;
  border-left: 1px solid #d4d4d4;
  height: 82px;
  padding: 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.embedaction-wrapper .signature-progress-days-left,
.embedaction-wrapper .signature-progress-goal .count {
  font-size: 24px;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list {
  margin: 15px 20px 0 20px !important;
  list-style: none !important;
  background: none !important;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 2;
  line-height: 32px;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li {
  background: none;
  border: none;
  margin: 0 !important;
  padding: 0;
  font-size: 14px;
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li a,
.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected a {
  padding: 0 20px;
  outline: 0;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected {
  border: 1px solid #CCC;
  border-bottom: none;
  background: #fff;
}

.embedaction-wrapper .horizontal-tabs-panes {
  border-top: 1px solid #CCC;
  position: relative;
  z-index: 1;
  margin-top: -1px;
}

.embedaction-wrapper .horizontal-tabs-panes fieldset {
  margin-top: 20px;
}

.embedaction-wrapper div.horizontal-tabs {
  border: none;
}

/*.field-name-field-petition-recipient .field-item:after {
  content: ', ';
  display: inline;
}

.field-name-field-petition-recipient .field-item:last-child:after {
  content: '';
  display: none;
}*/

/* media query overrides * /
@media all and (max-width: 999px) {
  #footer,
  #page-wrapper {
    width: auto;
  }
}

@media all and (max-width: 969px) {
  #right-rail,
  .main-content {
    width: auto;
    float: none;
  }

  #page {
    padding-right: 30px;
  }
}

@media all and (max-width: 589px) {
  #slim-header #nav-wrap {
    width: auto;
  }
}

*/