/* # Share Block
================================================== */
.petition_pledge_action .addthis_toolbox,
.block-takeaction-thankyou .addthis_toolbox {
  line-height: 0px;
}
.petition_pledge_action .addthis_toolbox>a,
.block-takeaction-thankyou .addthis_toolbox>a {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: middle;
  float: none;
}
.block-takeaction-thankyou .addthis_toolbox>a  {
  width: 32px;
  height: 32px;
  margin-right: 11px;
  padding: 0;
}
.petition_pledge_action .addthis_toolbox .addthis_button_google_plusone {
  width:51px;
}
.block-takeaction-thankyou .addthis_toolbox .addthis_button_google_plusone {
  width: 38px;
  height: 24px;
  overflow: hidden;
}

.more-or-less-view.active {
  display: block;
}

.more-or-less-view.inactive {
  display: none;
}

.signature-state-fields {
  display: block;
}
.signature-state-fields.inactive,
.signature-state-fields.inactive.active {
  display: none;
}

.view-mode-medium-preview .signature-progress-percent,
div.drupal-embed .group-heading .signature-progress-percent {
	background: url('../images/pie.png') no-repeat left top;
	background-size: 100% auto;
	position: absolute;
	top: -24px;
	right: 22px;
	width: 66px;
	height: 66px;
	padding-top: 17px;
}
.view-mode-medium-preview .signature-progress-percent span,
div.drupal-embed .group-heading .signature-progress-percent span {
	display: block;
	width: 66px;
	text-align: center;
	font-weight: bold;
  font-size: 15px;
  line-height: 1;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

/* # Preview Page
================================================== */
.take-action-landing-page .main-content .field-name-field-tp-campaign-subheadline ,
.page-node-30110 .main-content .field-name-field-tp-campaign-subheadline {
  font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
  font-size: 28px;
  padding-bottom: 10px;
  background: url('../images/tab/doubleLine.png') repeat-x bottom left;
  margin-bottom: 30px;
  font-weight: normal;
}

/* # Preview Page Right Rail
================================================== */
.logged-in #right-rail #block-boxes-take-action-join-now {
  display: none;
}
#right-rail #block-boxes-take-action-join-now,
#right-rail #block-boxes-what-is-takepart-take-action ,
#right-rail #block-boxes-take-action-about-dashboard {
  padding: 0;
  border: none;
  margin-bottom: 25px;
  margin-right: 10px;
}
#right-rail #block-boxes-take-action-join-now {
  border-bottom: 1px solid #c9cbd0;
  padding-bottom: 20px;
}
#right-rail #block-boxes-take-action-join-now h2,
#right-rail #block-boxes-what-is-takepart-take-action h2,
#right-rail #block-boxes-take-action-about-dashboard h2 {
  background: transparent;
  color: #6d6e71;
  margin-bottom: 10px;
}
#right-rail #block-boxes-take-action-join-now h2 {
  margin-bottom: 20px;
}
#right-rail #block-boxes-what-is-takepart-take-action h2,
#right-rail #block-boxes-take-action-about-dashboard h2 {
  font-size: 16px;
}
#right-rail #block-boxes-take-action-join-now h2 span,
#right-rail #block-boxes-what-is-takepart-take-action h2 span,
#right-rail #block-boxes-take-action-about-dashboard h2 span {
  text-transform: none;
  font-weight: bold;
}
#right-rail #block-boxes-take-action-join-now h2 span,
#right-rail #block-boxes-what-is-takepart-take-action h2 span,
#right-rail #block-boxes-take-action-about-dashboard h2 span {
  background: transparent;
  border-right: none;
}

#right-rail #block-boxes-take-action-join-now p,
#right-rail #block-boxes-what-is-takepart-take-action p,
#right-rail #block-boxes-take-action-about-dashboard p {
  color: #58595b;
  line-height: 1.3em;
  font-size: 13px;
}
#right-rail #block-boxes-take-action-join-now .facebook-login {
  width: 212px;
  height: 30px;
  background: url('../images/tab/fb_button.png') no-repeat;
  display: block;
  text-indent: -999999px;
}

/* # Preview Page View Row
================================================== */
.view-mode-medium-preview {
  border: 1px solid #d8d8d8;
  padding: 25px;
  margin-bottom: 46px;
}
div.drupal-embed .view-mode-medium-preview .group-heading, /* selector override for embedded styling */
.view-mode-medium-preview .group_heading {
  display: block;
  position: relative;
  height: 20px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
  padding: 0; /* override for embedded styling */
}
.view-mode-medium-preview .signature-action-type-label,
.view-mode-medium-preview .signature-progress-percent,
.view-mode-medium-preview .signature-progress-days-left {
  position: absolute;
}
.view-mode-medium-preview .signature-action-type-label {
  left: 0;
}
div.drupal-embed .view-mode-medium-preview .signature-progress-days-left, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-days-left {
  right: 75px;
  font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.view-mode-medium-preview .signature-progress-days-left.ongoing {
  display: none;
}
div.drupal-embed .view-mode-medium-preview .group-heading .signature-progress-percent, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-percent {
  right: 0;
  top: -41px;
  background: url('../images/tab/orange-circle.png') no-repeat center center;
  width: 60px;
  height: 44px;
  overflow: hidden;
  padding-top: 16px;
}

div.drupal-embed .view-mode-medium-preview .signature-progress-percent .complete, /* selector override for embedded styling */
div.drupal-embed .view-mode-medium-preview .signature-progress-percent .percentage, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-percent .complete,
.view-mode-medium-preview .signature-progress-percent .percentage  {
  width: 100%;
  text-align: center;
  color: #fff;
  display: block;
}
div.drupal-embed .view-mode-medium-preview .signature-progress-percent .complete, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-percent .complete {
  text-transform: uppercase;
  font-size: 7px;
  font-weight: normal;
}
div.drupal-embed .view-mode-medium-preview .signature-progress-percent span, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-percent span {
  position: relative;
  z-index: 2;
}
div.drupal-embed .view-mode-medium-preview .signature-progress-percent .percentage, /* selector override for embedded styling */
.view-mode-medium-preview .signature-progress-percent .percentage {
  font-size: 16px;
}

.view-mode-medium-preview .field-name-field-action-main-image {
  margin: 0;
  text-align: right;
}

.view-mode-medium-preview .field-name-field-action-main-image .field-item {
  margin-left: 25px;
  float:right;
}

.view-mode-medium-preview .field-name-field-short-introduction {
  color: #333;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.3em;
}
.view-mode-medium-preview .signature-progress-count-goal span {
  color: #666;
}
div.drupal-embed .group-heading .signature-action-type-label h3, /* selector override for embedded styling */
.view-mode-medium-preview h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
}
/* override for embedded styling */
div.drupal-embed .view-mode-medium-preview .group-summary .signature-call-to-action {
  clear: both;
  background: transparent;
  text-shadow: 0 0 0;
  border: none;
  box-shadow: 0 0 0;
  border-radius: 0;
  padding: 0;
  text-align: left;
  max-width: auto;
}
/* override for embedded styling */
.node-type-takepart-campaign #content .block-boxes .view-mode-medium-preview a {
  color: #000;
}
.view-mode-medium-preview .signature-call-to-action a .arrow {
  background: transparent url('../images/tab/arrow.png') 0 0 no-repeat;
  width: 9px;
  height: 13px;
  margin-left: 7px;
  display: inline-block;
  margin-top: 2px;
}
.view-mode-medium-preview .signature-call-to-action a {
  width: 175px;
  height: 24px;
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  background: transparent url('../images/tab/button_175_32.png') top left no-repeat;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding-top: 8px;
}
.view-mode-medium-preview .signature-call-to-action a:hover {
  background-position: 0 -32px;
}
.view-mode-medium-preview .signature-call-to-action a:hover {
  text-decoration: none;
}
.view-mode-medium-preview .signature-progress-needed,
.view-mode-medium-preview .needed,
.view-mode-medium-preview .signature-progress-goal {
  font-size: 11px;
  color: #707070;
  padding-top: 5px;
  display: block;
}

.view-mode-medium-preview .field-name-field-promo-headline {
  font-size: 28px;
  font-weight: bold;
  color: #000;
  line-height: 30px;
  padding-bottom: 10px;
}

.view-mode-medium-preview .field-name-field-promo-headline a {
  color: #000;
}

.view-mode-medium-preview .field-name-field-promo-headline a:hover {
  color: #1CA9E7;
  text-decoration: none;
}

/* # Thank You Page
================================================== */
#block-takeaction-thankyou-thank-you {
  border: 1px solid #e6dcbd;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background: #fffaea;
  padding: 20px;
}
.main-content .block-takeaction-thankyou, /* selector override */
.block-takeaction-thankyou {
margin-bottom: 40px;
}
.main-content .block-takeaction-thankyou h2, /* selector override */
.block-takeaction-thankyou h2 {
  font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
}
.main-content .block-takeaction-thankyou h3, /* selector override */
.block-takeaction-thankyou h3 {
  font-family: TradeGothicLTStdCnBold;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
}
#block-takeaction-thankyou-thank-you {
  font-size: 13px;
}

#block-takeaction-thankyou-thank-you .content .goal,
#block-takeaction-thankyou-thank-you .content .count,
#block-takeaction-thankyou-thank-you .content .title {
  font-weight: bold;
}

.main-content #block-takeaction-thankyou-thank-you h2, /* selector override */
#block-takeaction-thankyou-thank-you h2 {
  font-size: 34px;
  padding-bottom: 6px;
}
.main-content #block-takeaction-thankyou-dashboard h2, /* selector override */
#block-takeaction-thankyou-dashboard h2 {
  padding-bottom: 10px;
  background: url('../images/tab/doubleLine.png') repeat-x bottom left;
  margin-bottom: 20px;
}
#block-takeaction-thankyou-thank-you .message {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  padding: 0 0 16px 0;
}
#block-takeaction-thankyou-thank-you .progress {
  font-weight: normal;
}
#block-takeaction-thankyou-more-actions iframe {
  width: 666px;
  border: 0;
  height: 360px;
  overflow: hidden;
}
#block-takeaction-thankyou-more-actions h2 {
  padding-bottom: 10px;
  background: url('../images/tab/doubleLine.png') repeat-x bottom left;
  margin-bottom: 20px;
}
.block-takeaction-thankyou .signature-progress-percent {
  background: url("/profiles/takepart/themes/takepart3/images/orange-cirlce.png") no-repeat scroll 0 0 transparent; */
  clear: both;
  display: block;
  height: 30px;
  padding: 15px 7px 15px 0;
  text-align: center;
  width: 60px;
  float: left;
  margin-top: -5px;
}
.block-takeaction-thankyou .pie_container .pie_slice_container {
  width: 50px;
  height: 50px;
}
.block-takeaction-thankyou .progress .percentage,
.block-takeaction-thankyou .progress .complete {
  position: relative;
}
#block-takeaction-thankyou-dashboard h2 {
  font-size: 30px;
}
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out a.facebook-login,
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out a.facebook-login:hover {
  background: url('../images/tab/fb_button_blank.png') no-repeat;
  display: inline-block; *display: inline; *zoom: 1;
  color: #fff;
  width: 208px;
  height: 22px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 8px;
  padding-left: 46px;
}
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out .inner_content_left,
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out .inner_content_right {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
}
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out .inner_content_left {
  width: 250px;
  padding-right: 15px;
}
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out .inner_content_right {
  width: 365px;
}
#block-takeaction-thankyou-dashboard .takeaction-dashboard-promo.logged-out .inner_content_right p {
  line-height: 1.5em;
  font-size: 13px;
  color: #333;
  padding-top: 5px;
}
.logged-in #block-takeaction-thankyou-dashboard {
  background: #ffce35;
  font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal!important;
  text-transform: uppercase;
  border: 1px solid #cb9900;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 2px rgba(100%,100%,100%,0.5);
  padding: 15px 20px;
}
.logged-in #block-takeaction-thankyou-dashboard span {
  background: transparent;
}
.logged-in #block-takeaction-thankyou-dashboard h2 {
  font-size: 28px;
}
.logged-in #block-takeaction-thankyou-dashboard h2,
.logged-in #block-takeaction-thankyou-dashboard .content {
  display: inline;
  background: transparent;
  margin: 0;
  padding: 0;
}
.logged-in #block-takeaction-thankyou-dashboard .content {
  float: right;
  margin-top: 6px;
}
.logged-in #block-takeaction-thankyou-dashboard .dashboard-link {
  background: #ffce35;
  font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  border: 1px solid #cb9900;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1), 2px -2px 2px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 2px rgba(100%,100%,100%,0.5);
  padding: 5px 15px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* # Original (Charles') Thank You Page Styling
================================================== */
.thankyou .ty-cont {

border: 1px solid #e6dcbd;
box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1), 1px -1px 1px rgba(0, 0, 0, 0.1);

}

.thankyou .ty-cont hgroup {
font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
font-weight: normal!important;
margin-bottom: 20px;
color: #000;
}

.thankyou .ty-cont hgroup h1 {
font-size: 36px;
}

.thankyou .ty-cont hgroup h2 {
font-size: 20px;
}

.thankyou .ty-cont .goal {
position: relative;
margin-bottom: 20px;
}

.thankyou .ty-cont .goal .status {
margin: 0 0 0 70px;
}

.thankyou .ty-cont .goal .status emph {
font-weight: bold;
}

.thankyou .ty-cont .goal .pie {
position: absolute;
top: -10px;
left: 0;
width: 60px;
}

.thankyou .ty-cont .goal .pie p {
position: absolute;
top: 13px;
left: 13px;
font: normal 18px/1 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
text-align: center;
color: #fff;
}

.thankyou .ty-cont .goal .pie span {
display: block;
font-size: 10px;
}

.thankyou .ty-cont .goal p {
display: inline-block;
line-height: 25px;
}

.thankyou .ty-cont .social h3 {
font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
font-weight: normal!important;
font-size: 16px;
}

.thankyou .ty-cont .social .addthis_toolbox {
float: none;
}

.thankyou .impact-cta {
color: #000;
margin-top: 20px;
padding: 20px;
}

.thankyou-loggedin .impact-cta { 
background: #ffce35;
border: 1px solid #e0a900;
box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2), 2px -2px 2px rgba(0, 0, 0, 0.2);
}

.thankyou .impact-cta:after, .thankyou .impact-cta:before {
content:"";
display:table;

}

.thankyou .impact-cta:after {
clear: both;
}

.thankyou .impact-cta h1 {
font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
font-weight: normal!important;
text-transform: uppercase;
float: left;
}

.thankyou-loggedin .impact-cta .impact-btn {
background: #ffce35;
font-family: 'TradeGothicLTStdCnBold', Helvetica, Arial, sans-serif;
font-size: 17px;
font-weight: normal!important;
text-transform: uppercase;
float: right;
margin-top: -5px;
border: 1px solid #cb9900;
box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2), 2px -2px 2px rgba(0, 0, 0, 0.2);
text-shadow: 0 1px 2px rgba(100%,100%,100%,0.5);
padding: 10px 20px;
}

.thankyou-loggedin .impact-cta .impact-btn:before {
content: '>>\0a';
vertical-align: top;
}

.thankyou-loggedout .impact-cta h1 {
margin-bottom: 10px;
}

.thankyou-loggedout .impact-cta img {
margin-top: 10px;
}

.thankyou-loggedout .impact-cta .impact-btn {
position: relative;
background: url(_images/_thankyou/fb-btn.png) 0 0 transparent no-repeat;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
margin-top: 10px;
padding: 4px 0 10px 47px;
color: #fff;
display: block;
width: 254px;
height: 30px;
}

.thankyou-loggedout .impact-cta img {
float: left;
}

.thankyou-loggedout .impact-cta p {
float: left;
width: 250px;
margin-left: 20px;
margin-top: 20px;
}

.block-takeaction-thankyou h2 {
  font-family: TradeGothicLTStdCnBold;
  background: none;
  font-size: 32px;
  color: #000;
}

#block-takeaction-thankyou-thank-you,
#block-takeaction-thankyou-thank-you h2 span {
  background-color: #fffaea;
}

.block-takeaction-thankyou .takeaction-thankyou-message span {
  color: #333333;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.block-takeaction-thankyou .signature-progress-needed {
  float: none;
}

.block-takeaction-thankyou .signature-progress-percent span {
  color: #FFFFFF;
  display: block;
  font-weight: bold;
}
.view-mode-medium-preview .signature-progress-percent .sign,
.block-takeaction-thankyou .signature-progress-percent .sign {
  display: inline;
}
.block-takeaction-thankyou .signature-progress-percent .percentage {
  text-align: center;
  font-size: 16px;
  height: 17px;
  text-align: center;
  float: none;
}

.block-takeaction-thankyou .signature-progress-percent span.complete {
  font-size: 7px;
  text-transform: uppercase;
  height: 13px;
}

.block-takeaction-thankyou .sharing {
  clear:both;
  padding-top: 20px;
}

.block-takeaction-thankyou .signature-progress-goal,
.block-takeaction-thankyou .signature-progress-needed {
  background: url("/profiles/takepart/themes/takepart3/images/twodot58x58linework.png") repeat-x scroll 0 0 transparent;
  height: 58px;
  margin-bottom: -17px;
  padding-top: 17px;
}

iframe.moreactions {
  border-style: none;
  height: 300px;
  width: 100%;
}

/* tab unsigned */

.petition_pledge_action .block-boxes-bid-boxes-action_topic_and_share .field-type-taxonomy-term-reference {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  padding-left: 40px;
  background: url(/profiles/takepart/themes/takepart3/css/images/action-other-icon.png) left top no-repeat;
}

.petition_pledge_action .block-boxes-bid-boxes-action_topic_and_share .action-type-pledge {
  background-image: url(/profiles/takepart/themes/takepart3/css/images/action-pledge-icon.png);
}

.petition_pledge_action .block-boxes-bid-boxes-action_topic_and_share .action-type-petition {
  background-image: url(/profiles/takepart/themes/takepart3/css/images/action-petition-icon.png);
}

.petition_pledge_action .block-boxes-bid-boxes-action_topic_and_share .action-type-donation {
  background-image: url(/profiles/takepart/themes/takepart3/css/images/action-donation-icon.png);
}

.petition_pledge_action .block-boxes-bid-boxes-action_topic_and_share .field-type-share-bar {
  float: right;
}

.petition_pledge_action .block-boxes-bid-boxes-action_topic_and_share {
  border: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  line-height: 30px;
  margin-bottom: 20px;
}

#page.petition_pledge_action {
  padding: 10px 20px 0 20px;
}

.petition_pledge_action #block-takepart-custom-page-title-h1 h1 span {
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.petition_pledge_action .field-name-body {
  font-size: 14px;
  line-height: 24px;
}

.petition_pledge_action .field-name-field-action-main-image {
  width: 640px;
  height: 333px;
  overflow: hidden;
}

.petition_pledge_action .signature-action-taken {
  margin-bottom: 15px;
  font-size: 16px;
}

.petition_pledge_action .signature-action-taken span:after {
  content: ' ';
  display: inline;
}

.petition_pledge_action .field-name-field-article-main-image, .field-name-field-blogpost-main-image, .field-name-field-action-main-image {
  margin: 0 0 15px 0;
}

.petition_pledge_action .field-name-field-petition-recipient .field-label,
.petition_pledge_action .field-name-field-petition-recipient .field-item {
  display: inline;
}

.petition_pledge_action .field-name-field-short-introduction,
.petition_pledge_action .field-name-field-petition-recipient {
  font-size: 14px;
  line-height: 24px;
  margin: 1em 0;
}

.petition_pledge_action .field-name-field-petition-recipient .field-items,
.petition_pledge_action .field-name-field-petition-recipient .field-item,
.petition_pledge_action .field-name-field-petition-recipient .field-label {
  display: inline;
  float: none;
}

.petition_pledge_action .field-group-format .field-label {
  text-transform: uppercase;
  font-size: 16px;
  margin: 2em 0 1em 0;
}

.petition_pledge_action .more-or-less-link {
  text-decoration: none;
  font-size: 13px;
  text-transform: lowercase;
  margin: 10px 0 20px 0;
  display: block;
}

.petition_pledge_action .more-or-less-link:hover {
  text-decoration: underline;
}

.petition_pledge_action .field-name-field-action-form-title {
  background: #000;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStdCnBold';
  line-height: 33px;
  height: 33px;
  margin: 3px 0 30px 0;
  padding-top: 1px;
}

.petition_pledge_action .field-name-field-action-form-title .field-item {
  height: 46px;
  margin-top: -3px;
  background: url(/profiles/takepart/themes/takepart3/css/images/field-name-field-action-form-title-bg.png) 17px top no-repeat;
  padding-left: 55px;
  padding-top: 3px;
}

.petition_pledge_action .signature-form {
  padding: 0 55px 0 55px;
  margin: 30px 0 45px 0;
}
.petition_pledge_action .signature-form .form-type-textfield label {
  width: 380px;
}
.petition_pledge_action .signature-form .form-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 380px;
  border: 1px solid #c0c0c0;
  padding: 8px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  border-radius: 5px;
  font-size: 14px;
}

.petition_pledge_action .signature-form .form-select {
  border: 1px solid #c0c0c0;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  border-radius: 5px;
  height: auto;
  padding-left: 10px;
  font-size: 14px;
  width: 380px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.petition_pledge_action .signature-form .field-name-field-sig-zip-code input,
.petition_pledge_action .signature-form .field-name-field-sig-postal-code input {
  width: 110px;
}

.petition_pledge_action .take_action_button,
.petition_pledge_action .signature-form .form-submit {
  font-size: 24px;
  color: #000;
  border-radius: 3px;
  line-height: 51px;
  height: 51px;
  padding: 0 80px;
  text-shadow: 1px 1px 1px #ffffff;
  filter: dropshadow(color=#ffffff, offx=1, offy=1);
  border: none;
  cursor: pointer;
  cursor: hand;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;

  background: #FFC429;
  background: -moz-linear-gradient(top,  rgba(255,202,0,1) 0%, rgba(255,194,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,202,0,1)), color-stop(100%,rgba(255,194,0,1)));
  background: -webkit-linear-gradient(top,  rgba(255,202,0,1) 0%,rgba(255,194,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,202,0,1) 0%,rgba(255,194,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,202,0,1) 0%,rgba(255,194,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,202,0,1) 0%,rgba(255,194,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca00', endColorstr='#ffc200',GradientType=0 );

  box-shadow: 0px 1px 5px #999,
    inset 0 1px 1px #FFD97D,
    inset 0 -1px 1px #FFD97D,
    inset 1px 0 1px #FFD97D,
    inset -1px 0 1px #FFD97D;
}

.petition_pledge_action .take_action_button {
  float: none;
  display: inline-block;
  margin: 1em 0;
}

.petition_pledge_action .take_action_button:active span,
.petition_pledge_action .take_action_button:hover span {
  padding: 0;
}

.petition_pledge_action .take_action_button:active,
.petition_pledge_action .take_action_button:hover {
  text-decoration: none;
}

.petition_pledge_action .take_action_button span {
  letter-spacing: normal;
  text-align: center;
  background: transparent;
  display: inline;
  line-height: inherit;
  padding: 0;
}

.petition_pledge_action .take_action_button:hover,
.petition_pledge_action .signature-form .form-submit:hover {
  background: #FFAB29;
  background: -moz-linear-gradient(top,  rgba(255,180,0,1) 1%, rgba(255,172,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,180,0,1)), color-stop(100%,rgba(255,172,0,1)));
  background: -webkit-linear-gradient(top,  rgba(255,180,0,1) 1%,rgba(255,172,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,180,0,1) 1%,rgba(255,172,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,180,0,1) 1%,rgba(255,172,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,180,0,1) 1%,rgba(255,172,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb400', endColorstr='#ffac00',GradientType=0 );
}

.petition_pledge_action .signature-form label {
  display: block !important;
  margin: 1em 0 .1em 0;
}

.petition_pledge_action .signature-form .form-type-checkbox label.option {
  font-size: 14px;
}
.petition_pledge_action .signature-form .form-type-radio input,
.petition_pledge_action .signature-form .form-type-checkbox input {
  float: left;
  margin: 2px 0 0;
}
.petition_pledge_action .signature-form .form-type-checkbox {
  margin: .8em 0;
}
.petition_pledge_action .signature-form .form-type-radio label,
.petition_pledge_action .signature-form .form-type-checkbox label {
  display: block;
  margin: 0 0 0 20px;
  width: 360px;
}

.petition_pledge_action .group_address_tabs h3 {
  display: none;
}

.petition_pledge_action .signaturelist-processed {
  border: 12px solid #d9e8ef;
  padding: 10px;
  margin: 20px 0;
}

.petition_pledge_action .signaturelist-processed h2 {
  color: #333;
  font-family: 'TradeGothicLTStdCnBold';
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3px;
}

.petition_pledge_action .signaturelist-processed .view-empty h2 {
  color: #333;
  border-bottom: none;
}

.petition_pledge_action .view-pledge-signature-block,
.petition_pledge_action .view-petition-signature-block {
  padding-top: 5px;
  border-top: 1px solid #ccc;
  margin-top: 3px;
}

.petition_pledge_action .view-pledge-signature-block table,
.petition_pledge_action .view-petition-signature-block table {
  width: 100%;
}

.petition_pledge_action .view-pledge-signature-block thead th,
.petition_pledge_action .view-petition-signature-block thead th {
  border: none;
}

.petition_pledge_action .view-pledge-signature-block tbody,
.petition_pledge_action .view-petition-signature-block tbody {
  border: none;
}

.petition_pledge_action .view-pledge-signature-block tr,
.petition_pledge_action .view-petition-signature-block tr {
  background: none;
}

.petition_pledge_action .view-pledge-signature-block td,
.petition_pledge_action .view-petition-signature-block td {
  padding: 10px;
}

.petition_pledge_action #block-signature-summary {
  border: 4px solid #ffcd33;
  padding: 20px 10px 10px 10px;
}

.petition_pledge_action #block-signature-summary h2 {
  background: none;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStdCnBold';
  color: #333;
  font-size: 20px;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3px;
}

.petition_pledge_action #block-signature-summary > .content {
  border-top: 1px solid #ccc;
  margin-top: 3px;
  padding: 10px 0 0 0;
}

.petition_pledge_action #block-signature-summary .group-signature-progress {
  position: relative;
  padding: 20px 0 0 60px;
  margin-bottom: 16px;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .signature-progress-percent {
  background: url(/profiles/takepart/themes/takepart3/css/images/signature-progress-percent-bg.png) left top no-repeat;
  height: 122px;
  width: 122px;
  color: white;
  text-shadow: 0 1px 0 #F66201;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  float: left;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .signature-progress-complete-goal {
  background-image: url(/profiles/takepart/themes/takepart3/css/images/signature-progress-percent-completed-bg.png);
  color: #333;
  text-shadow: 0 1px 0 #fff;
}

.petition_pledge_action #block-signature-summary .group-signature-progress span {
  position: relative;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .percentage {
  display: block;
  font-size: 38px;
  padding-top: 32px;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .complete {
  display: block;
  font-size: 14px;
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
  font-weight: normal;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .signature-progress-days-left {
  margin: 20px 0 20px 60px;
  position: relative;
  z-index: 1;
  background: #ECECEC;
  padding: 0 20px 0 90px;
  display: table-cell;
  height: 80px;
  vertical-align: middle;
  text-align: center;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .signature-progress-days-left span {
  font-size: 25px;
  text-shadow: 0 1px 0 white;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
  line-height: 1;
}

.view-mode-action-summary .signature-progress-goal {
  padding-top: 35px;
  color: #666;
  margin-left: -60px;
  text-align: center;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .signature-progress-days-left .count {
  display: block;
}

.petition_pledge_action #block-signature-summary .group-signature-progress .signature-progress-needed {
  clear: both;
  font-size: 12px;
  padding-top: 30px;
  text-align: center;
  margin-left: -60px;
}

.petition_pledge_action #block-signature-summary .field-name-field-action-sponsor .field-label,
.petition_pledge_action #block-signature-summary .field-name-field-action-organizer .field-label {
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: normal;
}

.petition_pledge_action #block-signature-summary .field-name-field-action-sponsor .field-name-field-group-logo,
.petition_pledge_action #block-signature-summary .field-name-field-action-organizer .field-name-field-group-logo {
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 10px;
}

#right-rail  .field-name-field-action-sponsor .field-name-field-group-logo,
#right-rail  .field-name-field-action-organizer .field-name-field-group-logo {
  padding: 0;
}

.petition_pledge_action #block-signature-summary .field-name-field-action-sponsor .field-name-field-group-logo img,
.petition_pledge_action #block-signature-summary .field-name-field-action-organizer .field-name-field-group-logo img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.petition_pledge_action #block-signature-summary .field-name-field-action-sponsor .field-name-field-short-introduction,
.petition_pledge_action #block-signature-summary .field-name-field-action-organizer .field-name-field-short-introduction {
  font-size: 12px;
  line-height: 1.5;
}

.petition_pledge_action #block-signature-summary .field-name-field-action-sponsor,
.petition_pledge_action #block-signature-summary .field-name-field-action-organizer {
  border-top: 1px solid #CCC;
  margin-top: 10px;
  padding-top: 20px;
}

.petition_pledge_action .block-boxes-view-name-content_updates h2 {
  font-size: 22px;
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
  color: #000;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 3px;
}

.petition_pledge_action .block-boxes-view-name-content_updates .view-content-updates {
  border-top: 1px solid #ccc;
  font-size: 13px;
  line-height: 1.5em;
}

.petition_pledge_action .block-boxes-view-name-content_updates .view-content-updates .views-row {
  padding: 15px 0;
  margin-top: 3px;
  border-bottom: 1px dotted #ccc;
}

.petition_pledge_action .followup-content-link .field-name-field-tab-update-text {
  margin-bottom: 10px;
}

.petition_pledge_action .block-boxes-view-name-content_updates .followup-date h3 {
  font-size: 12px;
}

/* completed */

.petition_pledge_action .group_complete_fields {
  position: relative;
}

.petition_pledge_action .group_complete_fields .signature-progress-percent {
  background: url(/profiles/takepart/themes/takepart3/css/images/signature-progress-percent-completed-bg.png) left top no-repeat;
  height: 122px;
  width: 122px;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  font-weight: bold;
  text-align: center;
  line-height: 1;
  z-index: 2;
  position: absolute;
  left: 20px;
  top: 20px;
}

.petition_pledge_action .group_complete_fields .signature-progress-percent span {
  position: relative;
}

.petition_pledge_action .group_complete_fields .signature-progress-percent .percentage {
  display: block;
  font-size: 38px;
  padding-top: 32px;
}

.petition_pledge_action .group_complete_fields .signature-progress-percent .complete {
  display: block;
  font-size: 14px;
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
}

.petition_pledge_action .group_complete_fields .field-name-field-complete-heading {
  font-size: 36px;
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6dcbd;
  line-height: .75em;
  margin-bottom: 3px;
}

.petition_pledge_action .group_complete_fields .field-name-field-complete-message {
  padding-top: 20px;
  border-top: 1px solid #e6dcbd;
  margin-top: 3px;
  font-size: 13px;
}

.petition_pledge_action .group_complete_fields .group_complete_message {
  border: 1px solid #e6dcbd;
  padding: 28px 20px 7px 160px;
  margin-bottom: 20px;
  background: #fffaea;
}

/* closed */

.petition_pledge_action .field-name-field-closed-heading {
  color: #333;
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 3px;
  font-size: 18px;
}

.petition_pledge_action .field-name-field-closed-message {
  padding-top: 5px;
  border-top: 1px solid #CCC;
  margin-top: 3px;
}

/* pie stuff */

.pie_container .pie_slice_container {
  opacity: 0.2;
  filter: alpha(opacity=20);
  border-radius: 25px;
  width: 112px;
  height: 112px;
  left: 5px;
  top: 5px;
}

.pie_container .pie_slice {
  background: #000;
  border-radius: 56px;
}

.view-mode-medium-preview .pie_container .pie_slice_container {
  width: 53px;
  height: 53px;
  left: 4px;
  top: 4px;
}

.signature-progress-percent.pie_container .percentage .sign {
  font-size: .6em;
  font-weight: normal;
}

/* embeded action */

.embedaction-wrapper.petition_pledge_action {
  padding: 0;
}

.embedaction-wrapper .content-bottom {
  padding: 1px 20px 0 20px;
}

.embedaction-wrapper .field-name-field-short-introduction {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px dotted #CCC;
  padding-bottom: 20px;
}

.embedaction-wrapper .signature-action-taken {
  margin: 15px 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}

.embedaction-wrapper .field-name-field-action-sponsor {
  padding-bottom: 15px;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
  text-align: center;
}

.embedaction-wrapper .field-name-field-action-sponsor .field-label,
.embedaction-wrapper .field-name-field-action-sponsor .field-item,
.embedaction-wrapper .field-name-field-action-sponsor .field-items {
  display: inline;
  float: none;
  font-weight: normal;
  font-size: 11px;
}

.embedaction-wrapper .field-name-field-petition-recipient {
  margin: 10px;
  font-size: 13px;
  text-align: center;
  line-height: 1.5em;
}

.embedaction-wrapper .field-name-field-petition-recipient .field-label {
  float: none;
}

.embedaction-wrapper .field-name-field-petition-recipient .field-items {
  float: none;
  display: inline;
}
.embedaction-wrapper .group_more_or_less,
.embedaction-wrapper .more-or-less-link {
  padding: 0;
}
/*.embedaction-wrapper .field-name-field-petition-recipient .field-items .field-item:after {
  display: inline;
  content: ', ';
}

.embedaction-wrapper .field-name-field-petition-recipient .field-items .field-item:last-child:after {
  display: none;
  content: '';
}*/

.embedaction-wrapper .group-signature-progress {
  position: relative;
  height: 82px;
  padding-top: 1px;
  padding-left: 78px;
  background: #ECECEC;
  margin: 35px 0 35px 61px;
}

.embedaction-wrapper .group-signature-progress .signature-progress-percent {
  background: url(/profiles/takepart/themes/takepart3/css/images/signature-progress-percent-bg.png) left top no-repeat;
  height: 122px;
  width: 122px;
  color: #fff;
  text-shadow: 0 1px 0 #f66201;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  z-index: 2;
  position: absolute;
  top: -15px;
  left: -61px;
}

.embedaction-wrapper .group-signature-progress .signature-progress-complete-goal {
  color: #333;
  background-image: url(/profiles/takepart/themes/takepart3/css/images/signature-progress-percent-completed-bg.png);
  text-shadow: 0 1px 0 #fff;
}

.embedaction-wrapper .group-signature-progress span {
  position: relative;
}

.embedaction-wrapper .group-signature-progress .percentage {
  display: block;
  font-size: 38px;
  padding-top: 32px;
}

.embedaction-wrapper .group-signature-progress .complete {
  display: block;
  font-size: 14px;
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
}

.embedaction-wrapper .signature-progress-needed,
.embedaction-wrapper .signature-progress-days-left,
.embedaction-wrapper .signature-progress-goal {
  font-size: 14px;
  background: #ececec;
  text-shadow: 0 1px 0 #fff;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
  line-height: 1;
  width: 145px;
  border-left: 1px solid #d4d4d4;
  height: 82px;
  padding: 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.embedaction-wrapper .group-signature-progress .signature-progress-goal {
  padding: 0 15px;
  width: 115px;
}

.embedaction-wrapper .signature-progress-days-left,
.embedaction-wrapper .signature-progress-needed .count,
.embedaction-wrapper .signature-progress-goal .count {
  font-size: 24px;
}
.embedaction-wrapper .signature-progress-needed .count,
.embedaction-wrapper .signature-progress-goal .count {
  display: block;
}

/*.embedaction-wrapper .signature-progress-goal .count,*/
.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list {
  margin: 0 20px 0 20px !important;
  list-style: none !important;
  background: none !important;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 2;
  line-height: 32px;
  border-right: none;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li {
  background: none;
  border: none;
  margin: 0 !important;
  padding: 0;
  font-size: 14px;
  font-family: 'TradeGothicLTStdCnBold';
  text-transform: uppercase;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li strong {
  font-weight: normal;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li a,
.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected a {
  padding: 0 20px;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list .selected strong {
  color: #1CA9E7;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li a {
  color: #000;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background: transparent;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li a:hover strong {
  color: #1CA9E7;
}

.embedaction-wrapper .horizontal-tabs-list li {
  outline: none;
}

.embedaction-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected {
  border: 1px solid #CCC;
  border-bottom: none;
  background: #fff;
}

.embedaction-wrapper .horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 0 20px;
}

.embedaction-wrapper .horizontal-tabs-panes {
  border-top: 1px solid #CCC;
  position: relative;
  z-index: 1;
  margin-top: -1px;
}

.embedaction-wrapper .horizontal-tabs-panes fieldset {
  margin-top: 20px;
}

.embedaction-wrapper div.horizontal-tabs {
  border: none;
  margin: 0 -20px;
}

.embedaction-wrapper .thankyou,
.embedaction-wrapper .closed {
  margin: 0;
}

.field-name-field-signed-heading,
.field-name-field-thank-you-heading,
.embedaction-wrapper .thankyou h2 {
  color: #333;
  padding-bottom: 10px;
  font-family: 'TradeGothicLTStdCnBold',Helvetica,Arial,sans-serif;
  background: url(/profiles/takepart/themes/takepart3/images/tab/doubleLine.png) repeat-x bottom left;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
}

.field-name-field-thank-you-heading,
.field-name-field-signed-heading {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
.embedaction-wrapper .thankyou .addthis_toolbox {
  width: 240px;
  margin: 0 auto;
  padding-bottom: 20px;
}
#content .embedaction-wrapper .closed h2, /* selector override */
.embedaction-wrapper .closed h2 {
  color: #000;
}
.embedaction-wrapper .signature-form {
  padding: 0 0 10px 0;
}
.embedaction-wrapper .signature-form .field-type-list-text,
.embedaction-wrapper .signature-form .form-type-textfield,
.embedaction-wrapper .signature-form .form-type-checkbox,
.embedaction-wrapper .signature-form .form-actions {
  padding-left: 27px;
}

.embedaction-wrapper .signature-form .form-type-checkbox label.option {
  font-weight: normal;
}

.embedaction-wrapper .node-petition-action .form-item-display label,
.embedaction-wrapper .node-petition-action .form-item-newsletter label {
  padding-left: 0;
}

.embedaction-wrapper .signature-terms-of-use {
  text-align: center;
}

.embedaction-wrapper .signature-sign-button {
  width: 380px;
}

.field-name-field-action-sponsor .field-item:after,
.field-name-field-petition-recipient .field-item:after {
  content: ',\00a0';
  display: inline;
}

.field-name-field-action-sponsor  .field-item:last-child:after,
.field-name-field-petition-recipient .field-item:last-child:after {
  content: '';
  display: none;
}