/* 
    Document   : bsd_wrappers
    Created on : May 30, 2012, 11:23:53 AM
    Author     : marcgoldstein
    Description: Conditional styles for IE to render BSD wrappers
    (http://action.takepart.com/page/content/test)
*/

#join-login-top {
    text-align: right;
    display: block;
    width: 200px;
}