.view-id-slide_rotator .views-slideshow-pager-fields-render {
	margin-left:-5px;
}
.block-boxes-title-my-take .views-row {
	float:left;
	margin-right:10px;
}
.block-boxes-title-news-to-know .views-row {
	float:left;
	margin-right:20px;
}
.block-boxes-title-features .views-row {
	float:left;
    margin-right:14px;
}
.block-boxes-title-action-impact .views-row {
	float:left;
}
#user-nav li {
	display:block;
	float:left;
}
.header-mid .text {
  margin: 17px 0 16px 0;
}

.footer-column-wrapper .column li {
	list-style-position:outside;
}

