@media all and (max-width: 480px) {
  * {
    max-width: 100% !important;
  }


  /* Footer */
  #site-footer {
    background: #f1f3f4;
    display: inline-block; vertical-align: bottom;
    width: 100%;
  }

  #site-footer section {
    float: none;
    width: auto;
    padding: 1em;
    text-align: center;
  }

  #site-footer ul {
    text-align: center;
  }

  #site-footer #site-about {
    text-align: center;
  }

  #site-footer li {
    display: inline;
    margin: 0;
  }

  #site-footer #site-connect li {
    margin-right: 5px;
  }

  #site-footer li a {
    padding: 0 1em;
    display: inline-block;
  }
}
