#header-wrapper {
	background-color: #d9e8ef;
	height: auto;
	position: relative;
	margin: 0 0 8px 0;
	padding-right: 5px;
	padding-left: 42px;
	padding-bottom: 2px;
}

.header-right #nav-wrap {
	margin: 0;
}

#top-follow-wrapper .top-follow-label,
#participant-pulldown,
#hot-topics-nav,
#dontmiss-nav {
	display: none;
}

.user-menu-my.account {
	white-space: nowrap;
	width: 63px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

#logo {
	width: auto;
	top: 0;
}

#logo a {
	background: url(../images/logo-sm-slim.png) no-repeat;
	display: block;
	height: 42px;
	text-indent: 100%;
	width: 42px;
	position: static;
	overflow: hidden;
}

.header-right {
	width: auto;
	float: left;
	margin-left: 0;
}

#block-menu-block-1 li {
	text-align: left;
	list-style: none;
	list-style-image: none;
	margin-left: 0;
	float: left;
	font-family: 'TradeGothicLTStdCnBold';
	font-size: 15px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.02em;
	padding: 8px 0 0 0;
}

#block-menu-block-1 li.dhtml-menu a {
	background: none;
	color: #000;
	background: url(/profiles/takepart/themes/takepart3/images/dot-bbg.png) no-repeat right 7px;
	padding: 0 11px 0 4px;
	white-space: nowrap;
}

#block-menu-block-1 li.last a {
	background-image: none;
}

#block-menu-block-1 li.dhtml-menu a:hover {
	color: #000;
	background: url(/profiles/takepart/themes/takepart3/images/dot-bbg.png) no-repeat right 7px;
}

#block-menu-block-1 li.dhtml-menu.last a:hover {
	background-image: none;
}

.header-right .row2 {
	clear: none;
	float: left;
}

.header-right .row2:after {
	display: none;
}

#block-menu-block-1 {
	width: auto;
}

#top-search .form-text,
#top-search .form-text:focus {
	width: 115px;
	height: 16px;
}

body.logged-in #top-search .form-text,
body.logged-in #top-search .form-text:focus {
	width: 90px;
}

#top-search {
	width: auto;
	padding-top: 7px;
}

#top-follow-wrapper {
	margin-right: 5px;
}

#block-menu-block-1 li.dhtml-menu {
	height: auto;
}

form#search-api-page-search-form-2 {
	margin: 0;
}

#search-api-page-search-form-site-search div {
	display: block;
}

form#search-api-page-search-form-site-search {
	margin-top: 0;
}

/* Iframed responsive header ---------------- */

.page-wordlet-iframed-header {
	background: transparent;
}

#header-wrapper {
	font-family: sans-serif;
}

#footer {
	font-family: sans-serif;
	font-size: 12px;
}

a {
	color: #1CA9E7;
}