/**
* Primary style sheet for TakePart.com
* organized by section (===SECTION===).
* @todo: seperate files?
/* COLORS
    - primaries:
    - default body text  #000000
    - #1ca9e7
    - #ffffff
    - secondary slates:
    - #99bbcc
    - #d9e7ee
    - #eff3f5
    - secondary grays:
    - #666666
    - #cccccc
    - #ededed
    -  accents:
    - #ffca00
    - #fdab30
*/
/* FONTS
    - default body text  Arial, "Helvetica Neue", Helvetica, sans-serif
    - secondary default  "Century Gothic", sans-serif;
*/
/* ===GLOBAL=== */
/* ------------------------------------------------------------------------*/
body
{
    background:#eff3f5 url(../images/bg-page2.jpg) no-repeat top center;
    color:#333;
    font-size:12px;
    font-family:Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
}

body.node-type-takepart-campaign.multipage-campaign {
    background: #eff3f5 url(../images/2012-02-08/bg-page-cv.png) repeat-x 0 0;
}

#join-login-top a.user-menu-register {
    display: inline-block;
    white-space:nowrap;
}

/*slim header navigation*/
#slim-header ul.menu li {
    float: none;
    float: left;
    font-family: 'NewsGothicBoldCondensed';
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.05em;
    list-style-type: none;
    text-align: center;
    padding: 8px 0 0 0;
} 

#slim-header ul.menu li a {
    background: none;
    color: #000;
    background: url(../images/dot.png) no-repeat 0 7px;
    padding: 0 10px;
    white-space:nowrap;
}

ul.dots li
{
  cursor:pointer;
}

body.multipage-campaign {
    
}

a {
    text-decoration:none;
    color:#1CA9E7;
}

a:hover {
    text-decoration:underline;
}
/*page structure*/
#page-wrapper
{
    margin:0 auto;
    width:1001px;
}

#header
{
    margin:0;
    position:relative;
}

#header-wrapper
{
    margin:0;
    position:relative;
}

#page
{
    background:#FFF;
    clear:both;
}

.page
{
    padding:35px 20px;
}

.node-type-takepart-campaign #page.page-multipage
{
    padding-left:20px;
}

#page.page-multipage
{
    /*padding:0px;*/
    padding-right:0;
    /*padding-top: 0;*/
    padding-left:0;
}

.main-content
{
    width:619px;
    float:left;
}

#footer {
    border-top:1px dotted #000;
    margin-bottom:0px;
    background:#FFF;
    overflow: auto;
}

.col-140
{
    width:140px;
}

.col-460
{
    width:460px;
}

body.two-sidebars #left-rail,body.sidebar-first #left-rail
{
    display:inline-block;
    width:145px;
}


body.two-sidebars #content .block-boxes-delta-main {
	display: none;
}


body.two-sidebars #content, body.sidebar-first #content
{
    display: inline-block;
    margin-left: 155px;
    margin-right: -621px;
    vertical-align: top;
    width: 467px;
}

.header-right
{
    width:878px;
    float:left;
    margin-left:125px;
}

.field-name-field-tp-campaign-intro-media { 
	display: block;
	margin-bottom: 20px;
}

.main-content
{
    width:640px;
}

/* tag formatting */
/* reset default padding and margin: */
ul,ol,li,h1,h2,h3,h4,h5
{
    margin:0;
    padding:0;
}

p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 1em;
    color:#000;
}

h3 {
    color: #000;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 4px;
}

.view-campaigns.view-dom-id-2 .view-content ul li,
.view-campaigns.view-dom-id-3 .view-content ul li {
    display: inline-block;
    margin: 0 0 30px 7px;
    padding: 0;
    vertical-align: top;
    width: 150px;
}

.view-campaigns.view-dom-id-2 .view-content ul,
.view-campaigns.view-dom-id-3 .view-content ul{  
    margin-bottom: 0;
    margin-left: -12px;
    margin-top: 0;
    padding: 0;
}



/* list-item markers should appear inside */
ul,ol
{
    list-style:inside;
}

/* floating rules */
.clear
{
    clear:both;
}

.clearfix:after
{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix
{
    display:inline-block;
}

.clearfix
{
    display:block;
}

/* remove link outlines on older versions of firefox */
:-moz-any-link:focus
{
    outline:none;
}

/*slideshow rotator text block*/
.views-field-field-slide-headline-override
{
    color:#000;
    margin-top:-88px;
}

/*slideshow rotator text block href, height 85px*/
.views-field-field-slide-headline-override .field-content a
{
    padding:16px;
    text-decoration:none;
    height:52px;
    background:url(../images/2012-02-08/white_transparency.png) transparent;
    color:#000;
    line-height:24px;
    font-size:24px;
    display:inline-block;
    width:608px;
    font-weight:bold;
}

.views-field-field-slide-headline-override .field-content a:hover
{
    color:#1CA9e7;
}

/*image rotator dot styles
@todo: styles may need to be adjusted for IE:*/
.views-field-field-slide-headline-override .field-content ul.dots
{
    margin:-79px 8px;
    padding:0;
    position:absolute;
    right:0;
}

.views-field-field-slide-headline-override .field-content ul.dots li
{
    text-align:left;
    float:left;
    list-style:none;
    padding:3px 8px;
    margin:5px;
    height:16px;
}

.views-field-field-slide-headline-override .field-content ul.dots li.active
{
    background:url(../images/2012-02-08/blue_dot.png) no-repeat scroll 0 0 transparent;
}

.views-field-field-slide-headline-override .field-content ul.dots li.inactive
{
    background:url(../images/2012-02-08/white_dot.png) no-repeat scroll 0 0 transparent;
}

/*image rotator gallery arrow styles*/
#views_slideshow_controls_text_photo_gallery-block
{
    width:640px;
    left:0;
    height:68px;
    top:180px;
    position:absolute;
    z-index:12;
}

#views_slideshow_slide_counter_photo_gallery-block
{
    display:none;
}

#views_slideshow_controls_text_next_photo_gallery-block,#views_slideshow_controls_text_previous_photo_gallery-block
{
    cursor:pointer;
    width:40px;
    display:block;
    height:68px;
}

#views_slideshow_controls_text_next_photo_gallery-block a,#views_slideshow_controls_text_previous_photo_gallery-block a
{
    display:none;
}

#views_slideshow_controls_text_previous_photo_gallery-block
{
    background:url(../images/2012-02-08/gallery_left_arrow.png) no-repeat scroll 0 0 transparent;
    float:left;
}

#views_slideshow_controls_text_next_photo_gallery-block
{
    background:url(../images/2012-02-08/gallery_right_arrow.png) no-repeat scroll 0 0 transparent;
    float:right;
}

/*top menu fonts*/
#block-menu-block-1 li
{
    float:left;
    font-family:NewsGothicBoldCondensed;
    list-style-type:none;
    list-style-image:none;
    letter-spacing:.05em;
    text-align:left;
    font-size:24px;
    text-transform:uppercase;
    font-weight:400;
    margin:0;
    padding:0;
    letter-spacing:2px;
}

/*Added for IE 7 */
#block-menu-block-1 li a
{
    font-family:NewsGothicBoldCondensed;
}

/*spacing between menu items*/
#block-menu-block-1 li.dhtml-menu
{
    margin-left:10px;
}

.views-field-field-slide-headline-override .field-content ul.dots li
{
    text-align:left;
    float:left;
    list-style:none;
    padding:3px 8px;
    margin:5px;
    height:16px;
}

.views-field-field-slide-headline-override .field-content ul.dots li.active
{
    background:url(../images/2012-02-08/blue_dot.png) no-repeat scroll 0 0 transparent;
}

.views-field-field-slide-headline-override .field-content ul.dots li.inactive
{
    background:url(../images/2012-02-08/white_dot.png) no-repeat scroll 0 0 transparent;
}

/*hide slide rotator, default in view*/
#widget_pager_bottom_slide_rotator-block
{
    display:none;
}

.block-boxes-title-features .views-field-title a, 
.block-boxes-title-features .views-field-field-article-subhead a,
.block-boxes-title-features .views-field-nid span a
{
    color:#000;
    line-height:20px;
    font-weight: bold;
    text-decoration:none;
}

.block-boxes-title-features .views-field-nid span a:hover
{
    color:#1CA9E7;
    text-decoration:none;
}



.block-boxes-title-features .views-field-title, 
.block-boxes-title-features .views-field-field-article-subhead, 
.block-boxes-title-features .views-field-field-page-subhead,
.block-boxes-title-features .views-field-nid,
.block-boxes-title-features .views-field-field-promo-text
{
    font-size:15px;
    padding:6px;
}

.main-content .block-boxes-title-features .views-row:hover .views-field-title a, .main-content .block-boxes-title-features .views-row:hover .views-field-field-article-subhead a
{
    color:#1ca9e7;
    text-decoration:none;
}

.main-content .block-boxes-title-features .views-row-4, .main-content .block-boxes-title-features .views-row-7, .main-content .block-boxes-title-features .views-row-10 {
	clear:both;
}

.campaign-link
{
    background:url(../images/2012-02-08/hash.png) no-repeat scroll 0 0 transparent;
    clear:both;
    color:#FFF;
    display:inline-block;
    float:left;
    font-size:25px;
    font-weight:700;
    height:19px;
    line-height:19px;
    padding:1px 0 0 7px;
    text-align:center;
    width:23px;
}

.main-content p a:hover
{
    border-bottom:1px dotted #09C;
    text-decoration:none;
}

.main-content p a
{
    color:#09C;
    text-decoration:none;
}

.main-content .drupal-embed .node-openpublish-photo-gallery .field-name-field-promo-headline {
    font-size:16px;
    margin:0 0 10px 0;
    font-weight:bold;
}


.field-name-field-tp-campaign-cover-link .field-item {
    background: url("/profiles/takepart/themes/takepart3/images/2012-02-08/takeparticons_films.png") no-repeat scroll left top transparent;
    height: 40px;
    padding-top: 3px;
    width: 145px;
}

.node-type-takepart-campaign .field-name-field-tp-campaign-cover-link .field-item a {
    font-size: 13px;
    margin: 0 0 0 40px;
    padding-right: 15px;
}

.node-type-section-front .main-content .block-boxes-current-promo .content {
  background-color: #EFF3F5;
  width: 640px;
}

.node-type-section-front-wide .main-content h2 {
    color: #99BBCC;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
}

.node-type-section-front-wide .view-campaigns {
	 border-bottom: medium none;
}

.node-type-section-front-wide .view-campaigns.view-display-id-block_1 {
	margin: 30px 0 0;
}


.field-name-field-tp-campaign-cover-link .field-item a {
    background: url("/profiles/takepart/themes/takepart3/images/white-arrow.png") no-repeat scroll right 2px transparent;
    color: #1CA9E7;
    display: block;
    font-weight: bolder;
    margin: 14px 24px;
    padding-right: 15px;
}

/* ===CONTENT TYPES=== */
/* ------------------------------------------------------------------------*/
.section_front_wide .main-content
{
    width:auto;
}

/* ===PAGE HEADER=== */
/* ------------------------------------------------------------------------*/

ul#top-follow li a {
    display: block;
    height: 18px;
    width: 18px;
    text-indent: -9000px;
    margin-left: 8px;
}

.header-mid
{
    float:left;
    width:450px;
}

.header-mid .text
{
    margin:17px 0;
    line-height:12px;
}

#join-login-top a,#slim-header.multipage-campaign #join-login-top #user-nav a
{
    color:#000;
    font-weight:700;
    line-height:15px;
}

#slim-header {
    background-color: #d9e8ef;
}

#slim-header #join-login-top
{
    float:left;
    font-size:11px;
}

/*slim header width*/
#slim-header #nav-wrap {
    background: none;
    float: left;
    min-width: 566px;
    margin-left: 50px;
}

/* ===PAGE FOOTER=== */
/* ------------------------------------------------------------------------*/
/* ===MAIN BODY=== */
/* ------------------------------------------------------------------------*/
/* headers in main body */

h1.title a
{
    color:#000;
    text-decoration:none;
}

h1.title a:hover {
    color:#1CA9E7;
}

.node-type-openpublish-video .main-content h1.title,
.node-type-openpublish-article .main-content h1.title {
    font-size:42px;
    font-family:Helvetica, Arial, sans-serif;
    line-height:44px;
    font-weight:bold;
    color:#000;
    margin-bottom:10px;
}

.node-type-takepart-page .main-content h1.title,
.node-type-action .main-content h1.title,
.node-type-takepart-campaign h1.title {
    font-size:36px;
    font-family:Helvetica, Arial, sans-serif;
    line-height:38px;
    font-weight:bold;
    color:#000;
    margin-bottom:10px;
}

.node-type-section-front .main-content h1.title, 
.node-type-section-front-wide .main-content h1.title {
    font-size:30px;
    font-family:Helvetica, Arial, sans-serif;
    line-height:32px;
    font-weight:bold;
    color:#000;
    margin-bottom:10px;
}

.node-type-topic-front .main-content h1.title {
    font-size: 26px;
    font-family: NewsGothicBoldCondensed, sans-serif;
    line-height: 26px;
    font-weight: 300;
    background: url("../images/2012-02-08/45deg_lines_large.gif") repeat-x scroll left center transparent;
    border-top: 1px dotted #000000;
    margin: 0 0 2px 0;
    padding: 8px 0;
    width: 100%;
    text-transform: uppercase;
}

.node-type-topic-front .main-content h1.title a {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 9px 0 0;
    color: #99BBCC;
}

.main-content h1 {
    font-family:Helvetica, Arial, sans-serif;
    font-size:18px;
    line-height:18px;
    font-weight:400;
    color:#9BC;
}

.main-content h2
{
    font-family:Helvetica, Arial, sans-serif;
    font-size:18px;
    line-height:18px;
    font-weight:normal;
    text-transform:uppercase;
    color:#9BC;
}

.node-type-takepart-page .main-content h2 {
    font-size:22px;
    color:#000;
    line-height: 120%;
    margin-bottom: 12px;
}
/* headers in blocks in main body */
.main-content .node-topic-front h2,
.main-content .block-boxes h2,
.main-content .block-boxes-title-features h2
{
    border-top:1px dotted #000;
    height:20px;
    margin:0;
    padding:8px 0;
    background:url(../images/2012-02-08/45deg_lines_large.gif) repeat-x scroll left center transparent;
}

.main-content .node-topic-front h2 span,
.main-content .block-boxes-title-features h2 span,
.main-content .block-boxes h2 span
{
    padding:0 9px 0 0;
    background:none repeat scroll 0 0 #FFF;
    text-transform: uppercase;
    font-weight: 300;
}

.block-boxes-title-primary {
    
}

.main-content .block-boxes-title-features .content,
.main-content .block-boxes-title-secondary-features .content
{
    background-color:#eff3f5;
}

/*featured blocks, img gallery styles */
.main-content .block-boxes-title-features .views-row,
.main-content .block-boxes-title-secondary-features .views-row {
    display:table;
    background-color:#FFF;
    margin:5px;
    vertical-align:top;
    width:200px;
    float:left;
}

.main-content .block-boxes-title-secondary-features .views-row {
    height:350px;
    overflow: hidden;
    margin:10px 5px;
}
.main-content .block-boxes-title-secondary-features .views-field-field-thumbnail img {
    width:200px;
    height:150px;
    border:none;
}

.main-content .block-boxes-title-features .view-content {
    padding:5px;
}

.main-content .block-boxes-title-secondary-features .views-field-php {
    font-size: 16px;
    padding:0 5px;
}
.main-content .block-boxes-title-secondary-features .views-field-field-promo-text {
    padding:0 5px;
    font-size: 13px;
    line-height: 15px;
}
.main-content .block-boxes-title-secondary-features .views-field-php {
    margin:10px 0 0 0;
}
.main-content .block-boxes-title-features .views-field-field-thumbnail-1
{
    overflow:visible;
    position:relative;
    width:0;
}

.main-content .block-boxes-title-features .views-field-field-thumbnail-1 .field-content
{
    height:150px;
    width:200px;
    overflow:hidden;
}

.main-content .block-boxes-title-features .views-field-field-thumbnail-1 .field-content img
{
    width:200px;
}

/*hover state*/
.main-content .block-boxes-title-features .views-row:hover
{
    border:3px solid #14ade7;
    margin:2px;
}

.main-content .block-boxes-title-features .action:hover
{
    border:3px solid #f7c806 !important;
    margin:2px;
}

.main-content .block-boxes-title-features .action .views-field-field-display-tag .field-content {
    background-color: #f7c806 !important;
}

.main-content .block-boxes-title-features .views-row:hover .views-field-field-thumbnail-1 .field-content img
{
    position:relative;
}

/*jcarousel overrides */
.main-content .views-slideshow-controls-bottom .jcarousel-skin-takepart .jcarousel-container-horizontal {
    padding: 20px 33px;
    width: 574px;
}

.main-content .views-slideshow-controls-bottom .jcarousel-skin-takepart ul li {
	margin: 0;
}

.main-content .block-boxes-title-features .views-field-field-display-tag
{
    height:0;
    overflow:visible;
    position:relative;
    z-index:100;
    position:absolute;
}

.main-content .block-boxes-title-features .views-field-field-display-tag .field-content
{
    background-color:#9BC;
    color:#FFF;
    display:inline-block;
    font-size:11px;
    font-weight:700;
    line-height:18px;
    text-transform:uppercase;
    margin-top:127px;
    padding: 2px;
}

/* ===RIGHT RAIL=== */
/* ------------------------------------------------------------------------*/

#right-rail  .field-name-field-tp-campaign-sponsors {
    border-top: 3px solid black;
}

#right-rail  .block-boxes-title-sponsored-by .field-name-field-tp-campaign-sponsors {
    border-top:none;
    padding:0 15px 15px;
    overflow:hidden;
}

#right-rail .field-name-field-blog-view a
{
    color:#000;
    font-size:13px;
    font-weight:700;
    text-decoration:none;
}

#right-rail
{
    width:300px;
    float:right;
}

#right-rail .block
{
    margin-bottom:15px;
    border:solid 4px #eff3f5;
    padding:10px;
}
#right-rail .block-boxes-title-take-action,
#right-rail .block-boxes-current-related_actions 
{
    margin-bottom:15px;
    border:solid 4px #FFE789;
    padding:10px;
}

/*override block formatting for ads*/
#right-rail .block-boxes-ga_ad
{
    border-width:0;
    padding:0;
    padding-top:12px;
    background:url(../images/2012-02-08/right_title_advertisement.gif) no-repeat scroll 0 0 transparent;
}

/*fir formating for 'our blogs' headers*/
#right-rail .block-boxes-title-our-blogs h2
{
    background:url(../images/2012-02-08/right_title_our_blogs.gif) no-repeat scroll 7px 0 transparent;
    display:block;
    height:61px;
}

/*float images in blog box*/
#right-rail .view-blog-posts .views-field
{
    float:left;
}

#right-rail .block-boxes-title-our-blogs div.content h2
{
    height:auto;
    margin:16px 0;
    text-transform: uppercase;
}

/*limit area to 260px*/
#right-rail .block-boxes-title-our-blogs div.content
{
    padding:0 4px;
}

/*fahrner image replacement:*/
#right-rail .block-boxes-title-our-blogs h2 span
{
    display:none;
}

/*override block formatting for content inside 'our blogs'*/
#right-rail .block-boxes-title-our-blogs .content h2
{
    background:url(../images/2012-02-08/45deg_lines.gif) repeat-x scroll 0 0 transparent;
    line-height:11px;
}

/*block content header text*/
#right-rail h2 a
{
    font-size:18px;
    font-family:Helvetica, Arial, sans-serif;
    color:#9BC;
    text-decoration:none;
    font-weight:300;
    padding:0 9px 0 0;
}

/*override block formatting for content header text*/
#right-rail .block-boxes-title-our-blogs .content h2 a
{
    background:none #FFF;
}

#right-rail .block-boxes-title-our-blogs .content h2
{
    line-height:11px;
}

#right-rail .view-blog-posts .views-field-title
{
    width:172px;
}

#right-rail .field-name-field-blog-view .more {
    margin-left: -40px;
    margin-top: -36px;
    position: absolute;
}

#right-rail .field-name-field-blog-view .more a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #1CA9E7;
    display: block;
    padding: 6px;
    width: 44px;
}

#right-rail .field-name-field-blog-view .more a:hover {
    text-decoration:underline;
}

#right-rail .view-blog-posts .view-content
{
    width:256px;
}

#right-rail .views-field-field-thumbnail
{
    clear:left;
    margin-right:14px;
}

#right-rail h2
{
    color:#9BC;
    font-family:Helvetica,Arial,sans-serif;
    font-size:18px;
    font-weight:lighter;
    line-height:100%;
    text-transform: uppercase;
    background:  url(../images/2012-02-08/45deg_lines_large.gif) repeat-x scroll top right transparent;
    margin: 0;
}

#right-rail .block-boxes-current-photo_galleries h2 {
    margin: 0 0 12px 0;
}

#right-rail h2 span
{
    background: none repeat scroll #FFF;
    border-right: 5px solid #FFF;
    padding: 2px 5px 2px 0;
    text-transform: uppercase;
}

#right-rail .block-boxes-title-take-action h2 {
    height:19px;
    width: 100%;
    background: url(../images/rr_take_action.png) no-repeat scroll 0 0 transparent;
}

#right-rail .block-boxes-title-take-action h2 span {
    display:none;
}
#right-rail .block-boxes-title-popular-galleries .content {
    	border:none;
	padding:0;
}

#right-rail .views-field-field-promo-headline {
    margin:0;
}

#right-rail .views-field-field-promo-text {
    margin:0;
}
.takepart-newsletter-form label {
    display: none;
}
/** Topics **/
.node-topics
{
    border-top:none;
    border-bottom:1px dotted #555;
    clear:both;
    padding:14px 25px 14px 70px;
    margin-top:0;
}

.node-topics a
{
    text-decoration:none;
    font-size:14px;
    color:#1ca9e7;
}

.node-topics-label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 0;
    left: -55px;
    overflow: visible;
    position: relative;
}

.submitted-wrapper a {
    color:#1CA9E7;
}

.views-field-field-promo-headline {
    font-size: 14px;
    margin-bottom: 10px;
}

.views-field-field-promo-headline a {
    color: #000;
    font-weight: bold;
    text-decoration:none;
}
.views-field-field-promo-headline a:hover {
    color:#1ca9e7;
}

#hot-topics-nav li a {
    color: #000;
    padding-left: 15px;
    padding-right: 12px;
    background: url(../images/dot.png) no-repeat 0 4px;
    text-decoration: none;
}

#footer .column-title {
    color: #99BBCC;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0 9px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-column-wrapper {
    float:left;
    border-left: 1px solid #D9E7EE;
    margin: 20px;
    padding: 0px 10px;
    width: 160px;
}

#footer-topic-links {
    width:270px;
}

#footer-links-share {
    border-left:none;
}

.footer-column-wrapper .column li, ul#global-links li {
    margin: 5px 0;
}

#footer .column {
    float: left;
    width:50%;
}

#footer ul#bottom-follow li {
    float: left;
    list-style-type: none;
    margin: 0;
}

#footer ul#bottom-follow li a {
    display: block;
    height: 24px;
    width: 24px;
    text-indent: -9000px;
    margin-right: 8px;
}

#footer ul#bottom-follow li.fb a {
    background: url(../images/2012-02-08/facebook.jpg) no-repeat 0;
}

#footer ul#bottom-follow li.twitter a {
    background: url(../images/2012-02-08/twitter.jpg) no-repeat 0;
}

#footer ul#bottom-follow li.youtube a {
    background: url(../images/2012-02-08/youtube.jpg) no-repeat 0;
}

#footer ul#bottom-follow li.rss a {
    background: url(../images/2012-02-08/rss.jpg) no-repeat 0;
}

.footer_rule {
    background: url("../images/2012-02-08/45deg_lines_large.gif") repeat-x scroll 0 8px #FFFFFF;
    display: block;
    height: 25px;
}

.main-content .block-boxes h2, .main-content .block-boxes-title-features h2 {
    background: url("../images/2012-02-08/45deg_lines_large.gif") repeat-x scroll left center transparent;
    border-top: 1px dotted #000000;
    margin: 8px 0;
    padding: 12px 0 6px 0;
}

.node-type-takepart-campaign .main-content .block-boxes h2 {
    background: none;
    border-top: none;
    text-transform: none;
    margin 0px;
    height: 14px;
    font-weight: bold;
}

.node-type-takepart-campaign .main-content .field-name-field-tp-campaign-subheadline {
	border-bottom: medium none;
}

.node-type-takepart-campaign .field-name-field-tp-campaign-subheadline {
    padding-bottom: 0px;
}



.node-type-takepart-campaign .main-content .field-items p {
	margin: 0px;
}

#footer-about p {
    clear: both;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 4px;
    line-height: 13px;
    padding-top: 100px;
}

#footer-legal {
    font-size: 11px;
}

#footer-links {

}

#block-menu-block-1 li.dhtml-menu > ul.menu li {
    padding:0;
    margin:0;
}

#bottom-follow {
    display: block;
    padding-top:4px;
}

#hot-topics-nav li.title {
    text-transform: uppercase;
    font-weight: 300;
    color: #99BBCC;
    padding-left: 0;
    padding-right: 10px;
    border: none;
    margin-left: 15px;
}

.view-id-slide_rotator {
    border-top: 1px dotted #000000;
    overflow: hidden;
    padding-top: 15px;
}

.main-content  .drupal-embed .node-openpublish-photo-gallery {
   border: 3px solid #14ADE7 !important;
   padding: 10px;
}

.main-content .drupal-embed .node-openpublish-photo-gallery .field-name-field-promo-headline {
  color: #99BBCC;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0 9px 0 0;
  text-decoration: none;
  text-transform: uppercase;
}

.main-content .drupal-embed .node-openpublish-photo-gallery .views-row a{
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    text-transform: none;
}

.main-content .block-boxes-bid-takepart_custom-page_title_h1 h1.title span {
	color: #000000;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 44px;
}

.main-content .views-slideshow-controls-top { 
	z-index: 12;
}

body.node-type-takepart-campaign .main-content #content,
body.node-type-takepart-campaign .main-content #left-rail {
    padding-bottom: 20px;
    padding-left: 5px;
    float: left;
}



/* ===LEFT RAIL=== */
/* ------------------------------------------------------------------------*/
.node-type-takepart-campaign #left-rail {
    padding-left: 20px;
}