.node-petition-action input.form-text,
.node-pledge-action input.form-text {
	width: 306px;
	/*height: 30px; per comp */
}


.node-petition-action label {
    padding-right: 8px;
    /* line-height: 40px; per comp */
}

.node-petition-action input.signature-sign-button {
  font-family: Helvetica, Arial, sans-serif;
	background: url(../images/2012-08-07/petition_sign_button_good.png) no-repeat scroll 0 0 transparent;
	border: 0 none;
	width: 318px;
	height: 56px;
  padding: 0;
  cursor: pointer;
}

.node-petition-action input.signature-sign-button:hover {
    background-position: 0 -56px;
    border: 0 none;
    box-shadow: none;
}

.node-petition-action h1.signature-heading {
	background: url(../images/2012-08-07/sign_petition_banner_600x47.png) no-repeat scroll 0 0 transparent
}

.node-petition-action .view-petition-signature-list tbody tr.even, tr.odd {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e1e5e6;
    padding: 0.1em 0.6em;
    height: 32px;
}

.node-petition-action .view-petition-signature-list thead th {
    border-bottom: 0 none;
}

.node-petition-action .view-petition-signature-list tbody {
    border-top: 0 none;
}

.node-petition-action .view-petition-signature-list table {
    width: 100%;
}

.node-petition-action .view-petition-signature-list .views-field-field-sig-first-name {
    font-weight: bold;
}

.node-petition-action input.form-checkbox,
.node-petition-action input.form-radio ,
.node-pledge-action input.form-checkbox,
.node-pledge-action input.form-radio{
    margin: 2px 6px 2px 6px;
}
.node-petition-action .form-type-checkbox label,
.node-pledge-action .form-type-checkbox label {
  padding: 0;
}
.node-petition-action .signature-terms-of-use {
    margin-left: 188px;
}
/*
.node-petition-action .group-sign-the-petition .form-item, .node-petition-action .form-actions {
    margin-left: 0px;
}
*/
.node-petition-action .group-petition-tabs .horizontal-tabs-panes {
	padding-bottom: 1px;
}

.node-petition-action .field-group-htabs-wrapper {
	margin-left: 0px;
}

.node-petition-action .field-name-field-sig-state input {
    width: 308px;
}

.node-petition-action #edit-signature-display-disclaimer {
	margin-left: 160px;
}

.node-petition-action .group-petition-tabs .horizontal-tabs-panes {
	padding: 11px 10px 1px;
}

.node-petition-action .form-item, .node-petition-action .form-actions {
	margin-left: 0;
}

.node-petition-action .embedaction-content h1.signature-heading {
    display: none;
}

.node-petition-action select,
.node-pledge-action select {
    width: 312px;
}
.node-petition-action .selectable-address-group select,
.node-pledge-action .selectable-address-group select {
    width: 200px;
}
.node-petition-action .english-spanish-signature-form .selectable-address-group select,
.node-pledge-action .english-spanish-signature-form .selectable-address-group select {
    width: 312px;
}
.node-petition-action .english-spanish-signature-form .selectable-address-group .selectable-address-link,
.node-pledge-action .english-spanish-signature-form .selectable-address-group .selectable-address-link {
  display: block;
  line-height: 1.5em;
  padding: 3px 0 0 108px;
  line-height: 1.5em;
}