/* # Header Banner
================================================== */
.region-highlighted .block-block .content {
  font-size: 0;
}

/* # Header Navigation
================================================== */
.block-menu.block-boxes-bid-menu-menu-tastemakers ul.menu li {
  padding: 0 14px;
}
.block-menu.block-boxes-bid-menu-menu-tastemakers ul.menu li a:hover {
  color: rgb(253, 96, 90);
}