@font-face {
    font-family: 'TradeGothicLTStdCnBold';
    src: url('webfonts/tradegothicltstd-bdcn20-webfont-webfont.eot');
    src: url('webfonts/tradegothicltstd-bdcn20-webfont-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}