/* #Node Resets/Overrides
================================================== */
.node-type-venue {
  font-family: Helvetica, sans;
}
.node-type-venue p {
  line-height: 1.5em;
}
.node-type-venue .submitted-wrapper .field {
  display: inline-block; *display: inline; *zoom: 1;
  float: none;
}
.node-type-venue #content .horizontal-tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.node-type-venue #content .horizontal-tabs-list li {
  margin: 0;
  padding: 0;
}

/* #Pager
================================================== */
.node-type-venue .block-boxes-view-name-venue_pagination,
.node-type-venue .block-boxes-view-name-venue_pagination_bottom {
  position: relative;
  border-width: 1px 0;
  border-color: #000;
  border-style: dotted;
  padding: 8px 0;
  margin-bottom: 16px;
}
.node-type-venue .block-boxes-view-name-venue_pagination .title,
.node-type-venue .block-boxes-view-name-venue_pagination_bottom .title {
  font-weight: bold;
  text-transform: uppercase;
}
.node-type-venue .block-boxes-view-name-venue_pagination a,
.node-type-venue .block-boxes-view-name-venue_pagination_bottom a {
  color: #000;
}
.node-type-venue .freepager-previous a,
.node-type-venue .freepager-next a {
  position: relative;
  z-index: 1;
  display: inline-block; *display: inline; *zoom: 1;
  height: 30px;
  cursor: pointer;
}
.node-type-venue .freepager-previous a {
  background: url('../images/venue/pager_prev.png') no-repeat 0 0;
  padding-left: 35px;
}
.node-type-venue .freepager-next a {
  background: url("../images/venue/pager_next.png") no-repeat right 0;
  padding-right: 35px;
  text-align: right;
}
.node-type-venue .freepager-previous a:hover{
  background-position: 0 -70px;
}
.node-type-venue .freepager-next a:hover{
  background-position: right -70px;
}
.node-type-venue .freepager-next a span,
.node-type-venue .freepager-previous a span {
  display: block;
}
.node-type-venue .freepager-next a:hover,
.node-type-venue .freepager-previous a:hover {
  color: rgb(253, 96, 90);
  text-decoration: none;
}
.node-type-venue .freepager-current {
  width: 100%;
  position: absolute;
  top: 16px;
  color: rgb(122, 122, 122);
}

/* #Heading
================================================== */
.node-type-venue {
  position: relative;
}
.node-type-venue h1.title {
  padding: 0 0 13px;
}
.node-type-venue h1.title span {
  font-family: Helvetica,Arial,sans;
  color: #000;
  font-size: 26px;
  line-height: auto;
  font-weight: bold;
}

/* #Image Area
================================================== */
.node-type-venue .field-name-field-main-image {
  padding-bottom: 20px;
}

/* #Tabs & Title
================================================== */
.node-type-venue .field-name-field-name {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  color: #000000;
}
.node-type-venue .horizontal-tabs {
  border: 0;
}
.node-type-venue #content .horizontal-tabs-list {
  vertical-align: middle;
  background: transparent;
  width: auto;
  border: 0;
}
.node-type-venue #content .horizontal-tabs-list li {
  background: transparent;
  border: 0;
  margin: 0 5px;
  min-width: 0;
  outline: 0;
}
.node-type-venue #content .horizontal-tabs-list li a {
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, .2); /* Firefox */
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, .2); /* Safari, Chrome */
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .2); /* CSS3 */
}
.node-type-venue #content .horizontal-tabs-list li.selected a,
.node-type-venue #content .horizontal-tabs-list li a:hover {
  -moz-box-shadow: 0 0 0; /* Firefox */
  -webkit-box-shadow: 0 0 0; /* Safari, Chrome */
  box-shadow: 0 0 0; /* CSS3 */
}
.node-type-venue #content .horizontal-tabs-list li a,
.node-type-venue #content .horizontal-tabs-list li a:hover {
  background: url('../images/venue/tab_button.png') no-repeat;
  padding: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -khtml-border-radius: 2px;
  width: 59px;
}
.node-type-venue #content .horizontal-tabs-list li a:hover {
  background: rgb(253, 96, 90);
}
.node-type-venue #content .horizontal-tabs-list li a strong {
  color: #fff;
  font-weight: bold;
  display: block;
  height: 100%;
  text-align: center;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}
.node-type-venue #content .horizontal-tabs-list li.selected a strong {
  color: rgb(253, 96, 90);
}
.node-type-venue #content .horizontal-tabs-list li a,
.node-type-venue #content .horizontal-tabs-list li a:hover {

}
.node-type-venue #content .horizontal-tabs-list li.selected a,
.node-type-venue #content .horizontal-tabs-list li.selected a:hover {
  background: rgb(245, 232, 215);
}
.node-type-venue .horizontal-tabs-panes {
  padding-top: 20px;
}
.node-type-venue .horizontal-tabs-panes .field-group-htab {
  padding: 0;
  margin: 0;
}


/* #Comments Section
================================================== */
.node-type-venue #comments {
  margin-top: 40px;
}
.node-type-venue #comments h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
  color: #99BBCC;
}