/* #Node Resets
================================================== */
.node-venue .submitted-wrapper .field {
  display: inline-block; *display: inline; *zoom: 1;
  float: none;
}
#content .node-venue .horizontal-tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#content .node-venue .horizontal-tabs-list li {
  margin: 0;
  padding: 0;
}

/* #Heading
================================================== */
.node-venue {
  position: relative;
}
.node-venue h1.title {
  font-family: serif;
  color: #000;
  font-size: 24px;
  line-height: auto;
  padding: 13px 0;
}

/* #Image Area
================================================== */
.node-venue .field-name-field-main-image {
  padding-bottom: 20px;
}

/* #Tabs & Title
================================================== */
.node-venue .field-name-field-name {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}
.node-venue .horizontal-tabs {
  border: 0;
}
#content .node-venue .horizontal-tabs-list {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: middle;
  background: transparent;
  width: 495px;
  border: 0;
}
#content .node-venue .horizontal-tabs-list li {
  background: transparent;
  border-color: #969696;
}
#content .node-venue .horizontal-tabs-list li a,
#content .node-venue .horizontal-tabs-list li a:hover {
  background: transparent;
  text-align: center;
  padding: 0;
}
#content .node-venue .horizontal-tabs-list li:last-child {
  border: 0;
}
#content .node-venue .horizontal-tabs-list li a strong {
  padding: 0.2em 0.8em;
  text-align: center;
  color: #969696;
  font-weight: normal;
}
#content .node-venue .horizontal-tabs-list li.selected a strong {
  color: #fff;
  background: #EF5845;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -khtml-border-radius: 2px;
}
.node-venue .horizontal-tabs-panes {
  padding-top: 20px;
}
.node-venue .horizontal-tabs-panes .field-group-htab {
  padding: 0;
  margin: 0;
}