q, q.pull-quote {
  background: url('../images/bg-quote.gif') no-repeat 0 4px;
  color: #999;
  font-size: 28px;
  font-family: Georgia, serif;
  margin:0 0 60px 0;
  padding: 0 10px 0 60px;
}

q p, q.pull-quote p{
  font-size: 28px;
}

hr {
  background: url('../images/sprite2.png') repeat-x 0 -159px;
  clear: both;
  margin: 0 0 20px;
  height:1px;
}

ul, ol{
	margin:0 0 25px 45px;
	font-size:14px;
}
ol{
	list-style:decimal;
}
ul{
	list-style:disc;
}

ul li, ol li{
	margin:0 0 10px 0;
}

blockquote{
	margin:0 0 25px 30px;
	padding:0 20px;
	border-left:solid 1px #ccc;
	display:block;
	font-size: 14px;
	quotes: none;
	line-height:24px;
}
/* for legacy content imported in */
.caption {
  font-size: 11px;
  color: #999;
  line-height: normal;
  border-bottom: 1px dotted #999;
  padding: 15px 0;
  text-align:center; 
}

.photo-wrapper{
    margin: 0 10px 25px;   
    border-bottom: 1px dotted #999;
    color: #999;
    font-size: 11px;
    line-height: normal;
    padding:0 0 15px 0;
    text-align:center; 
    overflow:hidden;
}

.takepart-take-action-widget { 
	background-position: 0 0px;
	border: solid #CCC 1px;
	background-repeat:no-repeat;
	/*background-image: url(/sites/all/modules/custom/ckeditor_take-action-widget/plugin/tawembed/images/icon.gif);*/
}
.takepart-take-action-widget:before
{
	content:"Take Action Banner Widget";
} 

