# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#ignore these files created on-the-fly

BingSiteAuth.xml
akamai
crossdomain.xml
favicon.ico
google8b5f3d4a8752d7e5.html
robots.txt
sites/default/settings.local.inc

