.block-newsletter-campaign-embed h2 {
    margin-bottom: 5px;
}
.takepart-newsletter-embed-form .edit-email-wrapper label { display: none; }
.takepart-newsletter-embed-form .edit-email-wrapper { display: inline; }
.takepart-newsletter-embed-form .form-submit { display: inline; }
.takepart-newsletter-embed-form .form-messages { height: 12px; color: red; }
.takepart-newsletter-embed-form label {
  display: none;
}
.takepart-newsletter-embed-promo-text { 
    margin-bottom: 10px; 
}
.takepart-newsletter-embed-form {
  position: relative;
}
.takepart-newsletter-embed-form-wrapper,
.takepart-newsletter-embed-wrapper {
  position: relative;
}
.takepart-newsletter-embed-form .form-text {
  /* border: 1px solid #d3d3d3; */
  width: 180px;
  height: 25px;
  margin-bottom: 0px;
  padding: 0 4px;
  font-size: 12px;
  background-color: #eeeeee;
  border: none;
}

.block .takepart-newsletter-embed-form a.button, .block .takepart-newsletter-embedform .form-button-wrapper {
  float:right;
  margin-bottom:10px;
  margin-right:19px;
  margin-top:-38px;
}

.takepart-newsletter-embed-terms {
  float:right;
  clear:both;
  font-size: 11px;
}

.takepart-newsletter-embed-form .form-item-email {
    float:left;
    margin: 0 6px 0 0;
}

.takepart-newsletter-embed-empty {
  color: #b3b3b3;
}

.block-newsletter-campaign-embed {
  border: 4px solid #EFF3F5;
  margin-bottom: 15px;
  padding: 10px 10px 5px;
}
#right-rail .block-newsletter-embed-campaign h2 {
  color:#000;
  font-family:TradeGothicLTStdCnBold;
  font-size:18px;
  font-weight:400;
  line-height:110%;
  background: transparent url('/profiles/takepart/themes/takepart3/images/newsletter_icon.png') no-repeat top right;
}

.node .block-newsletter-campaign-embed h2 {
  color:#000;
  font-family:TradeGothicLTStdCnBold;
  font-size:18px !important;
  font-weight:400;
  line-height:110%;
  background: transparent url('/profiles/takepart/themes/takepart3/images/newsletter_icon.png') no-repeat top right;
}

.drupal-embed .block-newsletter-campaign {
    border: 4px solid #EFF3F5;
    padding: 10px;
}