/* # Assets Page Only
================================================== */
.tastemakers.assets .social-bubble {
  background: url("../../images/tastemakers/assets/social_bubble_larger.png") no-repeat;
  display: inline-block;
  height: 57px;
  margin: 0 0 0 10px;
  padding: 11px 5px 11px 25px;
  vertical-align: top;
  width: 300px;
  font-size: 12px;
  display: inline-block; *display: inline; *zoom: 1;
}
.tastemakers.assets h2.asset-title {
  padding-bottom: 10px;
}
.tastemakers.assets #page {
  background: transparent;
}
.tastemakers.assets #highlighted {
    background-image:url('http://www.takepart.com/sites/default/files/background_top.png');
    padding: 0;
}
.tastemakers.assets #page.takepart_campaign {
    background:url('http://www.takepart.com/sites/default/files/background_bottom.png');
}
.tastemakers.assets #marketing_toolkit {
	width: 920px;
	padding: 20px;
	background-color: #fbeedc;
}
.tastemakers.assets .download_links {
	font-size: 12px;
	line-height: 1.5em;
}
.tastemakers.assets .hashtags {
  padding-top: 7px;
}
.tastemakers.assets .social-icon {
  width: 47px;
  height: 47px;
  display: inline-block; *display: inline; *zoom: 1;  
}
.tastemakers.assets .social-icon.twitter {
  background: url("../../images/tastemakers/assets/Twitter_Button.png") no-repeat;
}
.tastemakers.assets .social-icon.facebook {
  background: url("../../images/tastemakers/assets/FB_Button.png") no-repeat;
}
