/* # Basics
================================================== */
.city h2 {
  padding-top: 0;
}
.city h3 {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
}

/* # Enter Guide Link
================================================== */
.city-content .enter-guide-wrapper {
  text-align: right;
  direction:rtl;
}
.city-content .enter-guide {
  background: url('../../images/tastemakers/city/enter_guide.jpg') no-repeat;
  width: 131px;
  height:67px;
  display: inline-block; *display: inline; *zoom: 1;
  text-indent: -9999px;
  overflow: hidden;
}
.city-content .enter-guide:hover {
  background-position: 0 -67px;
}

/* # City Nav Styling
================================================== */
.city .city-menu {
  background: #F5E8D7;
  padding: 20px;
}
.city .city-menu .label,
.city .city-menu a {
  color: #777777;
  text-transform: uppercase;
}
.city .city-menu .label {
  font-weight: bold;
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}
.city .city-menu a {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  width: 20%;
  margin: 2px 0;
}

.city .field-name-field-main-image {
  border-bottom: 1px dotted #c2c3c5;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* # Map Styling
================================================== */
.city .field-name-field-google-map {
  padding-bottom: 40px;
}

/* # Hacks until we update Drupal to do this stuff
================================================== */
.city  .field-name-field-main-image .field-label {
  display: none;
}
.city .field-name-field-google-map .field-label {
  display: none;
}