/* #Basic Layout
================================================== */
.tastemakers.nationwide .region-full-width-top {
  padding: 0 30px;
  font-size: 0;
}
.tastemakers.nationwide .left_col,
.tastemakers.nationwide .right_col,
.tastemakers.nationwide .city-block {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  width: 446px;
}
.tastemakers.nationwide .city-block {
  margin-bottom: 20px;
}
.tastemakers.nationwide .left_col {
  margin-right: 48px;
}

/* #City Stores
================================================== */
.tastemakers.nationwide .stores {
  display: none;
  margin: 0;
  background: #f7f3eb;
  padding: 3px;
}
.tastemakers.nationwide .stores li {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.tastemakers.nationwide .stores li.odd {
  background: #fefcf8;
}
.tastemakers.nationwide .stores li>span {
  display: block;
  padding-left: 122px;
  line-height: 1.3em;
}
.tastemakers.nationwide .stores .store-name {
  font-weight: bold;
}

/* #City Plates
================================================== */
.tastemakers.nationwide .city-plate {
  height: 111px;
  cursor: pointer;
  display: block;
  position: relative;
}
.tastemakers.nationwide .city-plate {
  background: transparent url('../../images/tastemakers/nationwide/blank.jpg') top left no-repeat;
}
.tastemakers.nationwide .expanded .city-plate {
  background-position: -446px 0;
}

.tastemakers.nationwide .city-plate .city-name {
  position: absolute;
  display: block;
  width: 264px;
  height: 56px;
  text-indent: -999999px;
  top: 40px;
  left: 128px;
  background: top left no-repeat;
}
.tastemakers.nationwide .chicago .city-name { background-image: url('../../images/tastemakers/nationwide/chicago-name.png'); }
.tastemakers.nationwide .la .city-name { background-image: url('../../images/tastemakers/nationwide/la-name.png'); }
.tastemakers.nationwide .nyc .city-name { background-image: url('../../images/tastemakers/nationwide/nyc-name.png'); }
.tastemakers.nationwide .portland .city-name { background-image: url('../../images/tastemakers/nationwide/portland-name.png'); }
.tastemakers.nationwide .seattle .city-name { background-image: url('../../images/tastemakers/nationwide/seattle-name.png'); }
.tastemakers.nationwide .sf .city-name { background-image: url('../../images/tastemakers/nationwide/sf-name.png'); }
.tastemakers.nationwide .tc .city-name { background-image: url('../../images/tastemakers/nationwide/tc-name.png'); }
.tastemakers.nationwide .atlanta .city-name { background-image: url('../../images/tastemakers/nationwide/atlanta-name.png'); }
.tastemakers.nationwide .austin .city-name { background-image: url('../../images/tastemakers/nationwide/austin-name.png'); }
.tastemakers.nationwide .boston .city-name { background-image: url('../../images/tastemakers/nationwide/boston-name.png'); }

.tastemakers.nationwide .city-plate .thumb {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  top: 7px;
  left: 6px;
  background: top left no-repeat;
}
.tastemakers.nationwide .nyc .thumb { background-image: url('../../images/tastemakers/nationwide/nyc-thumb.jpg'); }
.tastemakers.nationwide .atlanta .thumb { background-image: url('../../images/tastemakers/nationwide/atlanta-thumb.jpg'); }
.tastemakers.nationwide .austin .thumb { background-image: url('../../images/tastemakers/nationwide/austin-thumb.jpg'); }
.tastemakers.nationwide .tc .thumb { background-image: url('../../images/tastemakers/nationwide/tc-thumb.jpg'); }
.tastemakers.nationwide .boston .thumb { background-image: url('../../images/tastemakers/nationwide/boston-thumb.jpg'); }
.tastemakers.nationwide .chicago .thumb { background-image: url('../../images/tastemakers/nationwide/chicago-thumb.jpg'); }
.tastemakers.nationwide .la .thumb { background-image: url('../../images/tastemakers/nationwide/la-thumb.jpg'); }
.tastemakers.nationwide .portland .thumb { background-image: url('../../images/tastemakers/nationwide/portland-thumb.jpg'); }
.tastemakers.nationwide .seattle .thumb { background-image: url('../../images/tastemakers/nationwide/seattle-thumb.jpg'); }
.tastemakers.nationwide .sf .thumb { background-image: url('../../images/tastemakers/nationwide/sf-thumb.jpg'); }