/* # Basic Overrides
================================================== */
.tastemakers {
  font-family: Helvetica, sans;
  /*position: relative; */
}
.tastemakers .main-content a,
.tastemakers .main-content a:hover,
.tastemakers .region-full-width-top a,
.tastemakers .region-full-width-top a:hover  {
  color: rgb(253, 96, 90);
}
.tastemakers .main-content .submitted-wrapper a,
.tastemakers .main-content .submitted-wrapper a:hover {
  color: #1CA9E7;
}
.tastemakers p {
  line-height: 1.5em;
}
.tastemakers .submitted-wrapper .field {
  display: inline-block; *display: inline; *zoom: 1;
  float: none;
}
.tastemakers h1, .tastemakers h1 span,
.tastemakers h2, .tastemakers h2 span, .tastemakers .main-content h2,
.tastemakers h3, .tastemakers h3 span {
  font-family: Helvetica, sans;
  color: #000;
  line-height: auto;
  font-weight: bold;
}
.tastemakers h1.title {
  padding: 0 0 13px;
}
.tastemakers h1 span {
  font-size: 26px;
}
.tastemakers #content .horizontal-tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tastemakers #content .horizontal-tabs-list li {
  margin: 0;
  padding: 0;
}


/* # Header Banner
================================================== */
.tastemakers .region-highlighted .block-block .content {
  font-size: 0;
}

/* # Header Navigation
================================================== */
.tastemakers .region-highlighted .block-menu ul.menu li {
  padding: 0;
}
.tastemakers .region-highlighted .block-menu ul.menu li a {
  display: block;
  padding: 0 25px;
}
.tastemakers .region-highlighted .block-menu ul.menu li a.active,
.tastemakers .region-highlighted .block-menu ul.menu li a:hover {
  color: rgb(253, 96, 90);
  border: 0;
}
.tastemakers .region-highlighted .block-menu li.dhtml-menu > ul.menu {
    margin-left: 0;
    position: absolute;
    z-index: 1000;
    display: none;
}
.tastemakers .region-highlighted .block-menu li.dhtml-menu > ul.menu > li.dhtml-menu {
    border-bottom: 1px dotted #4C4C4C;
    border-right: 0 none;
    float: none;
    padding: 0;
}

/* # Share Block
================================================== */
.tastemakers #right-rail .block-boxes-delta-40,
.tastemakers #right-rail .block-boxes-delta-41 {
  padding: 0;
  border: 0;
}
.tastemakers #right-rail .block-boxes-delta-40 h2,
.tastemakers #right-rail .block-boxes-delta-41 h2 {
  color: #000;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
}
.tastemakers #right-rail .block-boxes-delta-40 h2 span,
.tastemakers #right-rail .block-boxes-delta-41 h2 span {
  display: block;
}
.tastemakers #right-rail .share-block {
  background: none repeat scroll 0 0 #F5E8D7;
  padding: 7px 10px;
}
.tastemakers .share-block a,
.tastemakers .share-block .takepart-container {
  overflow: hidden;
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: middle;
  padding: 3px;
  line-height: 0.5em;
}
.tastemakers  .share-block .addthis_button_facebook_like {
  width: 45px;
}
.tastemakers  .share-block .addthis_button_tweet {
  width: 55px;
}

/* # Tastemakers Nationwide / Mailorder Right Rail
================================================== */
.tastemakers #right-rail .block-boxes-bid-block-37,
.tastemakers #right-rail .block-boxes-bid-block-39 {
  border: 0;
  background: url('../../images/tastemakers/right_rail/tastemaker_ad/tastemaker_ad_border.jpg') no-repeat;
  height: 104px;
  padding: 17px 0 0 0;
}
.tastemakers #right-rail .block-boxes-bid-block-39 {
  height: 114px;
}
.tastemakers #right-rail .block-boxes-bid-block-37 a.nationwide,
.tastemakers #right-rail .block-boxes-bid-block-39 a.mailorder {
  display:block;
  width: 273px;
  height: 98px;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  *text-indent: 0;
  line-height: 1000px;
}
.tastemakers #right-rail .block-boxes-bid-block-37 a.nationwide {
  background: url('../../images/tastemakers/right_rail/tastemaker_ad/tastemaker_ad_nationwide.jpg') no-repeat;
}
.tastemakers #right-rail .block-boxes-bid-block-39 a.mailorder  {
  background: url('../../images/tastemakers/right_rail/tastemaker_ad/tastemaker_ad_mailorder.jpg') no-repeat;
}
.tastemakers #right-rail .block-boxes-bid-block-37 a.nationwide:hover,
.tastemakers #right-rail .block-boxes-bid-block-39 a.mailorder:hover {
  background-position: 0 -98px;
}
.tastemakers #right-rail .block-boxes-bid-block-37 {
  margin: 0;
}

/* # Columns (4 col grid based on 980px width)
================================================== */
.tastemakers .one-col,
.tastemakers .two-col,
.tastemakers .three-col,
.tastemakers .four-col,
.tastemakers .left-col,
.tastemakers .right-col {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
}
.tastemakers .left-col {
  margin-right: 19px;
}
.tastemakers .one-col {
  width: 235px;
  margin-right: 4px;
}
.tastemakers .one-col.last {
  margin-right: 0;
}
.tastemakers .two-col {
  width: 478px;
}
.tastemakers .three-col {
  width: 735px;
}
.tastemakers .four-col {
  width: 980px;
}

/* # Landing Page
================================================== */
.tastemakers.landing-page #highlighted,
.tastemakers.landing-page .region-full-width-top,
.tastemakers.landing-page #page,
.tastemakers.landing-page .region-full-width-bottom {
  background: url('../../images/tastemakers/home/bgl.jpg');
}
.tastemakers.landing-page .intro-block {
  height: 193px;
  padding: 13px 15px;
  width: 448px;
  margin-bottom: 9px;
  margin-right: 19px;
}
.tastemakers.landing-page .intro-block h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}
.tastemakers.landing-page .intro-block .subtitle {
  font-size: 14px;
  display: block;
  line-height: 14px;
}
.tastemakers.landing-page .intro-block p {
  font-size: 12px;
  padding: 10px 0 0 0;
}
.tastemakers.landing-page .share-block {
  padding: 5px 10px;
  width: 456px;
}
.tastemakers.landing-page .share-block .title {
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.tastemakers.landing-page .intro-block,
.tastemakers.landing-page .share-block {
  background: #F7EDDD;
  background: rgba(255,255,255,.5);
}
.tastemakers.landing-page .sm-block-wrapper div,
.tastemakers.landing-page .sm-block-wrapper span,
.tastemakers.landing-page .sm-block-wrapper a {
  height: 171px;
  background: transparent no-repeat;
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
}
.tastemakers.landing-page .middle-content .sm-block-wrapper {
  margin-bottom: 8px;
}
.tastemakers.landing-page .middle-content .right-col {
  margin-top: -179px;
}
.tastemakers.landing-page .tml-ad-block .tml-ad-wrapper {
  background: url('../../images/tastemakers/home/4_col_border.png') no-repeat;
  height: 100px;
}
.tastemakers.landing-page .tml-ad-block .tml-ad-wrapper a {
  width: 455px;
  height: 75px;
  background: transparent no-repeat;
  display: block;
  margin: 13px auto;
}

/* # Landing Page City Blocks
================================================== */
.tastemakers.landing-page .city {
  position: relative;
}
.tastemakers.landing-page .city span {
  background: url("../../images/tastemakers/home/city_name.png") no-repeat scroll 0 0 transparent;
  bottom: 0;
  color: #000000;
  font-weight: bold;
  height: 31px;
  line-height: 31px;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  width: 228px;
  padding-right: 7px;
}
.tastemakers.landing-page .city:hover span {
  background-position: -236px 0;
  color: #fff;
}
.tastemakers.landing-page .city.sanfran span {
  background-position: 0 -62px;
  width: 178px;
  padding-right: 21px;
}
.tastemakers.landing-page .city.sanfran:hover span {
  background-position: -236px -62px;
}
.tastemakers.landing-page .city.twin-cities span {
  background-position: 0 -31px;
}
.tastemakers.landing-page .city.twin-cities:hover span {
  background-position: -236px -31px;
}
.tastemakers.landing-page .tml-ad-block .tml-ad-wrapper  .mail-order-list {
  background-image: url('../../images/tastemakers/home/mail_order_list.png');
}
.tastemakers.landing-page .tml-ad-block .tml-ad-wrapper  .mail-order-list:hover {
  background-position: -455px 0;
}
.tastemakers.landing-page .tml-ad-block .tml-ad-wrapper .nationwide-guide {
  background-image: url('../../images/tastemakers/home/nationwide_guide.png');
}
.tastemakers.landing-page .tml-ad-block .tml-ad-wrapper .nationwide-guide:hover {
  background-position: -455px 0;
}
.tastemakers.landing-page .middle-content .sm-block-wrapper.first {
  background: url('../../images/tastemakers/home/triangle_top.png') 191px 0 no-repeat;
}
.tastemakers.landing-page .middle-content .sm-block-wrapper.last {
  background: url('../../images/tastemakers/home/triangle.png') 188px 90px no-repeat;
}
.tastemakers.landing-page .sm-block-wrapper .tencitiesshops {
  background-image: url('../../images/tastemakers/home/cities_block.png');
}
.tastemakers.landing-page .sm-block-wrapper .cow {
  background-image: url('../../images/tastemakers/home/cow_block.png');
}
.tastemakers.landing-page .sm-block-wrapper .la {
  background-image: url('../../images/tastemakers/home/la_block.jpg');
}
.tastemakers.landing-page .sm-block-wrapper .seattle {
  background-image: url('../../images/tastemakers/home/seattle_block.jpg');
}
.tastemakers.landing-page .sm-block-wrapper .austin {
  background-image: url('../../images/tastemakers/home/austin_block.jpg');
}
.tastemakers.landing-page .sm-block-wrapper .sanfran {
  background-image: url('../../images/tastemakers/home/sf_block.png');
}
.tastemakers.landing-page .sm-block-wrapper .chicago {
  background-image: url('../../images/tastemakers/home/chicago_block.jpg');
}
.tastemakers.landing-page .sm-block-wrapper .atlanta {
  background-image: url('../../images/tastemakers/home/atlanta_block.jpg');
}
.tastemakers.landing-page .sm-block-wrapper .twin-cities {
  background-image: url('../../images/tastemakers/home/twin_cities_block.png');
}
.tastemakers.landing-page .sm-block-wrapper .portland {
  background-image: url('../../images/tastemakers/home/portland_block.jpg');
}
.tastemakers.landing-page .sm-block-wrapper .farm {
  background-image: url('../../images/tastemakers/home/farm.jpg');
}
.tastemakers.landing-page .sm-block-wrapper .food-done-right {
  background-image: url('../../images/tastemakers/home/food_done_right.png');
  background-position: 0 6px;
  margin-right: 0;
  width: 239px;
}
.tastemakers.landing-page .sm-block-wrapper .nyc {
  background-image: url('../../images/tastemakers/home/nyc_block.jpg');
}
.tastemakers.landing-page .sm-block-wrapper .boston {
  background-image: url('../../images/tastemakers/home/boston_block.jpg');
}