/*
 * There is a an issue with the way that rubic does multip table inputs
 * that makes nodeconnect truncate the field badly
 * this insure that the field stays a reasonable size
 */
table.field-multiple-table input.fluid {
  width:95%
}

/*
 * This highlights the first topic term in the topic field as the primary topic
 * for that piece of content. The primary topic is used by analytics for
 * tracking purposes.
 */

#sortable1 {
  height: 600px;    
}

#sortable2 li.ui-state-highlight:first-of-type {
  background: green none;
  color: white;
}

#sortable2 li.ui-state-highlight:first-of-type:after {
  content: " (primary topic)";
  font-size: smaller; 
}