/drupal/sites/default/settings.local.inc
/drupal/sites/default/files

/drupal/flash
/drupal/images
/drupal/js

.gitignore

.DS_Store
DEADJOE
.AppleDouble
.idea
.sass-cache
.swp
sftp-config.json

# NetBeans projects
/nbproject/
/drupal/nbproject/
/drupal/nbproject/private/

# Drush
/drush/

# Debug modules
/drupal/debug.php
/drupal/sites/all/modules/contrib/blazemeter/
/drupal/sites/all/modules/contrib/cron_debug/
/drupal/sites/all/modules/contrib/devel/
/drupal/sites/all/modules/contrib/devel_themer/
/drupal/sites/all/modules/contrib/diff/
/drupal/sites/all/modules/contrib/features_plumber/
/drupal/sites/all/libraries/FirePHPCore/
