.tp-social-link, .tp-follow-link {
  &:before {
    font-family: takepart;
  }

   /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 // Social Sharing
  &.tp-social-Pinterest:before { content: '\e300'; }
  &.tp-social-Facebook:before { content: '\e301' }
  &.tp-social-Twitter:before { content: '\e302'; }
  &.tp-social-GooglePlus:before { content: '\e303'; }
  &.tp-social-Tumblr:before { content: '\e304'; }
  &.tp-social-Email:before { content: '\e305'; }
  &.tp-social-Mailto:before { content: '\e305'; }
  &.tp-social-Linkedin:before { content: '\e308'; }
  &.tp-social-Vine:before { content: '\e309'; }
  &.tp-social-Instagram:before { content: '\e306'; }
  &.tp-social-Youtube:before { content: '\e307'; }
  &.tp-social-Reddit:before { content: '\e312'; }
  &.tp-social-Whatsapp:before { content: '\e301' }
}

.tpi {
  display: inline-block;
  font: normal normal normal 20px/1 takepart;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}