.block-takepart-petition {
  background: url('/profiles/takepart/modules/takepart_petition/images/petition-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-szie: cover;
  background-size: cover;Ê
}

.petition-form {
  font-family: Helvetica;
  font-size: 16px;  
}

.petition-form .form-text {
  width: 100%;
}

.form-item {
  margin-top: 0em;
}

.petition-form .zips .zip5 {
  width: 33%;
  float: left;
}

.petition-form .zips .zip4 {
  width: 23%;
  float: left;
  padding-left: 15px;
}

.petition-form #edit-zip-code-lookup {
  width: 33%;
  font-size: 10px;
  float: right;
}

.petition-form .pet-name-wrapper .pet-first-name {
  width: 45%;
  float: left;
}

.petition-form .pet-name-wrapper .pet-last-name {
  width: 50%;
  float: right;
}

.petition-form .signatureHeader {
  font-size: 22px;
  font-family: Helvetica;
  padding-top: 10px;
}

.petition-form .form-textarea-wrapper textarea {
  width: 100%;
  height: 60px;
  resize: none;
  padding-bottom: 20px;
}

.petition-form #edit-required-fields {
  width: 100%;
  font-style: italic;
  font-size: 10px;
  float: left;
}

.petition-form .form-type-checkbox {
  width: 25px;
  height: 30px;
  float: left;
}

.petition-form .ngoOptInText {
  padding-left: 10px; 
}

.petition-form .campaignOptInText {
  padding-left: 10px;
}