.petition-form {
  font-family: Helvetica;
  font-size: 16px;
}

.petition-form .form-text {
  width: 100%;
}

.form-item {
  margin-top: 0em;
}

.petition-form .zips .zip5 {
  width: 33%;
  float: left;
}

.petition-form .zips .zip4 {
  width: 23%;
  float: left;
  padding-left: 15px;
}

.petition-form #edit-zip-code-lookup {
  width: 33%;
  font-size: 10px;
  float: right;
}


.petition-form .pet-name-wrapper .pet-first-name {
  width: 45%;
  float: left;
}

.petition-form .pet-name-wrapper .pet-last-name {
  width: 50%;
  float: right;
}

.signatureHeader {
  font-size: 22px;
  font-family: Helvetica;
  padding-top: 10px;
}
