/** PETITION BLOCK STYLING **/

.block-takepart-petition {
   /* IE10 */ 
  background-image: -ms-linear-gradient(top, #F3F8F8 0%, #CFE2E1 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #F3F8F8 0%, #CFE2E1 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #F3F8F8 0%, #CFE2E1 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3F8F8), color-stop(1, #CFE2E1));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #F3F8F8 0%, #CFE2E1 100%);

  /* Proposed W3C Markup */ 
  background-image: linear-gradient(top, #F3F8F8 0%, #CFE2E1 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-szie: cover;
  background-size: cover;
}

.petition-form {
  font-family: Helvetica;
  font-size: 14px;  
}

.petition-form .form-text {
  width: 100%;
}

.form-item {
  margin-top: 0em;
}

.petition-form .zips .zip5 {
  width: 33%;
  float: left;
}

.petition-form .zips .zip4 {
  width: 23%;
  float: left;
  padding-left: 15px;
}

.petition-form #edit-zip-code-lookup {
  width: 33%;
  font-size: 10px;
  float: right;
}

.petition-form .pet-name-wrapper .pet-first-name {
  width: 45%;
  float: left;
}

.petition-form .pet-name-wrapper .pet-last-name {
  width: 50%;
  float: right;
}

.petition-form .signatureHeader {
  font-size: 22px;
  font-family: Helvetica;
  padding-top: 10px;
}

.petition-form .residencyNote {
  font-family: Helvetica;
  padding-top: 10px;
  width: 100%;
  font-style: italic;
  font-size: 12px;
}

.petition-form .form-textarea-wrapper textarea {
  width: 100%;
  height: 60px;
  resize: none;
  padding-bottom: 20px;
}

.petition-form #edit-required-fields {
  width: 100%;
  font-style: italic;
  font-size: 10px;
  float: left;
}

.petition-form .terms-of-use-txt {
  font-size: 10px;
  display: block;
  text-align: center;
  padding-top: 15px;
}

.petition-form .form-type-checkbox {
  width: 25px;
  height: 30px;
  float: left;
}

.petition-form .ngoOptInText {
  padding-left: 10px; 
  font-size: 12px;
}

.petition-form .campaignOptInText {
  padding-left: 10px;
  font-size: 12px;
}

.petition-form #edit-submit {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

/** PETITION BLOG CONTENT **/

.node-openpublish-blog-post .field-name-body {
  padding: 10px;
  /* IE10 */ 
  background-image: -ms-linear-gradient(top, #F3F8F8 0%, #CFE2E1 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #F3F8F8 0%, #CFE2E1 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, #F3F8F8 0%, #CFE2E1 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3F8F8), color-stop(1, #CFE2E1));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #F3F8F8 0%, #CFE2E1 100%);
  /* Proposed W3C Markup */ 
  background-image: linear-gradient(top, #F3F8F8 0%, #CFE2E1 100%);
}