.tp-pet-signatures {
  display: table;
  font-family: Helvetica;
  font-size: 12px;
}

.tp-pet-signature-row {
  display: table-row;
  height: 60px;
}

.tp-pet-name {
  position: relative;
  display: table-cell;
  width: 150px;
  vertical-align: top;
}

.tp-pet-comment {
  display: table-cell;	
  position: relative;
  float: left;
  width: 100%;
}

.fname {
  font-weight: bold;
}

.tp-pet-first-name, .tp-pet-last-name {
  font-weight: bold;
}

.main-content h2 {
  margin: 10px 0;
}

div.tp-pet-signatures-heading {
  font-size: 22px;
  line-height: 24px;
  color: #000;
  font-weight: bold;
  background: none;
  clear: both;
}

div.tp-pet-signatures-sub-heading {
  font-size: 16px;
  line-height: 18px;
  color: #000;
  background: none;
  border-bottom: 1px dotted #000000;
  padding: 10px 0 6px;
  margin-bottom: 20px;
}