/*
	TOC:
	1.) General Site Layout
	2.) Reusables/Modules
	3.) Section Specific
	4.) Page Specific
*/

/* ============================================================
|| 1.) General Site Layout
============================================================ */

@media all and (max-width: 480px) {
	* {
		max-width: 100% !important;
	}

	body {
		font-size: 15px;
		background: #000;
	}

	#site-header {
		padding: 1em;
		min-height: auto;
		overflow: hidden;
		background: #fff;
		position: relative;
		z-index: 10;
	}

	.clickedon #site-header {
		overflow: visible;
	}

	#site-header:after {
		padding-left: 1em;
		content: " ";
		float: right;
		display: block;
		background: url(../images/sitenav_open.png) left top no-repeat;
		width: 25px;
		height: 25px;
	}

	.clickedon #site-header:after {
		background: url(../images/sitenav_close.png) left top no-repeat;
	}

	.clickedon main {
		opacity: .2;
	}

	#site-participant-nav {
		display: none;
	}

	#site-logo {
		margin-bottom: 0;
	}

	#site-logo img {
		width: 50px;
		height: 50px;
	}

	#site-main-nav {
		border: none;
		padding: 0;
	}

	#site-user-nav {
		position: static;
		display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
	}

	#site-user-nav li {
		font-size: .75em;
	}

	#site-navs #site-main-nav ul,
	#site-navs #site-main-nav li,
	#site-main-nav {
		float: none;
	}

	#site-main-nav li {
		padding: 0;
	}

	#site-main-nav a {
		display: inline-block;
		padding: .65rem 1rem;
		border-top: 1px solid #dbdbdb;
		font-size: 1.2em;
		line-height: 37px;
		white-space: nowrap;
		width: 100%;
	}

	#site-main-nav a:before {
		width: 53px;
		padding-right: 1rem;
		height: 37px;
		display: inline-block;
		content: " ";
		vertical-align: middle;
		background: url(../images/topic_culture.png) left top no-repeat;
	}

	#site-main-nav .text-culture a:before {
		background-image: url(../images/topic_culture.png);
	}

	#site-hot-nav {
		display: none;
	}

	#site-miss-nav {
		display: none;
	}

	#site-navs {
		position: absolute;
		top: 100%;
		background: #eff3f5;
		left: 0;
	}

	#site-more-navs {
		float: left;
	}

	#site-footer {
		background: #f1f3f4;
		display: inline-block; vertical-align: bottom;
		width: 100%;
	}
}

/* ============================================================
|| 2.) Reusables/Modules
============================================================ */

@media all and (max-width: 480px) {
	.tpsticky_main {
		position: static !important;
		margin-top: inherit !important;
		padding-top: inherit !important;
	}
}

/* ============================================================
|| 3.) Section Specific
============================================================ */


/* ============================================================
|| 4.) Page Specific
============================================================ */

@media all and (max-width: 480px) {
	.node-type-article #article-sidebar {
		float: none;
	}

	.node-type-article #article-author.above {
		position: static !important;
	}

	.node-type-article #article-sidebar {
		width: auto;
	}

	.node-type-article #article-social {
		width: auto !important;
	}

	.node-type-article #article-content {
		width: auto;
	}
}