/*
	TOC:
	1.) General Site Layout
	2.) Reusables/Modules
	3.) Section Specific
	4.) Page Specific
	5.) Media Queries

	Hacks:
		Targetting IE7:
			*+html [selector] {}
		Display inline-block on block-level element for IE6/7
			div {
				display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
			}
*/

/* ============================================================
|| 1.) General Site Layout
============================================================ */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}

html {
	min-height: 100%;
	font-size: 20px;
}

body {
	font-size: 20px;
	background: #f1f3f4;
	width: 49em;
	margin: auto;
	font-family: sans-serif;
	min-height: 100%;
	position: relative;
}

a:link,
a:visited {
	color: #28a9e9;
}

/* Main */

#main {
	background: #fff;
	padding: 1em;
	display: inline-block; *display: inline; zoom: 1; vertical-align: top;
	width: 100%;
}

/* ============================================================
|| 2.) Reusables/Modules
============================================================ */

/* Skip link */
.skip-link a {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

.skip-link a:active,
.skip-link a:focus {
	position: static !important;
	clip: auto;
	overflow: visible;
	height: auto;
}

/* addthis email block fix */
body #at16p {
	width: auto;
}

body #at16pt {
	height: auto;
}

/* Right Rail */

#site-secondary .block {
	margin-bottom: 1em;
}

#site-secondary .section .section_header {
	font-family: TradeGothicLTStdCnBold, sans-serif;
	padding-bottom: .5em;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: .5em;
	font-size: 20px;
	text-transform: uppercase;
}

/* On Our Radar module */

#site-secondary .on_our_radar_section {
}

#site-secondary .on_our_radar_section ol,
#site-secondary .on_our_radar_section li {
	list-style-type: decimal;
	margin-left: 1em;
	font-size: 14px;
}

#site-secondary .on_our_radar_section ol {
	font-family: TradeGothicLTStdCnBold, sans-serif;
}

#site-secondary .on_our_radar_section li {
	padding-bottom: .5em;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: .5em;
	line-height: 1.5;
}

#site-secondary .on_our_radar_section a {
	color: #000;
	text-decoration: none;
	display: block;
	font-family: sans-serif;
}

#site-secondary .on_our_radar_section .title {
	font-weight: bold;
}

#site-secondary .on_our_radar_section a:hover .title {
	text-decoration: underline;
}

/* Of The Day Module */

#block-bean-of-the-day li {
	padding: 7px 0 10px 120px;
	position: relative;
	font-size: 14px;
	min-height: 110px; *height: 110px;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 10px;
	line-height: 1.5;
}

#block-bean-of-the-day .image {
	position: absolute;
	left: 0;
	top: 0;
	padding-right: 20px;
}

#block-bean-of-the-day .subhead {
	text-transform: uppercase;
}

#block-bean-of-the-day .link {
	font-weight: bold;
	text-decoration: none;
}

#block-bean-of-the-day a {
	text-decoration: none;
	color: #000;
}

#block-bean-of-the-day a:hover .link {
	text-decoration: underline;
}

/* Newsletter form */

.newsletter_social {
	position: relative;
	border: 1px solid #ccc;
	padding: 1em;

	-webkit-box-shadow: 0 2px 5px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0 2px 5px rgba(50, 50, 50, 0.1);
	box-shadow:         0 2px 5px rgba(50, 50, 50, 0.1);
}

.newsletter_social label {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	text-indent: 150%;
	display: block;
	width: 100%;
	white-space: nowrap;

	*text-indent: 0; text-indent: 0\0/;
	*position: static; position: static\0/;
	padding-bottom: 5px;
	font-size: 14px;
}

.newsletter_social label.error {
	position: static;
	display: block;
	white-space: normal;
	text-indent: 0;
	overflow: visible;

	font-size: 14px;
	margin-bottom: .5em;
}

.newsletter_social .form-item {
	display: inline;
}

.newsletter_social form .form-text {
	height: 34px;
	width: 179px;
	border: 1px solid #ccc;
	position: relative;
	z-index: 2;
	padding-left: .5em;
	float: left;

	-webkit-box-shadow: inset 3px 3px 10px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    inset 3px 3px 10px rgba(50, 50, 50, 0.1);
	box-shadow:         inset 3px 3px 10px rgba(50, 50, 50, 0.1);
}

.newsletter_social form .form-text:focus {
	z-index: 4;
}

.newsletter_social form .form-submit {
	border: 1px solid #ccc;
	border-radius: 2px;
	margin-left: -1px;
	font-family: TradeGothicLTStdCnBold, sans-serif;
	font-size: 16px;
	height: 34px;
	width: 80px;
	color: #888;
	text-transform: uppercase;
	position: relative;
	z-index: 2;

	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 );
}

.newsletter_social .tos-link {
	clear: both;
	padding: 10px 0;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 10px;
	font-size: 11px;
}

.newsletter_social .tos-link a {
	text-decoration: none;
}

.newsletter_social .tos-link a:hover {
	text-decoration: underline;
}

/* Top ad */

#site-top div {
	width: auto !important;
	height: auto !important;
}

#site-top iframe {
	display: block;
	margin: 0 auto 1em auto;
}

/* Right rail */

#site-secondary .newsletter_social .section_header {
	border: none;
	padding-bottom: 0;
}

#site-secondary .newsletter_social .section {
	margin-bottom: 0;
}

/* Follow Us box */

.follow_us ul {
	display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
}

.follow_us li {
	float: left;
	margin-right: .25em;
}

.follow_us a {
	width: 24px;
	height: 24px;
	display: block;
	text-indent: 100%;
	overflow: hidden;
}

.follow_us li a {
	background-repeat: no-repeat;
}

.follow_us .facebook {
	background-image: url(../images/follow_facebook.png); /** sprite-ref: mysprite; */
}

.follow_us .twitter {
	background-image: url(../images/follow_twitter.png); /** sprite-ref: mysprite; */
}

.follow_us .google {
	background-image: url(../images/follow_google.png); /** sprite-ref: mysprite; */
}

.follow_us .pinterest {
	background-image: url(../images/follow_pinterest.png); /** sprite-ref: mysprite; */
}

.follow_us .youtube {
	background-image: url(../images/follow_youtube.png); /** sprite-ref: mysprite; */
}

.follow_us .tumblr {
	background-image: url(../images/follow_tumblr.png); /** sprite-ref: mysprite; */
}

/* hover */

.follow_us .facebook:hover {
	background-image: url(../images/follow_facebook_rollover.png); /** sprite-ref: mysprite; */
}

.follow_us .twitter:hover {
	background-image: url(../images/follow_twitter_rollover.png); /** sprite-ref: mysprite; */
}

.follow_us .google:hover {
	background-image: url(../images/follow_google_rollover.png); /** sprite-ref: mysprite; */
}

.follow_us .pinterest:hover {
	background-image: url(../images/follow_pinterest_rollover.png); /** sprite-ref: mysprite; */
}

.follow_us .youtube:hover {
	background-image: url(../images/follow_youtube_rollover.png); /** sprite-ref: mysprite; */
}

.follow_us .tumblr:hover {
	background-image: url(../images/follow_tumblr_rollover.png); /** sprite-ref: mysprite; */
}

/* cms overrides */

.cms blockquote {
	border-color: #e8e8e8;
}

.cms .pull-quote {
	padding: 1em;
	float: left;
	clear: left;
	width: 50%;
	border: 1px solid #e8e8e8;
	border-left: none;
	border-right: none;
	background: #f9fbfc;
	font-size: 20px;
	line-height: 30px;
	margin: 0 1em 1em 0;
	text-align: center;
}

.cms .photo-wrapper {
	color: #777;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 10px;
	margin-bottom: 10px;
	line-height: 1.2;
}

.cms p span img {
	display: block;
}

/* Drupal stuff */

.tabs-toolbar {
	display: none;
}

/* Tab embed */
div.takepart-take-action-widget {
	margin-bottom: 1em;
}

/* ============================================================
|| 3.) Section Specific
============================================================ */

/* ============================================================
|| 4.) Page Specific
============================================================ */

/* Article Page
------------------------------------------------------------ */

.node-type-article #article-main-inner {
	width: 31em;
	float: left;
}

.node-type-article .unpublished #article-main-inner {
	background: #fff4f4;
}

.node-type-article #site-secondary {
	width: 15em;
	float: right;
}

.node-type-article #article-sidebar {
	width: 7em;
	float: left;
}

.node-type-article #article-content {
	width: 23em;
	float: right;
	padding-top: 1em;
}

.node-type-article #article-header {
	line-height: 1.5;
	display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
	width: 100%;
}

.node-type-article #article-headline {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: .1em;
}

.node-type-article #article-abstract {
	font-size: 16px;
	margin-bottom: .5em;
}

.node-type-article .secondary {
	font-size: 13px;
	line-height: 1;
}

.node-type-article #article-badge {
	margin-bottom: -10px;
}

/* Series */

#article-series {
  margin-bottom: 12px;
}

#article-series img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Badge */

.node-type-article #article-badge a {
	height: 36px;
	line-height: 26px;
	margin: 0 30px 0 20px;
	position: relative;
	background: url(../images/article_badge_blue_bg.png) left top repeat-x;
	display: inline-block;
	font-size: 13px;
	text-transform: uppercase;
	font-family: TradeGothicLTStdCnBold, sans-serif;
	color: #fff;
	display: block;
	text-decoration: none;
	font-style: italic;
	padding-right: 2px;
}

.node-type-article #article-badge a:hover {
	opacity: .6;
}

.node-type-article #article-badge a:before {
	background-image: url(../images/article_badge_blue_left.png); /** sprite-ref: mysprite; */
	height: 36px;
	content: " ";
	position: absolute;
	top: 0;
	left: -20px;
	width: 20px;
}

.node-type-article #article-badge a:after {
	background-repeat: no-repeat;
	background-image: url(../images/article_badge_blue_right.png); /** sprite-ref: mysprite; */
	height: 36px;
	content: " ";
	position: absolute;
	top: 0;
	right: -20px;
	width: 20px;
}

.node-type-article #article-author-names,
.node-type-article #article-author-names li,
.node-type-article #article-author-names li a,
.node-type-article #article-badge,
.node-type-article #article-date {
	float: left;
}

.node-type-article #article-author-names li a {
	text-decoration: none;
}

.node-type-article #article-author-names li a:hover {
	color: #999;
}

.node-type-article #article-author-names,
.node-type-article #article-badge,
.node-type-article #article-date {
	padding-right: .5em;
}

.node-type-article #article-date {
	margin-right: .5em;
	margin-top: .5em;
	border-right: 1px solid #ccc;
	color: #777;
}

.node-type-article #article-author-names {
	margin-top: .5em;
	font-weight: bold;
}

.node-type-article #article-author-names li {
	padding-right: .25em;
}

.node-type-article #article-author-names li:last-child {
	padding-right: 0;
}

.node-type-article #article-author-names li:after {
	content: ", ";
	display: block;
	float: left;
}

.node-type-article #article-author-names li.last-child:after {
	content: "";
	display: none;
}

.node-type-article #article-sidebar {
	position: relative;
}

/* Social */

.node-type-article #article-social #article-comments-link a,
.node-type-article #article-social #article-share a,
.node-type-article #article-social-more h4 a {
	display: block;
	font-size: 14px;
	font-family: TradeGothicLTStdCnBold, sans-serif;
	text-transform: uppercase;
	padding: 4px 0;
	line-height: 24px;
	text-decoration: none;
	color: #555;
}

.node-type-article #article-comments-link a,
.node-type-article #article-tab,
.node-type-article #article-share a {
	border-bottom: 1px solid #e8e8e8;
}

.node-type-article #article-social .at300b:hover {
	opacity: 1;
}

.node-type-article #article-social #article-comments-link a:before,
.node-type-article #article-social #article-share a:before,
.node-type-article #article-social-more h4 a:before {
	display: inline-block;
	width: 24px;
	height: 24px;
	content: " ";
	vertical-align: middle;
	padding-right: .5em;
	background-repeat: no-repeat;
}

.node-type-article #article-social .tp-social-facebook:before {
	background-image: url(../images/share_facebook.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social .tp-social-twitter:before {
	background-image: url(../images/share_twitter.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social .tp-social-googleplus:before {
	background-image: url(../images/share_google.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social .tp-social-email:before {
	background-image: url(../images/share_email.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social .tp-social-reddit:before {
	background-image: url(../images/share_reddit.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social #article-comments-link a:before {
	background-image: url(../images/share_comments.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social-more h4 a:before {
	background-image: url(../images/share_more.png); /** sprite-ref: mysprite; */
}

/* rollovers */
.node-type-article #article-social .tp-social-facebook:hover:before {
	background-image: url(../images/share_facebook_rollover.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social .tp-social-twitter:hover:before {
	background-image: url(../images/share_twitter_rollover.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social .tp-social-googleplus:hover:before {
	background-image: url(../images/share_google_rollover.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social .tp-social-email:hover:before {
	background-image: url(../images/share_email_rollover.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social .tp-social-reddit:hover:before {
	background-image: url(../images/share_reddit_rollover.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social #article-comments-link a:hover:before {
	background-image: url(../images/share_comments_rollover.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social-more h4 a:hover:before {
	background-image: url(../images/share_more_rollover.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social-more {
	position: relative;
	overflow: hidden;
}

.node-type-article #article-social-more.focusin {
	position: relative;
	overflow: visible;
}

.node-type-article #article-more-shares {
	position: absolute;
	bottom: 100%;
	background: #fff;
	border-radius: 5px;
	border: 5px solid rgba(0,0,0,.5);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    min-width: 250px;
    display: inline-block;
}

.node-type-article .focusin #article-more-shares {
	top: 100%;
	bottom: auto;
}

.node-type-article #article-more-shares .header {
	font-size: 14px;
	background: #f7f7f7;
	border-bottom: 1px solid #e0e0e0;
	padding: .25em;
	white-space: nowrap;
}

.node-type-article #article-more-shares .header:after {
	display: block;
	content: " ";
	margin: 3px;
	width: 7px;
	height: 7px;
	float: right;
	background-repeat: no-repeat;
	background-image: url(../images/social_more_close.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-more-shares a {
	display: block;
	font-size: 14px;
	padding: .25em;
	line-height: 16px;
	text-decoration: none;
	color: #000;
	white-space: nowrap;
	float: left;
	width: 50%;
}

.node-type-article #article-more-shares a:before {
	display: inline-block;
	content: " ";
	vertical-align: middle;
	padding-right: .5em;
	width: 16px;
	height: 16px;
	line-height: 16px;
	background-repeat: no-repeat;
}

.node-type-article #article-more-shares .tp-social-myspace:before {
	background-image: url(../images/social_more_myspace.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-more-shares .tp-social-delicious:before {
	background-image: url(../images/social_more_delicious.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-more-shares .tp-social-linkedin:before {
	background-image: url(../images/social_more_linkedin.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-more-shares .tp-social-myaol:before {
	background-image: url(../images/social_more_myaol.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-more-shares .tp-social-live:before {
	background-image: url(../images/social_more_live.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-more-shares .tp-social-digg:before {
	background-image: url(../images/social_more_digg.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-more-shares .tp-social-stumbleupon:before {
	background-image: url(../images/social_more_stumbleupon.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-more-shares .tp-social-hyves:before {
	background-image: url(../images/social_more_hyves.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-social {
	padding-top: 1em;
	z-index: 2;
}

.node-type-article #article-tab .takepart-take-action {
	height: 32px;
}

.node-type-article #article-social .inner {
	border: 1px solid #dadada;
	padding: .75em .5em;
	background: #fff;

	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.2);
}

.node-type-article #article-social .inner {
	margin-top: 0;
	/*transition: margin .2s ease-in-out;*/
}

.node-type-article #article-social.above {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}

.node-type-article #article-social.inside .inner {
}

/* Article main image */

.node-type-article #article-image {
	margin-bottom: .75em;
	display: table;
	width: 1px;
}

.node-type-article #article-image.portrait_main_image {
	margin-right: 1em;
	float: left;
	width: 250px;
}

.node-type-article #article-image img {
	display: block;
	max-width: 460px;
}

.node-type-article #article-image figcaption {
	font-size: 14px;
	color: #777;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 0;
	line-height: 1.2;
}

/* Article inline content */

.node-type-article .inline-content {
	margin: 0 1em 0 0;
	display: table;
	width: 1px;
	float: left;
	clear: left;
}

.node-type-article .inline-content a {
	color: #000;
	text-decoration: none;
}

.node-type-article .inline-content a:hover {
	text-decoration: underline;
}

.node-type-article .inline-content p {
	margin: 3px 0 10px 0;
	padding-top: 10px;
	border-top: 1px solid #e8e8e8;
}

.node-type-article .inline-content img {
	display: block;
	margin-bottom: 5px;
}

.node-type-article .inline-content span {
	display: block;
	font-weight: bold;
	font-size: 15px;
}

.node-type-article .inline-content.horizontal {
	display: inline-block; *display: inline; zoom: 1;
	vertical-align: bottom;
	width: auto;
	float: none;
	margin-right: 0;
	border-top: 1px solid #e8e8e8;
}

.node-type-article .inline-content.horizontal p {
	float: left;
	display: table;
	float: left;
	width: 1px;
	margin: 0 5px 1em 0;
	border-top: none;
}

.node-type-article .inline-content.horizontal p.last-child {
	margin-right: 0;
}

.node-type-article .inline-content.horizontal span {
	padding: 0 10px 0 0;
}

/* Author */

.node-type-article #article-author {
	z-index: 1;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

.node-type-article #article-author.below {
	position: absolute !important;
	left: 0 !important;
	opacity: 0;
}

.node-type-article #article-author.above {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 1;
}

.node-type-article #article-author .inner {
	border: 1px solid #dadada;
	padding: .75em .5em 0 .5em;
	margin-top: 20px;
	background: #f1f3f4;
	line-height: 1.5;

	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.2);
}

.node-type-article #article-author.inside .inner {
	margin-top: 1em;
}

.node-type-article .below #article-author {
	opacity: 0;
}

.node-type-article #article-author .image {
	text-align: center;
}

.node-type-article #article-author .headline {
	font-size: 14px;
	font-weight: bold;
}

.node-type-article #article-author .full_bio_link a {
	font-weight: bold;
	text-decoration: none;
}

.node-type-article #article-author .full_bio_link a:hover {
	text-decoration: underline;
}

.node-type-article #article-author .body {
	font-size: 11px;
	margin-bottom: 1em;
}

.node-type-article #article-body {
	font-size: 14px;
	color: #333;
}

.node-type-article #article-body div,
.node-type-article #article-body iframe {
	max-width: 100% !important;
}

.node-type-article #article-author .follow_headline {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #555;
}

.node-type-article #article-author .follow {
	font-size: 14px;
	margin-bottom: 1em;
	text-align: center;
}

.node-type-article #article-author .follow li {
	display: inline;
}

.node-type-article #article-author .follow li a {
	display: inline-block;
	width: 21px;
	height: 21px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	line-height: 21px;
	background-repeat: no-repeat;
}

.node-type-article #article-author .follow .twitter a {
	background-image: url(../images/author_twitter.png); /** sprite-ref: mysprite; */
}

.node-type-article #article-author .follow .google a {
	background-image: url(../images/author_google.png); /** sprite-ref: mysprite; */
}

/* Next Article */
.node-type-article #next-article {
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 1em;
}

.node-type-article #next-article a {
	font-size: 15px;
	padding: 10px 2.5em 10px 0;
	text-overflow: ellipsis;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	line-height: 14px;
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.node-type-article #next-article .headline {
	display: inline-block;
	text-transform: uppercase;
	font-family: TradeGothicLTStdCnBold, sans-serif;
	border-right: 1px solid #c1c1c1;
	padding-right: .75em;
	color: #333;
}

.node-type-article #next-article p {
	display: inline;
	padding-left: .75em;
	font-weight: bold;
}

.node-type-article #next-article a:after {
	display: block;
	content: " ";
	height: 34px;
	width: 34px;
	border-radius: 68px;
	background-color: #28a9e9;
	background-position: 14px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/next_article_arrow.png); /** sprite-ref: mysprite; sprite-margin-top: 10px; sprite-margin-left: 14px; */
	position: absolute;
	right: 0;
	top: 0;
}

.node-type-article #next-article a:hover {
	text-decoration: underline;
}

/* Article Tags */
.node-type-article #article-tags {
	margin-bottom: 1em;
	font-size: 14px;
	line-height: 1.5;
}

.node-type-article #article-tags ul,
.node-type-article #article-tags .headline,
.node-type-article #article-tags li,
.node-type-article #article-tags a {
	display: inline;
}

.node-type-article #article-tags a {
	text-decoration: none;
}

.node-type-article #article-tags a:hover {
	text-decoration: underline;
}

.node-type-article #article-tags .headline {
	padding-right: .25em;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

.node-type-article #article-tags li:after {
	content: ',';
	padding-right: .25em;
	display: inline;
}

.node-type-article #article-tags li:last-child:after {
	display: none;
}

.node-type-article #topic_box {
	position: relative;
	background: #f8fbff;
	border: 1px solid #e0e0e0;
	width: 15em;
	padding: 1em;
	margin-bottom: 1em;
	float: right;
}

.node-type-article #topic_box:after,
.node-type-article #topic_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.node-type-article #topic_box:after {
	border-color: rgba(248, 251, 255, 0);
	border-right-color: #f8fbff;
	border-width: 11px;
	margin-top: -11px;
	top: 20%;
	border-left-width: 14px;
	border-right-width: 14px;
}

.node-type-article #topic_box:before {
	border-color: rgba(224, 224, 224, 0);
	border-right-color: #e0e0e0;
	top: 20%;
	border-width: 12px;
	margin-top: -12px;
	border-left-width: 15px;
	border-right-width: 15px;
}

.node-type-article #topic_box a,
.node-type-article #topic_box img {
	display: block;
	margin: auto;
}

.node-type-article #topic_box li {
	margin-bottom: .5em;
}

.node-type-article #topic_box li:last-child {
	margin-bottom: 0;
}

/* Related stories */

.node-type-article #article-related {
	margin: 1em 0;
}

.node-type-article #article-related a {
	text-decoration: none;
}

.node-type-article #article-related a:hover {
	text-decoration: underline;
}

.node-type-article #article-related ul,
.node-type-article #article-related h3 {
	font-size: 14px;
}

.node-type-article #article-related ul {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 1.5em;
}

.node-type-article #article-related h3 {
	font-weight: bold;
	margin-bottom: .5em;
}

.node-type-article #article-related li {
	margin-bottom: 5px;
}

/* Comments */

.node-type-article .fb_comments .fb_iframe_widget,
.node-type-article .fb_comments .fb_iframe_widget span,
.node-type-article .fb_comments iframe {
	max-width: 100%;
}

.node-type-article .fb_comments .header {
	text-transform: uppercase;
	font-family: TradeGothicLTStdCnBold, sans-serif;
	margin-bottom: .5em;
	padding-bottom: .5em;
	border-bottom: 1px solid #e8e8e8;
	margin-top: 1em;
	font-size: 20px;
}

.node-type-article .fb_comments .header .fb_comments_count {
	background-repeat: no-repeat;
	background-image: url(../images/share_comments.png); /** sprite-ref: mysprite; */
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	font-family: sans-serif;
	font-size: 11px;
	vertical-align: bottom;
}

/* ============================================================
|| 5.) Media Queries
============================================================ */


