/*
	TOC:
	1.) General Site Layout
	2.) Reusables/Modules
	3.) Section Specific
	4.) Page Specific
	5.) Media Queries

	Hacks:
		Targetting IE7:
			*+html [selector] {}
		Display inline-block on block-level element for IE6/7
			div {
				display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
			}
*/

/* ============================================================
|| 1.) General Site Layout
============================================================ */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	font-size: 20px;
	background: #f1f3f4;
	width: 49em;
	margin: auto;
	font-family: sans-serif;
	min-height: 100%;
	position: relative;
}

a:link,
a:visited {
	color: #28a9e9;
}

/* Header */

#site-header {
	padding: 1em 0 0 0;
	display: inline-block; *display: inline; zoom: 1;
	width: 100%;
	vertical-align: top;
	position: relative;
	min-height: 116px;
	z-index: 2;
}

#site-logo {
	margin-bottom: -16px;
	padding-right: 1em;
	float: left;
}

#site-logo img {
	width: 116px;
	height: 116px;
	display: block;
}

#site-user-nav ul,
#site-user-nav li,
#site-header div p,
#site-header div ul,
#site-header div li {
	float: left;
}

#site-header a {
	text-decoration: none;
}

#site-navs {
	float: left;
}

#site-user-nav {
	position: absolute;
	right: 0;
	top: 0;
}

#site-user-nav ul {
	float: right;
	padding-top: .5em;
}

#site-user-nav li {
	font-size: 11px;
}

#site-user-nav a {
	color: #000;
}

#site-user-nav a:hover {
	text-decoration: underline;
}

#site-user-nav li {
	padding: 0 .5em;
	border-right: 1px solid #dbdbdb;
}

#site-user-nav li:last-child {
	padding-right: 0;
	border-right: none;
}

#site-participant-nav p,
#site-user-nav,
#site-main-nav,
#site-hot-nav {
	text-transform: uppercase;
}

#site-participant-nav p,
#site-main-nav,
#site-hot-nav {
	font-family: TradeGothicLTStdCnBold, sans-serif;
}

#site-hot-nav {
	padding-top: .75em;
	float: left;
	clear: left;
}

#site-hot-nav li {
	font-size: 15px;
	padding: 0 .5em;
	border-right: 1px solid #dbdbdb;
}

#site-hot-nav li.first {
	padding-left: 0;
}

#site-hot-nav li.last {
	border-right: none;
	padding-right: 0;
}

#site-hot-nav li a:hover {
	color: #000;
	text-decoration: underline;
}

#site-main-nav {
	padding: 1em 0 .75em;
	border-bottom: 1px solid #dbdbdb;
	float: left;
	clear: right;
}

#site-main-nav li {
	padding-right: .9em;
}

#site-main-nav li.last {
	padding-right: 0;
}

#site-main-nav a {
	color: #000;
}

#site-main-nav a:hover {
	color: #28a9e9;
}

#site-miss-nav {
	margin-top: .5em;
	background: #f7f7f7;
	padding: .25em .1em .25em .5em;
	float: left;
	margin-left: 1em;
}

#site-miss-nav a:hover {
	text-decoration: underline;
}

#site-miss-nav li {
	border-right: 1px solid #dbdbdb;
	padding: 0 .4em;
}

#site-miss-nav li.last {
	border-right: none;
	padding: 0 .4em;
}

#site-miss-nav p,
#site-miss-nav li {
	font-size: 12px;
}

#site-more-navs {
	float: right;
}

#site-search,
#site-participant-nav {
	margin: .5em 0;
}

#site-search .form-item {
	float: left;
	margin: 0;
}

#site-search .form-item input {
	display: block;
	width: 160px;
	border: 1px solid #ccc;
	margin: 0;
	height: 34px;
}

#site-search .form-submit {
	display: block;
	float: left;
	margin: 0;
	width: 33px;
	height: 34px;
	border: 1px solid #ccc;
	border-left: none;
	background: #fff url(../images/search_submit.png) center center no-repeat;
	text-indent: 200%;
	line-height: 200px;
	overflow: hidden;
}

#site-header #site-participant-nav {
	color: #333;
	border: 1px solid #d0d0d0;
	height: 34px;
	padding-left: .75em;
	text-shadow: 0 1px #fff;
	float: left;
	width: 193px;

	background: #fdfdfd;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#ececec));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#ececec 100%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#ececec 100%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#ececec 100%);
	background: linear-gradient(to bottom,  #fdfdfd 0%,#ececec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ececec',GradientType=0 );

	-webkit-box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow:          0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
}

#site-header #site-participant-nav:after {
	display: block;
	float: right;
	content: " ";
	border-left: 1px solid #d0d0d0;
	height: 100%;
	width: 33px;
	background: url(../images/participant_nav_down.png) center center no-repeat;
}

#site-participant-nav p {
	font-size: 18px;
	line-height: 34px;
	vertical-align: middle;
}

#site-participant-nav ul {
	position: absolute;
	bottom: 110%;
	border: 1px solid #d0d0d0;
	background: #fff;
	white-space: nowrap;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 4px rgba(0, 0, 0, 0.2);
	right: -1px;
}

#site-header #site-participant-nav.focusin,
#site-header #site-participant-nav:hover {
	position: relative;

	background: #ebebeb;
	background: -moz-linear-gradient(top,  #f0f0f0 0%, #ebebeb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#ebebeb));
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
	background: -o-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
	background: linear-gradient(to bottom,  #f0f0f0 0%,#ebebeb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ebebeb',GradientType=0 );
}

#site-header #site-participant-nav.focusin:after,
#site-header #site-participant-nav:hover:after {
	background: url(../images/participant_nav_up.png) center center no-repeat;
}

#site-participant-nav.focusin ul,
#site-participant-nav:hover ul {
	bottom: auto;
	top: 100%;
}

#site-header #site-participant-nav li {
	float: none;
	display: block;
	border-bottom: 1px solid #e8e8e8;
	font-size: 14px;
}

#site-participant-nav li.last {
	border-bottom: none;
	font-size: 12px;
}

#site-participant-nav a {
	display: block;
	padding: .6em;
}

#site-participant-nav a:hover,
#site-participant-nav a:focus {
	background: #ededed;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

/* Main */

#main {
	background: #fff;
	padding: 1em;
	display: inline-block; *display: inline; zoom: 1; vertical-align: top;
	width: 100%;
}

/* Footer */

#site-footer {
	color: #555;
	line-height: 1.5;
}

#site-footer a {
	color: #555;
	text-decoration: none;
}

#site-footer a:hover {
	text-decoration: underline;
}

#site-footer section {
	float: left;
	padding: 1em 0 1em 1em;
	width: 25%;
}

#site-footer section > * {
	font-size: 14px;
}

#site-footer h4 {
	text-transform: uppercase;
	font-weight: bold;
}

#site-footer #site-about {
	border-top: 1px solid #dbdbdb;
	clear: both;
	padding: 1em 0;
	display: block;
	text-align: right;
	width: 100%;
}

#site-footer #site-campaigns li:last-child a {
	color: #28a9e9;
}

/* Connect */

#site-connect ul {
	display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
}

#site-connect li {
	float: left;
	margin-right: 5px;
}

#site-connect a {
	width: 24px;
	height: 24px;
	display: block;
	text-indent: 100%;
	overflow: hidden;
}

#site-connect a:hover {
	opacity: .6;
}

#site-connect .facebook a {
	background: url(../images/connect_facebook.png) no-repeat;
}

#site-connect .twitter a {
	background: url(../images/connect_twitter.png) no-repeat;
}

#site-connect .email a {
	background: url(../images/connect_email.png) no-repeat;
}

#site-connect .google a {
	background: url(../images/connect_google.png) no-repeat;
}

#site-connect .pinterest a {
	background: url(../images/connect_pinterest.png) no-repeat;
}

#site-connect .linkedin a {
	background: url(../images/connect_linkedin.png) no-repeat;
}

#site-connect .youtube a {
	background: url(../images/connect_youtube.png) no-repeat;
}

#site-connect .tumblr a {
	background: url(../images/connect_tumblr.png) no-repeat;
}

/* ============================================================
|| 2.) Reusables/Modules
============================================================ */

/* Skip link */
.skip-link a {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

.skip-link a:active,
.skip-link a:focus {
	position: static !important;
	clip: auto;
	overflow: visible;
	height: auto;
}

/* addthis email block fix */
body #at16p {
	width: auto;
}

body #at16pt {
	height: auto;
}

/* Follow Us box */

.follow_us ul {
	display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
}

.follow_us li {
	float: left;
	margin-right: .25em;
}

.follow_us a {
	width: 24px;
	height: 24px;
	display: block;
	text-indent: 100%;
	overflow: hidden;
}

.follow_us a:hover {
	opacity: .6;
}

.follow_us .facebook a {
	background: url(../images/follow_facebook.png) no-repeat;
}

.follow_us .twitter a {
	background: url(../images/follow_twitter.png) no-repeat;
}

.follow_us .google a {
	background: url(../images/follow_google.png) no-repeat;
}

.follow_us .pinterest a {
	background: url(../images/follow_pinterest.png) no-repeat;
}

.follow_us .youtube a {
	background: url(../images/follow_youtube.png) no-repeat;
}

.follow_us .tumblr a {
	background: url(../images/follow_tumblr.png) no-repeat;
}

/* Right Rail */

#site-secondary .section {
	margin-bottom: 1em;
}

#site-secondary .section .section_header {
	font-family: TradeGothicLTStdCnBold, sans-serif;
	padding-bottom: .5em;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: .5em;
}

/* On Our Radar module */

#site-secondary .on_our_radar_section {
}

#site-secondary .on_our_radar_section ol,
#site-secondary .on_our_radar_section li {
	list-style-type: decimal;
	margin-left: 1em;
	font-size: 14px;
}

#site-secondary .on_our_radar_section li {
	padding-bottom: .5em;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: .5em;
	line-height: 1.5;
}

#site-secondary .on_our_radar_section a {
	color: #000;
	text-decoration: none;
}

#site-secondary .on_our_radar_section .title {
	font-weight: bold;
}

#site-secondary .on_our_radar_section a:hover .title {
	text-decoration: underline;
}

/* ============================================================
|| 3.) Section Specific
============================================================ */

/* ============================================================
|| 4.) Page Specific
============================================================ */

/* Article Page
------------------------------------------------------------ */

.node-type-article #article-main-inner {
	width: 31em;
	float: left;
}

.node-type-article #site-secondary {
	width: 15em;
	float: right;
}

.node-type-article #article-sidebar {
	width: 7em;
	float: left;
}

.node-type-article #article-content {
	width: 23em;
	float: right;
	padding-top: 1em;
}

.node-type-article #article-header {
	line-height: 1.5;
	display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
	width: 100%;
	min-height: 8em;
}

.node-type-article #article-headline {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: .1em;
}

.node-type-article #article-abstract {
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	margin-bottom: .5em;
}

.node-type-article .secondary {
	font-size: 13px;
	line-height: 1;
}

/* Badge */

.node-type-article #article-badge a {
	height: 36px;
	line-height: 26px;
	margin: 0 30px 0 30px;
	position: relative;
	background: url(../images/article_badge_blue_bg.gif) left top repeat-x;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	font-family: TradeGothicLTStdCnBold, sans-serif;
	color: #fff;
	display: block;
	text-decoration: none;
}

.node-type-article #article-badge a:hover {
	opacity: .6;
}

.node-type-article #article-badge a:before {
	background: url(../images/article_badge_blue_left.png) left top no-repeat;
	height: 36px;
	content: " ";
	position: absolute;
	top: 0;
	left: -20px;
	width: 20px;
}

.node-type-article #article-badge a:after {
	background: url(../images/article_badge_blue_right.png) left top no-repeat;
	height: 36px;
	content: " ";
	position: absolute;
	top: 0;
	right: -20px;
	width: 20px;
}

.node-type-article #article-author-names,
.node-type-article #article-author-names li,
.node-type-article #article-author-names li a,
.node-type-article #article-badge,
.node-type-article #article-date {
	float: left;
}

.node-type-article #article-author-names li a {
	text-decoration: none;
}

.node-type-article #article-author-names li a:hover {
	color: #999;
}

.node-type-article #article-author-names,
.node-type-article #article-badge,
.node-type-article #article-date {
	padding-right: .5em;
}

.node-type-article #article-date {
	margin-right: .5em;
	margin-top: .5em;
	border-right: 1px solid #ccc;
}

.node-type-article #article-author-names {
	margin-top: .5em;
}

.node-type-article #article-author-names li {
	padding-right: .25em;
}

.node-type-article #article-author-names li:last-child {
	padding-right: 0;
}

.node-type-article #article-author-names li:after {
	content: ", ";
	display: block;
	float: left;
}

.node-type-article #article-author-names li:last-child:after {
	content: "";
	display: none;
}

.node-type-article #article-sidebar {
	position: relative;
}

/* Social */

.node-type-article #article-social #article-comments-link a,
.node-type-article #article-social #article-share a,
.node-type-article #article-social-more h4 a {
	display: block;
	font-size: 14px;
	font-family: TradeGothicLTStdCnBold, sans-serif;
	text-transform: uppercase;
	padding: .25em 0;
	line-height: 24px;
	text-decoration: none;
	color: #000;
}

.node-type-article #article-comments-link a,
.node-type-article #article-tab,
.node-type-article #article-share a {
	border-bottom: 1px solid #e8e8e8;
}

.node-type-article #article-social a:hover {
	opacity: .6;
}

.node-type-article #article-social #article-comments-link a:before,
.node-type-article #article-social #article-share a:before,
.node-type-article #article-social-more h4 a:before {
	display: inline-block;
	width: 24px;
	height: 24px;
	content: " ";
	vertical-align: middle;
	padding-right: .5em;
}

.node-type-article #article-social .tp-social-facebook:before {
	background: url(../images/share_facebook.png) left top no-repeat;
}

.node-type-article #article-social .tp-social-twitter:before {
	background: url(../images/share_twitter.png) left top no-repeat;
}

.node-type-article #article-social .tp-social-googleplus:before {
	background: url(../images/share_google.png) left top no-repeat;
}

.node-type-article #article-social .tp-social-email:before {
	background: url(../images/share_email.png) left 1px no-repeat;
}

.node-type-article #article-social .tp-social-reddit:before {
	background: url(../images/share_reddit.png) left top no-repeat;
}

.node-type-article #article-social #article-comments-link a:before {
	background: url(../images/share_comments.png) left 2px no-repeat;
}

.node-type-article #article-social-more h4 a:before {
	background: url(../images/share_more.png) left top no-repeat;
}

.node-type-article #article-social-more {
	position: relative;
	overflow: hidden;
}

.node-type-article #article-social-more.focusin {
	position: relative;
	overflow: visible;
}

.node-type-article #article-more-shares {
	position: absolute;
	bottom: 100%;
	background: #fff;
	border-radius: 5px;
	border: 5px solid rgba(0,0,0,.5);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    min-width: 250px;
    display: inline-block;
}

.node-type-article .focusin #article-more-shares {
	top: 100%;
	bottom: auto;
}

.node-type-article #article-more-shares .header {
	font-size: 14px;
	background: #f7f7f7;
	border-bottom: 1px solid #e0e0e0;
	padding: .25em;
	white-space: nowrap;
}

.node-type-article #article-more-shares .header:after {
	display: block;
	content: " ";
	margin: 3px;
	width: 7px;
	height: 7px;
	float: right;
	background: url(../images/social_more_close.gif) left top no-repeat;
}

.node-type-article #article-more-shares a {
	display: block;
	font-size: 14px;
	padding: .25em;
	line-height: 16px;
	text-decoration: none;
	color: #000;
	white-space: nowrap;
	float: left;
	width: 50%;
}

.node-type-article #article-more-shares a:before {
	display: inline-block;
	content: " ";
	vertical-align: middle;
	padding-right: .5em;
	width: 16px;
	height: 16px;
	line-height: 16px;
}

.node-type-article #article-more-shares .tp-social-myspace:before {
	background: url(../images/social_more_myspace.gif) left top no-repeat;
}

.node-type-article #article-more-shares .tp-social-delicious:before {
	background: url(../images/social_more_delicious.gif) left top no-repeat;
}

.node-type-article #article-more-shares .tp-social-linkedin:before {
	background: url(../images/social_more_linkedin.gif) left top no-repeat;
}

.node-type-article #article-more-shares .tp-social-myaol:before {
	background: url(../images/social_more_myaol.gif) left top no-repeat;
}

.node-type-article #article-more-shares .tp-social-live:before {
	background: url(../images/social_more_live.gif) left top no-repeat;
}

.node-type-article #article-more-shares .tp-social-digg:before {
	background: url(../images/social_more_digg.gif) left top no-repeat;
}

.node-type-article #article-more-shares .tp-social-stumbleupon:before {
	background: url(../images/social_more_stumbleupon.gif) left top no-repeat;
}

.node-type-article #article-more-shares .tp-social-hyves:before {
	background: url(../images/social_more_hyves.gif) left top no-repeat;
}

.node-type-article #article-social {
	padding-top: 1em;
	z-index: 2;
}

.node-type-article #article-tab .takepart-take-action {
	height: 32px;
}

.node-type-article #article-social .inner {
	border: 1px solid #dadada;
	padding: .75em .5em;
	background: #fff;

	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.2);
}

.node-type-article #article-social .inner {
	margin-top: 0;
	/*transition: margin .2s ease-in-out;*/
}

.node-type-article #article-social.above {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}

.node-type-article #article-social.inside .inner {
}

/* Author */

.node-type-article #article-author {
	z-index: 1;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

.node-type-article #article-author.below {
	position: absolute !important;
	left: 0 !important;
	opacity: 0;
}

.node-type-article #article-author.above {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 1;
}

.node-type-article #article-author .inner {
	border: 1px solid #dadada;
	padding: .75em .5em 0 .5em;
	margin-top: 20px;
	background: #f1f3f4;
	line-height: 1.5;

	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.2);
}

.node-type-article #article-author.inside .inner {
	margin-top: 1em;
}

.node-type-article .below #article-author {
	opacity: 0;
}

.node-type-article #article-author .image {
	text-align: center;
}

.node-type-article #article-author .headline {
	font-size: 14px;
	font-weight: bold;
}

.node-type-article #article-author .body {
	font-size: 11px;
	margin-bottom: 1em;
}

.node-type-article #article-body {
	font-size: 14px;
}

.node-type-article #article-image {
	margin-bottom: 1em;
}

.node-type-article #article-author .follow {
	font-size: 14px;
	margin-bottom: 1em;
	text-align: center;
}

.node-type-article #article-author .follow li {
	display: inline;
}

.node-type-article #article-author .follow li a {
	display: inline-block;
	width: 21px;
	height: 21px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	line-height: 21px;
}

.node-type-article #article-author .follow .twitter a {
	background: url(../images/author_twitter.png) left top no-repeat;
}

.node-type-article #article-author .follow .google a {
	background: url(../images/author_google.png) left top no-repeat;
}

/* TODO: maybe just make this global */
.node-type-article #article-image img {
	max-width: 100%;
}

/* Next Article */
.node-type-article #next-article {
	margin-bottom: 1em;
	font-size: 16px;
	padding-bottom: 1em;
	border-bottom: 1px solid #e8e8e8;
}

.node-type-article #next-article .headline {
	text-transform: uppercase;
	font-family: TradeGothicLTStdCnBold, sans-serif;
}

.node-type-article #next-article a {
	display: block;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 2em;
	position: relative;
	line-height: 1.5em;
	text-decoration: none;
}

.node-type-article #next-article a:hover {
	opacity: .6;
	text-decoration: underline;
}

.node-type-article #next-article a:after {
	display: block;
	content: " ";
	height: 1.5em;
	width: 1.5em;
	border-radius: 3em;
	background: #28a9e9 url(../images/next_article_arrow.png) center center no-repeat;
	position: absolute;
	right: 0;
	top: 0;
}


/* Article Tags */
.node-type-article #article-tags {
	display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
	margin-bottom: 1em;
	font-size: 14px;
}

.node-type-article #article-tags ul,
.node-type-article #article-tags .headline,
.node-type-article #article-tags li,
.node-type-article #article-tags a {
	float: left;
}

.node-type-article #article-tags a {
	text-decoration: none;
}

.node-type-article #article-tags a:hover {
	text-decoration: underline;
}

.node-type-article #article-tags .headline {
	text-transform: uppercase;
	padding-right: .25em;
}

.node-type-article #article-tags li:after {
	content: ',';
	padding-right: .25em;
	display: block;
	float: left;
}

.node-type-article #article-tags li:last-child:after {
	display: none;
}

.node-type-article #topic_box {
	position: relative;
	background: #f8fbff;
	border: 1px solid #e0e0e0;
	width: 15em;
	padding: 1em;
	margin-bottom: 1em;
	float: right;
}

.node-type-article #topic_box:after,
.node-type-article #topic_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.node-type-article #topic_box:after {
	border-color: rgba(248, 251, 255, 0);
	border-right-color: #f8fbff;
	border-width: 11px;
	margin-top: -11px;
	top: 20%;
	border-left-width: 14px;
	border-right-width: 14px;
}

.node-type-article #topic_box:before {
	border-color: rgba(224, 224, 224, 0);
	border-right-color: #e0e0e0;
	top: 20%;
	border-width: 12px;
	margin-top: -12px;
	border-left-width: 15px;
	border-right-width: 15px;
}

.node-type-article #topic_box a,
.node-type-article #topic_box img {
	display: block;
	margin: auto;
}

.node-type-article #topic_box li:first-child {
	margin-bottom: .5em;
}

.node-type-article #article-comments .fb_iframe_widget span,
.node-type-article #article-comments iframe {
	max-width: 100%;
}

/* ============================================================
|| 5.) Media Queries
============================================================ */


