/*
	TOC:
	1.) General Site Layout
	2.) Reusables/Modules
	3.) Section Specific
	4.) Page Specific
	5.) Media Queries

	Hacks:
		Targetting IE7:
			*+html [selector] {}
		Display inline-block on block-level element for IE6/7
			div {
				display: inline-block; *display: inline; zoom: 1;
			}
*/

/* ============================================================
|| 1.) General Site Layout
============================================================ */

body {
	font-size: 20px;
	background: #f1f3f4;
	width: 49em;
	margin: auto;
	font-family: sans-serif;
}

a:link,
a:visited {
	color: #28a9e9;
}

/* Header */

#site-header {
	padding: .55em 0 0 1em;
	display: inline-block; *display: inline; zoom: 1;
	vertical-align: top;
	margin-left: 116px;
	position: relative;
	min-height: 108px;
}

#site-logo {
	position: absolute;
	left: -116px;
	bottom: -15px;
}

#site-logo img {
	width: 116px;
	height: 116px;
	display: block;
}

#site-header div,
#site-header p,
#site-header ul,
#site-header li {
	float: left;
}

#site-header a {
	text-decoration: none;
}

#site-nav {
	float: left;
	width: 100%;
}

#site-user-nav {
	width: 100%;
	float: left;
	font-size: .55em;
	margin-top: -.55em;
	position: relative;
}

#site-user-nav ul {
	float: right;
}

#site-participant-nav p,
#site-user-nav,
#site-main-nav,
#site-hot-nav {
	text-transform: uppercase;
}

#site-participant-nav p,
#site-main-nav,
#site-hot-nav {
	font-family: TradeGothicLTStdCnBold;
}

#site-hot-nav {
	padding-top: .75em;
}

#site-hot-nav li {
	font-size: .75em;
	padding: 0 .5em;
	border-right: 1px solid #dbdbdb;
}

#site-hot-nav li.first {
	padding-left: 0;
}

#site-hot-nav li.last {
	border-right: none;
}

#site-hot-nav li a:hover {
	color: #000;
	text-decoration: underline;
}

#site-main-nav {
	padding: 1em 0 .75em;
	border-bottom: 1px solid #dbdbdb;
}

#site-main-nav li {
	padding-right: .9em;
}

#site-main-nav li.last {
	padding-right: 0;
}

#site-main-nav a {
	color: #000;
}

#site-main-nav a:hover {
	color: #28a9e9;
}

#site-header #site-search {
	float: right;
}

#site-miss-nav {
	padding-top: .75em;
}

#site-miss-nav p,
#site-miss-nav li {
	font-size: .6em;
}

#site-header #site-participant-nav {
	color: #333;
	border: 1px solid #d0d0d0;
	float: right;
	padding: .5em .7em;
	text-shadow: 0 1px #fff;

	background: #fdfdfd;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#ececec));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#ececec 100%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#ececec 100%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#ececec 100%);
	background: linear-gradient(to bottom,  #fdfdfd 0%,#ececec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ececec',GradientType=0 );

	-webkit-box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow:          0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
}

#site-participant-nav p {
	font-size: .9em;
}

#site-participant-nav ul {
	position: absolute;
	bottom: 110%;
	border: 1px solid #d0d0d0;
	background: #fff;
	white-space: nowrap;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 4px rgba(0, 0, 0, 0.2);
}

#site-header #site-participant-nav.focusin,
#site-header #site-participant-nav:hover {
	position: relative;

	background: #ebebeb;
	background: -moz-linear-gradient(top,  #f0f0f0 0%, #ebebeb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#ebebeb));
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
	background: -o-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
	background: linear-gradient(to bottom,  #f0f0f0 0%,#ebebeb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ebebeb',GradientType=0 );
}

#site-participant-nav.focusin ul,
#site-participant-nav:hover ul {
	bottom: auto;
	top: 100%;
	right: -1px;
}

#site-participant-nav li {
	float: none;
	display: block;
	border-bottom: 1px solid #e8e8e8;
	font-size: .7em;
}

#site-participant-nav li.last {
	border-bottom: none;
	font-size: .6em;
}

#site-participant-nav a {
	display: block;
	padding: .6em;
}

#site-participant-nav a:hover,
#site-participant-nav a:focus {
	background: #ededed;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

/* Main */

#main {
	background: #fff;
	padding: 1em;
}

/* ============================================================
|| 2.) Reusables/Modules
============================================================ */

/* Skip link */
.skip-link a {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

.skip-link a:active,
.skip-link a:focus {
	position: static !important;
	clip: auto;
	overflow: visible;
	height: auto;
}

/* ============================================================
|| 3.) Section Specific
============================================================ */

/* ============================================================
|| 4.) Page Specific
============================================================ */

/* Article Page
------------------------------------------------------------ */

/* ============================================================
|| 5.) Media Queries
============================================================ */


