/* # General
================================================== */

/* campaign specific ---------------- */

.main {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  padding: 8px;
  background: #fff;
  margin: 16px 0 0 0;
}

.main a {
  color: rgb(2, 162, 248);
}

.main h2 {
  color: #026fab;
  font-size: 2.1em;
  margin-bottom: 0.735em;
  line-height: 1.3;
}

#page {
  background: #e9e8e6;
  display: inline-block; *display: inline; zoom: 1;
  width: 100%;
  vertical-align: bottom;
}

/* header ---------------- */

.main .header {
  position: relative;
  color: #fff;
  display: inline-block; *display: inline; zoom: 1;
  width: 100%;
  vertical-align: bottom;

  background: rgb(2,136,207); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(2,136,207,1) 0%, rgba(1,165,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(2,136,207,1)), color-stop(100%,rgba(1,165,254,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(2,136,207,1) 0%,rgba(1,165,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(2,136,207,1) 0%,rgba(1,165,254,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(2,136,207,1) 0%,rgba(1,165,254,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(2,136,207,1) 0%,rgba(1,165,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0288cf', endColorstr='#01a5fe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.main .header h1 {
  float: left;
}

.main .header h1 img {
  padding: 28px 37px;
}

.main .header h1 span {
  display: block;
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.main .header .presented {
  float: right;
  font-size: .6em;
  padding: 31px 48px;
}

.main .header .presented span {
  vertical-align: top;
  display: inline-block;
  padding-top: .3em;
}
.main .footer {
  border-top: 7px solid #ddd;
}
.main .footer img {
  width: 100%;
  height: auto;
}

/* menu ---------------- */

.main .menu {
  background: #4b3639;
  display: block;
  position: relative;
}

.main .menu ul {
  padding: 8px 9px;
  display: inline-block; *display: inline; zoom: 1;
  vertical-align: bottom;
}

.main .menu li {
  float: left;
}

.main .menu li a {
  padding: 16px 0;
  display: block;
  text-align: center;
  width: 170px;
  margin-right: 1px;
  background: #5d4a4d;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.main .menu li a.active,
.main .menu li a:hover {
  background: #6f5e61;
}

.main .menu li a.active:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(111, 94, 97, 0);
  border-top-color: #6f5e61;
  border-width: 13px;
  left: 50%;
  margin-left: -13px;
  z-index: 1;
}

.main .menu .addThis {
  padding: 20px 46px 10px 10px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0;
}

.main .addThis>a {
  float: left;
}

.main .addThis .addthis_button_facebook_like {
  margin-right: 14px;
}

.main .addThis .addthis_button_email .at16nc {
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/email_bttn.png) no-repeat;
  width: 55px;
  height: 20px;
  display: inline-block;
}

.main .addThis .addthis_button_tweet iframe {
  width: 92px !important;
}

/* reusable ---------------- */

/* CTA block */

.cta {
  background-color: rgb(1,144,214); /* Old browsers */
  background-image: -moz-radial-gradient(center, ellipse cover,  rgba(1,144,214,0) 0%, rgba(1,128,206,1) 100%); /* FF3.6+ */
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(1,144,214,0)), color-stop(100%,rgba(1,128,206,1))); /* Chrome,Safari4+ */
  background-image: -webkit-radial-gradient(center, ellipse cover,  rgba(1,144,214,0) 0%,rgba(1,128,206,1) 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-radial-gradient(center, ellipse cover,  rgba(1,144,214,0) 0%,rgba(1,128,206,1) 100%); /* Opera 12+ */
  background-image: -ms-radial-gradient(center, ellipse cover,  rgba(1,144,214,0) 0%,rgba(1,128,206,1) 100%); /* IE10+ */
  background-image: radial-gradient(ellipse at center,  rgba(1,144,214,0) 0%,rgba(1,128,206,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0190d6', endColorstr='#0180ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.cta:hover,
.cta:active,
.cta:focus {
  background-color: #027CBF;
}

.cta a {
  display: block;
  position: relative;
  color: #fff;
  padding: 35px 50px;
  text-decoration: none;
}

.cta a:after {
  display: block;
  position: absolute;
  right: 26px;
  top: 50%;
  margin-top: -8px;
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/cta_arrow.png);
  content: " ";
  width: 11px;
  height: 16px;
}

.cta a * {
  color: #fff;
}

.cta h4 {
  font-size: 1.55em;
  margin-bottom: 10px;
}

.cta p {
  font-size: .875em;
}

/* More link */

.more {
  font-size: .875em;
}

.more a {
  color: #f37424;
  display: inline-block;
  padding-right: 36px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: bold;

  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.more a:after {
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/more_arrow_sprite.png) top left no-repeat;
  width: 18px;
  height: 18px;
  content: " ";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: -24px;

  -webkit-transition: margin .2s ease-in-out;
  transition: margin .2s ease-in-out;
}

.more a:hover,
.more a:focus {
  color: #d95604;
}

.more a:hover:after,
.more a:focus:after {
  margin-left: -18px;
  background-position: left -18px;
}

/* important link (button) */

.important a {
  background: #f37424;
  font-weight: bold;
  color: #fff;
  padding: 20px 45px;
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.important a:focus,
.important a:hover {
  background: #d95604;
}

/* close button */

.close a {
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/close_video_sprite.png) left top no-repeat;
  display: block;
  width: 36px;
  height: 36px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

.close a:hover {
  background-position: left -36px;
}

/* # Page Specific
================================================== */

/* Home ---------------- */

.page-wordlet-intelchange-home .first-block {
  background: #2e2425 url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/home_top_bg.jpg) left top;
  color: #fff;

  float: left;
  width: 100%;
}
.intro-block-inner {
  position: relative;
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
}
.page-wordlet-intelchange-home .intro-image {
  float: left;
}

.page-wordlet-intelchange-home .intro-image img {
  display: block;
}

.page-wordlet-intelchange-home .intro-content {
  padding-right: 290px;
  float: left;
}

.page-wordlet-intelchange-home .intro-text {
  margin-left: 95px;
  margin-bottom: 65px;
}

.page-wordlet-intelchange-home .video-play {
  position: absolute;
  right: 95px;
  top: 50%;
  margin-top: -61px;
}

.page-wordlet-intelchange-home .video-play a {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-indent: 100%;
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/watch_video_sprite.png) left top no-repeat;
  width: 123px;
  height: 123px;
}

.page-wordlet-intelchange-home .video-play a:hover {
  background-position: left -123px;
}

.page-wordlet-intelchange-home .intro-blurb {
  font-size: .875em;
  padding-top: 45px;
  line-height: 1.71;
}

.page-wordlet-intelchange-home .intro-link {
  margin: 1.75em 0 0 0;
  font-weight: bold;
}

.page-wordlet-intelchange-home .video-block {
  position: relative;
  padding: 35px;
  text-align: center;
}

.page-wordlet-intelchange-home .video-block .close a {
  position: absolute;
  right: 115px;
  top: 35px;
}

/* second block - first sub */
.page-wordlet-intelchange-home .first-sub {
  padding: 60px 55px;
  width: 405px;
  float: left;
}
.page-wordlet-intelchange-home #page .second-block .first-sub .vote-desc {
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-size: .875em;
}
.page-wordlet-intelchange-home #page .second-block .first-sub .prize-image {
  text-align: center;
  margin-bottom: 1.5em;
}
.page-wordlet-intelchange-home #page .second-block .first-sub .header-block {
  margin-bottom: 2.5em;
}
.page-wordlet-intelchange-home #page .second-block .first-sub h3 {
  color: rgb(1, 141, 216);
  font-size: 2.500em;
  margin-bottom: 0.425em;
}
.page-wordlet-intelchange-home #page .second-block .first-sub h4 {
  font-size: 1.375em;
  color: rgb(75, 54, 57);
}
.page-wordlet-intelchange-home #page .second-block .first-sub .important {
  margin-bottom: 1.5em;
}
.page-wordlet-intelchange-home #page .second-block .first-sub .important a {
  display: block;
  padding: 1em 0;
  text-align: center;
  font-size: 1.143em;
}

/* second block - second sub */
.page-wordlet-intelchange-home .second-block .second-sub {
  width: 425px;
  float: left;
  margin-right: 30px;
  color: #313131;
  position: relative;
  padding: 6px;
  top: -20px;
  color: #fff;
}

.page-wordlet-intelchange-home .second-block .second-sub:after {
  -ms-transform: rotate(0.5deg);
  -moz-transform: rotate(0.5deg);
  -webkit-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
  background: #1fa2dc;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  z-index: 0;
}
.form-content {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-home .second-block .second-sub div {
  position: relative;
  z-index: 1;
}

.page-wordlet-intelchange-home .form-blurb {
  font-size: .875em;
}

.page-wordlet-intelchange-home .default-content {
  background: #026fab;
  margin-bottom: 5px;
  padding: 30px 40px;
}

.page-wordlet-intelchange-home .default-content h3 {
  font-size: 25px;
  line-height: 1.3;
  margin-bottom: 1em;
}

.page-wordlet-intelchange-home .finalists-menu {
  white-space: nowrap;
  overflow: hidden;
}

.page-wordlet-intelchange-home .tpslide_wrapper {
  display: block;
  position: relative;
}

.page-wordlet-intelchange-home .tpslide_prev,
.page-wordlet-intelchange-home .tpslide_next {
  background: #4b3639;
  border-radius: 2px;
  text-indent: 100%;
  position: absolute;
  top: 50%;
  margin-top: -28px;
  width: 52px;
  height: 56px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.page-wordlet-intelchange-home .tpslide_prev:hover,
.page-wordlet-intelchange-home .tpslide_next:hover {
  background: #6f5e61;
}

.page-wordlet-intelchange-home .tpslide_next {
  right: -66px;
}

.page-wordlet-intelchange-home .tpslide_prev {
  left: -66px;
}

.page-wordlet-intelchange-home .tpslide_prev:after,
.page-wordlet-intelchange-home .tpslide_next:after {
  background: url(images/slide_arrows.png) 0 0 no-repeat;
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.page-wordlet-intelchange-home .tpslide_next:after {
  background-position: -52px 0;
}

.page-wordlet-intelchange-home .tpslide_nav_slides {
  display: none;
}

.page-wordlet-intelchange-home .finalists-menu li {
  display: inline-block; *display: inline; zoom: 1;
}

.page-wordlet-intelchange-home .finalists-wrapper .bio {
  background: #fff;
  color: #4b3639;
  padding: 35px 25px 40px 25px;
  text-align: center;
  line-height: 1.5;
  white-space: normal;
}

.page-wordlet-intelchange-home .finalists-wrapper .important a {
  border-radius: 0;
  font-size: 13px;
  display: block;
  text-align: center;
}

.page-wordlet-intelchange-home .finalists-wrapper .image img {
  display: block;
}

.page-wordlet-intelchange-home .finalists-wrapper .bio .finalist_headline {
  font-size: 25px;
  margin-bottom: 10px;
}

.page-wordlet-intelchange-home .finalists-wrapper .info p {
  font-size: 12px;
  margin-bottom: 10px;
}

.page-wordlet-intelchange-home .finalists-wrapper .blurb {
  font-size: 13px;
  font-weight: bold;
}

.page-wordlet-intelchange-home .footer-block {
  clear: both;
  display: inline-block; *display: inline; zoom: 1;
  width: 100%;
  vertical-align: bottom;
}

.page-wordlet-intelchange-home .facts-block {
  float: left;
  background: #fff;
  margin: 10px 3px 10px 10px;
}

.page-wordlet-intelchange-home .partners-block {
  background: #fff;
  padding: 35px 0 35px 35px;
  margin: 10px 10px 10px 343px;
  height: 182px;
}

.page-wordlet-intelchange-home .partners-block a {
  text-decoration: none;
}

.page-wordlet-intelchange-home .partners-block h4 {
  color: #026fab;
  font-size: 1.15em;
  margin-bottom: 30px;
}

.page-wordlet-intelchange-home .partners-block .partners-list {
  float: left;
  margin: 0 0 0 20px;
}

.page-wordlet-intelchange-home .partners-block .parnter {
  float: left;
  margin: 0 70px 0 0;
}

.page-wordlet-intelchange-home .form-state {
  color: #4b3639;
  background: #fff;
  padding: 40px;
}

.page-wordlet-intelchange-home .form-state h3 {
  font-size: 1.88em;
  margin-bottom: 0.735em;
}

.page-wordlet-intelchange-home .form-state p {
  margin-bottom: 1em;
  line-height: 1.3;
}

.page-wordlet-intelchange-home .form-required {
  color: #fff;
}

.page-wordlet-intelchange-home .second-block .form_wrapper .form-item input {
  background: #f7f6f6;
  border-radius: 3px;
  color: rgb(75,54,57);
  padding: 0.214em 3%;
  width: 92%;
  font-size: 2em;
  border: 0.107em solid #d4d4d4;
}

.page-wordlet-intelchange-home .second-block .messages li,
.page-wordlet-intelchange-home .second-block .form-item,
.page-wordlet-intelchange-home .second-block fieldset,
.page-wordlet-intelchange-home .second-block .form-actions {
  margin-bottom: 1.5em;
}

.page-wordlet-intelchange-home .second-block .error {
  background: none;
  color: red;
}

.page-wordlet-intelchange-home .second-block .messages ul {
  margin: 0;
}

.page-wordlet-intelchange-home .second-block label,
.page-wordlet-intelchange-home .second-block legend,
.page-wordlet-intelchange-home .second-block .fieldset-legend {
  margin-bottom: 0.625em;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(75, 54, 57);
}

.page-wordlet-intelchange-home .second-block legend small {
  text-transform: none;
  font-weight: normal;
}

.page-wordlet-intelchange-home .second-block fieldset .form-item {
  width: 30%;
  float: left;
  margin: 0 3% 0 0;
}

.page-wordlet-intelchange-home .second-block .form-actions input {
  background: #f37424;
  font-weight: bold;
  color: #fff;
  padding: .8em 2.5em;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  font-size: 1.1em;
  border: none;
}

.page-wordlet-intelchange-home .second-block .form-actions input:hover,
.page-wordlet-intelchange-home .second-block .form-actions input:focus {
  background: #d95604;
}

.page-wordlet-intelchange-home .second-block .optional-info {
  font-size: .75em;
  margin: 3em 0 2em 0;
}

.page-wordlet-intelchange-home .second-block .terms-link {
  font-size: .8em;
}

.page-wordlet-intelchange-home .second-block .close a {
  position: absolute;
  right: 10px;
  top: 10px;
}

.page-wordlet-intelchange-home .fact {
  display: none;
}
.page-wordlet-intelchange-home .fact a {
  display: table-cell;
  vertical-align: middle;
  height: 252px;
  width: 329px;
  text-align: center;
}
.page-wordlet-intelchange-home .fact a img {
  display: block;
  margin: 0 auto;
}
.page-wordlet-intelchange-home .fact0 {
  display: block;
}

/* Contest ---------------- */
.page-wordlet-intelchange-contest #page {
  padding: 31px 11px 80px 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-contest #page p,
.page-wordlet-intelchange-contest #page ul,
.page-wordlet-intelchange-contest #page ol {
  line-height: 1.5em;
  margin-bottom: 1em;
  font-size: .875em;
}
.page-wordlet-intelchange-contest #page .first-block,
.page-wordlet-intelchange-contest #page .second-block,
.page-wordlet-intelchange-contest #page .third-block {
  padding: 0 43px;
}

.page-wordlet-intelchange-contest #page .first-block {
  padding-bottom: 29px;
}
.page-wordlet-intelchange-contest #page .first-block h2 {
  padding-top: 0;
  line-height: 0.8em;
  margin-bottom: 0.5em;
  font-size: 1.938em;
}
.page-wordlet-intelchange-contest #page .first-block .image {
  float: left;
  margin-right: 49px;
}

.page-wordlet-intelchange-contest #page .second-block {
  position: relative;
  background: rgb(255, 255, 255);
  color: rgb(75, 54, 57);
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 360px;
  _height: 360px;
}
.page-wordlet-intelchange-contest #page .second-block .first-sub {
  float: left;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-right: 466px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-contest #page .second-block .second-sub {
  float: left;
  color: #fff;
  position: relative;
  margin-bottom: -9px;
  margin-left: -427px;
}
.page-wordlet-intelchange-contest #page .second-block .first-sub .prize-image {
  text-align: center;
}
.page-wordlet-intelchange-contest #page .second-block .first-sub .header-block {
  position: absolute;
  top: 225px;
  padding-right: 509px;
}
.page-wordlet-intelchange-contest #page .second-block .first-sub h3 {
  color: rgb(1, 141, 216);
  font-size: 2.500em;
  margin-bottom: 0.325em;
}
.page-wordlet-intelchange-contest #page .second-block .first-sub h4 {
  font-size: 1.375em;
  color: rgb(75, 54, 57);
  margin-bottom: 0.5em;
}
.page-wordlet-intelchange-contest #page .second-block .second-sub .sub-wrapper {
  position: relative;
  background: #026fab;
  width: 427px;
  padding: 39px 33px 33px 33px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-contest #page .second-block .second-sub:before {
  -ms-transform: rotate(0.5deg);
  -moz-transform: rotate(0.5deg);
  -webkit-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
  background: #1fa2dc;
  padding: 6px;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: " ";
}
.page-wordlet-intelchange-contest #page .second-block .finalists-menu {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  margin-top: -4px;
  margin-left: -4px;
  margin-bottom: 1.5em;
}
.page-wordlet-intelchange-contest #page .second-block .finalists-menu li {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  margin-left: 4px;
  margin-top: 4px;
}
.page-wordlet-intelchange-contest #page .second-block .finalists-menu li {
  float: left;
}
.page-wordlet-intelchange-contest #page .second-block .finalists-menu li a,
.page-wordlet-intelchange-contest #page .second-block .finalists-menu li img {
  display: block;
}
.page-wordlet-intelchange-contest #page .second-block .finalists-menu li a {
  position: relative;
}
.page-wordlet-intelchange-contest #page .second-block .finalists-menu li a .outline {
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
}
.page-wordlet-intelchange-contest #page .second-block .finalists-menu li a:hover .outline {
  border-color: #d95604;
}
.page-wordlet-intelchange-contest #page .second-block .instructions {
  margin-bottom: 1.5em;
}
.page-wordlet-intelchange-contest #page .second-block .instructions a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.page-wordlet-intelchange-contest #page .second-block .second-sub .important {
  margin-bottom: 0;
}
.page-wordlet-intelchange-contest #page .second-block .second-sub .important a {
  display: block;
  padding: 1em 0;
  text-align: center;
  font-size: 1.143em;
}
.page-wordlet-intelchange-contest #page .third-block {
  padding-top: 67px;
  padding-left: 413px;
  position: relative;
  min-height: 389px;
  _height: 389px;
}
.page-wordlet-intelchange-contest #page .third-block h3 {
  font-size: 1.375em;
  margin-bottom: 1em;
  color: rgb(75, 54, 57);
}
.page-wordlet-intelchange-contest #page .countries .country_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  padding-top: 80px;
  text-align: center;
}
.page-wordlet-intelchange-contest #page .countries-nav li {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  margin-right: 57px;
  font-size: 1.071em;
}
.page-wordlet-intelchange-contest #page .countries-nav a {
  color: #f37424;
  text-transform: uppercase;
  font-weight: bold;
}
.page-wordlet-intelchange-contest #page .countries-nav a.active {
  color: #333;
}
.page-wordlet-intelchange-contest #page .country_body ul {
  list-style: none;
  padding: 0;
}
.page-wordlet-intelchange-contest #page .country_body li {
  margin-bottom: 1em;
  padding-left: 4em;
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/pencil.png) no-repeat 0.5em 0.5em;
}

/* Contest Interim -------- */
.page-wordlet-intelchange-contest #page .first-block.interim {
  border-bottom: 2px solid rgb(201, 196, 195);
  padding-bottom: 36px;
}

.page-wordlet-intelchange-contest #page .third-block.interim {
  padding-top: 59px;
}
.page-wordlet-intelchange-contest #page .third-block.interim .countries .country_image {
  padding-top: 69px;
}

/* Contest Enter ---------------- */
.page-wordlet-intelchange-contest-enter #page {
  padding: 60px 27px 85px 27px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-contest-enter #page p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-size: .875em;
}
.page-wordlet-intelchange-contest-enter #page h2 {
  margin-bottom: 0.559em;
}
.page-wordlet-intelchange-contest-enter #page h3 {
  font-size: 1.313em;
  font-weight: normal;
  margin-bottom: 1em;
}
.page-wordlet-intelchange-contest-enter #page .info-block,
.page-wordlet-intelchange-contest-enter #page .form-block {
  float: left;
}
.page-wordlet-intelchange-contest-enter #page .info-block {
  width: 350px;
}
.page-wordlet-intelchange-contest-enter #page .form-block {
  position: relative;
  width: 510px;
  margin-right: 69px;
}
.page-wordlet-intelchange-contest-enter #page .form-block:before {
  -ms-transform: rotate(-0.2deg);
  -moz-transform: rotate(-0.2deg);
  -webkit-transform: rotate(-0.2deg);
  -o-transform: rotate(-0.2deg);
  transform: rotate(-0.2deg);
  background: #1fa2dc;
  padding: 6px;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: " ";
}

/* enter form */
.page-wordlet-intelchange-contest-enter #page .form-block.cms p {
  font-size: 0.813em;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms form,
.page-wordlet-intelchange-contest-enter #page .form-block.cms .thank-you-message {
  position: relative;
  padding: 2.857em 3.214em;
  background: #fff;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .thank-you-message h3 {
  font-size: 1.750em;
  margin-bottom: .5em;
  margin-top: 0;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .thank-you-message .addThis>a {
  margin-right: 10px;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-textfield {
  margin-bottom: 1em;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-radios,
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-checkbox {
  margin-bottom: 1em;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-textfield label,
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-radios label,
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-checkbox label {
  font-size: 0.813em;
  margin-bottom: 0.231em;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(75, 54, 57);
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-radios .form-radios {
  margin-top: 0.615em;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-radio label,
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-checkbox label {
  font-weight: normal;
  text-transform: none;
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  margin: 0 15px 0 22px;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-checkbox label {
  width: 360px;
  margin-right: 0;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-textfield input {
  background: #f7f6f6;
  border-radius: 3px;
  color: rgb(75,54,57);
  padding: 0.214em 3%;
  width: 92%;
  font-size: 2em;
  border: 0.107em solid #d4d4d4;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-radio input,
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-checkbox input {
  margin: 3px 0 0;
  position: absolute;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-actions input {
  background: #f37424;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  padding: .8em 2.5em;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  font-size: 1.1em;
  border: none;

  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-item {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  margin: 0 0 1.25em 0;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-item .form-item {
  margin-bottom: 0.25em;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-item-about-you .form-item {
  width: 50%;
  float: left;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-actions {
  margin: 29px 0 0 0;
  }
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-actions input:hover,
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-actions input:focus {
  background: #d95604;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms form .visible-description p {
  margin-bottom: 0.625em;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms form label.error {
  color: rgb(229, 30, 30);
  margin-bottom: 3px;
  text-transform: none;
  font-weight: normal;
  display: block;
  width: 100%;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms form .form-type-checkbox label.error {
  margin-left: 0;
  margin-right: 0;
}
.page-wordlet-intelchange-contest-enter #page .form-block.cms .form-type-textfield input.error {
  border-color: rgb(229, 30, 30);
}

.page-wordlet-intelchange-contest-enter #page .important-info-block {
  margin-bottom: 3em;
}
.page-wordlet-intelchange-contest-enter #page .important-info-block ol {
  list-style: none;
  font-size: 1.02em;
}
.page-wordlet-intelchange-contest-enter #page .important-info-block ol li {
  margin-bottom: 1em;
  padding-left: 42px;
  line-height: 1.5em;
  counter-increment: customlistcounter;
  *list-style-type: decimal;
  position: relative;
}
.page-wordlet-intelchange-contest-enter #page .important-info-block ol li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
  position: absolute;
  left: 0px;
  font-size: 2em;
  top: 8px;
  color: rgb(2, 111, 171);
}
.page-wordlet-intelchange-contest-enter #page .tips-block ul {
  list-style: none;
  padding: 0;
}
.page-wordlet-intelchange-contest-enter #page .tips-block li {
  margin-bottom: 1em;
}

/* About ---------------- */
.page-wordlet-intelchange-about #page h2 {
  margin-bottom: 0.5em;
}
.page-wordlet-intelchange-about #page p,
.page-wordlet-intelchange-about #page ul,
.page-wordlet-intelchange-about #page ol {
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-size: 0.875em;
}
.page-wordlet-intelchange-about #page .special-lists li {
  margin-bottom: 1.5em;
  padding-left: 4em;
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/pencil.png) no-repeat 0.5em 0.5em;
  min-height: 27px;
  _height: 27px;
}
.page-wordlet-intelchange-about #page {
  padding: 25px 15px 40px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-about .content-info {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  width: 797px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-about .content-info #about-intel,
.page-wordlet-intelchange-about .content-info #about-partners .partner {
  background: rgb(255, 255, 255);
}
.page-wordlet-intelchange-about .content-info #about-intel {
  padding: 49px 69px 50px 69px;
}
.page-wordlet-intelchange-about .content-info #about-partners .partner {
  padding: 2.5em 0 3em 0;
  margin-bottom: 5px;
}
.page-wordlet-intelchange-about .content-nav {
  width: 153px;
  float: left;
}
.page-wordlet-intelchange-about .content-nav ul li {
  margin-bottom: 9px;
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  position: relative;
}
.page-wordlet-intelchange-about .content-nav ul li a {
  text-transform: uppercase;
  background: rgb(244, 244, 244);
  display: block;
  text-align: center;
  font-weight: bold;
  color: rgb(75, 54, 57);
  width: 137px;
  height: 80px;
  display: table-cell;
  vertical-align: middle;
}
.page-wordlet-intelchange-about .content-nav ul a.active {
  color: rgb(255, 255, 255);
  background: rgb(0, 140, 215);
}
.page-wordlet-intelchange-about .content-nav ul a.active::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent rgb(0, 140, 215);
  border-width: 40px 0 40px 17px;
  border-style: dotted solid dotted; /* mozilla + osx fix */
}
.page-wordlet-intelchange-about .partner {
  display: inline-block; *display: inline; *zoom: 1;
}
.page-wordlet-intelchange-about .partner .image {
  float: left;
  display: inline-block; *display: inline; *zoom: 1;
  width: 210px;
  text-align: center;
}
.page-wordlet-intelchange-about .partner .description {
  margin: 0 20px;
}

/* Vote ---------------- */

.page-wordlet-intelchange-vote #page {
  padding-top: 3.750em;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-vote #page .first-block {
  position: relative;
}
.page-wordlet-intelchange-vote #page .first-block h2 {
  color: rgb(1, 141, 216);
  font-size: 40px;
  margin-bottom: 0.225em;
  margin-top: 0;
}

.page-wordlet-intelchange-vote #page .first-block h3 {
  font-size: 22px;
  color: rgb(75, 54, 57);
  margin-bottom: 0.5em;
  margin-top: 0;
}
.page-wordlet-intelchange-vote #page .first-block .header-block {
  max-width: 600px;
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
}
.page-wordlet-intelchange-vote #page .first-block .vote-desc {
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-size: 14px;
}

.page-wordlet-intelchange-vote #page .first-block .prize-image {
  float: right;
}
/* vote block */
.page-wordlet-intelchange-vote #page .second-block {
  background: rgb(54,44, 44);
  margin-top: 50px;
  position: relative;
  margin-bottom: 145px;
}
.page-wordlet-intelchange-vote #page .second-block .vote {
  width: 555px;
  margin: 0 auto;
  background: rgb(38, 31, 31);
  text-align: center;
}
.page-wordlet-intelchange-vote #page .second-block .vote h3 {
  background: rgb(1, 139, 212);
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  padding: 0.5em 0.458em;
  font-size: 22px;
  margin-bottom: 0.458em;
  width: 100%;
  left: -0.458em;
  top: -0.458em;
}
.page-wordlet-intelchange-vote #page .second-block .vote h3::after,
.page-wordlet-intelchange-vote #page .second-block .vote h3::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border-color: rgb(22, 101, 145);
  border-bottom-color: transparent;
  border-style: solid;
  border-width: 0.458em;
  border-bottom-width: 0;
}
.page-wordlet-intelchange-vote #page .second-block .vote h3::before {
  left: 0;
  border-left-color: transparent;
  border-right-width: 0;
}
.page-wordlet-intelchange-vote #page .second-block .vote h3::after {
  right: 0;
  border-right-color: transparent;
  border-left-width: 0;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .sect-one,
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .sect-two {
  position: absolute;
  top: 0;
  padding: 5px;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .sect-one {
  left: 0;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .sect-two {
  right: 0;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .finalist {
  position: relative;
  margin-bottom: 2px;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .finalist a {
  display: block;
  width:163px;
  height: 175px;
  background: rgb(233, 232, 230);
  text-align: center;
  padding-top: 13px;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .finalist .portrait {
  position: relative;
  display: inline-block; *display: inline; *zoom: 1;
  margin-bottom: 13px;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .finalist .voted .portrait::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  content: ' ';
  height: 100%;
  width: 100%;
  background-image: url(images/check_56_42.png);
  background-repeat: no-repeat;
  background-position: 10% 90%;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .finalist .portrait img {
  max-width: 100%;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .finalist .name {
  display: block;
  color: rgb(38, 31, 31);
  font-size: 16px;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .finalist a {
  text-decoration: none;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .finalist a.active {
  background: rgb(243, 116, 36);
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .finalist a.active .name {
  color: rgb(255, 255, 255);
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .sect-one .finalist a::after,
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .sect-two .finalist a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 10px;
  border-style: solid;
  -webkit-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .sect-one .finalist a.active::after,
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .sect-two .finalist a.active::before {
  border-color: transparent rgb(243, 116, 36) transparent;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .sect-one .finalist a.active::after {
  border-right-color: transparent;
  border-right-width: 0;
  left: 100%;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalists-menu .sect-two .finalist a.active::before {
  border-left-color: transparent;
  border-left-width: 0;
  right: 100%;
}

.js .page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist {
  display: none;
}
.js .page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist.active {
  display: block;
}
/*.js .page-wordlet-intelchange-vote #page .second-block .vote .finalist-menu,
.js .page-wordlet-intelchange-vote #page .second-block .vote .finalist-content {
  display: none;
}*/

.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist p {
  color: rgb(255, 255, 255);
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .addThis {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .addThis>a {
  margin: 0 10px;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .video {
  margin-bottom: 35px;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .video .video-player {
  display: block;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .name {
  font-size: 1.938em;
  color: rgb(31, 162, 220);
  margin-bottom: 15px;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .details {
  padding: 0 40px 40px 40px;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .facts p {
  font-size: 14px;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .blurb p {
  font-size: 16px;
  font-weight: bold;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .full-text p {
  font-size: 13px;
  text-align: left;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .vote-btn a {
  margin-top: 2.250em;
  margin-bottom: 1.563em;
  padding: 1em 2.875em;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .already-voted p {
  color: #f37424;
  font-weight: bold;
  font-size: 16px;
  padding: 0 2.875em;
  line-height: 1.25em;
  margin: 35px 0;
}
.page-wordlet-intelchange-vote #page .second-block .vote .finalist-content .finalist .already-voted-this p {
  font-weight: bold;
  font-size: 16px;
  padding: 0 2.875em;
  line-height: 1.25em;
  min-height: 20px;
  _height: 20px;
  background: url(images/check_27_20.png) no-repeat;
  padding-left: 39px;
  display: inline-block; *display: inline; *zoom: 1;
  margin: 35px auto;
}

.page-wordlet-intelchange-vote .intelforchange_modal {
  border-radius: 0;
  border: 5px solid rgb(233, 232, 230);
  max-width: 565px;
}
.page-wordlet-intelchange-vote .intelforchange_content {
  padding: 40px;
  font-family: Verdana, sans-serif;
  font-size: 13px;
}
.page-wordlet-intelchange-vote .intelforchange_content .title {
  font-size: 35px;
  margin: 0 0 0.5em 0;
  color: rgb(2, 111, 171);
}
.page-wordlet-intelchange-vote .intelforchange_modal .error {
  color: rgb(229, 30, 30);
}
.page-wordlet-intelchange-vote .intelforchange_modal .form-submit {
  background: #f37424;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 16px 77px;
  cursor: pointer;
  margin-bottom: 30px;

  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}
.page-wordlet-intelchange-vote .intelforchange_modal .form-submit:focus,
.page-wordlet-intelchange-vote .intelforchange_modal .form-submit:hover {
  background: #d95604;
}
.page-wordlet-intelchange-vote .intelforchange_modal .footnote {
  color: rgb(133, 133, 133);
  font-size: 12px;
}
.page-wordlet-intelchange-vote .intelforchange_modal .intelforchange_close {
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/close_video_sprite.png) left top no-repeat;
  display: block;
  width: 36px;
  height: 36px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  margin-top: 13px;
  margin-right: 13px;
}
.page-wordlet-intelchange-vote .intelforchange_modal .cancel {
  color: rgb(2, 162, 248);
  cursor: pointer;
  margin-top: 2em;
}

.page-wordlet-intelchange-vote .intelforchange_modal h6 {
  font-size: 25px;
  margin: 0 0 0.4em 0;
  color: rgb(75, 54, 57);
}