/* # General
================================================== */

/* campaign specific ---------------- */

.main {
  font-size: 16px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 8px;
  background: #fff;
  margin: 16px 0;
}

.main a {
  color: rgb(2, 162, 248);
}

.main h2 {
  color: #026fab;
  font-size: 2.1em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.content {
  background: #e9e8e6;
  display: inline-block; *display: inline; zoom: 1;
  width: 100%;
  vertical-align: bottom;
}

/* header ---------------- */

.main .header {
  position: relative;
  color: #fff;
  display: inline-block; *display: inline; zoom: 1;
  width: 100%;
  vertical-align: bottom;

  background: rgb(2,136,207); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(2,136,207,1) 0%, rgba(1,165,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(2,136,207,1)), color-stop(100%,rgba(1,165,254,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(2,136,207,1) 0%,rgba(1,165,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(2,136,207,1) 0%,rgba(1,165,254,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(2,136,207,1) 0%,rgba(1,165,254,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(2,136,207,1) 0%,rgba(1,165,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0288cf', endColorstr='#01a5fe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.main .header h1 {
  float: left;
}

.main .header h1 img {
  padding: 28px 37px;
}

.main .header h1 span {
  display: block;
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.main .header .presented {
  float: right;
  font-size: .6em;
  padding: 31px 48px;
}

.main .header .presented span {
  vertical-align: top;
  display: inline-block;
  padding-top: .3em;
}

.main .footer img {
  width: 100%;
  height: auto;
}

/* menu ---------------- */

.main .menu {
  background: #4b3639;
  display: block;
  position: relative;
}

.main .menu ul {
  padding: 8px 9px;
}

.main .menu li {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;

}

.main .menu li a {
  padding: 16px 0;
  display: block;
  text-align: center;
  width: 170px;
  margin-right: 1px;
  background: #5d4a4d;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.main .menu li a.active,
.main .menu li a:hover {
  background: #6f5e61;
}

.main .menu li a.active:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(111, 94, 97, 0);
  border-top-color: #6f5e61;
  border-width: 13px;
  left: 50%;
  margin-left: -13px;
}

.main .menu .addThis {
  padding: 20px 46px 10px 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.main .addThis>a {
  float: left;
}

.main .addThis .addthis_button_facebook_like {
  margin-right: 14px;
}

.main .addThis .addthis_button_email .at16nc {
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/email_bttn.png) no-repeat;
  width: 55px;
  height: 20px;
  display: inline-block;
}

.main .addThis .addthis_button_tweet iframe {
  width: 92px !important;
}

/* reusable ---------------- */

/* CTA block */

.cta {
  background: rgb(1,144,214); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(1,144,214,1) 0%, rgba(1,128,206,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(1,144,214,1)), color-stop(100%,rgba(1,128,206,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(1,144,214,1) 0%,rgba(1,128,206,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(1,144,214,1) 0%,rgba(1,128,206,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(1,144,214,1) 0%,rgba(1,128,206,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(1,144,214,1) 0%,rgba(1,128,206,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0190d6', endColorstr='#0180ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.cta:hover {
  background: #027CBF;
}

.cta a {
  display: block;
  position: relative;
  color: #fff;
  padding: 35px 50px;
  text-decoration: none;
}

.cta a:after {
  display: block;
  position: absolute;
  right: 26px;
  top: 50%;
  margin-top: -8px;
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/cta_arrow.png);
  content: " ";
  width: 11px;
  height: 16px;
}

.cta a * {
  color: #fff;
}

.cta h4 {
  font-size: 1.55em;
  margin-bottom: 10px;
}

.cta p {
  font-size: .88em;
}

/* More link */

.more {
  font-size: .88em;
}

.more a {
  color: #f37424;
  display: inline-block;
  padding-right: 36px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: bold;

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.more a:after {
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/more_arrow_sprite.png) top left no-repeat;
  width: 18px;
  height: 18px;
  content: " ";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: -24px;

  -webkit-transition: margin .2s ease-in-out;
  -moz-transition: margin .2s ease-in-out;
  -o-transition: margin .2s ease-in-out;
  -ms-transition: margin .2s ease-in-out;
  transition: margin .2s ease-in-out;
}

.more a:hover,
.more a:focus {
  color: #d95604;
}

.more a:hover:after,
.more a:focus:after {
  margin-left: -18px;
  background-position: left -18px;
}

/* important link (button) */

.important a {
  background: #f37424;
  font-weight: bold;
  color: #fff;
  padding: 20px 45px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.important a:focus,
.important a:hover {
  background: #d95604;
}

/* close button */

.close a {
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/close_video_sprite.png) left top no-repeat;
  display: block;
  width: 36px;
  height: 36px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

.close a:hover {
  background-position: left -36px;
}

/* # Page Specific
================================================== */

/* Home ---------------- */

.page-wordlet-intelchange-home .first-block {
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/home_top_bg.jpg) left top;
  color: #fff;

  float: left;
  width: 100%;
}

.page-wordlet-intelchange-home .intro-image {
  float: left;
}

.page-wordlet-intelchange-home .intro-image img {
  display: block;
}

.page-wordlet-intelchange-home .intro-content {
  padding-right: 290px;
  float: left;
}

.page-wordlet-intelchange-home .video-play {
  float: left;
  margin-left: -290px;
}

.page-wordlet-intelchange-home .video-play a {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-indent: 100%;
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/watch_video_sprite.png) left top no-repeat;
  width: 123px;
  height: 123px;
  margin: 60px 0 0 60px;
}

.page-wordlet-intelchange-home .video-play a:hover {
  background-position: left -123px;
}

.page-wordlet-intelchange-home .intro-blurb {
  font-size: .88em;
  padding-top: 45px;
}

.page-wordlet-intelchange-home .intro-link {
  margin: 1em 0;
}

.page-wordlet-intelchange-home .video-block {
  position: relative;
  padding: 35px;
  text-align: center;
}

.page-wordlet-intelchange-home .video-block .close a {
  position: absolute;
  right: 115px;
  top: 35px;
}

.page-wordlet-intelchange-home .form-desc {
  padding: 60px 55px;
  width: 380px;
  float: left;
}

.page-wordlet-intelchange-home .second-block .form_wrapper {
  width: 425px;
  float: left;
  margin-right: 30px;
  color: #313131;
  position: relative;
  padding: 6px;
  top: -20px;
  color: #fff;
}

.page-wordlet-intelchange-home .second-block .form_wrapper:after {
  -ms-transform: rotate(0.5deg);
  -moz-transform: rotate(0.5deg);
  -webkit-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
  background: #1fa2dc;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  z-index: 0;
}

.page-wordlet-intelchange-home .second-block .form_wrapper div {
  position: relative;
  z-index: 1;
}

.page-wordlet-intelchange-home .form-blurb {
  font-size: .88em;
}

.page-wordlet-intelchange-home .default-content {
  background: #026fab;
  margin-bottom: 5px;
  padding: 95px 50px;
}

.page-wordlet-intelchange-home .default-content h3 {
  font-size: 1.9em;
  line-height: 1.3;
  margin-bottom: 1em;
}

.page-wordlet-intelchange-home .footer-block {
  clear: both;
  display: inline-block; *display: inline; zoom: 1;
  width: 100%;
  vertical-align: bottom;
}

.page-wordlet-intelchange-home .facts-block {
  float: left;
  background: #fff;
  padding: 5px;
  margin: 10px 3px 10px 10px;
}

.page-wordlet-intelchange-home .partners-block {
  background: #fff;
  padding: 35px 0 35px 35px;
  margin: 10px 10px 10px 343px;
  height: 182px;
}

.page-wordlet-intelchange-home .partners-block a {
  text-decoration: none;
}

.page-wordlet-intelchange-home .partners-block h4 {
  color: #026fab;
  font-size: 1.15em;
  margin-bottom: 30px;
}

.page-wordlet-intelchange-home .partners-block .partners-list {
  float: left;
  margin: 0 0 0 20px;
}

.page-wordlet-intelchange-home .partners-block .parnter {
  float: left;
  margin: 0 70px 0 0;
}

.page-wordlet-intelchange-home .form-state {
  color: #4b3639;
  background: #fff;
  padding: 40px;
}

.page-wordlet-intelchange-home .form-state h3 {
  font-size: 1.88em;
  margin-bottom: 1em;
}

.page-wordlet-intelchange-home .form-state p {
  margin-bottom: 1em;
  line-height: 1.3;
}

.page-wordlet-intelchange-home .form-required {
  color: #fff;
}

.page-wordlet-intelchange-home .second-block .form_wrapper .form-item input {
  background: rgb(235,235,235);
  border-radius: 3px;
  color: rgb(75,54,57);
  padding: 6px 3%;
  width: 94%;
  font-size: 2em;
  border: 1px solid #999;
}

.page-wordlet-intelchange-home .second-block .messages li,
.page-wordlet-intelchange-home .second-block .form-item,
.page-wordlet-intelchange-home .second-block fieldset,
.page-wordlet-intelchange-home .second-block .form-actions {
  margin-bottom: 1em;
}

.page-wordlet-intelchange-home .second-block .error {
  background: none;
  color: red;
}

.page-wordlet-intelchange-home .second-block .messages ul {
  margin: 0;
}

.page-wordlet-intelchange-home .second-block label,
.page-wordlet-intelchange-home .second-block legend {
  margin-bottom: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.page-wordlet-intelchange-home .second-block legend small {
  text-transform: none;
  font-weight: normal;
}

.page-wordlet-intelchange-home .second-block fieldset .form-item {
  width: 30%;
  float: left;
  margin: 0 3% 0 0;
}

.page-wordlet-intelchange-home .second-block .form-actions input {
  background: #f37424;
  font-weight: bold;
  color: #fff;
  padding: .8em 2.5em;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  font-size: 1.1em;
  border: none;
}

.page-wordlet-intelchange-home .second-block .form-actions input:hover,
.page-wordlet-intelchange-home .second-block .form-actions input:focus {
  background: #d95604;
}

.page-wordlet-intelchange-home .second-block .optional-info {
  font-size: .75em;
  margin: 3em 0 2em 0;
}

.page-wordlet-intelchange-home .second-block .terms-link {
  font-size: .8em;
}

.page-wordlet-intelchange-home .second-block .close a {
  position: absolute;
  right: 10px;
  top: 10px;
}

.page-wordlet-intelchange-home .fact {
  display: none;
}

.page-wordlet-intelchange-home .fact0 {
  display: block;
}

/* Contest ---------------- */
.page-wordlet-intelchange-contest .content {
  padding: 31px 11px 80px 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-contest .content h2 {
  margin-bottom: 0.5em;
}
.page-wordlet-intelchange-contest .content h3 {
  color: #4b3639;
  font-size: 25px;
  margin-bottom: 20px;
}
.page-wordlet-intelchange-contest .content p,
.page-wordlet-intelchange-contest .content ul,
.page-wordlet-intelchange-contest .content ol {
  line-height: 1.5em;
  margin-bottom: 1em;
  font-size: .88em;
}
.page-wordlet-intelchange-contest .content .first-block,
.page-wordlet-intelchange-contest .content .second-block,
.page-wordlet-intelchange-contest .content .third-block {
  padding: 0 43px;
}

.page-wordlet-intelchange-contest .content .first-block {
  padding-bottom: 29px;
}
.page-wordlet-intelchange-contest .content .first-block h2 {
  padding-top: 0.5em;
}
.page-wordlet-intelchange-contest .content .first-block .image {
  float: left;
  margin-right: 49px;
}

.page-wordlet-intelchange-contest .content .second-block {
  position: relative;
  background: rgb(255, 255, 255);
  color: rgb(75, 54, 57);
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-contest .content .second-block .first-sub {
  margin-right: 507px;
  float: left;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}
.page-wordlet-intelchange-contest .content .second-block .second-sub {
  float: right;
  color: #fff;
  position: absolute;
  right: 43px;
}
.page-wordlet-intelchange-contest .content .second-block .second-sub .sub-wrapper {
  position: relative;
  background: #026fab;
  width: 317px;
  padding: 53px 40px 40px 40px;
}
.page-wordlet-intelchange-contest .content .second-block .second-sub:before {
  -ms-transform: rotate(0.5deg);
  -moz-transform: rotate(0.5deg);
  -webkit-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
  background: #1fa2dc;
  padding: 6px;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: " ";
}
.page-wordlet-intelchange-contest .content .second-block .second-sub .instructions ol {
  list-style: none;
  font-size: 1.02em;
}
.page-wordlet-intelchange-contest .content .second-block .second-sub .instructions li {
  margin-bottom: 1em;
  padding-left: 42px;
  line-height: 1.5em;
  counter-increment: customlistcounter;
  *list-style-type: decimal;
  position: relative;
}
.page-wordlet-intelchange-contest .content .second-block .second-sub .instructions li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
  position: absolute;
  left: 0px;
  font-size: 2em;
  top: 8px;
}
.page-wordlet-intelchange-contest .content .second-block .second-sub .important {
  margin: 30px 0 0 0;
}
.page-wordlet-intelchange-contest .content .third-block {
  padding-top: 80px;
  padding-left: 413px;
  position: relative;
  min-height: 389px;
  _height: 389px;
}
.page-wordlet-intelchange-contest .content .countries .country_image {
  position: absolute;
  left: 0;
  top: 80px;
}
.page-wordlet-intelchange-contest .content .third-block h3 {
  margin-bottom: 1em;
}
.page-wordlet-intelchange-contest .content .countries-nav li {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  margin-right: 57px;
}
.page-wordlet-intelchange-contest .content .countries-nav a {
  color: #f37424;
  text-transform: uppercase;
  font-weight: bold;
}
.page-wordlet-intelchange-contest .content .countries-nav a.active {
  color: #333;
}
.page-wordlet-intelchange-contest .content .country_body ul {
  list-style: none;
  padding: 0;
}
.page-wordlet-intelchange-contest .content .country_body li {
  margin-bottom: 1em;
  padding-left: 4em;
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/pencil.png) no-repeat 0.5em 0.5em;
}


/* About ---------------- */
.page-wordlet-intelchange-about .content h2 {
  margin-bottom: 0.5em;
}
.page-wordlet-intelchange-about .content p,
.page-wordlet-intelchange-about .content ul,
.page-wordlet-intelchange-about .content ol {
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-size: .88em;
}
.page-wordlet-intelchange-about .content .special-lists li {
  margin-bottom: 1.5em;
  padding-left: 4em;
  background: url(/profiles/takepart/themes/takepart3/campaigns/intelchange/images/pencil.png) no-repeat 0.5em 0.5em;
}
.page-wordlet-intelchange-about .content {
  padding: 25px 15px 40px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-about .content-info {
  display: inline-block; *display: inline; *zoom: 1;
  background: rgb(255, 255, 255);
  vertical-align: top;
  width: 797px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-intelchange-about .tab-content {
  padding: 49px 69px 50px 69px;
}
.page-wordlet-intelchange-about .content-nav {
  width: 157px;
  float: left;
}
.page-wordlet-intelchange-about .content-nav ul li {
  margin-bottom: 9px;
}
.page-wordlet-intelchange-about .content-nav ul li a {
  text-transform: uppercase;
  background: rgb(244, 244, 244);
  display: block;
  position: relative;
  text-align: center;
  font-weight: bold;
  color: rgb(75, 54, 57);
  width: 137px;
  height: 80px;
  display: table-cell;
  vertical-align: middle;
}
.page-wordlet-intelchange-about .content-nav ul a.active {
  color: rgb(255, 255, 255);
  background: rgb(0, 140, 215);
}
.page-wordlet-intelchange-about .content-nav ul a.active::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-left: none;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 20px solid rgb(0, 140, 215);
  top: 0;
}
.page-wordlet-intelchange-about .partner {
  display: inline-block; *display: inline; *zoom: 1;
}
.page-wordlet-intelchange-about .partner .image {
  float: left;
  display: inline-block; *display: inline; *zoom: 1;
  margin-right: 50px;
  width: 140px;
  text-align: center;
}
.page-wordlet-intelchange-about .partner .description {
  margin-left: 10px;
}