/* #General
================================================== */
.smartgirls {
  background: #fff;
  border: 10px solid #fff;
  font-family: verdana, sans-serif;
}
.smartgirls h1,
.smartgirls h2,
.smartgirls h3 {
  font-family: verdana, sans-serif;
}

/* #Header
================================================== */
.smartgirls .header-block {
  background: rgb(1, 135, 207);
  width: 980px;
  height:130px;
  border-bottom: 9px solid rgb(219, 215, 215);
  color: #fff;
}
.smartgirls .header-block .logo-intro,
.smartgirls .header-block .logo,
.smartgirls .header-block h1 {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: top;
  margin-top: 30px;
}
.smartgirls .header-block .logo-intro {
  font-weight: bold;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 37px;
}
.smartgirls .header-block .logo {
  margin-left: 13px;
}
.smartgirls .header-block h1 {
  color: #fff;
  margin-left: 95px;
  font-size: 57.35px;
  font-weight: normal;

  background: url('images/intel_for_change.png') no-repeat;
  width: 399px;
  height: 78px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  *text-indent: 0;
  line-height: 1000px;
}
.smartgirls .header-block .subheader {
  display: block;
  font-size: 29.2px;
  margin-top: 10px;
}
/* #First Block
================================================== */
.smartgirls .first-block {
  padding-bottom: 115px;
  padding-top: 35px;
}
.smartgirls .first-block .main-info {
  float: right;
  margin-right: 30px;
  margin-left: 20px;
}
.smartgirls .first-block .intro {
  padding: 0 0px 0px 30px;
}
.smartgirls .first-block .intro,
.smartgirls .first-block .intro p { /* should be included with above but root "p" overrides */
  font-size: 15px;
  line-height: 1.7em;
}
.smartgirls .first-block .intro p {
  margin-bottom: 18px;
}
.smartgirls .first-block .addThis .addthis_button_facebook_like,
.smartgirls .first-block .addThis .addthis_button_tweet,
.smartgirls .first-block .addThis .addthis_button_email {
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: middle;
  height: 25px;
}

.smartgirls .first-block .addThis .addthis_button_email .at16nc {
  background: url('images/email_bttn.png') no-repeat;
  width: 55px;
  height: 20px;
}

.smartgirls .first-block .addThis .addthis_button_tweet iframe {
  width: 92px !important;
}

/* #Second Block
================================================== */
.smartgirls .second-block {
  background: rgb(233, 232, 230);
  min-height: 550px;
  _height: 550px;
}
.smartgirls .second-block .form-desc {
  display: inline-block; *display: inline; *zoom: 1;
  width: 450px;
  margin-left: 30px;
  margin-top: 45px;
}
.smartgirls .second-block .form-desc,
.smartgirls .second-block .form-desc p { /* should be included with above but root "p" overrides */
  font-size: 15px;
  line-height: 1.5em;
}
.smartgirls .second-block .form-desc p {
  padding-bottom: 1em;
}
.smartgirls .second-block h2 {
  font-size: 36px;
  line-height: 1.2em;
  margin-bottom: 25px;
  font-weight: normal;
  color: rgb(1, 135, 207);
}
.smartgirls .second-block .form-wrapper {
  width: 425px;
  float: right;
  margin-right: 30px;
  color: #313131;
  position: relative;
  padding: 6px;
  top: -55px;
}
.smartgirls .second-block .form-wrapper .form-bg {
  -ms-transform:rotate(0.5deg); /* IE 9 */
  -moz-transform:rotate(0.5deg); /* Firefox */
  -webkit-transform:rotate(0.5deg); /* Safari and Chrome */
  -o-transform:rotate(0.5deg); /* Opera */
  transform:rotate(0.5deg);
  background: rgb(1, 135, 207);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.smartgirls .second-block .form-wrapper .form-content {
  background: rgb(255, 255, 255);
  position: relative;
  padding: 38px;
  padding-top: 50px;
}
.smartgirls .second-block .form-wrapper,
.smartgirls .second-block .form-wrapper p { /* should be included with above but root "p" overrides */
  font-size: 14px;
  line-height: 1.4em;
}
.smartgirls .second-block .form-wrapper h3 {
  color: rgb(1, 135, 207);
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: normal;
}
.smartgirls .second-block .form-wrapper label {
  text-transform: uppercase;
  margin-bottom: 2px;
  color: rgb(75, 54, 57);
}
.smartgirls .second-block .form-wrapper label .optional {
  text-transform: none;
  font-weight: normal;
}
.smartgirls .second-block .form-wrapper .optional-info {
  color: rgb(109, 109, 109);
  font-size: 12px;
  line-height: 1.5em;
  margin-top: 25px;
  border-top: 1px solid rgb(239, 239, 239);
  padding-top: 15px;
  display: block;
}
.smartgirls .second-block .form-wrapper .submit {
  background: rgb(243, 116, 36);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  padding: 14px 50px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.smartgirls .second-block .form-wrapper .field-wrapper {
  margin-bottom: 25px;
}
.smartgirls .second-block .form-wrapper input {
  background: rgb(235, 235, 235);
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  color: rgb(75, 54, 57);
  font-size: 29px;
  padding: 6px 0;
  width: 100%;
}
.smartgirls .second-block .form-wrapper .phone input {
  width: 28%;
  margin-right: 2%;
}
.smartgirls .second-block .form-wrapper .terms-link {
  margin-top: 10px;
  display: block;
  font-size: 12px;
}

/* #Footer Block
================================================== */
.smartgirls .footer-block {
  background: url('images/image_bar.jpg') no-repeat;
  width: 100%;
  height: 113px;
}