/* Helpers */
@import "../../../../themes/base/sass/base/helpers/variables";

body {
	background: #fff;
	border-top: none !important;
	border-bottom: none !important;
	font-size: 14px;
}

#site-footer,
#site-header {
	display: none;
}

header {
	img {
		width: 100%;
		max-width: 400px;
	}
}

#page-wrapper.campaign {
	max-width: 400px;
	height: 100%;
}

#page {
	color: #000;
	&.main.interstitial {
		padding: 39px 50px;
	}
	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-family: $AdelleSans;
	}
	.interstitial {
		float: left;
		vertical-align: top;
		width: 100%;
		max-width: 400px;
	}
	h2 {
		margin: 0;
		font-size: 32px;
		line-height: 1.1em;
		font-family: $AdelleSans;
		font-weight: 900;
	}
	.body{
		p {
			margin-bottom: 5px;
		}
		h4 {
			font-size: 18px;
			font-weight: 500;
			margin: 10px 0 0 0;
		}
	}
	p#dont {
		font-family: $times-new-roman;
		font-size: 12px;
		clear:both;
		margin: 10px 0 0;
	}
}

#page.main {
	.content a {
		color: $mint;
	}
}
