/* Helpers */
@import "../../../../themes/base/sass/base/helpers/variables";

#page {
	.form {
		margin-bottom: 0em;
		.thank-you-message {
			margin-top: 0.5em;
		}
	}
}

.newsletter-legal {
	margin: 10px 0 0;
	line-height: 1.5em;
}

form{
	color: #555;
	font-family: $primary-sans-font;
	font-size: 12px;
}

.form-required{
	display: none;
}

.form-type-textfield {
	position: relative;
	margin-top: 10px;
	label {
		display: none;
	}
	input {
		max-width: 100%;
		z-index: 1;
		background: #fff;
		min-height: 32px;
		padding: 0 15px;
		position: relative;
		margin: 0;
		width: 100%;
		font-size: 14px;
		&:focus::-webkit-input-placeholder { color:transparent; }
		&:focus:-moz-placeholder { color:transparent; }
		&:focus::-moz-placeholder { color:transparent; }
		&:focus {
			max-width: 100%;
			z-index: 3;
			outline: none;
		}
	}
}

form.newsletter-signup {
	.form-actions {
		margin: 10px 0 0;
		input {
			border: none;
			color: #fff;
			width: 100%;
			padding: 0.35em;
			margin-bottom: 0.5em;
			cursor: pointer;
			background: #01BF9E;
			font-family: $AdelleSans;
		  font-weight: 900;
		  font-size: 14px;
		  line-height: 20px;
			&[type=submit]:hover {
				background: #000;
			}
		}
	}
}
