* { margin:0; padding:0; }

html { 
	display:block;
    background-color:#fff;  
}

body { 
	font:80% Verdana, sans-serif;
    color:#000; background:#fff  top left no-repeat; 
    padding:25px 0 0 35px; 
}

h1 {
  font-size: 36px;
  line-height: 100%;
  color: #000;
  margin: 20px 0 20px;
}


h2 {
  color: #333;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 4px;
}

h3 {
  color: #000;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 4px;
}

div { line-height:1.6em; }

div#content { background:#fff url(logo.jpg) bottom right no-repeat; margin-right:15px; padding:1em 0 55px 0; }
div#content div { margin:0 1em 1em 0; }

div#title { padding:1em 1em 0 1em; border:1px solid #ddd; background:#efefef; margin-right:2em; }
div#title h1 { font-weight:normal; font-size:1.8em; margin-bottom:0.3em; }
div#title p { margin-bottom:1em; }