.zip-code-5 {
  float: left;
}
.zip-code-5 div.form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.zip-code-dash {
  float: left;
  padding: 0 4px;
  margin-top: 16px;
}
.zip-code-4 {
  float: left;
}
.zip-code-4 div.form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.zip-code-help {
  color: #666666;
  float: right;
  font-size: 10px;
  width: 30%;
}
.zip-code-clear {
  clear:both;
  height: 0px;
}
