.jcarousel-skin-takepart .jcarousel-container {

}

.jcarousel-skin-takepart .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-takepart .jcarousel-container-horizontal {
    width: 574px;
    padding: 20px 40px;
}

.jcarousel-skin-takepart .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-takepart .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-takepart .jcarousel-clip-horizontal {
    width:  564px;
    height: 75px;
}

.jcarousel-skin-takepart .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-takepart .jcarousel-item {
    width: 75px;
    height: 75px;
}

.jcarousel-skin-takepart .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-takepart .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-takepart .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-takepart .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-takepart .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 66px;
    cursor: pointer;
    background: url("right_arrow_white.png") no-repeat scroll 4px 21px #1ca9e7;
    
}

.jcarousel-skin-takepart .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(left_arrow_white.png);
}



.jcarousel-skin-takepart .jcarousel-prev-horizontal {
    background: url("left_arrow_white.png") no-repeat scroll 4px 21px #1ca9e7;
    cursor: pointer;
    height: 66px;
    left: 0px;
    position: absolute;
    top: 0;
    width: 25px;
}

.jcarousel-skin-takepart .jcarousel-prev-horizontal:hover {
    background: url("left_arrow.png") no-repeat scroll 4px 21px;
}

.jcarousel-skin-takepart .jcarousel-next-horizontal:hover {
    background: transparent url(right_arrow.png) no-repeat scroll 6px 21px;
}
.jcarousel-skin-takepart .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(right_arrow.png);
}