#site-footer,
#site-header {
	display: none;
}

#page-wrapper {
	width: auto;
}

#page {
	display: inline-block;
	vertical-align: top;
}

#page .content,
#page .headline {
	padding: 0 40px;
}

#page .headline {
	padding-top: 20px;
	margin-bottom: 5px;

	font-size: 26px;
	text-transform: uppercase;
	font-family: TradeGothicLTStdCnBold, sans-serif;
}

#page .content {
	padding-bottom: 20px;
}

#page .body {
	width: 160px;
	float: left;
}

#page .body p {
	margin-bottom: 5px;
}

#page .socials {
	float: left;
}

#page .socials .social {
	float: left;
	margin-left: 14px;
}

#page .socials .social img {
	display: block;
}

#page #dont {
	font-size: 12px;
}