/* # General
================================================== */
.page-wrap {
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.page-wrap h1,
.page-wrap h3 {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.page-wrap h2 {
    color: rgb(0, 0, 0);
}

/* # Header
================================================== */
.header h1 {
    line-height: 0;
}
.header h1 span {
    display: none;
}
/* menu */
.header .menu {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.header .menu ul {
    list-style: none;
}
.header .menu ul li {
    display: inline-block; *display: inline; *zoom: 1;
    border-right: 1px dotted #4c4c4c;
}
.header .menu ul li a {
    font-family: 'TradeGothicLTStdCnBold';
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 5px 0;
    display: block;
    padding: 0 25px;
    font-size: 19px;
    line-height: 150%;
    text-decoration: none;
}
.header .menu ul li a:hover,
.header .menu ul li .active {
    color: #a9c3c2;
}

/* # Content
================================================== */
.content {
    display: inline-block; *display: inline; *zoom: 1;
    width: 96.6%;
    background: #efeee9;
    padding: 2.4% 1% 2% 2.4%;
}
.content h2 {
    font-size: 46px;
    line-height: 100%;
    margin-bottom: 20px;
}
.content .body p {
    line-height: 150%;
    font-size: 12px;
}
.content .primary {
    float: left;
    margin-right: 300px;
}
.content .secondary {
    width: 260px;
    margin-left: -300px;
    float: right;
    padding-top: 60px;
}

/* signup form */
.content .signup_form {
    background: #a7c3c2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 27px 19px 7px 19px;
}
.content .signup_form .form-item input {
    width: 100%;
}
.content .signup_form h3 {
    font-size: 17px;
}
.content .signup_form .form-item-email label {
    display: none;
}
.content .signup_form .form-submit {
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background: rgb(255, 133, 68);
    border: 0;
    font-weight: bold;
    background: rgb(212, 109, 55);
    border-radius: 2px;
    padding: 6px 16px;
    border: 1px solid rgb(255, 133, 68);

    background: rgb(255, 133, 68);
    background: -moz-linear-gradient(top, rgb(255, 133, 68) 0%, rgb(212, 109, 55) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255, 133, 68)), color-stop(100%,rgb(212, 109, 55)));
    background: -webkit-linear-gradient(top, rgb(255, 133, 68) 0%,rgb(212, 109, 55) 100%);
    background: -o-linear-gradient(top, rgb(255, 133, 68) 0%,rgb(212, 109, 55) 100%);
    background: -ms-linear-gradient(top, rgb(255, 133, 68) 0%,rgb(212, 109, 55) 100%);
    background: linear-gradient(to bottom, rgb(255, 133, 68) 0%,rgb(212, 109, 55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 133, 68)', endColorstr='rgb(212, 109, 55)',GradientType=0 );
}
.content .signup_form .form-submit:hover,
.content .signup_form .form-submit:focus {
    background: rgb(244, 129, 75);/*
    background: -moz-linear-gradient(top, rgb(212, 109, 55) 0%, rgb(255, 133, 68) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(212, 109, 55)), color-stop(100%,rgb(255, 133, 68)));
    background: -webkit-linear-gradient(top, rgb(212, 109, 55) 0%,rgbrgb(255, 133, 68) 100%);
    background: -o-linear-gradient(top, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    background: -ms-linear-gradient(top, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    background: linear-gradient(to bottom, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(212, 109, 55)', endColorstr='rgb(255, 133, 68)',GradientType=0 );*/
}
.content .signup_form .form-submit:active {
    background: rgb(212, 109, 55);
    background: -moz-linear-gradient(top, rgb(212, 109, 55) 0%, rgb(255, 133, 68) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(212, 109, 55)), color-stop(100%,rgb(255, 133, 68)));
    background: -webkit-linear-gradient(top, rgb(212, 109, 55) 0%,rgbrgb(255, 133, 68) 100%);
    background: -o-linear-gradient(top, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    background: -ms-linear-gradient(top, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    background: linear-gradient(to bottom, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(212, 109, 55)', endColorstr='rgb(255, 133, 68)',GradientType=0 );
}

/* partners */
.content .partners {
    text-align: center;
    margin-top: 20px;
}
.content .partners ul {
    list-style: none;
}
.content .partners ul li {
    margin-top: 10px;
}