/* # General
================================================== */
.page-wrap {
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.page-wrap h1,
.page-wrap h3 {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.page-wrap h2 {
    color: rgb(0, 0, 0);
}

/* # Header
================================================== */
.header h1 {
    line-height: 0;
}

.header h1 span {
    display: none;
}
/* menu */
.header .menu {
    color: rgb(255, 255, 255);
    background: #28191E;
}

.header .menu ul {
    list-style: none;
}

.header .menu ul li {
    display: inline-block; *display: inline; *zoom: 1;
}

.header .menu ul li a {
    font-family: 'TradeGothicLTStdCnBold';
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 5px 0;
    display: block;
    padding: 0 25px;
    font-size: 19px;
    line-height: 150%;
    text-decoration: none;
    opacity: 0.5;

    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.header .menu ul li a:hover,
.header .menu ul li .active {
    opacity: 1;
}

/* # Content
================================================== */
.content {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 96.6%;
    background: #efeee9;
    padding: 2.4% 1% 2% 2.4%;
}

.content .body p {
    line-height: 150%;
    font-size: 14px;
}

/* # Content Signup Form
================================================== */
.content .signup_form {
    background: #a7c3c2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 27px 19px 7px 19px;
}

.content .signup_form .form-item input {
    width: 100%;
}

.content .signup_form h3 {
    font-size: 17px;
}

.content .signup_form a {
    color: #af4901;
}

.content .signup_form .form-item-email label {
    display: none;
}

.content .signup_form .form-submit {
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background: rgb(255, 133, 68);
    border: 0;
    font-weight: bold;
    background: rgb(212, 109, 55);
    border-radius: 2px;
    padding: 6px 16px;
    border: 1px solid rgb(255, 133, 68);
    background: rgb(255, 133, 68);
    background: -moz-linear-gradient(top, rgb(255, 133, 68) 0%, rgb(212, 109, 55) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255, 133, 68)), color-stop(100%,rgb(212, 109, 55)));
    background: -webkit-linear-gradient(top, rgb(255, 133, 68) 0%,rgb(212, 109, 55) 100%);
    background: -o-linear-gradient(top, rgb(255, 133, 68) 0%,rgb(212, 109, 55) 100%);
    background: -ms-linear-gradient(top, rgb(255, 133, 68) 0%,rgb(212, 109, 55) 100%);
    background: linear-gradient(to bottom, rgb(255, 133, 68) 0%,rgb(212, 109, 55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 133, 68)', endColorstr='rgb(212, 109, 55)',GradientType=0 );
}

.content .signup_form .form-submit:hover,
.content .signup_form .form-submit:focus {
    background: rgb(244, 129, 75);
/*
    background: -moz-linear-gradient(top, rgb(212, 109, 55) 0%, rgb(255, 133, 68) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(212, 109, 55)), color-stop(100%,rgb(255, 133, 68)));
    background: -webkit-linear-gradient(top, rgb(212, 109, 55) 0%,rgbrgb(255, 133, 68) 100%);
    background: -o-linear-gradient(top, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    background: -ms-linear-gradient(top, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    background: linear-gradient(to bottom, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(212, 109, 55)', endColorstr='rgb(255, 133, 68)',GradientType=0 );*/
}

.content .signup_form .form-submit:active {
    background: rgb(212, 109, 55);
    background: -moz-linear-gradient(top, rgb(212, 109, 55) 0%, rgb(255, 133, 68) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(212, 109, 55)), color-stop(100%,rgb(255, 133, 68)));
    background: -webkit-linear-gradient(top, rgb(212, 109, 55) 0%,rgbrgb(255, 133, 68) 100%);
    background: -o-linear-gradient(top, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    background: -ms-linear-gradient(top, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    background: linear-gradient(to bottom, rgb(212, 109, 55) 0%,rgb(255, 133, 68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(212, 109, 55)', endColorstr='rgb(255, 133, 68)',GradientType=0 );
}

/* # Content Partners
================================================== */
.content .partners {
    text-align: center;
    margin-top: 20px;
}

.content .partners ul {
    list-style: none;
}

.content .partners ul li {
    margin-top: 10px;
}

/* # Modals
================================================== */
.tpmodal_modal {
    border-radius: 0;
    background: rgb(239, 238, 233);
    overflow: visible;
    max-width: 500px;
}
.tpmodal_modal .tpmodal_content .modal {
    padding: 46px 3px 3px 3px;
}
.tpmodal_modal .modal-content h5 {
    margin-top: 0;
}
.tpmodal_modal .title {
    font-family: 'TradeGothicLTStdCnBold';
    font-weight: normal;
    text-transform: uppercase;
    background: rgb(167, 195, 194);
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 0.4em 39px 0.4em 39px;
    font-size: 24px;
    line-height: 1em;
    font-weight: normal;
    position: absolute;
    margin-bottom: 0.33em;
    left: -0.667em;
    top: 0;
}
.tpmodal_modal .title::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-color: rgb(97, 134, 133) transparent transparent;
    border-width: 0.667em 0 0 0.667em;
    border-style: solid dotted dotted dotted;
}
.tpmodal_modal .modal-content p {
    font-size: 14px;
}
.tpmodal_modal .modal-content h5 {
    font-size: 14px;
    margin-bottom: 0;
}
.confirm .tpmodal_modal .modal-content p {
    font-size: 16px;
}
.tpmodal_modal .form-type-checkbox label {
    font-size: 14px;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}
.tpmodal_modal label.error {
    color: red;
    font-weight: normal;
}
.tpmodal_modal .form-submit {
    cursor: pointer;
    border: 1px solid rgb(27, 169, 231);
    background-color: rgb(30, 170, 232);
    color: rgb(255, 255, 255);
    font-family: 'TradeGothicLTStdCnBold';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1em;

    background-image: -webkit-gradient(linear, left top, left bottom, 0.5, from(rgba(99, 209, 255, 0.75)), to(rgba(99, 209, 255, 0))); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, rgba(99, 209, 255, 0.75), rgba(99, 209, 255, 0)); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, rgba(99, 209, 255, 0.75), rgba(99, 209, 255, 0)); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, rgba(99, 209, 255, 0.75), rgba(99, 209, 255, 0)); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, rgba(99, 209, 255, 0.75), rgba(99, 209, 255, 0)); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */

    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.tpmodal_modal .form-submit:hover,
.tpmodal_modal .form-submit:focus,
.tpmodal_modal .form-submit:active {
    background-color: rgb(99, 209, 255);
}
.tpmodal_modal .cancel {
    cursor: pointer;
    color: rgb(75, 179, 231);
    border-bottom: 1px solid transparent;

    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}
.tpmodal_modal .cancel:hover,
.tpmodal_modal .cancel:focus,
.tpmodal_modal .cancel:active {
    border-color: rgb(157, 205, 232);
}
.tpmodal_modal .terms-of-use {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 1em;
    color: #000;
}

/* # Home Content
================================================== */
.page-wordlet-can-home .content {
    padding-top: 4.4%;
}
.page-wordlet-can-home .content .headline h2 {
    font-family: 'TradeGothicLTStdCnBold';
    font-weight: normal;
    text-transform: uppercase;
    background: rgb(167, 195, 194);
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 0.5em 24px;
    font-size: 24px;
    line-height: 1em;
    font-weight: normal;
    position: relative;
    margin-bottom: 0.33em;
}

.page-wordlet-can-home .content .headline h2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-color: rgb(97, 134, 133) transparent transparent;
    border-width: 0.667em 0 0 0.667em;
    border-style: solid dotted dotted dotted;
}
.page-wordlet-can-home .content .body {
    padding: 0 24px 1em 24px;
}
.page-wordlet-can-home .content .body p {
    line-height: 1.75em;
}

/* # Home Chapter Menu
================================================== */
.page-wordlet-can-home .chapter-menu {
    text-align: center;
    margin-bottom: 45px;
}
.page-wordlet-can-home .chapter-menu .chapter {
    margin: 0 25px;
    display: inline-block; *display: inline; *zoom: 1;
}

.page-wordlet-can-home .chapter-menu a.chapter,
.page-wordlet-can-home .chapter-menu a.chapter:hover {
    text-decoration: none;
}

.page-wordlet-can-home .chapter-menu .chapter .button {
    display: block;
    font-size: 18px;
    font-family: 'TradeGothicLTStdCnBold';
    font-weight: normal;
    text-transform: uppercase;
    padding: 0.33em 0;
    margin-top: 15px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 4px;

    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgb(216, 216, 216))); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, #fff, rgb(216, 216, 216)); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, #fff, rgb(216, 216, 216)); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, #fff, rgb(216, 216, 216)); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, #fff, rgb(216, 216, 216)); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.page-wordlet-can-home .chapter-menu .chapter:hover .button {
    background-color: rgb(216, 216, 216);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgb(202, 202, 202))); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, #fff, rgb(202, 202, 202)); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, #fff, rgb(202, 202, 202)); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, #fff, rgb(202, 202, 202)); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, #fff, rgb(202, 202, 202)); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.page-wordlet-can-home .chapter-menu .chapter:active .button {
    background-color: rgb(202, 202, 202);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(216, 216, 216)), to(#fff)); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, rgb(216, 216, 216), #fff); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, rgb(216, 216, 216), #fff); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, rgb(216, 216, 216), #fff); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, rgb(216, 216, 216), #fff); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.page-wordlet-can-home .chapter-menu .chapter.texas .button {
    color: #cb6728;
}
.page-wordlet-can-home .chapter-menu .chapter.texas .button::after {
    margin-left: 12px;
    content: url('images/orange_arrow.png');
}
.page-wordlet-can-home .chapter-menu .chapter.palo_alto .button {
    color: #cb2026;
}
.page-wordlet-can-home .chapter-menu .chapter.palo_alto .button::after {
    margin-left: 12px;
    content: url('images/red_arrow.png');
}

/*alternative*/
/*.page-wordlet-can-home .chapter-menu a.chapter {
    opacity: 0.5;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    width: 235px;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility:         hidden;
}
.page-wordlet-can-home .chapter-menu a.chapter:hover,
.page-wordlet-can-home .chapter-menu a.chapter:focus,
.page-wordlet-can-home .chapter-menu a.chapter.active {
    opacity: 1;
}
.page-wordlet-can-home .chapter-menu .chapter .button {
    background: #fff;
    border: 0;
}
.page-wordlet-can-home .chapter-menu .chapter.texas .button {
    background: transparent;
    color: #cb6728;
}
.page-wordlet-can-home .chapter-menu .chapter.palo_alto .button {
    background: transparent;
    color: #cb2026;
}*/

/* # Home Chapters
================================================== */
.page-wordlet-can-home .chapters {
    width: 627px;
    margin: 0 auto;
}
.page-wordlet-can-home .chapters .chapter {
    display: inline-block; *display: inline; *zoom: 1;
    vertical-align: top;
}
.page-wordlet-can-home .chapters .chapter .header {
    display: inline-block; *display: inline; *zoom: 1;
    width: 100%;
    padding-left: 112px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.page-wordlet-can-home .chapters .chapter h3 {
    font-family: 'TradeGothicLTStdCnBold';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
    display: block;
    max-width: 38%;
    float: left;
}
.page-wordlet-can-home .chapters .chapter .vote-wrapper {
    max-width: 50%;
    float: right;
}
.page-wordlet-can-home .chapters .chapter .vote {
    display: block;
    font-family: 'TradeGothicLTStdCnBold';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    border: 0;
    color: #fff;
    padding: 0.45em 0.75em;
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.page-wordlet-can-home .chapters .chapter .vote:hover,
.page-wordlet-can-home .chapters .chapter .vote:focus,
.page-wordlet-can-home .chapters .chapter .vote:active {
    text-decoration: none;
}
.page-wordlet-can-home .chapters .chapter.texas .vote {
    border: 1px solid rgb(204, 106, 45);
    background-color: rgb(253, 128, 50);
    background-image: -webkit-gradient(linear, left top, left bottom, 0.5, from(rgba(203, 103, 40, 0)), to(rgba(203, 103, 40, 0.75))); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, rgba(203, 103, 40, 0), rgba(203, 103, 40, 0.75)); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, rgba(203, 103, 40, 0), rgba(203, 103, 40, 0.75)); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, rgba(203, 103, 40, 0), rgba(203, 103, 40, 0.75)); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, rgba(203, 103, 40, 0), rgba(203, 103, 40, 0.75)); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.page-wordlet-can-home .chapters .chapter.texas .vote:hover,
.page-wordlet-can-home .chapters .chapter.texas .vote:focus,
.page-wordlet-can-home .chapters .chapter.texas .vote:active {
    background-color: rgb(203, 103, 40);
}
.page-wordlet-can-home .chapters .chapter.palo_alto .vote {
    border: 1px solid rgb(204, 37, 43);
    background-color: rgb(253, 59, 40);
    background-image: -webkit-gradient(linear, left top, left bottom, 0.5, from(rgba(203, 32, 38, 0)), to(rgba(203, 32, 38, 0.75))); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, rgba(203, 32, 38, 0), rgba(203, 32, 38, 0.75)); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, rgba(203, 32, 38, 0), rgba(203, 32, 38, 0.75)); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, rgba(203, 32, 38, 0), rgba(203, 32, 38, 0.75)); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, rgba(203, 32, 38, 0), rgba(203, 32, 38, 0.75)); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.page-wordlet-can-home .chapters .chapter.palo_alto .vote:hover,
.page-wordlet-can-home .chapters .chapter.palo_alto .vote:focus,
.page-wordlet-can-home .chapters .chapter.palo_alto .vote:active {
    background-color: rgb(203, 32, 38);
}
.page-wordlet-can-home .chapters .chapter .chapter-info {
    display: inline-block; *display: inline; *zoom: 1;
    vertical-align: top;
}
.page-wordlet-can-home .chapters .chapter .section-menu {
    width: 106px;
    float: left;
    margin-right: -100%;
}
.page-wordlet-can-home .chapters .chapter .sections {
    display: inline-block; *display: inline; *zoom: 1;
    float: left;
    margin-left: 112px;
}

.page-wordlet-can-home .chapters .chapter .section-menu .section {
    display: inline-block; *display: inline; *zoom: 1;
    border: 3px solid transparent;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    line-height: 0;
    margin-bottom: 1px;
}
.page-wordlet-can-home .chapters .chapter.texas .section-menu .section:hover,
.page-wordlet-can-home .chapters .chapter.texas .section-menu .section:focus,
.page-wordlet-can-home .chapters .chapter.texas .section-menu .section.active {
    border-color: #cb6728;
}
.page-wordlet-can-home .chapters .chapter.palo_alto .section-menu .section:hover,
.page-wordlet-can-home .chapters .chapter.palo_alto .section-menu .section:focus,
.page-wordlet-can-home .chapters .chapter.palo_alto .section-menu .section.active {
    border-color: #cb2026;
}
.page-wordlet-can-home .chapters .chapter .sections .section .video {
    margin-bottom: 12px;
}
.page-wordlet-can-home .chapters .chapter .sections .section .info {
    display: inline-block; *display: inline; *zoom: 1;
    vertical-align: top;
}
.page-wordlet-can-home .chapters .chapter .sections .section .info p {
    font-size: 12px;
    line-height: 1.5em;
}

.page-wordlet-can-home .chapters .chapter .sections .section .article-wrapper {
    background: #f7f7f5;
    height: 290px;
    overflow-y: scroll;
    padding: 15px;
}
.page-wordlet-can-home .chapters .chapter .sections .section .headline {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
}

/* # About Content
================================================== */
.page-wordlet-can-about .content h2 {
    font-size: 46px;
    line-height: 100%;
    margin-bottom: 20px;
}

.page-wordlet-can-about .content .primary {
    float: left;
    margin-right: 300px;
}

.page-wordlet-can-about .content .secondary {
    width: 260px;
    margin-left: -300px;
    float: right;
    padding-top: 60px;
}
