/* # General
================================================== */
.page-wrap {
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.page-wrap h1,
.page-wrap h2,
.page-wrap h3 {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

/* # Header
================================================== */
.header h1 {
    line-height: 0;
}
.header h1 span {
    display: none;
}
/* menu */
.header .menu {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.header .menu ul {
    list-style: none;
}
.header .menu ul li {
    display: inline-block; *display: inline; *zoom: 1;
    margin-left: 10px;
}
.header .menu ul li a {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 5px 0;
    display: block;
}
/* # Home
================================================== */
.page-wordlet-can-home .content {
    display: inline-block; *display: inline; *zoom: 1;
    background: #efeee9;
    padding: 20px 7px 27px 27px;
}
.page-wordlet-can-home h2 {
    font-size: 50px;
    line-height: 100%;
    margin-bottom: 20px;
}
.page-wordlet-can-home .body p {
    line-height: 150%;
    text-transform: uppercase;
    font-size: 12px;
}
.page-wordlet-can-home .primary {
    float: left;
    margin-right: 300px;
}
.page-wordlet-can-home .secondary {
    width: 260px;
    margin-left: -300px;
    float: right;
    padding-top: 60px;
}

/* signup form */
.page-wordlet-can-home .signup_form {
    background: #a7c3c2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 27px 19px 7px 19px;
}
.page-wordlet-can-home .signup_form .form-item input {
    width: 100%;
}
.page-wordlet-can-home .signup_form h3 {
    font-size: 17px;
}
.page-wordlet-can-home .signup_form .form-item-email label {
    display: none;
}

/* partners */
.page-wordlet-can-home .partners {
    text-align: center;
    margin-top: 20px;
}
.page-wordlet-can-home .partners ul {
    list-style: none;
}
.page-wordlet-can-home .partners ul li {
    margin-top: 10px;
}