/**
 * FOOTER
 */
.footer-wrapper {
  background-color: $gray-background;
  padding: 0 0 15px 0;
  position: relative;
  z-index: 2;

  .block-tp4-support {
    padding: 0 10px;
    font-family: $primary-sans-font;
    a {
      color: $mint;
    }
    @include breakpoint($breakpoint-desktop) {
      padding: 0;
    }
  }
}

#footer {
  max-width: 100%;

  .block {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($breakpoint-mobile) {
      &:first-child {
        padding-top: 0;
        }
    }
    @include breakpoint($breakpoint-tablet) {
      &:first-child {
        padding-top: 30px;
      }
    }
  }
}

.footer-text {
  max-width: 600px;
  margin-bottom: 1em;
  font-size: .928571429em; // dumb comps have 13px text
  line-height: 1.384615385; // but still have 18px leading
  @include breakpoint($breakpoint-tablet) {
    width: 61.2244898%;
    float: left;
  }
}

.footer-social {
  overflow: hidden;
  margin-bottom: 1em;
  .fotoer-title {
    margin-bottom: 0;
  }
  @include breakpoint($breakpoint-tablet) {    
    float: right;
    text-align: right;
    .footer-title {
      float: right;
    }
    ul {
      float: right;
      li {
        float: left;
      }
    }
  }
}

.footer-menu {
  clear: both;
  overflow: hidden; // clearfix
  font-size: .928571429em; // dumb 13px text
  line-height: 1.384615385;

  li {
    display: inline-block;
    line-height: 1;
    margin-bottom: 1em;
    margin-right: .5em;
    border-right: 1px solid black;
    padding-right: .5em;
    &.last {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
    a {
      white-space: nowrap;
    }
  }
}

.footer-bottom {
  text-align: center;
  clear: both;
  overflow: hidden; // clearfix

  .footer-bottom-inner {
    margin-top: 30px;
    border-top: 1px solid $gray-line;
    padding-top: 20px;

    width: 100%;

    li {
      display: inline-block;
      margin-left: 20px;
      height: auto;
      width: auto;
      overflow: hidden;
      &:first-child {
        margin-left: 0px;
      }
      a {
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;

        &.logos-takepart{
          height: logos-sprite-height(takepart);
          width: logos-sprite-width(takepart);
        }
        &.logos-participantmedia{
          height: 40px;
          width: 144px;
          background: url('../images/logos/PM_Logo.png') no-repeat;
        }
        &.logos-pivot{
          height: logos-sprite-height(pivot);
          width: logos-sprite-width(pivot);
        }
      }
    }
  }
}
