/**
 * Header (fat and slim)
 */


/*
 *Social
*/
header {
  font-family: $primary-sans-font;
  color: $dark-gray;
  .block{
    margin-bottom: 0em;
    @include breakpoint($breakpoint-tablet){
      margin-bottom: 1.5em;
    }
  }
  .leaderboard{
    display: none;
    @include breakpoint($breakpoint-tablet){
      display: block;
    }
  }
  .menu-toggle{
    display: block;
    width: 20px;
    height: 3px;
    border-top: 9px double $light-mint;
    border-bottom: 3px solid $light-mint;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
    @include breakpoint($breakpoint-tablet){
      display: none;
    }
  }
  .logo{
    float: left;
    width: 121px;
    margin-bottom: 4px;
    @include breakpoint($breakpoint-tablet){
      width: auto;
    }
  }
  .follow-us{
    display: none;
    @include breakpoint($breakpoint-tablet){
      display: block;
      text-align: right;
      float: right;
      font-size: .928571429em; // 13px;
      .text{
        display: inline-block;
        margin: 0 10px;
        &:before{
          content: '|';
          padding-right: 10px;
        }
      }
      ul{
        margin-top: -5px;
        float: right;
        li{
          float: left;
        }
      }
    }
  }
  .user-menu{
    display: none;
    @include breakpoint($breakpoint-tablet){
      display: block;
      float: right;
      font-size: .928571429em; // 13px;
      a{
        color: $dark-gray;
      }
      li{
        display: inline-block;
        margin-right: 10px;
        &:last-child{
          margin-right: 0px;
          padding-left: 10px;
          position: relative;
          height: 20px;
          &:before{
            content: '';
            height: 4px;
            width: 4px;
            background-color: $light-gray;
            position: absolute;
            top: 30%;
            left: 0;
            -webkit-border-radius: 4px;
            border-radius: 4px;
          }
        }
        &:first-child{
          &:before{
            display: none;
          }
        }
        &.user{
          position: relative;
          padding-left: 20px;
          &:before{
            content: '';
            background: image-url('avatar-icon.jpg') no-repeat center center;
            height: 15px;
            width: 12px;
            display: block;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
  .search{
    font-size: .928571429em;
    clear: both;
    position: relative;
    .form-item-keys-2{
      display: inline-block;
      float: left;
      height: auto;
      overflow: hidden;
      width: 100%;
      margin-right: 10px;
      vertical-align: bottom;
      line-height: 23px;
      font-weight: normal;
      margin: 0;
      padding: 10px;
      @include box-shadow(0px 0px 5px 1px rgba(0, 0, 0, .3));
      @include box-sizing(border-box);
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    [type=text]{
      float: left;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 0;
      width: 100%;
      color: #777;
      text-indent: 6px;
      font-size: 16px;
      line-height: 21px;
      background: #fff;
      &:focus{
        outline: none;
      }
    }
    .form-submit{
      position: absolute;
      bottom: 0;
      right: 0;
      height: 0;
      padding-top: 48px;
      color: white;
      border: none;
      background: image-url('mobile-search-hover.jpg') no-repeat center center;
      background-color: #000;
      border-radius: 0;
      text-indent: 200%;
      overflow: hidden;
      width: 34px;
    }
    @include breakpoint($breakpoint-tablet){
      display: block;
      float: right;
      clear: right;
      margin-top: 25px;
      .form-item-keys-2{
        padding: 0;
        width: auto;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        &:before{
          content: "Search";
          width: 45px;
          height: 20px;
          display: block;
          left: 0;
          bottom: 0;
          position: absolute;
          left: -45px;
        }
      }
      [type=text]{
        width: 140px;
        -webkit-appearance: none;

	height: 25px;
	font-size: inherit;
	line-height: normal;
        &::-webkit-input-placeholder {
          opacity: 0;
        }

        &:-moz-placeholder { /* Firefox 18- */
          opacity: 0;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
          opacity: 0;
        }

:-ms-input-placeholder {  
   color: red;  
}
      }
      .form-submit{
        display: block;
        float: left;
        width: 20px;
        height: 0;
	padding-top: 24px;
        overflow: hidden;
	background-color: transparent;
        background: image-url('search-submit.png') no-repeat center center;
      }
    }
  }
}

@include breakpoint($breakpoint-mobile){
  .search-toggle{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 48px;
    color: white;
    border: none;
    background: image-url('mobile-search.jpg') no-repeat center center;
    background-color: #fff;
    border-radius: 0;
    text-indent: 200%;
    overflow: hidden;
    width: 34px;
  }
  .search {
    border-bottom: 2px solid #000;
    form{
      display: none;
    }
  }
  .search.active {
    border-bottom: none;
    form{
      display: block;
    }
  }
}
@include breakpoint($breakpoint-tablet){
  .search-toggle{
    display: none;
  }
  .search{
    border-bottom: none;
    form {
      display: block;
    }
  }
}

//
// Slim Nav
//
.slim-nav {
  height: auto;
  position: relative;
  overflow: visible;
  z-index: 2;

  background-color: #fff;
  font-family: $primary-sans-font;
  color: $dark-gray;
  border-bottom: 2px solid #000;

  padding-top: 10px 10px 1px;
  @include breakpoint($breakpoint-tablet) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint($breakpoint-desktop) {
    padding-left: 0;
    padding-right: 0;
  }
  .left {
    float: left;
    @include breakpoint($breakpoint-tablet) {
      width: 50%;
    }
    @include breakpoint($breakpoint-desktop) {
      padding-left: 10px;
      width: auto;
    }
  }
  .right {
    float: right;
    @include breakpoint($breakpoint-tablet) {
      width: 40%;
    }
    @include breakpoint($breakpoint-desktop) {
      width: auto;
    }
  }

  .logo {
    width: 121px; // <img> is already locked down to max-width 100%
  }
  .follow-us {
    @include breakpoint($breakpoint-tablet) {
      padding-right: 39px;
      padding-top: 7px;
    }
  }
  .user-menu {
    @include breakpoint($breakpoint-tablet){
      padding-top: 7px;
      padding-right: 7px;
      li {
        overflow: hidden;
        height: 20px;
        margin: 0;
        &:first-child{
          &:before{
            display: none;
          }
        }
        &:last-child{
          padding-right: 10px;
          &:after{
            content: '|';
            position: absolute;
            right: 0;
            top: 0;
            color: $light-gray;
          }
        }
        &.user{
          position: relative;
          padding-left: 0;
          max-width: 50px;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-right: 5px;
        }
      }
    }
  }
  .search {
    float: none;
    margin-top: 0px;
    position: absolute;
    top: 0;
    right: 0;
    @include breakpoint($breakpoint-tablet) {
      right: 20px;
    }
    @include breakpoint($breakpoint-desktop) {
      right: 0;
    }
    .search-toggle{
      display: block;
      position: relative;
      z-index: 9;
      width: 34px;
      height: 38px;
      cursor: pointer;
      &:before{
        display: block;
        width: 34px;
        height: 38px;
        position: absolute;
        top: 0;
        right: 0;
        color: $mint;
        font-size: 20px;
        line-height: 30px;
        content: "\1F50E";
        font-family: "SSGizmo";
        display: block;
        z-index: 9;
        @include transform2d(scaleX(-1));
        filter: FlipH;
        -ms-filter: "FlipH";
      }
      @include breakpoint($breakpoint-tablet) {
        height: 30px;
        &:before {
          height: 30px;
        }
      }
    }
    .form-item-keys-2{
      display: none;
      position: absolute;
      top: 38px;
      right: 0;
      z-index: 9;
      width: 300px;
      background-color: #000;
      padding: 10px;
      @include box-shadow(0px 0px 5px 1px black);
      @include box-sizing(border-box);
      [type=text]{
        padding-top: .25em;
        &::-webkit-input-placeholder {
          opacity: 1;
        }

        &:-moz-placeholder { /* Firefox 18- */
          opacity: 1;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
          opacity: 1;
        }
      }
      @include breakpoint($breakpoint-tablet){
        background: #FFF;
        width: 420px;
        [type=text] {
          width: 400px;
        }
      }
    }
    .form-submit{
      top: 0;
      bottom: auto;
      padding: 19px 17px;
      text-indent: 100px;
      background: transparent none;
      @include breakpoint($breakpoint-tablet) {
        padding: 19px 15px;
      }
    }
    &.active {
      .form-item-keys-2{
        display: block;
      }
      .search-toggle{
        display: none;
      }
      .form-submit {
        background: image-url('mobile-search-hover.jpg') no-repeat center center;
        background-color: #000;
      }
    }
  }
  #main-menu{
    display: none;
    @include breakpoint($breakpoint-tablet) {
      display: block;
      width: 700px;
      clear: left;
      float: left;
      padding: 3px 0 14px;
      padding-top: 3px;
    }
    @include breakpoint($breakpoint-desktop) {
      width: auto;
      clear: none;
      padding: 0 0 0 20px;
      line-height: 26px;
    }
    li{
      float: left;
      font-family: $secondary-sans-font;
      font-size: 17px;
      text-transform: uppercase;
      white-space: nowrap;
      color: #000;
      position: relative;
      margin: 0;
      padding: 0;
      list-style-image: none;
      list-style-type: none;
      padding-right: 1em;
      &:after{
        content: '';
        display: inline-block;
        border-right: 1px solid $gray-line;
        height: 20px;
        width: auto;
        position: absolute;
        right: .5em;
        top: 0;
      }
      &:last-child {
        padding-right: 0;
        &:after {
          display: none;
        }
      }
      a{
        color: #000;
        position: relative;
        width: 100%;
        display: block;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

/*
@media only screen and (max-width: 768px)
{

 body.node-type-campaign-page header .follow-us{
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 85px;
 }
  
}


*/