/**
 * Header (fat and slim)
 */


/*
 *Social
*/
header{
  font-family: $adelle-regular;
  color: $dark-gray;
  .logo{
    float: left;
  }
  .follow-us{
    @include breakpoint($breakpoint-mobile){
      display: none;
    }
    @include breakpoint($breakpoint-tablet){
      display: block;
      text-align: right;
      float: right;
      .text{
        display: inline-block;
        margin: 0 10px;
        &:before{
          content: '|';
          padding-right: 10px;
        }
      }
      ul{
        margin-top: -5px;
        float: right;
        li{
          float: left;
        }
      }
    }
  }
  .user-menu{
    @include breakpoint($breakpoint-mobile){
      display: none;
    }
    @include breakpoint($breakpoint-tablet){
      display: block;
      float: right;
      a{
        color: $dark-gray;
      }
      li{
        display: inline-block;
        margin-right: 10px;
        &:last-child{
          margin-right: 0px;
          padding-left: 10px;
          position: relative;
          height: 20px;
          &:before{
            content: '';
            height: 4px;
            width: 4px;
            background-color: $light-gray;
            position: absolute;
            top: 30%;
            left: 0;
            -webkit-border-radius: 4px;
            border-radius: 4px;
          }
        }
        &:first-child{
          &:before{
            display: none;
          }
        }
        &.user{
          position: relative;
          padding-left: 20px;
          &:before{
            content: '';
            background: image-url('avatar-icon.jpg') no-repeat center center;
            height: 15px;
            width: 12px;
            display: block;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
  .search{
    font-size: 13px;
    @include breakpoint($breakpoint-mobile){
      display: none;
      .form-item-keys-2{
        display: inline-block;
        float: left;
        height: auto;
        overflow: hidden;
        width: auto;
        margin-right: 10px;
        vertical-align: bottom;
        line-height: 23px;
        font-weight: normal;
        margin: 0;
        label {
          height: auto;
          overflow: hidden;
          width: auto;
          margin-right: 10px;
          &.element-invisible{
            display: inline-block;
            float: left;
            position: relative !important;
          }
        }
      }
      [type=text]{
        float: left;
        height: 20px;
        border: 1px solid #ccc;
        border-right: none;
        border-radius: 0;
        width: 140px;
        line-height: 20px;
        color: #777;
        text-indent: 6px;
        line-height: 21px;
        &:focus{
          outline: none;
        }
      }
      .form-submit{
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-left: none;
        background-color: #fff;
        border-radius: 0;
        text-indent: 200%;
        overflow: hidden;
        background: image-url('search-submit.png') no-repeat center center;
      }
    }
    @include breakpoint($breakpoint-tablet){
      display: block;
      float: right;
      clear: right;
      margin-top: 25px;
    }
  }
  nav{
    color: #000;
    @include breakpoint($breakpoint-mobile){
      display: none;
    }
    @include breakpoint($breakpoint-tablet){
      display: block;
      clear: both;
      font-family: $tradegothic-regular;
      font-size: 20px;
      text-transform: uppercase;
      ul{
        height: 45px;
        border-top: 1px solid #000;
        border-bottom: 3px solid #000;
        li{
          float: left;
          text-align: center;
          line-height: 45px;
          cursor: pointer;
          white-space: nowrap;
          &:hover{
            background-color: #000;
            color: #fff;
            -webkit-transition: all .1s linear .1s;
            transition: all .1s linear .1s;
          }
          &.news{
            max-width: 20%;
            width: 100%;
          }
          &.lifestyle{
            max-width: 20%;
            width: 100%;
          }
          &.features{
            max-width: 20%;
            width: 100%;
          }
          &.action{
            max-width: 20%;
            width: 100%;
          }
          &.tpl{
            max-width: 20%;
            width: 100%;
          }
        }
      }
    }
    @include breakpoint($breakpoint-desktop){
      .test-push{
        padding-left: 0px;
      }
    }
  }
}