//Side Menu CSS
/* Show "Left" drawer for the "Right" drawer in the demo */
.snap-drawers {
  display: block;
  @media only screen and (min-width: 767px) {
    display: none;
  }
}

.snapjs-left .snap-drawers{
  display: block;
}

.snap-drawers {
  background: #000;
  color: #fff;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: none;

  &#tp-drawers {
    top: 5px;
  }

  &#campaign-drawers {
    .snap-drawer {
      right: 0;
      
      .block-menu {
        li {
          a {
            &.active {
              color: #01bf9e;
            }
          }
        }
      }
    }
  }
  .snap-drawer {
    background: #000;
    position: fixed;
    top: 5px;
    right: auto;
    bottom: 0;
    left: auto;
    width: 280px;
    height: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @include transition(width 0.3s ease);
  }

  .mobile-menu-header {
    overflow: hidden;
    margin: 0;
    padding: 13px 11px;
    border-bottom: 5px solid #646464;
    color: white;
    a {
      color: white;
    }
    div, h2, ul, li {
      display: inline-block;
      vertical-align: top;
    }
    h2 {      
      font: normal 1em/1 $secondary-sans-font;
      text-transform: uppercase;
      margin: 0.571428571em 1em 0 0;
    }

    .user-menu {
      padding-right: 1em;
      margin-right: 1em;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 6px;
        height: 12px;
        width: 0;
        border-right: 1px solid white;
      }

      .first a {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 0;
        text-indent: 30px;
        white-space: nowrap;
        overflow: hidden;
        background: transparent inline-image("user-avatar.png") scroll no-repeat top left;
      }
      .user a {
        background-image: inline-image("user-avatar-active.png");
      }
    }
  }
  
  .block-menu {
    ul{
      border-bottom: 5px solid #646464;
      li{
        font-family: $primary-sans-font;
        font-weight: 100;
        font-size: 13px;
        padding: 15px 10px;
        margin: 0;
        padding: 0;
        text-indent: 10px;
        line-height: 48px;
        text-transform: none;
      }

    }
    > ul > li {
      font-family: $secondary-sans-font;
      font-size: 20px;
      text-transform: uppercase;
	  border-bottom: 1px solid #646464;
      font-weight: 100;
    }
    ul li ul li{
      padding: 10px;
      margin-left: 20px;
      border-bottom: 1px solid #646464;
      line-height: 20px;
      text-indent: 0;
      &.active,
      &:hover {
	      background-color: #8c8c8c;
	  }
	  a:hover {
  	      background-color: #8c8c8c;
  	  }

    }
    a{
      color: #fff;
      display: block;
      width: 100%;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &.scrollable{
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
  }
}
