/*
 *MegaMenu
 */


#megamenu{
  @include breakpoint($breakpoint-mobile){
    display: none;
  }
  @include breakpoint($breakpoint-tablet){
    display: block;
  }
  clear: both;
  > ul {
    position: relative;
    z-index: 998;
    > li {
      float: left;
      width: 20%;
      border-top: 1px solid #000;
      border-bottom: 2px solid #000;
      &:nth-child(1){
        width: 16%;
      }
      &:nth-child(2){
        width: 14%;
      }
      &:nth-child(3){
        width: 25%;
      }
      &:nth-child(4){
        width: 20%;
      }
      &:nth-child(5){
        width: 25%;
      }
      &:first-child{
        padding: 0;
      }
      &:last-child{
        .title{
          display: block;
          margin: 0 auto;
          max-width: 178px;
        }
      }
      .title{
        @include breakpoint($breakpoint-tablet){
          font-family: $secondary-sans-font;
          font-size: 22px;
          text-transform: uppercase;
          white-space: nowrap;
          text-align: center;
          color: #000;
          position: relative;
          a{
            display: block;
            width: 100%;
            line-height: 45px;
            height: 40px;
            &:after{
              content: '';
              border-right: 1px solid $gray-line;
              height: 23px;
              width: auto;
              position: absolute;
              right: 0;
              top: 9px;
            }
          }
          a.takepart-logo{
            width: 100%;
            display: block;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            float: left;
            background: image-url('tpl-logo.jpg') no-repeat center 9px;
            margin: 0;
          }
          a.takeaction-logo{
            width: 100%;
            display: block;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            background: image-url('takeaction-logo.png') no-repeat center center;
            margin: 0;
          }
        }
        @include breakpoint($breakpoint-desktop){
          font-size: 22px;
          a.takepart-logo{
            background-size: 100%;
          }
        }
      }
      .mega-content {
        position: absolute;
        display: none;
        left: -9999px; /* Hides the content */
        height: auto;
        width: 100%;
        overflow: hidden;
        background-color: #fff;
        padding: 35px;
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .5);
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
        .side-menu{
          float: left;
          
          height: auto;
          overflow: hidden;
          @include breakpoint($breakpoint-tablet){
            width: 25%;
          }
          @include breakpoint($breakpoint-desktop){
            width: 15%;
          }
          ul.menu{
            font: 100 14px/120% $primary-sans-font;
            li{
              float: left;
              clear: left;
              margin-bottom: 14px;
              color: #231f20;
            }
          }
          .text{
            padding-right: 10px;
            padding-bottom: 10px;
            font: 100 italic 14px $primary-serif-font;
            color: #000;
          }
        }
        .categories{
          float: right;
          height: auto;
          overflow: hidden;
          @include breakpoint($breakpoint-tablet){
            width: 75%;
          }
          @include breakpoint($breakpoint-desktop){
            width: 85%;
          }
          @include breakpoint-grid-breakdown(1 3 4, $breakpoint-mobile $breakpoint-tablet $breakpoint-desktop, ' > .sub-category');
          .sub-category{
            @include breakpoint($breakpoint-tablet){
              width: 75%;
              &:nth-child(1n+1), &:nth-child(2n+1), &:nth-child(3n+1){
                padding: 0 15px;
              }
              padding: 0 15px;
              color: #000;
              position: relative;
              &:before{
                content: '';
                height: 220px;
                border-left: 1px solid $gray-line;
                position: absolute;
                left: 0;
                top: 0;
              }
              &:first-child{
                padding: 0 15px;
              }
              &:last-child{
                display: none;
              }
              .thumb{
                margin-bottom: 7px;
                overflow: hidden;
              }
              .label{
                font-family: $primary-sans-font;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 4px;
              }
              .text{
                font-family: $primary-serif-font;
              }
              &:hover{
                text-decoration: none;
                .text{
                  text-decoration: underline;
                }
              }
            }
            @include breakpoint($breakpoint-desktop){
              &:last-child{
                display: block;
              }
            }
          }
        }
        .more{
          position: absolute;
          bottom: 35px;
          left: 35px;
        }
      }
    }
    > li:last-child{
      .title a:after{
        border-right: none;
      }
    }
    > li:hover{
      display: block;
      background-color: #000;
      .mega-content{
        left: 0;
        top: 43px;
        clear: both;
        height: 320px;
      }
      .title a{
        background-color: #000;
        color: #fff;
        text-decoration: none;
        &:after{
          border-right: none;
        }
      }
      .title a.takepart-logo{
        background-image: image-url('tpl-logo-hover.jpg');
      }
      .title a.takeaction-logo{
        background-image: image-url('takeaction-logo-hover.jpg');
      }
    }
  }
}




