.hidden {
  display: none;
}

.entity_iframe_container div.messages.status {
    display:none;
}

.node-type-campaign-page .entity_iframe {
  border: 1px solid $gray-line;
  @include header-footer-border($light-blue, 5);
  @include box-sizing(box-content);
  padding: 0 $zen-gutter-width;
  background-color: #FFF;
}