/**
 * Styles for TP4 Sidebar Blocks
 */

#sidebar {
    .block-title {
        @include header-top-border();
        text-transform: lowercase;
    }
    .block-boxes-ga_ad {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        &:before{
            content: 'Advertisement';
            text-transform: uppercase;
            font-family: $primary-sans-font;
            font-size: 11px;
            color: $dark-gray;
            width: 100%;
            text-align: center;
            display: block;
            .boxes-box-content{
                margin: 0 auto;
                display: block;
            }
        }
    }
}

#block-boxes-bg-skin-sponsor {
    &:before{ 
        content: none; 
    }
}

#block-bean-of-the-day {
    .block-title {
        @include header-top-border();
    }
    .of-the-day-item {
        @include clearfix;
        margin-bottom: 1em;
        a {
            &:hover {
                text-decoration: none;
                .node-title {
                    text-decoration: underline;
                }
            }
        }
        img {
            float: left;
            margin-right: 1em;
        }
        .subhead {
            font: 100 .857142857em/1.5 $primary-sans-font;
            line-height: 1.5;
            margin: 1em 0 0;
            text-transform: uppercase;
        }
        .node-title {
            font-size: 1em;
            line-height: 1.285714286;
            font-weight: normal;
            margin: 0;
            @include dashed-separator-after;
            &:after {
                // TODO Debug why the dashed separator doesn't obey the float
                margin-left: 114px;
            }
        }
    }
}

