/* Special cases and overrides for header/disclaimer on TP4 */

.tp_sponsor {
	margin-top: 0px;
}

// Flashcards, Photo Galleries
.node-flashcard .tp_sponsor,
.node-openpublish-photo-gallery .tp_sponsor,
.node-feature-article .tp_sponsor {
	text-align: left;
	margin-bottom: 1.5em;
}

// Articles, gutter for social share
.tp_sponsored_content_disclaimer {
	@include breakpoint($breakpoint-phablet) {
		margin-left: 53px;
		margin-right: 0px;
	}
}

// Photo Galleries
.node-openpublish-photo-gallery .tp_sponsored_content_disclaimer {
	margin-left: 0;
}

// Featured Article
.node-feature-article .tp_sponsored_content_disclaimer {
	@include breakpoint($breakpoint-phablet) {
		width: 780px;
		margin-left: 134px;
	}
}


/* Sponsor Tag Exceptions */

// Latest Articles/Views
.views-field-field-sponsored,
.views-field-field-promo-short-headline {
	display: inline;
	.field-content {
		display: inline;
		.promoted {
		}
	}	
}
// contextual links: Topic pages, Flashcards, etc
.contextual-links-region .view-topic-listing .views-field.views-field-field-sponsored,
#block-views-topic-listing-block .view-topic-listing .views-field.views-field-field-sponsored {
	float:left;
	display: block;
	margin-left:18px;
}


/* Promoted image overlay exceptions */

header.entry-header {
  .promoted_overlay {
    padding-bottom: 28px;
    z-index: 0;
  }
}

.field-collection-item-field-featured-campaigns .content {
	min-height: 272px;
	.promoted_overlay {
		margin-bottom: 120px;
	}
}

.flashcard-related-content-wrapper .promoted_overlay,
.flashcard-realted-content-primary .promoted_overlay {
	display: none;
}
