/* Special cases and overrides for header/disclaimer on TP4 */

// Flashcards, Photo Galleries
.node-flashcard .tp_sponsor,
.node-openpublish-photo-gallery .tp_sponsor {
	text-align: left;
	margin-bottom: 1.5em;
}

// Articles, gutter for social share
.tp_sponsored_content_disclaimer {
	margin-left: 53px;
	p {
		background-color:$gray-background;
		padding: 10px 15px;
		font-family: $primary-sans-font;
		font-size: 14px;
		font-style: italic;
	}
}

// Photo Galleries
.node-openpublish-photo-gallery .tp_sponsored_content_disclaimer {
	margin-left: 0;
}


/* Sponsor Tag Exceptions */

// Latest Articles/Views
.views-field-field-sponsored,
.views-field-field-promo-short-headline {
	display: inline;
	.field-content {
		display: inline;
		.promoted {
		}
	}	
}
// contextual links: Topic pages, Flashcards, etc
.contextual-links-region .view-topic-listing .views-field.views-field-field-sponsored,
#block-views-topic-listing-block .view-topic-listing .views-field.views-field-field-sponsored {
	float:left;
	display: block;
	margin-left:18px;
}


/* Promoted image overlay exceptions */

header.entry-header {
	.promoted_overlay {
		bottom: 28px;
	}
}

.field-collection-item-field-featured-campaigns .content {
	min-height: 272px;
	.promoted_overlay {
		margin-bottom: 120px;
	}
}

.flashcard-related-content-wrapper .promoted_overlay {
	display: none;
}
