.vocabulary-topic {
  .page__title {
    margin-bottom: .67em;
  }
  .field-name-field-promo-content {
    @include clearfix();
    border-bottom: 1px solid $gray-line;
    margin-bottom: 1em;
    .field-item {
      margin-bottom: 1em;
      @include breakpoint($breakpoint-tablet) {
        float: left;
        width: 29.5%;
        margin-right: 5%;
        .node-title {
          font-size: 1.142857143em;
          line-height: 1.25;
        }
        &:last-child {
          margin-right: 0;
        }
        &:first-child {
          float: none;
          width: 100%;
          @include clearfix();
          .field-name-field-article-main-image {
            width: 46.5625%;
            margin-right: 1.5em;
            float: left;
          }
          .node-title {
            font-size: 2em;
            line-height: 1.142857143;
          }
        }
      }
    }
  } // .field-name-field-promo-content

  // hate to style with an ID, but there's no other way
  // of making sure we're addressing only this block
  #block-views-topic-listing-block h2 {
    text-transform: lowercase;
  }

  .block-menu-block {
    .block__title {
      @include header-top-border;
      text-transform: lowercase;
      &:before {
        content: 'inside ';
      }
    }
    .menu__item {
      line-height: 24px;
      font-size: 14px;
      position: relative;
      padding-left: 15px;
      &:before {
        content: '';
        height: 6px;
        width: 6px;
        background-color: $blue;
        position: absolute;
        top: 7px;
        left: 0;
      }
    }
  }
}

.view-topic-listing,
.view-author-contributions {
  .views-row {
    @include clearfix();
    margin: 1em 0;
    min-height: 80px;

    // position thumbnails and items
    .views-field-field-thumbnail {
      float: left;
    }
    .views-field-type,
    .views-field-title,
    .views-field-url,
    .views-field-field-flashcard-page-headline,
    .views-field-field-promo-headline {
      margin-left: 117px;
    }

    .views-field-type {
      font-family: $primary-sans-font;
      font-weight: 100;
      font-size: .857142857em;
      text-transform: uppercase;
    }

    .views-field-title,
    .views-field-url,
    .views-field-field-promo-headline,
    .views-field-field-flashcard-page-headline {
      font-size: 1.142857143em;
      line-height: 1.25;
      
      .node-type-openpublish_photo_gallery {
        @include icon-photo-gallery();
      }
      .node-type-video {
        @include icon-video();
      }

      @include dashed-separator-after();
      
    }
  } // .views-row

  .pager {
    .pager-item,
    .pager-current {
      font-family: $primary-sans-font;
      font-weight: 100;
      font-size: .857142857em;
      padding: 0 .1em;
    }
    .pager-current {
      font-family: $primary-sans-font;
      font-weight: normal;
    }
    .pager-first,
    .pager-previous,
    .pager-next,
    .pager-last {
      &:before,
      &:after {
        display: inline;
        color: $mint;
        font-family: "SSGizmo";
        font-size: 18px;
        line-height: 1;
        vertical-align: top;
      }
    }
    .pager-first:before {
        content: '\25C5 ';
    }
    .pager-previous:before {
      content: "\23EA ";
    }
    .pager-next:after {
        content: '\25BB';
    }
    .pager-last:after {
      content: '\23E9';
    }
  }
} // .view-topic-listing
