.section-topic {
  .field-name-field-promo-content {
    @include clearfix();
    .field-item {
      margin-bottom: 1em;
      @include breakpoint($breakpoint-tablet) {
        float: left;
        width: 29.5%;
        margin-right: 5%;
        .node-title {
          font-size: 1.142857143em;
          line-height: 1.25;
        }
        &:last-child {
          margin-right: 0;
        }
        &:first-child {
          float: none;
          width: 100%;
          @include clearfix();
          .field-name-field-article-main-image {
            width: 50%;
            margin-right: 2em;
            float: left;
          }
          .node-title {
            font-size: 2em;
            line-height: 1.142857143;
          }
        }
      }
    }
  }
}