.tpl-block{
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
  &:before{
    content: '';
    display: block;
    width: 100%;
    border-top: 5px $light-blue solid;
    padding-bottom: 7px;
  }
  h2.block__title{
    white-space: nowrap;
    text-indent: 1000px;
    background: image-url('tpl_logo.png') no-repeat top center;
    height: 30px;
    margin-bottom: 2px;
  }
  .field-name-field-tpl-block-tune-in img{
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .find-pivot a{
    background: image-url('find-pivot-button.png') no-repeat top center;
    display: block;
    height: 28px;
    width: 100%;
  }
  .field-name-field-poll-reference,
  .field-name-field-tpl-block-video-caption,
  .field-name-field-description,
  .field-name-field-tpl-block-cta{
    padding: 0 10px;
  }

  .field-name-field-tpl-block-video-caption {
    margin-bottom: 15px;
  }
  .field-name-field-description{
    h2{
      margin-bottom: 5px;
    }
    .field-item p:first-of-type{
      margin-top: 0;
    }
  }
  .field-name-field-tpl-block-cta{
    @include secondary-button;
    font-size: 16px;
  }
}