.quicktabs-tabpage {
  background-image: url('images/gradient-skinny-bg.png');
  background-repeat: repeat-x;
  padding:10px;
}

.quicktabs_main.quicktabs-style-takepart{
  clear:both;
}

ul.quicktabs-tabs.quicktabs-style-takepart{
  padding:0 5px 0 0;
  font:bold 12px/19px Verdana !important;
  font-weight:bold;
  height:19px;
  margin:0;
}
ul.quicktabs-tabs.quicktabs-style-takepart a{
  font:bold 12px/19px Verdana !important;
  text-decoration:none;
  color:#aaa;
}
ul.quicktabs-tabs.quicktabs-style-takepart a:hover{
  color:#555;
}
ul.quicktabs-tabs.quicktabs-style-takepart li{
  border-bottom:none;
  padding:5px 8px 2px 8px;
  margin:0 10px 0 0;
  position:relative;
  background-color: #cfe2e1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
ul.quicktabs-tabs.quicktabs-style-takepart li:hover{
  border-bottom:none;
}
ul.quicktabs-tabs.quicktabs-style-takepart li.active{
  background-color: #f3f8f8;
}
ul.quicktabs-tabs.quicktabs-style-takepart li.active a{
  color:#000000;
}
