
.quicktabs_main.quicktabs-style-takepart{
  border:1px solid #aaa;
}
ul.quicktabs-tabs.quicktabs-style-takepart{
  border-bottom:none;
  padding:0 0 0 5px;
}
ul.quicktabs-tabs.quicktabs-style-takepart li{
  float:right;
  margin:0 0 0 3px;
}
