body {
  background: #fff;
  border-top: none !important;
  border-bottom: none !important;
  font-family: "Ashbury-Light", "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-size: 14px; }

#site-footer, #site-header {
  display: none; }

header img {
  width: 100%;
  max-width: 400px; }

#page-wrapper.campaign {
  width: 400px;
  height: 475px; }

#page * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
#page .interstitial {
  float: left;
  vertical-align: top;
  width: 100%;
  max-width: 400px; }
#page .content {
  padding: 0 40px 20px; }
#page.interstitial .headline {
  padding: 10px 40px 0;
  margin-bottom: 5px;
  font-size: 26px;
  font-family: "Ashbury-Regular", "Times New Roman", Georgia, "DejaVu Serif", serif; }
#page .body p {
  margin-bottom: 5px; }
#page #dont {
  font-family: AdelleSans-Light, sans-serif;
  font-size: 12px;
  clear: both; }

#page.main .content a {
  color: #019F84; }
