/* Helpers */
/*
 *Fonts
 */
/*
 *Colors
 */
/*
 *Misc
 */
/* line 4, ../sass/interstitial.scss */
body {
  background: #fff;
  border-top: none !important;
  border-bottom: none !important;
  font-size: 14px;
}

/* line 11, ../sass/interstitial.scss */
#site-footer,
#site-header {
  display: none;
}

/* line 17, ../sass/interstitial.scss */
header img {
  width: 100%;
  max-width: 400px;
}

/* line 23, ../sass/interstitial.scss */
#page-wrapper.campaign {
  max-width: 400px;
  height: 100%;
}

/* line 28, ../sass/interstitial.scss */
#page {
  color: #000;
}
/* line 30, ../sass/interstitial.scss */
#page.main.interstitial {
  padding: 39px 50px;
}
/* line 33, ../sass/interstitial.scss */
#page * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "AdelleSans";
}
/* line 39, ../sass/interstitial.scss */
#page .interstitial {
  float: left;
  vertical-align: top;
  width: 100%;
  max-width: 400px;
}
/* line 45, ../sass/interstitial.scss */
#page h2 {
  margin: 0;
  font-size: 32px;
  line-height: 1.1em;
  font-family: "AdelleSans";
  font-weight: 900;
}
/* line 53, ../sass/interstitial.scss */
#page .body p {
  margin-bottom: 5px;
}
/* line 56, ../sass/interstitial.scss */
#page .body h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 0 0;
}
/* line 62, ../sass/interstitial.scss */
#page p#dont {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-size: 12px;
  clear: both;
  margin: 10px 0 0;
}

/* line 71, ../sass/interstitial.scss */
#page.main .content a {
  color: #018B73;
}
