/* line 2, ../sass/newsletter.scss */
#page .form {
  margin-bottom: .5em;
}
/* line 4, ../sass/newsletter.scss */
#page .form .thank-you-message {
  margin-top: 1em;
}

/* line 10, ../sass/newsletter.scss */
form {
  color: #555;
  font-family: AdelleSans-Light, sans-serif;
  font-size: 12px;
}

/* line 16, ../sass/newsletter.scss */
.form-required {
  display: none;
}

/* line 20, ../sass/newsletter.scss */
.form-type-textfield {
  position: relative;
}
/* line 22, ../sass/newsletter.scss */
.form-type-textfield label {
  display: none;
}
/* line 25, ../sass/newsletter.scss */
.form-type-textfield input {
  max-width: 100%;
  font-size: 12px;
  font-family: AdelleSans-Light, sans-serif;
  z-index: 1;
  border: 1px solid #ccc;
  box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  line-height: 32px;
  min-height: 32px;
  padding: 0 5px;
  position: relative;
  margin: 0;
  width: 100%;
}
/* line 39, ../sass/newsletter.scss */
.form-type-textfield input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 40, ../sass/newsletter.scss */
.form-type-textfield input:focus:-moz-placeholder {
  color: transparent;
}
/* line 41, ../sass/newsletter.scss */
.form-type-textfield input:focus::-moz-placeholder {
  color: transparent;
}
/* line 42, ../sass/newsletter.scss */
.form-type-textfield input:focus {
  max-width: 100%;
  z-index: 3;
  outline: none;
}

/* line 51, ../sass/newsletter.scss */
.form-actions input {
  border: none;
  color: #fff;
  width: 100%;
  padding: .25em;
  margin-bottom: 0.5em;
  cursor: pointer;
  background: #01BF9E;
  font-size: 24px;
  font-family: AdelleSans-Regular, sans-serif;
}
/* line 61, ../sass/newsletter.scss */
.form-actions input[type=submit]:hover {
  background: #000;
}
