/* Helpers */
/*
 *Fonts
 */
/*
 *Colors
 */
/*
 *Misc
 */
/* line 5, ../sass/newsletter.scss */
#page .form {
  margin-bottom: 0em;
}
/* line 7, ../sass/newsletter.scss */
#page .form .thank-you-message {
  margin-top: 0.5em;
}

/* line 13, ../sass/newsletter.scss */
.newsletter-legal {
  margin: 10px 0 0;
  line-height: 1.5em;
}

/* line 18, ../sass/newsletter.scss */
form {
  color: #555;
  font-family: "AdelleSans", Verdana, Tahoma, sans-serif;
  font-size: 12px;
}

/* line 24, ../sass/newsletter.scss */
.form-required {
  display: none;
}

/* line 28, ../sass/newsletter.scss */
.form-type-textfield {
  position: relative;
  margin-top: 10px;
}
/* line 31, ../sass/newsletter.scss */
.form-type-textfield label {
  display: none;
}
/* line 34, ../sass/newsletter.scss */
.form-type-textfield input {
  max-width: 100%;
  z-index: 1;
  background: #fff;
  min-height: 32px;
  padding: 0 15px;
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 14px;
}
/* line 44, ../sass/newsletter.scss */
.form-type-textfield input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 45, ../sass/newsletter.scss */
.form-type-textfield input:focus:-moz-placeholder {
  color: transparent;
}
/* line 46, ../sass/newsletter.scss */
.form-type-textfield input:focus::-moz-placeholder {
  color: transparent;
}
/* line 47, ../sass/newsletter.scss */
.form-type-textfield input:focus {
  max-width: 100%;
  z-index: 3;
  outline: none;
}

/* line 56, ../sass/newsletter.scss */
form.newsletter-signup .form-actions {
  margin: 10px 0 0;
}
/* line 58, ../sass/newsletter.scss */
form.newsletter-signup .form-actions input {
  border: none;
  color: #fff;
  width: 100%;
  padding: 0.35em;
  margin-bottom: 0.5em;
  cursor: pointer;
  background: #01BF9E;
  font-family: "AdelleSans";
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}
/* line 70, ../sass/newsletter.scss */
form.newsletter-signup .form-actions input[type=submit]:hover {
  background: #000;
}
