/*
 * CSS is in the main tp4 CSS file.
 * Admin styling below
 */

.panel-takepart-campaign-2col { 
/*  overflow: hidden;  */
}

.panel-takepart-campaign-2col .panel-left-col .inside { 
  margin: 0 .5em 1em 0;
}

.panel-takepart-campaign-2col .panel-left-col { 
  float: left; 
  width: 50%; 
}

.panel-takepart-campaign-2col .panel-right-col { 
  float: left; 
  width: 50%; 
}

.panel-takepart-campaign-2col .panel-right-col .inside { 
  margin: 0 0 1em .5em;
}

.panel-takepart-campaign-2col .panel-separator {
  margin: 0 0 1em 0;
}