/* Footer */

#site-footer {
	color: #555;
	line-height: 1.5;
}

#site-footer a {
	color: #555;
	text-decoration: none;
}

#site-footer #site-participant a {
	color: #28a9e9;
}

#site-footer a:hover {
	text-decoration: underline;
}

#site-footer section {
	float: left;
	padding: 1em 0 1em 1em;
	width: 25%;
}

#site-footer section > * {
	font-size: 14px;
}

#site-footer h4 {
	text-transform: uppercase;
	font-weight: bold;
}

#site-footer #site-about {
	border-top: 1px solid #dbdbdb;
	clear: both;
	padding: 1em 0;
	display: block;
	text-align: right;
	width: 100%;
}

#site-footer #site-more-campaigns a {
	color: #28a9e9;
}

/* Connect */

#site-connect ul {
	display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
}

#site-connect li {
	float: left;
	margin-right: 5px;
}

#site-connect a {
	width: 24px;
	height: 24px;
	display: block;
	text-indent: 100%;
	overflow: hidden;
}

#site-connect a:hover {
	opacity: .6;
}

#site-connect .facebook a {
	background: url(../images/connect_facebook.png) no-repeat;
}

#site-connect .twitter a {
	background: url(../images/connect_twitter.png) no-repeat;
}

#site-connect .email a {
	background: url(../images/connect_email.png) no-repeat;
}

#site-connect .google a {
	background: url(../images/connect_google.png) no-repeat;
}

#site-connect .pinterest a {
	background: url(../images/connect_pinterest.png) no-repeat;
}

#site-connect .linkedin a {
	background: url(../images/connect_linkedin.png) no-repeat;
}

#site-connect .youtube a {
	background: url(../images/connect_youtube.png) no-repeat;
}

#site-connect .tumblr a {
	background: url(../images/connect_tumblr.png) no-repeat;
}