
/* Header */

#site-header {
	padding: 1em 0 0 0;
	display: inline-block; *display: inline; zoom: 1;
	width: 100%;
	vertical-align: top;
	position: relative;
	z-index: 2;
	margin: 0 auto 0 auto;
	max-width: 1000px;
	background: #f1f3f4;
}

#site-header #site-logo {
	padding-right: 1em;
	float: left;
	position: relative;
	margin-bottom: -16px;
}

#site-logo img {
	width: 116px;
	height: 116px;
	display: block;
}

#site-user-nav ul,
#site-user-nav li,
#site-header div p,
#site-header div ul,
#site-header div li {
	float: left;
}

#site-header a {
	text-decoration: none;
}

#site-navs {
	float: left;
}

#site-user-nav {
	position: absolute;
	right: 0;
	top: 0;
}

#site-user-nav ul {
	float: right;
	padding-top: .5em;
}

#site-user-nav li {
	font-size: 11px;
}

#site-user-nav a {
	color: #000;
	font-weight: bold;
}

#site-user-nav a:hover {
	color: #28a9e9;
}

#site-user-nav li {
	padding: 0 .5em;
	border-right: 1px solid #dbdbdb;
}

#site-user-nav li:last-child {
	padding-right: 0;
	border-right: none;
}

#site-participant-nav p,
#site-user-nav,
#site-main-nav,
#site-hot-nav {
	text-transform: uppercase;
}

#site-participant-nav p,
#site-main-nav,
#site-hot-nav {
	font-family: TradeGothicLTStdCnBold, sans-serif;
}

#site-hot-nav {
	padding-top: .75em;
	float: left;
	clear: left;
}

#site-hot-nav a {
	color: #000;
}

#site-hot-nav li {
	font-size: 15px;
	padding: 0 .5em;
	border-right: 1px solid #dbdbdb;
}

#site-hot-nav li.first {
	padding-left: 0;
}

#site-hot-nav li.last {
	border-right: none;
	padding-right: 0;
}

#site-hot-nav li a:hover {
	color: #28a9e9;
}

#site-main-nav {
	padding: 1em 0 .75em;
	border-bottom: 1px solid #dbdbdb;
	float: left;
	clear: right;
}

#site-main-nav li {
	padding: 0 .9em 0 0;
}

#site-main-nav li.last {
	padding-right: 0;
}

#site-main-nav a {
	color: #000;
}

#site-main-nav a:hover {
	color: #28a9e9;
}

#site-miss-nav {
	margin-top: .5em;
	background: #f7f7f7;
	padding: .25em .1em .25em .5em;
	float: left;
	margin-left: 1em;
}

#site-miss-nav p {
	font-weight: bold;
	color: #555;
}

#site-miss-nav a:hover {
	text-decoration: underline;
}

#site-header #site-miss-nav li {
	border-right: 1px solid #dbdbdb;
	padding: 0 .4em;
}

#site-header #site-miss-nav li.last {
	border-right: none;
	padding: 0 .4em;
}

#site-miss-nav p,
#site-miss-nav li {
	font-size: 12px;
}

#site-more-navs {
	float: right;
	width: 193px;
}

#site-follow {
	display: none;
}

#site-search {
	margin: .5em 0;
	float: left;
}

#site-search .form-item {
	float: left;
	margin: 0;
}

#site-search .form-item input {
	display: block;
	width: 160px;
	border: 1px solid #ccc;
	border-right: none;
	margin: 0;
	height: 34px;
	padding-left: 10px;
	border-radius: 0;
	-webkit-appearance: none;
}

#site-search .form-submit {
	display: block;
	float: left;
	margin: 0;
	width: 33px;
	height: 34px;
	border: 1px solid #ccc;
	border-left: none;
	text-indent: 200%;
	line-height: 200px;
	overflow: hidden;
	border-radius: 0;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 8px 9px;
  background-image: url('style-sprite.png');
  background-position: left -2243px;
	cursor: pointer;
}

#site-search .form-submit:hover {
	background-position: 8px 9px;
  background-image: url('style-sprite.png');
  background-position: left -2276px;
}

#site-header #site-participant-nav {
	color: #333;
	border: 1px solid #d0d0d0;
	height: 34px;
	padding-left: .75em;
	text-shadow: 0 1px #fff;
	float: left;
	width: 100%;

	background: #fdfdfd;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#ececec));
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#ececec 100%);
	background: -o-linear-gradient(top,  #fdfdfd 0%,#ececec 100%);
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#ececec 100%);
	background: linear-gradient(to bottom,  #fdfdfd 0%,#ececec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ececec',GradientType=0 );

	-webkit-box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow:          0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
}

#site-header #site-participant-nav:after {
	display: block;
	float: right;
	content: " ";
	border-left: 1px solid #d0d0d0;
	height: 100%;
	width: 33px;
	background-repeat: no-repeat;
	background-position: 12px 12px;
  background-image: url('style-sprite.png');
  background-position: left -2309px;
}

#site-participant-nav p {
	font-size: 18px;
	line-height: 34px;
	vertical-align: middle;
}

#site-participant-nav ul {
	position: absolute;
	bottom: 110%;
	border: 1px solid #d0d0d0;
	background: #fff;
	white-space: nowrap;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 4px rgba(0, 0, 0, 0.2);
	right: -1px;
}

#site-header #site-participant-nav.focusin,
#site-header #site-participant-nav:hover {
	position: relative;

	background: #ebebeb;
	background: -moz-linear-gradient(top,  #f0f0f0 0%, #ebebeb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#ebebeb));
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
	background: -o-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#ebebeb 100%);
	background: linear-gradient(to bottom,  #f0f0f0 0%,#ebebeb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ebebeb',GradientType=0 );
}

#site-header #site-participant-nav.focusin:after,
#site-header #site-participant-nav:hover:after {
	background-repeat: no-repeat;
	background-position: 12px 12px;
  background-image: url('style-sprite.png');
  background-position: left -2342px;
}

#site-participant-nav.focusin ul,
#site-participant-nav:hover ul {
	bottom: auto;
	top: 100%;
}

#site-header #site-participant-nav li {
	float: none;
	display: block;
	border-bottom: 1px solid #e8e8e8;
	font-size: 14px;
}

#site-participant-nav li.last {
	border-bottom: none;
	font-size: 12px;
}

#site-participant-nav a {
	display: block;
	padding: .6em;
}

#site-participant-nav a:hover,
#site-participant-nav a:focus {
	background: #ededed;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

/* Slim Header */

.multipage-campaign #site-header {
	min-height: 36px;
	padding: 0;
}

.multipage-campaign #site-header #site-logo {
	padding-right: 17px;
	margin-bottom: -5px;
}

.multipage-campaign #site-logo img {
	width: 42px;
	height: 42px;
}

.multipage-campaign #site-miss-nav,
.multipage-campaign #site-participant-nav {
	display: none;
}

.multipage-campaign #site-hot-nav li {
	display: none;
}

.multipage-campaign #site-hot-nav .first {
	padding-right: 0;
	border: none;
	display: block;
}

.multipage-campaign #site-hot-nav .first a:hover {
	text-decoration: none;
	color: #28a9e9;
}

.multipage-campaign #site-main-nav .last {
	padding-right: .9em;
}

.multipage-campaign #site-hot-nav,
.multipage-campaign #site-main-nav {
	font-size:  15px;
	padding: 11px 0;
	border: none;
	clear: none;
}

.multipage-campaign #site-user-nav {
	position: static;
	float: right;
}

.multipage-campaign #site-more-navs {
	width: auto;
}

.multipage-campaign #site-follow {
	display: block;
	float: left;
	margin: 8px 7px 0 0;
}

.multipage-campaign #site-follow li {
	margin-right: 3px;
}

.multipage-campaign #site-follow a {
	display: block;
	overflow: hidden;
	width: 19px;
	height: 19px;
	white-space: nowrap;
	text-indent: 100%;
	background-repeat: no-repeat;
}

.multipage-campaign #site-follow .facebook a {
  background-image: url('style-sprite.png');
  background-position: left -2375px;
}

.multipage-campaign #site-follow .facebook a:hover {
  background-image: url('style-sprite.png');
  background-position: left -2404px;
}

.multipage-campaign #site-follow .twitter a {
  background-image: url('style-sprite.png');
  background-position: left -2433px;
}

.multipage-campaign #site-follow .twitter a:hover {
  background-image: url('style-sprite.png');
  background-position: left -2462px;
}

.multipage-campaign #site-follow .rss a {
  background-image: url('style-sprite.png');
  background-position: left -2491px;
}

.multipage-campaign #site-follow .rss a:hover {
  background-image: url('style-sprite.png');
  background-position: left -2520px;
}

.multipage-campaign #site-search {
	margin: 6px 8px 0 0;
}

.multipage-campaign #site-search .form-item input {
	height: 24px;
	line-height: 24px;
	width: 109px;
}

.multipage-campaign #site-search .form-submit {
	height: 24px;
	width: 24px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
  background-image: url('style-sprite.png');
  background-position: left -2549px;
}

.multipage-campaign #site-search .form-submit:hover {
	background-position: 4px 4px;
  background-image: url('style-sprite.png');
  background-position: left -2578px;
}

.multipage-campaign #site-user-nav ul {
	padding: 12px 10px 0 0;
}

.multipage-campaign #site-user-nav .first {
	max-width: 75px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}

/* ----------------------------------------------------------------
Footer ------------------------------------------------------------
------------------------------------------------------------------- */

#site-footer {
	color: #555;
	line-height: 1.5;
	position: relative;
	z-index: 2;
	display: inline-block; *display: inline; zoom: 1;
	vertical-align: top;
	width: 100%;
	background: #f1f3f4;
}

#site-footer ul,
#site-footer li {
	list-style: none;
}

#site-footer a {
	color: #555;
	text-decoration: none;
}

#site-footer #site-participant a {
	color: #28a9e9;
}

#site-footer a:hover {
	text-decoration: underline;
}

#site-footer section {
	float: left;
	padding: 1em 0 1em 1em;
	width: 25%;
}

#site-footer section > * {
	font-size: 14px;
}

#site-footer h4 {
	text-transform: uppercase;
	font-weight: bold;
}

#site-footer #site-about {
	border-top: 1px solid #dbdbdb;
	clear: both;
	padding: 1em 0;
	display: block;
	text-align: right;
	width: 100%;
}

#site-footer #site-more-campaigns a {
	color: #28a9e9;
}

/* Connect */

#site-connect ul {
	display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
}

#site-connect li {
	float: left;
	margin-right: 5px;
}

#site-connect a {
	width: 24px;
	height: 24px;
	display: block;
	text-indent: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
}

#site-connect .facebook a {
  background-image: url('style-sprite.png');
  background-position: left -2607px;
}

#site-connect .twitter a {
  background-image: url('style-sprite.png');
  background-position: left -2641px;
}

#site-connect .email a {
  background-image: url('style-sprite.png');
  background-position: left -2675px;
}

#site-connect .google a {
  background-image: url('style-sprite.png');
  background-position: left -2709px;
}

#site-connect .pinterest a {
  background-image: url('style-sprite.png');
  background-position: left -1237px;
}

#site-connect .linkedin a {
  background-image: url('style-sprite.png');
  background-position: left -2743px;
}

#site-connect .youtube a {
  background-image: url('style-sprite.png');
  background-position: left -1271px;
}

#site-connect .tumblr a {
  background-image: url('style-sprite.png');
  background-position: left -2777px;
}

/* rolovers */

#site-connect .facebook a:hover {
  background-image: url('style-sprite.png');
  background-position: left -2811px;
}

#site-connect .twitter a:hover {
  background-image: url('style-sprite.png');
  background-position: left -2845px;
}

#site-connect .email a:hover {
  background-image: url('style-sprite.png');
  background-position: left -2879px;
}

#site-connect .google a:hover {
  background-image: url('style-sprite.png');
  background-position: left -2913px;
}

#site-connect .pinterest a:hover {
  background-image: url('style-sprite.png');
  background-position: left -2947px;
}

#site-connect .linkedin a:hover {
  background-image: url('style-sprite.png');
  background-position: left -2981px;
}

#site-connect .youtube a:hover {
  background-image: url('style-sprite.png');
  background-position: left -3015px;
}

#site-connect .tumblr a:hover {
  background-image: url('style-sprite.png');
  background-position: left -3049px;
}
