/*
Modified normalize.css. removes redundant stuff that reset.css covers.
Moves formatting stuff into .cms selector.

Jacked from:
*/
/*! normalize.css 1.0.1 | MIT License | git.io/normalize */

/* ==========================================================================
   Typography
   ========================================================================== */

.cms {
	line-height: 1.5;
}

/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

.cms h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.cms h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

.cms h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

.cms h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

.cms h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

.cms h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

.cms abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

.cms b,
.cms strong {
    font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

.cms dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */

.cms mark {
    background: #ff0;
    color: #000;
}


/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

.cms code,
.cms kbd,
.cms pre,
.cms samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/*
 * Addresses margins set differently in IE 6/7.
 */

.cms p,
.cms pre {
    margin: 0 0 1em 0;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

.cms pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */

.cms q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.cms blockquote {
    margin: 0 0 1em 1.5em;
    padding: 0 1.5em;
    border-left: solid 1px #000;
    display: block;
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

.cms small {
    font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

.cms sub,
.cms sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.cms sup {
    top: -0.5em;
}

.cms sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE 6/7.
 */

.cms dl,
.cms menu,
.cms ol,
.cms ul {
    margin: 0 0 1em 0;
}

.cms dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE 6/7.
 */

.cms menu,
.cms ol,
.cms ul {
    padding: 0 0 0 2em;
}


.cms ul { 
   list-style-type: disc; 
   list-style-position: outside; 
   /*margin-left: 1em; */
}

.cms ol { 
   list-style-type: decimal; 
   list-style-position: outside; 
   /*margin-left: 1em; */
}

.cms ul ul,
.cms ol ul { 
   list-style-type: circle; 
   list-style-position: outside; 
}

.cms ol ol,
.cms ul ol { 
   list-style-type: lower-latin; 
   list-style-position: outside; 
}

.cms li {
	margin: 0 0 .5em 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

.cms fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
