.tpmodal_overlay {
    background: #000;
}

.tpmodal_modal {
    background: #fff;
    border-radius: 10px;
    overflow: auto;

    max-height: 100%;
    max-width: 100%;
    min-height: 40px;
    min-width: 40px;
}

.tpmodal_modal.tpmodal_position {
    display: none !important;
}

.tpmodal_loading {
    background: #fff url(/profiles/takepart/themes/takepart3/images/spinner.gif) center center no-repeat;
}

.tpmodal_content {
    padding: 20px;
    opacity: 1;
}
.tpmodal_content img {
    max-width: 100%;    
}

.tpmodal_loading .tpmodal_content {
    opacity: 0;
}

.tpmodal_close {
    background: url(/sites/all/modules/custom/unipop/css/images/close_popup.png) no-repeat;
    height: 13px;
    width: 13px;
    margin: 5px 5px 0 0;
    text-indent: 100%;
    overflow: hidden;
}