@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "//cloud.typography.com/625388/701462/css/fonts.css";

$header-font: 'Archer A', 'Archer B';
$body-font: Helvetica, Arial, sans-serif;
$nav-font: 'TradeGothicLTStdCnBold';

$primary-color: #5c2e13;