@import "compass/css3";
@import "compass/utilities/general/clearfix";

$header-font: 'Archer A', 'Archer B';
$body-font: 'Helvetica, Arial, sans-serif';
$nav-font: 'TradeGothicLTStdCnBold';

$primary-color: #5c2e13;