@import "assets";

#page-wrapper.foodinc{
  -webkit-font-smoothing: antialiased;
  background: #fff;
  max-width: 1000px;
  width: auto;
  .ad{
    margin: 30px 0;
  }
  .page-wrap{
    margin: 10px;
  }
  .content{
    margin-top: 20px;
    h2{
      margin-bottom: 10px;
      color: $primary-color;
    }
  }
  img{
    max-width: 100%;
  }
  .hero{
    font-size: 14px;
    line-height: 28px;
    margin-left: 20px;
    @media (max-width: 480px) {
      margin-left: 5px;
    }
    img, .video{
      float: left;
      margin-right: 30px;
      margin-bottom: 20px;
    }
    .video{
      position: relative;
      max-width: 510px;
      width: 100%;
      .botr {
        width: 100%;
        object{
          max-width: 100%;
        }
      }
      @media (max-width: 585px) {
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
      width: 100%;
      max-width: 510px;
        iframe, object, embed{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .hero-title{
      font-size: 21px;
      color: $primary-color;
      margin-bottom: 10px;
      font-family: $header-font; font-weight: 800; font-style: italic;
      @media (max-width: 1000px) {
        clear: left;
      }
      span{
        display: block;
        font-size: 33px;
        font-family: $header-font; font-weight: 500; font-style: italic;
      }
    }
    .learn-more{
      float: right;
      clear: both;
      @media (max-width: 480px) {
        float: none;
        margin: 20px 0;
      }
      p{
        display: inline-block;
        color: $primary-color;
        font-size: 22px;
        font-family: $header-font;
        font-weight: 700;
        font-style: italic;
        vertical-align: top;
        margin-top: 10px;
        margin-right: 5px;
        @media (max-width: 480px) {
          display: none;
        }
      }
      a{
        background: image-url("learn-more-submit.png") top center no-repeat;
        width: 137px;
        height: 37px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 15px;
        display: inline-block;
      }
    }
  }
  .logo{
    margin-top: 30px;
    margin-left: 20px;
  }
  #main-navigation ul{
    background-color: black;
    list-style: none;
    overflow: hidden;
    margin-top: -3px;
    li{
      display: block;
      float: left;
      font-family: 'TradeGothicLTStdCnBold';
      list-style: none outside none;
      margin: 0;
      padding: 0 25px;
      border-right: 1px dotted #4c4c4c;
      ul li{
        clear: left;
        border: none;
      }
      a{
        font-size: 19px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 28px;
        color: #fff;
        &:hover, &.active, &.active-trail{
          text-decoration: none;
          color: #1CA9E7;
        }
      }
    }
  }
  /* Social */
.social{
  float: right;
  .headline{
    display: inline-block;
    vertical-align: top;
    line-height: 27px;
    letter-spacing: -1px;
    font-size: 14px;
  }
  .tp-social{
    display: inline-block;
  }
  .tp-social-link {
      float: left;
      width: 24px;
      height: 28px;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 7px;
      background-repeat: no-repeat;
  }

  .tp-social-facebook {
    background-image: image-url('share_facebook.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-twitter {
    background-image: image-url('share_twitter.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-googleplus {
    background-image: image-url('share_google.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-email {
    background-image: image-url('share_email.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-reddit {
    background-image: image-url('share_reddit.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-pinterest {
    background-image: image-url('share_pinterest.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-tumblr {
    background-image: image-url('share_tumblr.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  /* rollovers */
  .tp-social-facebook:hover {
    background-image: image-url('share_facebook_rollover.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-twitter:hover {
    background-image: image-url('share_twitter_rollover.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-googleplus:hover {
    background-image: image-url('share_google_rollover.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-email:hover {
    background-image: image-url('share_email_rollover.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-reddit:hover {
    background-image: image-url('share_reddit_rollover.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-pinterest:hover {
    background-image: image-url('share_pinterest_rollover.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }

  .tp-social-tumblr:hover {
    background-image: image-url('share_tumblr_rollover.png'); /** sprite-ref: mysprite; sprite-margin-top: 4px; */
  }
}
  #foodinc-awards{
    section.page-body-content{
      width: 66%;
      float: left;
      clear: both;
      @media (max-width: 1000px) {
        width: 100%;
      }
      #foodinc-categories{
        font-size: 14px;
        line-height: 28px;
        font-family: $body-font;
        .row{
          clear: both;
          margin-bottom: 30px;
          height: auto;
          overflow: hidden;
          .categories-title{
            font-family: $header-font; font-weight: 500; font-style: italic;
            font-size: 32px;
            color: $primary-color;
            text-align: right;
            @media (max-width: 680px) {
              clear: left;
            }
            span{
              font-size: 11px;
              font-style: normal;
              font-family: $body-font;
              vertical-align: top;
              padding-top: 10px;
              line-height: 35px;
              color: #555;
            }
          }
        }
        .row-id-0{
          margin-bottom: 30px;
          .image{
            float: left;
          }
          .category-title h2{
            color: $primary-color;
            font-family: $header-font;
            font-weight: 900;
            font-style: normal;
            font-size: 23px;
          }
          .category-info{
            display: block;
            float: left;
            width: 375px;
            position: relative;
            z-index: 1;
            @media (max-width: 480px) {
              width: 100%;
            }
          }
          .category-text{
            padding-left: 20px;
          }
        }
        .row-odd{
          .image{
            float: right;
            margin-left: 10px;
            @media (max-width: 480px) {
              margin: 0;
            }
          }
          .category-info{
            display: block;
          }
          .category-text{
            margin-left: 30px;
          }
        }
        .row-even{
          .image{
            float: left;
            margin-right: 10px;
            @media (max-width: 480px) {
              margin: 0;
            }
          }
          .category-info{
            display: block;
          }
        }
      }
      .judges{
        padding-bottom: 30px;
        height: auto;
        overflow: hidden;
        h2{
          color: $primary-color;
          margin: 0;
          font-family: $header-font;
          font-weight: 600;
          font-style: normal;
          font-size: 24px;
        }
        .row{
          width: 300px;
          margin-top: 20px;
          position:relative;
          &.row-odd{
            float: left;
            clear: both;
          }
          &.row-even{
            float: right;
            @media (max-width: 1000px) {
              float: left;
            }
          }
          img{
            float: left;
            margin-right: 15px;
          }
          .info{
            margin-left: 110px;
            .name{
              color: $primary-color;
              font-family: $header-font;
              font-weight: 500;
              font-style: normal;
              font-size: 24px;
            }
            .bio {
              padding: 0 15px;
              position:relative;
              display: block;
              text-overflow:ellipsis;
              padding: 0;
              margin-left: 5px;
            }
            .show-more-height{
              height: 58px;
              overflow:hidden;
              text-overflow:ellipsis;
            }
            .show-more{
              color: #1CA9E7;
              cursor: pointer;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    section.right-rail{
      float: right;
      width: 30%;
      margin-bottom: 30px;
      margin-right: 10px;
      @media (max-width: 1000px) {
        float: left;
        width: 100%;
        clear: both;
      }
      .ad{
        display: block;
        @media (max-width: 1000px) {
          width: 302px;
          margin: 0 auto;
        }
      }
      .newsletter{
        display: block;
        @media (max-width: 1000px) {
          width: 302px;
          margin: 0 auto;
        }
        .title{
          padding-top: 30px;
          padding-left: 30px;
          font-size: 23px;
          color: $primary-color;
          font-family: $header-font;
          font-weight: 800;
          font-style: normal;
          position: relative;
          z-index: 1;
        }
        .form-wrapper-first{
          width: 302px;
          height: auto;
          overflow: hidden;
          background: image-url('signup-block-top.jpg'), image-url('signup-block-extra.jpg');
          background-position: center top, top center;
          background-repeat: no-repeat, repeat-y;
          margin-top: -50px;
          position: relative;
          z-index: 0;
          .thank-you-message p, form > div > p{
            color: $primary-color;
            padding: 10px 20px;
            line-height: 18px;
            font-size: 12px;
            margin-top: 35px;
            background: image-url('signup-block-mid.jpg'), image-url('signup-block-bottom.jpg');
            background-position: center top, center bottom;
            background-repeat: repeat-y, no-repeat;
          }
          .thank-you-message p{
            padding: 20px 30px;
          }
          form{
            padding: 12px;
            padding-top: 10px;
            .throbber{
              display: none;
            }
            div.error{
              background: transparent;
              border: none;
              height: 10px;
              margin: 0;
              margin-bottom: -31px;
              text-align: left;
              color: red;
              position: absolute;
              bottom: 161px;
              z-index: 2;
            }
            .form-item-email label{
              font-family: $header-font;
              font-weight: 600;
              font-style: normal;
              font-size: 13px;
              color: $primary-color;
              margin-bottom: 5px;
              span{
                display: none;
              }
            }
            input[type='text']{
              background: image-url('signup-input.png') top center;
              height: 34px;
              width: 275px;
              border: none;
              line-height: 37px;
              font-size: 21px;
              text-indent: 10px;
            }
            input[type='submit']{
              background: image-url('singup-btn.png') top center;
              height: 44px;
              width: 275px;
              border: none;
              font-size: 18px;
              color: #fff;
              cursor: pointer;
            }
            a{
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  #foodinc-howto{
    section.page-body-content{
      width: 66%;
      float: left;
      clear: both;
      line-height: 28px;
      font-size: 14px;
      margin-left: 20px;
      @media (max-width: 1000px) {
        width: 100%;
      }
      @media (max-width: 680px) {
        margin-left: 0;
      }
      .page-title h3{
        font-size: 23px;
        color: $primary-color;
        font-family: $header-font;
        font-weight: 800;
        font-style: normal;
        margin: 5px 0;
      }
      .intro{
        .title{
          color: $primary-color;
          font-family: $header-font;
          font-weight: 500;
          font-style: italic;
          font-size: 33px;
          margin-bottom: 5px;
        }
        .video, img{
          margin: 20px 0;
        }
        .video{
          position: relative;
          max-width: 635px;
          margin: 0;
          .botr {
            width: 100%;
            object{
              max-width: 100%;
            }
          }
          @media (max-width: 6355px) {
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;
            width: 100%;
            max-width: 635px;
            iframe, object, embed{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .categories{
      .row{
        margin: 30px 0;
      }
      .title{
        font-family: $header-font; font-weight: 500; font-style: italic;
        font-size: 32px;
        color: $primary-color;
        span{
          font-size: 11px;
          font-style: normal;
          font-family: $body-font;
          vertical-align: top;
          padding-top: 10px;
          line-height: 35px;
          color: #555;
        }
      }
    }
    .additional-info{
      .row{
        margin: 20px 0;
      }
      .title{
        font-size: 24px;
        color: $primary-color;
        font-family: $header-font; font-weight: 800; font-style: normal;
      }
      .video, img{
        margin: 10px 0;
      }
      .video{
        position: relative;
        @media (max-width: 585px) {
          padding-bottom: 56.25%;
          padding-top: 30px; height: 0; overflow: hidden;
          width: 100%;
          max-width: 585px;
          iframe, object, embed{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    section.right-rail{
      float: right;
      width: 30%;
      margin-right: 10px;
      @media (max-width: 1000px) {
        float: left;
        clear: both;
        width: 100%;
      }
    }
    .instruction-block{
      .top{
        width: 300px;
        height: 63px;
        background: image-url('instruction-top.jpg') no-repeat top center;
      }
      .mid{
        width: 300px;
        height: auto;
        overflow: hidden;
        background: image-url('instruction-mid.jpg') top center;
        margin-top: -15px;
        color: $primary-color;
        .item{
          padding: 0 20px;
          clear: both;
          margin-bottom: 10px;
          .number{
            margin-right: 10px;
            font-size: 21px;
            float: left;
            width: 10px;
          }
          span{
            display: block;
            margin-left: 20px;
          }
        }
        .button a{
          background: image-url('contest-btn.png') top right no-repeat;
          width: 238px;
          height: 43px;
          display: block;
          margin: 0 auto;
          text-align: center;
          line-height: 43px;
          font-size: 18px;
          color: #fff;
        }
        .extra{
          padding: 20px;
          padding-bottom: 0;
          text-align: center;
        }
      }
      .bottom{
        width: 300px;
        height: 63px;
        background: image-url('instruction-bottom.jpg') no-repeat top center;
      }
    }
  }
  #foodinc-entryreceived{
    section.page-body-content{
      width: 66%;
      float: left;
    }
    .page-title{
      font-size: 20px;
      font-style: italic;
      color: $primary-color;
    }
    .additional-info{
      margin-top: 20px;
      .title{
        font-size: 18px;
        color: $primary-color;
      }
    }
    .social-block{
      clear: both;
      height: auto;
      overflow: hidden;
      margin: 10px 0px 20px 20px;
      .social{
        display: block;
        height: 40px;
        width: 152px;
        float: left;
        margin-right: 8px;
      }
      .facebook{
        background: image-url('social_long_fb.png') no-repeat top center;
      }
      .twitter{
        background: image-url('social_long_twitter.png') no-repeat top center;
      }
      .googleplus{
        background: image-url('social_long_google.png') no-repeat top center;
      }
      .email{
        background: image-url('social_long_email.png') no-repeat top center;
      }
    }
    section.right-rail{
      width: 30%;
      float: right;
      margin-right: 10px;
    }
  }

  #foodinc-entryform {
    h2 {
      font: italic 36px $header-font;
      color: $primary-color;
    }
    h3 {
      font: bold 24px $header-font;
      color: $primary-color;
      text-transform: uppercase;
      span {
        font: italic normal 24px $header-font;
        margin-left: .5ex;
        text-transform: none;
      }
    }
    h4 {
      font: bold 16px/150% $header-font;
      color: $primary-color;
    }
    .left-rail {
      @include inline-block;
      margin-right: 20px;
      width: 370px;
      margin-right: 20px;
      ul {
        list-style-type: none;
        li {
          background: no-repeat 0px 5px;
          padding-left: 4ex;
          &.bullet-1 { background-image: image-url('entry-bullets/bullet-1.png'); }
          &.bullet-2 { background-image: image-url('entry-bullets/bullet-2.png'); }
          &.bullet-3 { background-image: image-url('entry-bullets/bullet-3.png'); }
          &.bullet-action { background-image: image-url('entry-bullets/bullet-action.png'); }
          &.bullet-camera { background-image: image-url('entry-bullets/bullet-camera.png'); }
          &.bullet-clean { background-image: image-url('entry-bullets/bullet-clean.png'); }
          &.bullet-focus { background-image: image-url('entry-bullets/bullet-focus.png'); }
          &.bullet-lights { background-image: image-url('entry-bullets/bullet-lights.png'); }
          &.bullet-pencil { background-image: image-url('entry-bullets/bullet-pencil.png'); }

          p {
            color: #555;
          }
        }
      }
    }

    .right-rail {
      @include inline-block;
      float: right;
      width: 570px;
    }

    .entry-form-container {
      section {
        margin-bottom: 30px;
        padding: 0px 10px 1px 10px;
        background: image-url('entry-form-bg.jpg');
        header {
          padding: 25px 15px 1px 15px;
          background:
            image-url('entry-title-top.jpg') no-repeat -15px 0,
            image-url('entry-title-mid.jpg') repeat-y -15px 0,
            image-url('entry-title-bottom.jpg') no-repeat -15px bottom;
            p {
              color: $primary-color;
              font: normal 12px/150% $body-font;
            }
        }
        fieldset {
          border: none;
          padding: 0;
          margin: 10px 0 10px;
          label {
            font: bold 14px/170% $header-font;
            color: $primary-color;
            text-transform: uppercase;
          }
          .form-text {
            padding: 5px;
            @include box-shadow(-1px 2px 3px #eee inset);
            border: 1px solid #ddd;
            font: normal 19px $header-font;
            margin: 0;
            &.error {
              border-color: #ff1812;
            }
          }
        }
        .textfields {
          @include clearfix;
          fieldset {
            float: left;
            .form-text {
              width: 250px;
            }
            &:nth-child(odd) {
              margin-right: 15px;
            }
          }
          .date {
            .form-select {
              width: 120px;
              &:nth-child(even) {
                margin-right: 15px;
              }
            }
          }
        }/* textfields */
        .checks-radios {
          margin-left: 2em;
          input {
            margin-left: -2em;
          }
          p {
            font: normal 13px/140% $body-font;
            color: #555;
          }
        }
      }/* section */

      label.error {
        color: #ff1812;
        font: normal 12px $body-font;
        text-transform: none;
      }
    }/* .entry-form-container */
  }
}









