@import "compass/css3";
@import "compass/utilities/general/clearfix";

#page-wrapper.foodinc{
  background: #fff;
  max-width: 1000px;
  width: auto;
  .ad{
    margin: 30px 0;
  }
  .page-wrap{
    margin: 10px;
  }
  .content{
    margin-top: 20px;
    h2{
      margin-bottom: 10px;
      color: #5c2e13;
    }
  }
  img{
    max-width: 100%;
  }
  .hero{
    font-size: 14px;
    line-height: 28px;
    margin-left: 20px;
    @media (max-width: 480px) {
      margin-left: 5px;
    }
    img, .video{
      float: left;
      margin-right: 30px;
      margin-bottom: 20px;
    }
    .video{
      position: relative;
      max-width: 510px;
      width: 100%;
      .botr {
        width: 100%;
        object{
          max-width: 100%;
        }
      }
      @media (max-width: 585px) {
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
      width: 100%;
      max-width: 510px;
        iframe, object, embed{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .hero-title{
      font-size: 21px;
      color: #5c2e13;
      margin-bottom: 10px;
      font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: italic;
      span{
        display: block;
        font-size: 33px;
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: italic;
      }
    }
    .learn-more{
      float: right;
      clear: both;
      @media (max-width: 480px) {
        float: none;
        margin: 20px 0;
      }
      p{
        display: inline-block;
        color: #5c2e13;
        font-size: 22px;
        font-family: 'Archer A', 'Archer B';
        font-weight: 700;
        font-style: italic;
        vertical-align: top;
        margin-top: 10px;
        margin-right: 5px;
        @media (max-width: 480px) {
          display: none;
        }
      }
      a{
        background: image-url("learn-more-submit.png") top center no-repeat;
        width: 137px;
        height: 37px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 15px;
        display: inline-block;
      }
    }
  }
  .logo{
    margin-top: 30px;
    margin-left: 20px;
  }
  #main-navigation ul{
    background-color: black;
    list-style: none;
    overflow: hidden;
    margin-top: -3px;
    li{
      display: block;
      float: left;
      font-family: 'TradeGothicLTStdCnBold';
      list-style: none outside none;
      margin: 0;
      padding: 0 25px;
      border-right: 1px dotted #4c4c4c;
      a{
        font-size: 19px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 28px;
        color: #fff;
        &:hover, &.active, &.active-trail{
          text-decoration: none;
          color: #1CA9E7;
        }
      }
    }
  }
  #foodinc-awards{
    section.page-body-content{
      width: 66%;
      float: left;
      clear: both;
      @media (max-width: 1000px) {
        width: 100%;
      }
      #foodinc-categories{
        font-size: 14px;
        line-height: 28px;
        font-family: Helvetica,Arial,sans-serif;
        .row{
          clear: both;
          margin-bottom: 30px;
          height: auto;
          overflow: hidden;
          .categories-title{
            font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: italic;
            font-size: 32px;
            color: #5c2e13;
            text-align: right;
            span{
              font-size: 11px;
              font-style: normal;
              font-family: Helvetica, Arial, sans-serif;
              vertical-align: top;
              padding-top: 10px;
              line-height: 35px;
              color: #555;
            }
          }
        }
        .row-id-0{
          margin-bottom: 30px;
          .image{
            float: left;
          }
          .category-title h2{
            color: #5c2e13;
            font-family: 'Archer A', 'Archer B';
            font-weight: 900;
            font-style: normal;
            font-size: 23px;
          }
          .category-info{
            display: block;
            float: left;
            width: 375px;
            position: relative;
            z-index: 1;
          }
          .category-text{
            padding-left: 20px;
          }
        }
        .row-odd{
          .image{
            float: right;
            margin-left: 10px;
            @media (max-width: 480px) {
              margin: 0;
            }
          }
          .category-info{
            display: block;
          }
          .category-text{
            margin-left: 30px;
          }
        }
        .row-even{
          .image{
            float: left;
            margin-right: 10px;
            @media (max-width: 480px) {
              margin: 0;
            }
          }
          .category-info{
            display: block;
          }
        }
      }
      .judges{
        padding-bottom: 30px;
        height: auto;
        overflow: hidden;
        h2{
          color: #5c2e13;
          margin: 0;
          font-family: 'Archer A', 'Archer B';
          font-weight: 600;
          font-style: normal;
          font-size: 24px;
        }
        .row{
          width: 300px;
          margin-top: 20px;
          position:relative;
          &.row-odd{
            float: left;
            clear: both;
          }
          &.row-even{
            float: right;
            @media (max-width: 1000px) {
              float: left;
            }
          }
          img{
            float: left;
            margin-right: 15px;
          }
          .info{
            margin-left: 110px;
            .name{
              color: #5c2e13;
              font-family: 'Archer A', 'Archer B';
              font-weight: 500;
              font-style: normal;
              font-size: 24px;
            }
            .bio {
              padding: 0 15px;
              position:relative;
              display: block;
              text-overflow:ellipsis;
              padding: 0;
            }
            .show-more-height{
              height: 58px;
              overflow:hidden;
              text-overflow:ellipsis;
            }
            .show-more{
              color: #1CA9E7;
              cursor: pointer;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    section.right-rail{
      float: right;
      width: 30%;
      margin-bottom: 30px;
      margin-right: 10px;
      @media (max-width: 1000px) {
        float: left;
        width: 100%;
        clear: both;
      }
      .newsletter{
        display: block;
        @media (max-width: 1000px) {
          margin: 0 auto;
          width: 302px;
        }
        .title{
          padding-top: 30px;
          padding-left: 30px;
          font-size: 23px;
          color: #5c2e13;
          font-family: 'Archer A', 'Archer B';
          font-weight: 800;
          font-style: normal;
          position: relative;
          z-index: 1;
        }
        .form-wrapper-first{
          width: 302px;
          height: auto;
          overflow: hidden;
          background: image-url('signup-block-top.jpg'), image-url('signup-block-extra.jpg');
          background-position: center top, top center;
          background-repeat: no-repeat, repeat-y;
          margin-top: -50px;
          position: relative;
          z-index: 0;
          .thank-you-message p, form > div > p{
            color: #5c2e13;
            padding: 10px 20px;
            line-height: 18px;
            font-size: 12px;
            margin-top: 35px;
            background: image-url('signup-block-mid.jpg'), image-url('signup-block-bottom.jpg');
            background-position: center top, center bottom;
            background-repeat: repeat-y, no-repeat;
          }
          .thank-you-message p{
            padding: 20px 30px;
          }
          form{
            padding: 12px;
            padding-top: 10px;
            .throbber{
              display: none;
            }
            div.error{
              background: transparent;
              border: none;
              height: 10px;
              margin: 0;
              margin-bottom: -31px;
              text-align: left;
              color: red;
              position: absolute;
              bottom: 161px;
              z-index: 2;
            }
            .form-item-email label{
              font-family: 'Archer A', 'Archer B';
              font-weight: 600;
              font-style: normal;
              font-size: 13px;
              color: #5c2e13;
              margin-bottom: 5px;
              span{
                display: none;
              }
            }
            input[type='text']{
              background: image-url('signup-input.png') top center;
              height: 34px;
              width: 275px;
              border: none;
              line-height: 37px;
              font-size: 21px;
              text-indent: 10px;
            }
            input[type='submit']{
              background: image-url('singup-btn.png') top center;
              height: 44px;
              width: 275px;
              border: none;
              font-size: 18px;
              color: #fff;
              cursor: pointer;
            }
            a{
              color: #5c2e13;
              &:hover{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  #foodinc-howto{
    section.page-body-content{
      width: 66%;
      float: left;
      clear: both;
      line-height: 28px;
      font-size: 14px;
      margin-left: 20px;
      @media (max-width: 1000px) {
        width: 100%;
      }
      @media (max-width: 680px) {
        margin-left: 0;
      }
      .page-title h3{
        font-size: 23px;
        color: #5c2e13;
        font-family: 'Archer A', 'Archer B';
        font-weight: 800;
        font-style: normal;
        margin: 5px 0;
      }
      .intro{
        .title{
          color: #5c2e13;
          font-family: 'Archer A', 'Archer B';
          font-weight: 500;
          font-style: italic;
          font-size: 33px;
          margin-bottom: 5px;
        }
        .video, img{
          margin: 20px 0;
        }
        .video{
          position: relative;
          max-width: 635px;
          margin: 0;
          .botr {
            width: 100%;
            object{
              max-width: 100%;
            }
          }
          @media (max-width: 6355px) {
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;
            width: 100%;
            max-width: 635px;
            iframe, object, embed{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .categories{
      .row{
        margin: 30px 0;
      }
      .title{
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: italic;
        font-size: 32px;
        color: #5c2e13;
        span{
          font-size: 11px;
          font-style: normal;
          font-family: Helvetica, Arial, sans-serif;
          vertical-align: top;
          padding-top: 10px;
          line-height: 35px;
          color: #555;
        }
      }
    }
    .additional-info{
      .row{
        margin: 20px 0;
      }
      .title{
        font-size: 24px;
        color: #5c2e13;
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
      }
      .video, img{
        margin: 10px 0;
      }
      .video{
        position: relative;
        @media (max-width: 585px) {
          padding-bottom: 56.25%;
          padding-top: 30px; height: 0; overflow: hidden;
          width: 100%;
          max-width: 585px;
          iframe, object, embed{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    section.right-rail{
      float: right;
      width: 30%;
      margin-right: 10px;
      @media (max-width: 1000px) {
        float: left;
        clear: both;
        width: 100%;
      }
    }
    .instruction-block{
      .top{
        width: 300px;
        height: 63px;
        background: image-url('instruction-top.jpg') no-repeat top center;
      }
      .mid{
        width: 300px;
        height: auto;
        overflow: hidden;
        background: image-url('instruction-mid.jpg') top center;
        margin-top: -15px;
        color: #5c2e13;
        .item{
          padding: 0 20px;
          clear: both;
          margin-bottom: 10px;
          .number{
            margin-right: 10px;
            font-size: 21px;
            float: left;
            width: 10px;
          }
          span{
            display: block;
            margin-left: 20px;
          }
        }
        .button a{
          background: image-url('contest-btn.png') top right no-repeat;
          width: 238px;
          height: 43px;
          display: block;
          margin: 0 auto;
          text-align: center;
          line-height: 43px;
          font-size: 18px;
          color: #fff;
        }
        .extra{
          padding: 20px;
          padding-bottom: 0;
          text-align: center;
        }
      }
      .bottom{
        width: 300px;
        height: 63px;
        background: image-url('instruction-bottom.jpg') no-repeat top center;
      }
    }
  }
  #foodinc-entryreceived{
    section.page-body-content{
      width: 66%;
      float: left;
    }
    .page-title{
      font-size: 20px;
      font-style: italic;
      color: #5c2e13;
    }
    .additional-info{
      margin-top: 20px;
      .title{
        font-size: 18px;
        color: #5c2e13;
      }
    }
    .social-block{
      clear: both;
      height: auto;
      overflow: hidden;
      margin: 10px 0px 20px 20px;
      .social{
        display: block;
        height: 40px;
        width: 152px;
        float: left;
        margin-right: 8px;
      }
      .facebook{
        background: image-url('social_long_fb.png') no-repeat top center;
      }
      .twitter{
        background: image-url('social_long_twitter.png') no-repeat top center;
      }
      .googleplus{
        background: image-url('social_long_google.png') no-repeat top center;
      }
      .email{
        background: image-url('social_long_email.png') no-repeat top center;
      }
    }
    section.right-rail{
      width: 30%;
      float: right;
      margin-right: 10px;
    }
  }

  #foodinc-entryform {
    .left-rail {
      @include inline-block;
      margin-right: 20px;
    }

    .right-rail {
      @include inline-block;
      float: right;
    }
  }
}













