#page-wrapper.foodinc{
  padding: 10px;
  background: #fff;
  max-width: 1000px;
  width: auto;
  .content{
    margin-top: 20px;
    h2{
      margin-bottom: 10px;
      color: #5c2e13;
    }
  }
  img{
    max-width: 100%;
  }
  .hero{
    font-size: 14px;
    line-height: 28px;
    img, .video{
      float: left;
      margin-right: 10px;
    }
    .learn-more{
      float: right;
      clear: both;
      p{
        display: inline-block;
        color: #5c2e13;
        font-size: 18px;
      }
    }
  }
  ul#main-navigation.menu{
    background-color: black;
    list-style: none;
    overflow: hidden;
    li{
      display: block;
      float: left;
      font-family: 'TradeGothicLTStdCnBold';
      list-style: none outside none;
      margin: 0;
      padding: 0 25px;
      border-right: 1px dotted #4c4c4c;
    }
  }
  section.page-body-content{
    width: 68%;
    float: left;
    clear: both;
    #foodinc-categories{
      font-size: 14px;
      line-height: 28px;
      font-family: Helvetica,Arial,sans-serif;
      .row{
        clear: both;
        margin-bottom: 20px;
        height: auto;
        overflow: hidden;
      }
      .row-id-0{
        .image{
          float: left;
        }
        .category-title h2{
          color: #5c2e13;
        }
        .category-info{
          display: block;
          float: left;
          width: 430px;
          position: relative;
          z-index: 1;
          margin-left: -20px;
        }
        .category-text{
          padding-left: 20px;
        }
      }
      .row-odd{
        .image{
          float: right;
          margin-left: 10px;
        }
        .category-info{
          display: block;
        }
      }
      .row-even{
        .image{
          float: left;
          margin-right: 10px
        }
        .category-info{
          display: block;
        }
      }
    }
    .judges{
      padding-bottom: 30px;
      height: auto;
      overflow: hidden;
      h2{
        color: #5c2e13;
        margin: 0;
      }
      .row{
        width: 300px;
        margin-top: 20px;
        position:relative;
        &.row-odd{
          float: left;
          clear: both;
        }
        &.row-even{
          float: right;
        }
        img{
          float: left;
          margin-right: 10px;
        }
        .info{
          margin-left: 110px;
          .name{
            color: #5c2e13;
            font-size: 18px;
          }
          .bio {
            padding: 0 15px;
            position:relative;
            display: block;
            text-overflow:ellipsis;
            padding: 0;
          }
          .show-more-height{
            height: 58px;
            overflow:hidden;
            text-overflow:ellipsis;
          }
          .show-more{
            color: #1CA9E7;
            cursor: pointer;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  section.right-rail{
    float: right;
    width: 30%;
  }
}













