// Variables


//
// Initialization partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "init" declaration. And this _init.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This initialization partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we define our custom mixins for this theme.
//


// =============================================================================
// Variables
// =============================================================================

$base-images: '../base/images';


//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/


$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;


// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, serif;
$verdana:         Verdana, Tahoma, sans-serif;

//
// Page
//
$page-width: 980px;
$breakpoint-mobile: 320px;
$breakpoint-phablet: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 980px;

/*
 *Fonts
 */
$primary-serif-font: "Ashbury", $times-new-roman;
$primary-sans-font: "AdelleSans", $verdana;
$secondary-sans-font: "tradegothicbold", $verdana;
$main-brand-font: "Brown", $verdana;

$base-font-family: $primary-serif-font;

/*
 *Colors
 */
$tpl-blue: #3bb5cb;  //new tpl blue
$light-blue: #00B5CC; //takepart live blue
$blue: #0080A3; // blue used for text and icons
$light-mint: #01BF9E;  //mint used for graphics
$mint: #018B73;  // mint used for text and icons
$dark-gray: #5A5A5A;
$light-gray: #949494;
$gray-background: #EEE;
$lt-gray-background: #F7F7F7;
$gray-line: #CCC;
$burnt-orange: #DD7132;
$flashcard-link: #8F8F8F;
$flashcard-active: #C40066;
$black: #000;



/*
 *Misc
 */
// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// The height of the navigation container.
$nav-height: 3em;

// Tab styling.
$tabs-container-bg: #fff;
$tabs-border: #bbb;

// Layout
$zen-column-count:  12;
$zen-gutter-width:  20px;



