body {
	background: #fff;
	border-top: none;
	border-bottom: none;
	font-family: "Ashbury-Light", "Times New Roman", Georgia, "DejaVu Serif", serif;
	font-size: 14px;
}

#site-footer,
#site-header {
	display: none;
}

#page-wrapper {
	width: auto;
}

#page {
	float: left;
	vertical-align: top;
	width: 100%;
	max-width: 400px;
}

#page * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#page .content,
#page .headline {
	padding: 0 40px;
}

#page .headline {
	padding-top: 20px;
	margin-bottom: 5px;
	font-size: 26px;
	font-family: "Ashbury-Regular", "Times New Roman", Georgia, "DejaVu Serif", serif;
}

#page .content {
	padding-bottom: 20px;
}

#page .body p {
	margin-bottom: 5px;
}

#page #dont {
	font-family: AdelleSans-Light, sans-serif;
	font-size: 12px;
}

#page .form {
	margin-bottom: 1em;
}

.form-type-textfield {
	position: relative;
}

.form-type-textfield label {
	display: none;
}

.form-type-textfield input {
	max-width: 100%;
	font-size: 12px;
	font-family: AdelleSans-Light, sans-serif;
	z-index: 1;
	border: 1px solid #ccc;
	box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, .1);
	background: #fff;
	line-height: 32px;
	min-height: 32px;
	padding: 0 5px;
	position: relative;
	margin: 0;
	width: 100%;
	&:focus::-webkit-input-placeholder { color:transparent; }
	&:focus:-moz-placeholder { color:transparent; }
	&:focus::-moz-placeholder { color:transparent; }
}

.form-type-textfield input:focus {
	max-width: 100%;
	z-index: 3;
	outline: none;
}

.form-actions input {
	border: none;
	color: #fff;
	width: 100%;
	padding: .25em;
	cursor: pointer;
	background: #01BF9E;
	font-size: 24px;
	font-family: AdelleSans-Regular, sans-serif;
}

.form .thank-you-message {
	margin-top: 1em;
}
a {
	color: #019F84;
}
.form-required{
	display: none;
}
form{
	color: #555;
	font-family: AdelleSans-Light, sans-serif;
	font-size: 12px;
}
header{
	img{
		width: 100%;
		max-width: 400px;
	}
}