/* Google Plus Hack
------------------------------------------------------------------------*/
.fc .googleplus {
	overflow: hidden;
	background: url("images/googleplus-16x16.png") no-repeat scroll 0px 0px;
	width: 16px;
    height: 16px;  
    display: inline-block;
}

.fc .googleplus a {
	opacity: 0;
	filter: alpha(opacity = 0);
}
/* Borders
------------------------------------------------------------------------*/
.fc .fc-border-separate th,.fc .fc-border-separate td {
	border-color: #eff3f2;
}

.fc .fc-border-separate td {
	border-width: 2px 0 0 2px;
}

.fc .fc-border-separate th {
	border-width: 0px 0 0 2px;
}

.fc table.fc-border-separate {
	border-left: 3px solid #eff3f2;
	border-right: 4px solid #eff3f2;
}

.fc .fc-border-separate tr.fc-last th {
	border-bottom-width: 5px;
}

/* Event Styles
------------------------------------------------------------------------*/
.fc .fc-event-skin {
	background-color: transparent;
	border-color: #fff;
	border: 0px;
	color: #000;
	padding: 0px 3px 0px 3px;
}
.fc .fc-event-title a {
    padding-bottom: 5px;
}

.fc .fc-event-title a {
	line-height: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #46c3f1;
	font-weight: normal;
}

/*
.fc .fc-future-computed .fc-event-title a, .fc .fc-future-computed .fc-event-title a:hover {
    text-decoration:  none;
    color: #B9B9B9;    
}
*/

.fc .fc-event-time, .fc .fc-event-title {
    padding: 0px;
}


.fc .fc-today-computed .fc-event-title a,.fc .fc-today-computed .fc-event-subtext a {
	color: #fff;
}

.fc .fc-event-subtext { /* clear: both; */
	
}

.fc .fc-event-subtext a {
	font-family: times, serif;
	font-size: 13px;
	font-style: italic;
	color: #b9b9b9;
	text-decoration: none;
}

.fc .fc-event-sharebar {
    clear: both;
    padding-top: 8px;
}

.fc .fc-event-sharebar img {
	padding: 0 1px;
}
/* today hover state */
.fc .fc-hover .fc-event-title a, .fc .fc-hover .fc-event-subtext a {
    color: #fcaa31;
}

.fc .fc-today-computed .fc-event-title a, .fc .fc-hover .fc-event-subtext a {
    color: #ffffff !important;
}

.fc td.fc-hover {
	/* background-color: #ffea98; */
}
.fc td.fc-hover div.fc-day-number {
    /* color: #fcaa31; */
}

/*
.fc td.fc-hover div.fc-day-number {
    background: none no-repeat scroll 0 0 #ffea98 !important;
    background-image: url('images/starburst.png') !important;;
    background-position: 8px 8px !important;;    
} */

/* Cell Styles
------------------------------------------------------------------------*/
.fc td.fc-past {
    background-color: #f9f9f9;
}
.fc .fc-state-highlight {
	background: none no-repeat scroll 0 0 #fdaa30;
	background-image: url('images/arrow.png');
	background-position: 48px 14px;
}

.fc td.fc-today div.fc-day-number {
	background: none no-repeat scroll 0 0 #fdaa30;
	background-image: url('images/starburst.png');
	background-position: 8px 8px;
}

.fc tr,.fc tr.even {
	background: none repeat scroll 0 0 #ffffff;
}

.fc .fc-grid .fc-day-number {
	float: left;
	font-size: 9px;
	padding: 13px 9px;
	font-weight: bold;
}
/* Hover Cell Styles
------------------------------------------------------------------------
.fc .fc-hover {
	background-color: #fdaa30;
}
*/
.fc .fc-event-title a:hover {
    color: #fdaa30;
}
.fc .fc-today-computed .fc-event-title a:hover {
    color: #ffffff !important;
}
/* Weekday Images
------------------------------------------------------------------------*/
.fc thead .fc-sun {
	background: url("images/Sunday.png") no-repeat scroll 10px 50% #FFFFFF;
	text-indent: -9999px;
}

.fc thead .fc-mon {
	background: url("images/Monday.png") no-repeat scroll 10px 50% #FFFFFF;
	text-indent: -9999px;
}

.fc thead .fc-tue {
	background: url("images/Tuesday.png") no-repeat scroll 10px 50% #FFFFFF;
	text-indent: -9999px;
}

.fc thead .fc-wed {
	background: url("images/Wednesday.png") no-repeat scroll 10px 50%
		#FFFFFF;
	text-indent: -9999px;
}

.fc thead .fc-thu {
	background: url("images/Thursday.png") no-repeat scroll 10px 50% #FFFFFF;
	text-indent: -9999px;
}

.fc thead .fc-fri {
	background: url("images/Friday.png") no-repeat scroll 10px 50% #FFFFFF;
	text-indent: -9999px;
}

.fc thead .fc-sat {
	background: url("images/Saturday.png") no-repeat scroll 10px 50% #FFFFFF;
	text-indent: -9999px;
}
/* Header
------------------------------------------------------------------------*/
.fc .fc-header {
	display: none;
}
/* misc */
.fc .fc-event-subtext {
    padding-bottom: 5px;
}