/*
 *  @file styles for tastemaer videos
 *
 */

#video-popup-grid {
  position: relative;
}
body.tastemakers-video .region-full-width-top {
  padding: 0 30px;
}
#video-popup-grid .intro {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  padding: 0 0 22px;
  line-height: 1.5em;
}
#video-popup-grid table.video-thumb-table {
  width: 940px;
  border-spacing: 0;
  margin: 0 0;
}
#video-popup-grid .table-loading {
  height: 100px;
  margin: 20px 430px;
  background: url(images/table_loader.gif) no-repeat;
}
#video-popup-grid table.video-thumb-table tbody {
  border-top: none;
}
#video-popup-grid table.video-thumb-table td {
  width: 180px;
  padding: 0;
}
#video-popup-grid table.video-thumb-table td .inner {
  position: relative;
}
#video-popup-grid table.video-thumb-table td.last {
  width: 180px;
}
#video-popup-grid table.video-thumb-table td.last .inner {
  padding-right: 0px;
}
#video-popup-grid table.video-thumb-table td.spacer {
  width: 16px !important;
}

#video-popup-grid table.video-thumb-table .vid-thumbnail{
  width:180px;
  height:136px;
  position: relative;
}
#video-popup-grid table.video-thumb-table .vid-thumbnail img{
  z-index: 0;
  width:180px;
  height:136px;
  position: relative;
}
#video-popup-grid table.video-thumb-table .vid-arrow{
  z-index: 20;
  cursor: pointer;
  background: url("/sites/all/modules/custom/rightrail_popups/css/images/yt-arrow3.png") no-repeat 50% 50%;
  position: absolute;
  top: 0;
  bottom: 50%;
  width: 180px;
  height: 136px;
}
#video-popup-grid table.video-thumb-table .vid-caption{
  height:50px;
  text-align:left;
  padding:10px 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  font-weight:bold;
  color:#000;
}


/* for the popup */
.tastemaker-popup .title {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tastemaker-popup .description {
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 10px;
}
.tastemaker-vidpop-iframe {
  height: 411px !important;
}

