.header-style-2 {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  color: white;

  .nav-right {
    float: right;
  }
}

//TODO: move this to global
.menu li {
  list-style: none;
}