#megaslim{
  display: none;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  max-width: 1000px;
  clear: both;
  @include breakpoint($breakpoint-tablet){
    display: block;
  }
  > li.mega-item {
    position: static;
    float: left;
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
    height: 40px;
    text-align: center;
    list-style: none;
    width: 14.2857%;
    > a{
      display: block;
      font-family: $secondary-sans-font;
      font-size: 22px;
      line-height: 45px;
      text-transform: uppercase;
      white-space: nowrap;
      text-align: center;
      color: #000;
      position: relative;
      &:after{
        content: '';
        border-right: 1px solid #cccccc;
        height: 23px;
        width: auto;
        position: absolute;
        right: 0;
        top: 9px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    &:last-child a:after{
      display: none;
    }
  }
  .submenu{
    font-family: $primary-sans-font;
    text-align: left;
    line-height: 26px;
    li{
      list-style: none;
    }
    a{
      color: $black;
    }
  }
  .more-link{
    color: $mint;
    text-align: left;
    span{
      display: inline-block;
    }
  }
  .megaslim-menu-item-content{
    height: auto;
    overflow: hidden;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 1;
    padding: 35px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .5);
    a{
      color: $black;
      &:hover{
        text-decoration: underline;
      }
    }
    .picture img{
      width: 160px;
      height: 105px;
    }
  }
  .megaslim-content-teaser{
    border-left: 1px solid #CCC;
    height: 210px;
    
    .promoted-wrapper {
      text-align: left;
    }
  }
  .mega-label{
    font-family: $primary-sans-font;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
  }
  .text{
    font-family: $primary-serif-font;
    text-align: left;
    line-height: 18px;
  }
  li.mega-item .megaslim-menu-item-content{
    display: none;
  }
  li.mega-item:hover {
    background: $black;
    > a{
      color: white;
    }
    .megaslim-menu-item-content{
      display: block;
    }
  }

  /* Deviations */
  .item-8326{
    vertical-align: top;
    .icon.i-take-action{
      line-height: 40px;
    }
  }
}



