/* TAP Widget and Embed */

.tap-action-wrapper{
  margin-left: -15px;
  margin-right: -15px;
  @include breakpoint($breakpoint-phablet){
    margin-left: 0;
    margin-right: 0;
  }
  &.align-center{
    .tap-action {
      margin: 0 auto;
    }
  }
  &.align-left, &.align-right{
    max-width: 417px;
  }
  &.align-left{
    float: left;
    clear: left;
  }
  &.align-right{
    float: right;
    clear: right;
  }
}