.panelBlur .headerContainer h1,
.panelBlur .partnerContent a img,
.panelBlur .partnerContent .partnerInfo,
.panelBlur .feedScrolling,
.panelBlur .feedScrolling .feedRSS a,
.panelBlur .feedScrolling .feedRSS .rssRow a,
.panelBlur .home .columnContent,
.panelBlur .quadContent,
.panelBlur .promoContagion,
.panelBlur .promoContagion p {
	filter: alpha(opacity=20);
}
.panelBlur .info_towers span {
	display: block !important;
}
.mb-panel {
	background: transparent url(../images/bg_glow_lr.gif) repeat-y top center;
}
a.mb-scrollButtons {
	background: transparent url(../images/shim_trans.gif) repeat 0 0;
}
#slim-header #join-login-top span.fb {
    bottom: -1px !important;
}