/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
/* remember to define visible focus styles! */
:focus {outline: none;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0;}
img {display: block;}
/* End CSS Reset */



/* Fonts */
@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Chunkfive-webfont.woff') format('woff'), url('../fonts/Chunkfive-webfont.ttf') format('truetype'), url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NewsGothicBoldCondensed';
    src: url('../fonts/news-2-webfont-webfont.eot');
    src: url('../fonts/news-2-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/news-2-webfont-webfont.woff') format('woff'), url('../fonts/news-2-webfont-webfont.ttf') format('truetype'), url('../fonts/news-2-webfont-webfont.svg#NewsGothicBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Helpers */
.marBottom {margin-bottom: 23px;}
.marTop10 {margin: 10px 0 0 0;}
.marTop15 {margin: 15px 0 0 0;}
.marTop20 {margin: 20px 0 0 0;}
.noPad {padding: 0 !important;}
.noMar {margin: 0 !important;}
.contentInset {padding: 0 20px;}
.col01 {float: left;}
.col02 {float: right;}
.block {overflow: auto; zoom: 1;}
.font11 {font-size: 11px; line-height: 14px;}
.font12 {font-size: 12px; line-height: 15px;}
.font14 {font-size: 14px; line-height: 17px;}
.color_a9a9a9 {color: #a9a9a9;}
.posBottom {
	position: absolute;
	bottom: 40px;
	left: 25px;
	z-index: 1;
}
.posBottom_25 {
	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 1;
}
.posRel {position: relative;}




/* Links */
a:hover {color: #660000;}
.btnType01 {
	float: left;
	display: block;
	padding: 4px 6px 2px;
	color: #fff;
	font: 20px 'BebasNeueRegular';
	line-height: 20px;
	text-decoration: none;
}
.btnType01:hover {
	color: #660000;
	background: #999999;
}
.btnStyle01 {background: #1d2d3a;}
.btnStyle02 {background: #466d7e;}
.btnStyle03 {background: #003471;}
.btnStyle04 {background: #b3001e;}
.btnStyle05 {background: #7f1e16;}
a.btnClose {
	position: absolute;
	right: 6px;
	top: 7px;
	z-index: 1;
	display: block;
	width: 13px;
	height: 13px;
	padding: 0 !important;
	text-indent: -9999px;
	background: url(../images/btn_x.png) no-repeat 0 0;
}
a.linkStyle01 {
	color: #999;
	text-decoration: none;
	font-size: 12px;
	padding: 4px 6px;
}
a.linkStyle01:hover {
	color: #660000;
	background: #999999;
}

body:hover #toolbar,
body:hover .wordlet_edit_mode {
	position: relative;
	z-index: 1000;
}

/* New Nav CSS */
.global-nav-container {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;
	width: 1000px;
	margin-left: -501px;
}

/* Gen Styles */
html, body, #wrapper, .section {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	font-family: verdana, arial, helvetica;
}

body {
	background: #e3eaed;
}

#header-wrapper-wrapper {
	width: 100%;
	position: fixed;
	z-index: 10;
	background: #d9e8ef;
	top: 0;
	left: 0;
}

#header-wrapper {
	width: 1000px;
	margin: auto;
}

#wrapper {background: #393939 url(../images/bg_global.jpg) repeat-x 0 90px;}
.mb-wrapper,
.mb-scroll,
.mb-scroll .mb-slider {height: 1800px !important;}
.header {
	position: fixed;
	top: 35px;
	z-index: 10;
	width: 100%;
	height: 90px;
	background: #f5f5f5 url(../images/bg_topnav.jpg) repeat-x bottom left;
}
.header .container {
	width: 900px;
	margin: 0 auto;
	position: relative;
}
.header ul {padding: 37px 0 0 205px;}
.header ul, footer ul {
	overflow: auto;
	zoom: 1;
}
.header li, .footer li {float: left;}
.header a {
	display: block;
	margin: 0 18px 0 0;
	color: #322f2f;
	text-decoration: none;
	font: 22px 'BebasNeueRegular';
}
.header a.current,
.header a:hover {color: #990000;}
.header .logo {
	cursor: default;
	display: block;
	width: 144px;
	height: 35px;
	text-indent: -9999px;
	position: absolute;
	top: 28px;
	left: 28px;
	z-index: 10;
	background: url(../images/logo_contagion_global.png) no-repeat 0 0;
}
.section {
	display: none;
	padding: 125px 0 0 0;
}
.feedScrolling {
	position: relative;
	width: 900px;
	height: 89px;
	overflow: hidden;
	zoom: 1;
	background: url(../images/bg_feed_scrolling.jpg) repeat-x 0 0;
}
.feedScrolling .feedScrollingContent {
	overflow: auto;
	zoom: 1;
	padding: 10px 20px;
}
.feedScrolling .CDCLogo {
	float: left;
	display: block;
	width: 69px;
	height: 67px;
	text-indent: -9999px;
	background: url(../images/logo_CDC.gif) no-repeat 0 0;
}
a.btn_subscribe {
	float: right;
	display: block;
	font-size: 12px;
	color: #c1c1c1;
	text-decoration: none;
	padding: 5px 30px 5px 0;
	margin: 50px 0 0 0;
	background: url(../images/icon_RSS.png) no-repeat center right;
}
a.btn_subscribe:hover {
	color: #c1c1c1;
	text-decoration: underline;
}
.feedRSS {
	position: absolute;
	top: 30px;
	left: 200px;
	z-index: 1;
	color: #c1c1c1;
	font-size: 14px;
	width: 510px;
	overflow: hidden;
}
.feedRSS a {
	color: #c1c1c1;
	text-decoration: none;
}
.feedRSS a:hover {
	color: #c1c1c1;
	text-decoration: underline;
}
.rssFeed {
	float: left;
	width: 400px;
	margin: 0 15px;
}
.prevRSS {
	cursor: pointer;
	float: left;
	display: block;
	width: 27px;
	height: 34px;
	text-indent: -9999px;
	background: url(../images/rss_navigation.png) no-repeat top left;
}
.prevRSS:hover {background-position: top right;}
.nextRSS {
	cursor: pointer;
	float: left;
	display: block;
	width: 27px;
	height: 34px;
	text-indent: -9999px;
	background: url(../images/rss_navigation.png) no-repeat bottom left;
}
.nextRSS:hover {background-position: bottom right;}
.rssBody ul li {padding: 8px 0;}

/* Panels */
.mb-wrapper {
	/*background: #393939 url(../images/bg_global.jpg) repeat-x 0 0;*/
	height: 100%;
	min-height: 100%;
}
.mb-panel {
	width: 908px !important;
	height: 100%;
	min-height: 100%;
	background: url(../images/bg_glow_lr.png) repeat-y top center;
}
.mb-inside {
	width: 900px;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	background: #222222 url(../images/bg_home.jpg) no-repeat 0 0;
}
.panelCurrent {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.panelBlur {
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}
.mb-slider .mb-panel.panelCurrent {cursor: auto;}
.panes p {padding: 10px 0;}
.panelContent {padding: 0 0 50px 0;}

/* Home */
.home {
	height: 100%;
	min-height: 100%;
}
.headerContainer {padding: 37px 0 26px 26px;}
.hdrHome {
	position: relative;
	display: block;
	width: 566px;
	height: 89px;
	text-indent: -9999px;
	background: transparent url(../images/home_header.png) no-repeat 0 0;
}
.home .columnRow {
	overflow: auto;
	zoom: 1;
}
.home .columns {
	float: left;
	width: 285px;
	margin: 0 22px 0 0;
	background: url(../images/bg_column.png) repeat 0 0;
}
.home .columns.setHeight {height: 515px; min-height: 515px;}
.home .columns.columnsLast {
	margin: 0 !important;
	background: none;
}
.home .columnContent {padding: 12px 20px;}
.home .columnContent h2 {
	font: 22px 'BebasNeueRegular';
	color: #333;
}
.home .columnContent h3 {
	font: 20px 'BebasNeueRegular';
	color: #333;
	padding: 0 0 5px 0;
}
.home .columnContent.contentLast h2 {
	font: 37px 'BebasNeueRegular';
	color: #003471;
}
.home .columns.columnsLast .columnContent {background: url(../images/bg_column.png) repeat 0 0;}
.home .columns.columnsLast .columnContent.contentLast {
	width: 285px;
	padding: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: url(../images/bg_column_alt.png) repeat-x center left;
}
.home .columns.columnsLast .columnContent.contentLast .contentBlock {padding: 20px;}
.home .columnContent p {
	color: #fff;
	font-size: 14px;
	line-height: 17px;
}
.columnIcon {
	display: block;
	margin: 8px auto;
}
.columnIcon.alpha_logo {
	margin-bottom: 30px;
}
.columnIcon.middle {
	margin: 10px auto 28px;
}
.listPrimary li {
	background: url(../images/list_orange_dot.png) no-repeat 0 7px;
	padding: 0 0 8px 12px;
	font-size: 14px;
	color: #000;
	line-height: 17px;
}
.btnList {
	overflow: auto;
	zoom: 1;
	padding: 15px 0 0 0;
}
.btnList li {
	float: left;
	overflow: auto;
	zoom: 1;
	padding: 0 8px 0 0;
}
.btnList a,
.home .answerScreen a {
	padding-left: 15px;
	padding-right: 15px;
}
.home .answerScreen {
	display: none;
	position: absolute;
	left: 0;
	bottom: 10px;
	z-index: 1;
	background: #fff;
	width: 235px;
	margin: 0 25px;
}
.home .answerScreen div {padding: 12px;}
.home .answerScreen p {
	clear: both;
	color: #002157;
	font-size: 11px;
	padding: 8px 0 0 0;
}
.home .columnRowLast {
	overflow: auto;
	zoom: 1;
	padding: 25px 0 0 0;
}
.home .columnRowLast .columnFeed {
	position: relative;
	float: left;
	width: 438px;
	height: 339px;
	background: url(../images/bg_feed.png) no-repeat 0 0;
}
.columnFeed .logos {
	overflow: auto;
	zoom: 1;
	padding: 12px 28px;
}
.columnFeed .logos .col01 {width: 158px;}
.columnFeed .logos .col02 {width: 200px;}
.columnFeed .logoBlock {
	overflow: hidden;
	zoom: 1;
}
.columnFeed .logoBlock li.col01 {
	width: 155px;
	text-align: right;
}
.columnFeed .logoBlock li.col02 {width: 35px;}
.columnFeed .logoBlock h5 {
	font-size: 10px;
	color: #898989;
	line-height: 15px;
}
.columnFeed .logoBlock h6 {
	font-size: 17px;
	color: #f27f19;
}
.home .columnRowLast .columnLast {
	float: right;
	width: 438px;
	height: 339px;
	margin: 0 2px 0 0;
	background: url(../images/bg_usa.png) no-repeat 0 0;
}
.home .columnLast .rowContent {
	color: #a9a9a9;
	font-size: 12px;
}
.home .columnLast .rowContent h2 {
	color: #fff;
	font: 22px 'BebasNeueRegular';
}
.home .columnLast .rowContentContainer {padding: 20px;}
.thumbContainer {padding: 15px 0;}
.promoContagion {
	display: block;
	position: relative;
}
.home .columnContent a.promoContagion {text-decoration: none;}
.home .columnContent a.promoContagion p {
	position: absolute;
	top: 165px;
	left: 20px;
	z-index: 1;
	color: #333;
	font-size: 11px;
	line-height: 14px;
	padding: 0 20px 0 0;
}

/* Activities */
.hdrActivities {
	position: relative;
	display: block;
	width: 409px;
	height: 86px;
	text-indent: -9999px;
	margin: 0 0 35px 0;
	background: transparent url(../images/activities_header.png) no-repeat 0 0;
}
.hdrVisual {
	position: relative;
	display: block;
	width: 313px;
	height: 86px;
	text-indent: -9999px;
	margin: 0 0 35px 0;
	background: transparent url(../images/visualize_header.png) no-repeat 0 0;
}
.quadContainer {
	/*overflow: hidden;*/
	zoom: 1;
}
.quadContainer .quadContent {
	position: relative;
	float: left;
	width: 438px;
	height: 400px;
	margin: 0 24px 24px 0;
	background: url(../images/bg_foursquare.png) repeat-x 0 0;
}
.quadContainer .quadContent.full {
	width: 900px;
	margin-right: 0;
}
.quadContainer .quadContent.tower {
	padding: 0 0 24px 0;
	height: auto;
	background: url(../images/bg_foursquare_tower.png) repeat-x left bottom;
}
.quadContainer .quadContent.tower .info {
	padding: 0;
}
.quadContainer .quadContent.alt {
	height: 340px;
	overflow: hidden;
	color: #fff;
	background: url(../images/bg_feed.png) repeat-x 0 0;
}
.quadContainer .quadContent.alt.last {
	color: #252525;
	background: url(../images/bg_usa.png) repeat-x 0 0;
}
.quadContainer .quadContent.alt.last .info {color: #a9a9a9;}
.quadContainer .quadContent .info {
	padding: 20px;
	font-size: 12px;
}
.quadContainer .quadContent .info.bgLogo {height: 360px;}
.quadContainer .quadContent .info h2 {
	font: 22px 'BebasNeueRegular';
	padding: 0 0 10px 0;
}
.quadContainer .quadContent .info h3 {font: 20px 'BebasNeueRegular';}
.fpoPoll {margin: 20px auto 0;}
.eewidget {font-size: 10px;}
.eewidget a {
	color: #666;
	text-decoration: none;
}
h4.logo_facebook {
	position: absolute;
	bottom: 25px;
	right: 30px;
	z-index: 1;
	display: block;
	width: 62px;
	height: 74px;
	text-indent: -9999px;
	background: url(../images/logo_facebook_alt.png) no-repeat 0 0;
}
h4.logo_facebook_mini {
	position: absolute;
	bottom: 13px;
	right: 30px;
	z-index: 1;
	display: block;
	width: 53px;
	height: 61px;
	text-indent: -9999px;
	background: url(../images/logo_facebook_minimal.png) no-repeat 0 0;
}
.btn_simulation {
	display: block;
	width: 314px;
	height: 97px;
	margin: 25px auto 0;
	text-indent: -9999px;
	background: url(../images/logo_game_patientx.jpg) no-repeat 0 0;
}
.info_tower_container {
	zoom: 1;
	margin:	0 0 0 25px;
}
h2.tower_head {
	padding: 20px 0 8px 25px !important;
}
.info_tower_container li {
	float: left;
	margin:	0 0 0 11px;
	position: relative;
}
.info_tower_container li:first-child {
	margin: 0 0 0 0;
}
.info_towers {
	display: block;
	width: 161px;
	height: 403px;
	cursor: pointer;
}
.info_towers span {
	display: block;
	width: 161px;
	height: 403px;
	text-indent: -9999px;
	background: url(../images/tower_column_selected.png) repeat 0 0;
}
#info_smallpox {
	background: url(../images/info_smallpox.gif) no-repeat 0 0;
}
#info_hiv {
	background: url(../images/info_hiv.gif) no-repeat 0 0;
}
#info_cholera {
	background: url(../images/info_cholera.gif) no-repeat 0 0;
}
#info_h1n1 {
	background: url(../images/info_h1n1.gif) no-repeat 0 0;
}
#info_spanishflu {
	background: url(../images/info_spanish.gif) no-repeat 0 0;
}
.tower_preview {
	display: none;
	position: absolute;
	top: -110px;
	left: -40px;
	z-index: 9;
	width: 250px;
	max-width: 250px;
	height: 625px;
	cursor: url(../images/icon_magnify.gif), url(../images/icon_magnify.cur), pointer;
}
.tower_preview img {
	width: 250px;
	max-width: 250px;
	height: 625px;
}


/* Pandemic */
.hdrPandemic {
	position: relative;
	display: block;
	width: 767px;
	height: 86px;
	text-indent: -9999px;
	margin: 0 0 35px 0;
	background: transparent url(../images/pandemic_header.png) no-repeat 0 0;
}
#healthmap {
	margin: 0 0 24px 24px;
	background: #fff url(../images/bg_healthmap.jpg) no-repeat 0 0;
}

/* Explore */
.hdrExplore {
	position: relative;
	display: block;
	width: 268px;
	height: 86px;
	text-indent: -9999px;
	margin: 0 0 35px 0;
	background: transparent url(../images/explore_header.png) no-repeat 0 0;
}
.panes {margin: 0 0 24px 0;}
.panes .container {font-size: 12px;}
.panes .section {
	overflow: auto;
	zoom: 1;
	padding: 0 0 20px 0;
}
.panes .section .column {
	float: left;
	width: 625px;
}
.panes .section .column a {
	color: #790000;
	text-decoration: none;
}
.panes .section .column a:hover {
	text-decoration: underline;
}
.panes .section h2 {
	font: 24px 'ChunkFiveRegular';
	padding: 0 0 10px 0;
	color: #790000;
}
.panes .section .figure div {
	float: left;
	width: 175px;
	margin: 0 20px 10px 0;
}
.panes .section .figure div p {
	color: #333;
	font-size: 10px;
	text-align: center;
	padding: 0 10px;
}
.panes .section .figure p {
	color: #790000;
	line-height: 18px;
	padding: 0 0 10px 0;
}
.panes .section p {
	color: #464646;
	line-height: 18px;
	padding: 0 0 10px 0;
}
.panes .section .figure.right p {padding: 0 0 10px 0;}
.panes .section .figure.right img {
	float: right;
	margin: 0 0 10px 10px;
}
.overlayTrigger {
	display: block;
	margin: 0 20px 0 0;
}
.overlayTrigger.video {
	width: 475px;
	margin: 0 auto;
}
.panes .section .aside {
	float: right;
	width: 200px;
	border: 1px dotted #6f7174;
	background: url(../images/bg_aside.png) repeat 0 0;
}
.panes .section .aside.last {clear: both;	}
.aside  {
	color: #333;
	margin: 0 0 15px 0;
}
.aside .content {
	padding: 20px 15px;
	overflow: auto;
	zoom: 1;
}
.aside h3 {
	color: #333;
	font: 20px 'BebasNeueRegular';
	margin: 0 0 12px 0;
}
.aside ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin: 0 0 15px 20px;
}
.aside ol li,
.aside ul li {padding: 0 0 10px 0;}
.aside .contentStats {padding: 0 0 25px 0;}
.aside ul a {
	color: #790000;
	text-decoration: none;
}
.aside ul a:hover {
	color: #790000;
	text-decoration: underline;
}
.picContent {
	overflow: auto;
	zoom: 1;
}
.picCol01 {
	float: left;
	width: 363px;
}
.picCol02 {
	float: right;
	width: 434px;
}
.picContent p {
	color: #ccc;
	font-size: 10px;
	line-height: 18px;
}
.multiColVidThumbContainer {
	overflow: auto;
	zoom: 1;
}
.multiColVidThumbContainer .overlayTrigger.video {
	float: left;
	display: block;
	width: 275px;
	height: 172px;
	overflow: hidden;
	margin: 0 13px 0 0;
}




/* Partners */
.hdrPartners {
	position: relative;
	display: block;
	width: 366px;
	height: 86px;
	text-indent: -9999px;
	margin: 0 0 5px 0;
	background: transparent url(../images/partners_header.png) no-repeat 0 0;
}
.multiColumnContainer .columnRow {
	overflow: auto;
	zoom: 1;
	padding: 0 0 20px 0;
}
.multiColumnContainer .partnerContainer {
	position: relative;
	float: left;
	width: 288px;
	height: 273px;
	margin: 0 18px 0 0;
	background: url(../images/bg_square.png) no-repeat 0 0;
}
.alt .partnerContainer {background: url(../images/bg_square_alt.png) no-repeat 0 0;}
.partnerContent {padding: 15px 20px 20px;}
.partnerContent a {
	text-decoration: none;
	color: #333;
}
.alt .partnerContent a {color: #fff;}
.partnerContent a:hover {text-decoration: underline;}
.partnerContent img {
	margin: 0 auto;
	position: relative;
}
.partnerContainer .logo01 {top: 30px;}
.partnerContainer .logo02 {top: 7px;}
.partnerContainer .logo03 {top: 30px;}
.partnerContainer .logo04 {top: 0;}
.partnerContainer .logo05 {top: 20px;}
.partnerContainer .logo06 {top: 30px;}
.partnerContainer .logo07 {top: 10px;}
.partnerContainer .logo09 {top: 5px;}
.partnerContent .partnerInfo {
	position: absolute;
	top: 140px;
	left: 0;
	z-index: 1;
	font-size: 11px;
	text-align: center;
	padding: 0 20px;
	line-height: 12px;
	width: 248px;
}
.alt .partnerContent .partnerInfo * {color: #fff;		}
.partnerInfo h2 {font: 20px 'BebasNeueRegular';}





/* Timeline */
#timeline {
	position: fixed;
	bottom: -185px;
	left: 50%;
	margin-left: -450px;
	z-index: 10;
	width: 900px;
	height: 292px;
	font-size: 12px;
	background: transparent url(../images/bg_timeline.png) no-repeat 0 0;
}
*html #timeline {
	position: absolute;
	bottom: 0px;
}
.timelineContainer {
	position: relative;
	clear: both;
}
a.timelineOpen {
	display: block;
	color: #fff;
	padding: 20px;
	margin: 5px 0 0 0;
	font: 12px 'ChunkFiveRegular';
	letter-spacing: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
a.timelineClose {
	position: absolute;
	right: 6px;
	top: 7px;
	z-index: 1;
	display: block;
	width: 13px;
	height: 13px;
	text-indent: -9999px;
	background: url(../images/btn_x.png) no-repeat 0 0;
}
.timelinePanel {
	position: relative;
	width: 855px;
	height: 176px;
	margin: 22px auto 0;
}
#panelCholera {background: url(../images/timeline_cholera.jpg) no-repeat 0 0;}
#panelSmallpox {background: url(../images/timeline_smallpox.jpg) no-repeat 0 0;}
#panelH1N1 {background: url(../images/timeline_h1n1.jpg) no-repeat 0 0;}
#panelHIV {background: url(../images/timeline_hiv.jpg) no-repeat 0 0;}
#panelFlu {background: url(../images/timeline_flu.jpg) no-repeat 0 0;}
.flag {
	cursor: pointer;
	display: block;
	text-decoration: none;
	position: absolute;
	z-index: 1;
	width: 130px;
	height: 42px;
	font: 14px 'BebasNeueRegular';
	color: #d1d2d3;
	text-indent: 35px;
	background: url(../images/flag_bl.png) no-repeat 0 0;
}
.flag.flagBr.flagWideBr {
	width: 199px;
	background: url(../images/flag_wide_br.png) no-repeat 0 0;
}
.flag.flagBr {
	text-indent: 5px;
	background: url(../images/flag_br.png) no-repeat 0 0;
}
.flag.flagTl {background: url(../images/flag_tl.png) no-repeat 0 0;}
.flag.flagTr {
	text-indent: 5px;
	background: url(../images/flag_tr.png) no-repeat 0 0;
}
a.flag:hover {color: #fff;}
.flag .flagContent {
	cursor: text;
	display: none;
	position: absolute;
	top: -26px;
	left: 11px;
	z-index: 1;
	width: 311px;
	min-height: 80px;
	background: url(../images/bg_flag_gradient.jpg) repeat-y top right;
}
.flag.flagBr .flagContent {
	top: -26px;
	left: -211px;
}
.flag.flagBr.adjust .flagContent {
	top: -60px;
	left: -211px;
}
.flag.flagBr.flagWideBr .flagContent {
	left: -142px;
}
.flag.flagTr .flagContent {
	top: -42px;
	left: -211px;

}
.flag.flagTl .flagContent {
	top: -42px;
	left: 11px;
}
.flag.flagTl.alt .flagContent {
	top: -43px;
	bottom: auto;
	left: -317px;
}
.flag.alt .flagContent {
	bottom: -20px;
	left: -317px;
}


.flag .flagContent .arrowhead {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 20px;
	height: 80px;
	padding: 0;
	text-indent: -9999px;
	background: url(../images/bg_flag_arrows.png) no-repeat 0 0;
}
.flag.alt .flagContent .arrowhead,
.flag.flagBr .flagContent .arrowhead,
.flag.flagTl.alt .flagContent .arrowhead,
.flag.flagTr .flagContent .arrowhead {
	left: auto;
	right: -20px;
	background-position: top right;
}
.flag.flagBr.adjust .flagContent .arrowhead {top: 35px;}
.flag span {display: block;}
.flag.flagTl span,
.flag.flagTr span {padding: 26px 0 0 0;}
.flagContent div {padding: 10px 25px 10px 30px;}
.flagContent h4 {
	font: 28px/28px 'BebasNeueRegular';
	color: #5f3813;
	text-indent: 0;
}
.flagContent p {
	font: 10px 'Verdana';
	color: #3f3f3f;
	text-indent: 0;
}
.btn_download {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	display: block;
	width: 215px;
	height: 28px;
	text-indent: -9999px;
	background: url(../images/btn_download_infographic.gif) no-repeat 0 0;
}
.btn_download:hover {background-position: 0 -28px;}



/* Flag Positioning */
.flagFirstPandemic {
	top: 60px;
	left: 44px;
}
.flagLondon {
	top: 73px;
	right: 494px;
}
.flagNewYorkCity {
	top: 45px;
	right: 413px;
}
.flagIndonesia {
	top: 67px;
	right: 228px;
}
.flagWorldwide {
	top: 67px;
	right: 28px;
}
.flagMexico {
	top: 55px;
	left: 44px;
}
.flagNewVirus {
	top: 78px;
	left: 195px;
}
.flagGlobalPandemic {
	top: 64px;
	left: 342px;
}
.flagPandemicPeaks {
	top: 14px;
	left: 383px;
}
.flagWhoDeclares {
	top: 100px;
	left: 535px;
}
.flagWorldwide {
	top: 66px;
	left: 683px;
}
.flagUSEuropeAsia {
	top: 85px;
	left: 200px;
}
.flagFranceUSAfrica {
	top: 25px;
	left: 340px;
}
.flagUSSecondWave {
	top: 70px;
	left: 385px;
}
.flagUnitedStates {
	top: 84px;
	right: 87px;
}
.flagOrigin {
	bottom: 22px;
	left: 16px;
}
.flagEarliestDeath {
	top: 45px;
	left: 45px;
}
.flagFirstUSCase {
	top: 67px;
	left: 130px;
}
.flagCDCReport {
	top: 23px;
	left: 230px;
}
.flagAidsCauseDiscovered {
	bottom: 63px;
	left: 243px;
}
.flagFirstMedicalTreatment {
	top: 44px;
	right: 227px;
}
.flagHIVWorldWide {
	top: 60px;
	right: 50px;
}
.flagVariola {
	bottom: 59px;
	left: 44px;
}
.flagEgypt {
	bottom: 71px;
	left: 183px;
}
.flagFirstDescription {
	bottom: 40px;
	left: 231px;
}
.flagSmallEurope {
	top: 40px;
	left: 311px;
}
.flagAztec {
	top: 23px;
	left: 364px;
}
.flagFirstVaccine {
	bottom: 51px;
	right: 228px;
}
.flagEradicationProgram {
	top: 6px;
	right: 205px;
}
.flagVirusDormant {
	top: 49px;
	right: 41px;
}
.flagVirusEradicated {
	top: 102px;
	right: 61px;
}



/* Footer */
.footer {
	position: fixed;
	bottom: 0;
	z-index: 20;
	width: 100%;
	font-size: 12px;
	color: #464646;
	background: transparent url(../images/bg_footer.png) repeat-x top center;
}
.footerContainer {
	position: relative;
	width: 900px;
	height: 40px;
	margin: 20px auto 0;
	overflow: hidden;
	zoom: 1;
}
.footerContainer .addthis_toolbox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.page-wordlet ul.links {
	float: right;
	margin: 0 20px 0 0;
	position: static;
}
.page-wordlet ul.links li {
	border-left: 1px solid #515151;
	width: auto;
}
.page-wordlet .footer .links a {
	color: #a9a9a9;
	padding: 0 15px;
	text-decoration: none;
	line-height: normal;
}

.footer .addthis_button_expanded {
	padding: 0;
}
.footer a:hover {color: #fff;}
.page-wordlet ul.links .first {border: none;}
.footerContainer .addthis_toolbox {width: 200px;}
.footer p {
	color: #A9A9A9;
	clear: both;
	text-align: right;
	font-size: 10px;
	padding: 10px 0 0 0;
	margin: 0 35px 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
     /* put webkit CSS here*/
	 #user-nav li {
	  margin-top: 4px;
	}
}