/*** Overall MovingBoxes Slider ***/
.mb-wrapper {
  width: 900px; /* default, this is overridden by script settings */
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
}
/* Panel Wrapper */
.mb-slider{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 0;
  top: 0;
  font-size: 18px;
}
.mb-scroll {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 0;
  top: 0;
  font-size: 18px;
}
/*** Slider panel ***/
.mb-slider .mb-panel {
  width: 350px;  /* default, this is overridden by script settings */
  display: block;
  cursor: pointer;
  float: left;
  list-style: none;
}
.mb-slider .mb-panel.current {cursor: auto;}
/*** Inside the panel ***/
.mb-inside * {max-width: 100%;}




/*** Left & Right Navigation Arrows ***/
a.mb-scrollButtons {
  display: block;
  width: 2100px;
  height: 1800px;
  position: fixed;
  top: 90px;
  z-index: 8;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}
a.mb-scrollButtons span {
	display: block;
	width: 38px;
	height: 62px;
}
a.mb-scrollButtons.mb-left {
  	right: 50%;
  	margin: 0 460px 0 0;
}
a.mb-scrollButtons.mb-left span {
	float: right;
	margin: 375px 0 0 0;
	background: url(../images/panel_navigation.png) no-repeat top left;
}
a.mb-scrollButtons.mb-right {
	left: 50%;
 	margin: 0 0 0 460px;
}
a.mb-scrollButtons.mb-right span {
	margin: 375px 0 0 0;
	background: url(../images/panel_navigation.png) no-repeat top right;
}
a.mb-scrollButtons.mb-left:hover span {background-position: bottom left;}
a.mb-scrollButtons.mb-right:hover span {background-position: bottom right;}



/*** Controls added below the panels ***/
.mb-controls {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 100;
}
.mb-controls a {
  color: #444;
  font: 12px Georgia, Serif;
  display: inline-block;
  text-decoration: none;
  padding: 2px;
  height: 18px;
  margin: 0 5px 0 0;
  text-align: center;
  outline: 0;
}
.mb-controls a.current, .mb-controls a:hover {color: red;}

/* ________________

Scrollable Footer Timeline
___________________ */
.scrollable {
	position: relative;
	overflow: hidden;
	width: 900px;
	height: 200px;
}
.scrollable .items {
	width: 20000em;
	position: absolute;
	clear: both;
}
.items .scrollablePanel {
	float: left;
	width: 900px;
}
/* active item */
.scrollable .active {
	border: 2px solid #000;
	position: relative;
	cursor: default;
}


/* ________________

Buttons
___________________ */
/* prev, next, prevPage and nextPage buttons */
a.browse {
	background: url(../images/navigator_arrows.png) no-repeat;
	display: block;
	width: 11px;
	height: 14px;
	float: left;
	cursor: pointer;
	font-size: 1px;
	margin: 2px 0 0 0;
}

/* right */
a.right 		{ background-position: 0 -14px;}
a.right:hover 	{ background-position: -11px -14px;}
a.right:active 	{ background-position: -22px -14px;}
/* left */
a.left			{ margin-left: 0px;}
a.left:hover  	{ background-position: -11px 0;}
a.left:active  	{ background-position: -22px 0;}


/* disabled navigational button */
a.disabled.right,
a.disabled.right:hover  {background-position: -33px -14px;}
a.disabled.left,
a.disabled.left:hover {background-position: -33px 0;}


/* ________________

Navigator
___________________ */
.naviContainer {
	float: left;
	margin: 5px 0 0 0;
}
.navi {
	float: left;
	height: 20px;
	margin: 0 10px;
}
/* items inside navigator */
.navi a {
	width: 12px;
	height: 12px;
	float: left;
	margin: 3px;
	background: url(../images/navigator.png) 0 0 no-repeat;
	display: block;
	font-size: 1px;
}
/* mouseover state */
.navi a:hover {background-position: 0 -12px;}
/* active state (current page state) */
.navi a.active {background-position: 0 -24px;}


/* ________________

Tabs
___________________ */
ul.tabs {
	list-style: none;
	margin: 0 !important;
	padding: 0;
	overflow: auto;
	zoom: 1;
}

/* single tab */
ul.tabs li {
	float: left;
	padding: 0;
	margin: 0 0 0 20px !important;
	list-style-image: none !important;
}
ul.tabs a {
	cursor: pointer;
	position: relative;
	display: block;
	font: 20px 'BebasNeueRegular';
	text-decoration: none;
	color: #666;
	padding: 0px;
	margin: 0px;
}
ul.tabs a:active {outline:none;}
ul.tabs a:hover {color: #790000;}
ul.tabs a span {display: block;}
ul.tabs a span.lft {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 10px;
	height: 40px;
	background: url(../images/tab_left_alt.png) no-repeat 0 0;
}
ul.tabs a:hover span.lft {background: url(../images/tab_left_over.png) no-repeat 0 0;}
ul.tabs a.current span.lft,
ul.tabs a.current:hover span.lft {background: url(../images/tab_left.png) no-repeat 0 0;}
ul.tabs a span.middle {
	white-space: nowrap;
	padding: 0;
	line-height: 40px;
	margin: 0 10px;
	background: url(../images/tab_middle_alt.png) repeat-x 0 0;
}
.panelBlur ul.tabs a {filter: alpha(opacity=20);}

ul.tabs a:hover span.middle {background: url(../images/tab_middle_over.png) repeat-x 0 0;}
ul.tabs a.current span.middle,
ul.tabs a.current:hover span.middle {background: url(../images/tab_middle.png) repeat-x 0 0;}
ul.tabs a span.rgt {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	display: block;
	width: 10px;
	height: 40px;
	background: url(../images/tab_right_alt.png) no-repeat 0 0;
}
ul.tabs a.current span.rgt,
ul.tabs a.current:hover span.rgt {background: url(../images/tab_right.png) no-repeat 0 0;}
ul.tabs a:hover span.rgt {background: url(../images/tab_right_over.png) no-repeat 0 0;}


/* active tab */
ul.tabs a.current, u
l.tabs a.current:hover,
ul.tabs li.current a {
	cursor: default !important;
	color: #790000 !important;
}
/* initially all panes are hidden */
.panes .pane {display:none;}
/* tab pane styling */
.panes .container {
	display: none;
	padding: 27px 23px;
	background: url(../images/tab_bg.png) repeat 0 0;
}


/* ________________

Overlay
___________________ */
.simple_overlay {
	display: none;
	z-index: 10000;
	background-color: #000;
	min-width: 100px;
	min-height: 100px;
}
a.close {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
	display: block;
	width: 13px;
	height: 13px;
	text-indent: -9999px;
	background: url(../images/btn_x.png) no-repeat 0 0;
}
.overlayContent {padding: 28px;}


/* ________________

RSS Feed
___________________ */
.rssBody {
	position: relative;
	overflow: hidden;
	height: 38px;
	width: 400px;
}

.rssBody ul {
	position: absolute;
	height: 20000em;
	width: 400px;
}