div.horizontal-tabs {
    border: 0 none;
}

div.horizontal-tabs-panes {
    border:10px solid #D9E8EF;
    padding:1em 0;
    margin-top:-3px;
}

.horizontal-tabs ul.horizontal-tabs-list {
    background-color: transparent;
    border: 0 none;
}

.horizontal-tabs ul.horizontal-tabs-list li {

}
.horizontal-tabs ul.horizontal-tabs-list li a {
    font-weight:300;
    text-transform: uppercase;
    color: #000;
}
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button {
    border: 1px solid #D9E8EF;
    background-color: #f0f4f7;
    margin: 0 5px 0 0;
    padding-top: 3px;
}
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a {
    padding-bottom: 6px;
    padding-top: 9px;
}
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.first {

}
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.selected {
    background-color: #D9E8EF;
}
.ui-widget-content {
    border:8px solid #D9E8EF;
}
.ui-corner-all {
    border-radius: 0;
}
.ui-widget-header {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
}
.ui-widget-content h2 {
    color: #9BC;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 100%;
    text-transform: uppercase;
    background: url(/profiles/takepart/themes/takepart3/images/2012-02-08/45deg_lines_large.gif) repeat-x scroll 0 0 transparent;
    margin: 0;
    border: none;
    padding: 0;
}
.ui-widget-content h2 span {
    background: none repeat scroll #FFF;
    border-right: 5px solid #FFF;
    padding: 2px 5px 2px 0;
    text-transform: uppercase;
}

.ui-dialog .ui-dialog-buttonpane {
    border:0 none;
}
