div.horizontal-tabs {
    border: 0 none;
}

div.horizontal-tabs-panes {
    border:10px solid #dfe6ea;
    padding:1em 0;
    margin-top:-3px;
}

.horizontal-tabs ul.horizontal-tabs-list {
    background-color: transparent;
    border: 0 none;
}

.horizontal-tabs ul.horizontal-tabs-list li {

}
.horizontal-tabs ul.horizontal-tabs-list li a {
    font-weight:300;
    text-transform: uppercase;
    color: #000;
    outline: none;
}
.horizontal-tabs ul.horizontal-tabs-list li a:hover {
    background-color: #dee8ea;
}
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button {
    border: 1px solid #dfe6ea;
    background-color: #f3f7f8;
    margin: 0 5px 0 0;
    padding: 0;
    outline: none;
}
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a {
    padding-bottom: 6px;
    padding-top: 9px;
}

.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.first {

}
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.selected {
    background-color: #dfe6ea;
}
.ui-widget-content {
    border: 10px solid #dfe6ea;
}
.ui-corner-all {
    border-radius: 0;
}
.ui-widget-header {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
}
.ui-widget-content h2 {
    color: #9BC;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 100%;
    text-transform: uppercase;
    background: url(/profiles/takepart/themes/takepart3/images/2012-02-08/45deg_lines_large.gif) repeat-x scroll 0 0 transparent;
    margin: 12px 0 0;
    border: 0 none;
    padding: 0;
}
.ui-widget-content h2 span {
    background: none repeat scroll #FFF;
    border-right: 5px solid #FFF;
    padding: 2px 5px 2px 0;
    text-transform: uppercase;
}

.ui-dialog .ui-dialog-buttonpane {
    border:0 none;
    margin-top: 0;
    padding-top: 0;
}

.ui-dialog .ui-button-text {
    display: none;
}

button.ui-state-default,
.ui-widget-content button.ui-state-default,
.ui-widget-header button.ui-state-default {
    background: transparent url(/profiles/takepart/modules/petition/images/modal_okay_button.png) no-repeat scroll 0 0;
    border: 0 none;
    width: 97px;
    height: 47px;
    outline: none;
}

button.ui-state-hover,
.ui-widget-content button.ui-state-hover,
.ui-widget-header button.ui-state-hover,
button.ui-state-focus,
.ui-widget-content button.ui-state-focus,
.ui-widget-header button.ui-state-focus {
    border: 0 none;
    background: transparent url(/profiles/takepart/modules/petition/images/modal_okay_button_over.png) no-repeat scroll 0 0;
    width: 97px;
    height: 47px;
}

.ui-widget-header .ui-icon {
    background-image: url(/sites/all/modules/contrib/jquery_update/replace/ui/themes/base/images/ui-icons_2e83ff_256x240.png);
}

.ui-dialog .ui-dialog-buttonpane button {
    margin-top: 0;
}

.horizontal-tabs fieldset.horizontal-tabs-pane {
    margin-bottom: 0;
}

div.modal-prompt-content {
  font-family: Arial,sans-serif;
}
