img.petition-progress-bar {
  margin-left: -6px;
  padding-top: 20px;
}

p.petition-progress-complete {
  margin: 0;
}

span.petition-progress-percent {
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
}
