// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}


@mixin breakpoint($breakpoint-size) {
  @media all and (min-width: $breakpoint-size) {
    @content;
  }
}

//For views and list items
@mixin breakpoint-grid-breakdown($column-counts, $breakpoints: $breakpoint-mobile $breakpoint-tablet $breakpoint-desktop, $selector: '.views-row') {
  #{$selector} {
    @each $breakpoint in $breakpoints {
      $key: index($breakpoints, $breakpoint);
      $column-count: nth($column-counts, $key);
      @include breakpoint($breakpoint) {
        @for $i from 1 through $column-count {
          $remainder: $i % $column-count;
          &:nth-child(#{$column-count}n+#{$remainder}) {
            $page-grid-column-span: $zen-column-count / $column-count;
            $page-grid-column-position: 1 + (($i - 1) * $page-grid-column-span);
            @include zen-grid-item($page-grid-column-span, $page-grid-column-position);
            // Clear the first item in every row so they don't stack on top
            // of each other.
            @if $remainder == 1 or $column-count == 1 {
              clear: both;
              padding: 0;
            } @else {
              clear: none;
              padding-left: 20px;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }

  // A clearfix so elements following this grid will be placed correctly.
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin header-top-border($color: #000) {
  @include box-shadow(0 -4px 0 $color);
  border-top: none;
  margin-top: 4px;
  padding-top: 5px;
}
@mixin header-footer-border($color: #000, $padding: 5) {
  $negative-padding: -1*$padding;
  $negative-padding: $negative-padding + px;
  $padding: $padding + px;
  -moz-box-shadow:      0  $padding 0px 0px $color, 
                        0  $negative-padding 0px 0px $color;
  -webkit-box-shadow:   0  $padding 0px 0px $color, 
                        0  $negative-padding 0px 0px $color;
   box-shadow:          0  $padding 0px 0px $color, 
                        0  $negative-padding 0px 0px $color;
  border-top: none;
  margin-top: $padding;
  margin-bottom: $padding;
  padding-top: $padding
}

@mixin dashed-separator-after {
  &:after {
    content: '';
    display: block;
    height: 0;
    width: 76px;
    margin: .5em 0;
    border-bottom: 1px dashed black;
  }
}

@mixin tp-icon {
  font-family: "takepart";
  font-size: 1.1em;
  line-height: 1.1em;
  vertical-align: text-bottom;
}

@mixin icon-photo-gallery {
  &:after {
    display: inline;
    @include tp-icon();
    content: " \e601";
  }
}
@mixin icon-video {
  &:after {
    @include tp-icon();
    content: " \e602";
  }
}

@mixin blue-arrow-bullets {
    position: relative;
    padding-left: 1.071428571em; // 15px/14px
    &:before {
      content: "\e606\e606 ";
      font-family: "takepart";
      letter-spacing: -.9ex;
      font-size: .7em;
      margin-top: -1px;
      color: $mint;
      vertical-align: bottom;
      position: absolute;
      left: 0;
      display: block;
      width: 2.142857143em; // 30px/14px
      height: 1.428571429em; // 20px/14px
    }
}

@mixin blue-square-bullets {
  position: relative;
  padding-left: 15px;
  &:before {
    content: '';
    height: 6px;
    width: 6px;
    background-color: $blue;
    position: absolute;
    top: 7px;
    left: 0;
  }
}

@mixin comma-list {
  li {
    padding: 0;
    &:after {
      content: ',\0020';
      display: inline;
    }
    &:last-child:after {
      content: '';
    }
  }
}

@mixin mint-sans-links {
  a {
    font-family: $primary-sans-font;
    font-weight: 100;
    color: $mint;
    text-decoration: none;
    text-transform: capitalize;
    &:hover,
    &:active {
      color: $light-mint;
    }
  }
}

@mixin secondary-button{
  border: none;
  padding: 8px;
  display: inline-block;
  font-family: $primary-serif-font;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  a:not(.flashcard) {
    position: relative;
    padding-left: 20px;
    color: #000;
    &:before{
      content: "\e606\e606 ";
      font-family: "takepart";
      color: $blue;
      position: absolute;
      top: -1px;
      left: 0;
    }
  }
  &:hover{
    a{
      text-decoration: underline;
    }
  }
}

