/*
 * Campaign Specific Styles
 * This is not a partial and is not apart of style.css.  It is only called on campaign pages.
 * Ordering: Layouts, Elements, Pages, Widgets
 */

 /*
  * Giant List of TODOs:
  * 1) Move this to it's own stylsheet so it doesn't affect the rest of the site.
  * 2) Change zen-gutter width to what it should be.
  */


/*
 * Layouts
 */
body.node-type-campaign-page,
body.node-type-campaign-card-media,
body.node-type-campaign-card-news,
body.node-type-campaign-card-iframe,
body.node-type-campaign-card-social,
body.node-type-campaign-card-text,
body.node-type-campaign-card-branding,
{
  $zen-column-count:  12;
  $zen-gutter-width:  30px; //TODO: change this to respond to the width of the containing element.


  //make header full width for menu/branding
  .header-wrapper{
    padding: 0;
  }
  header#header{
    max-width: 100%;
    #block-tp4-support-tp4-slim-nav.block{
      max-width: 1000px;
      margin: 0 auto;
    }
    .header-inner{
      max-width: 1000px;
      margin: 0 auto;
      position: relative;
    }
    img.logo{
      // display: block;
      // margin: 0 auto;
      // float: none;
    }
  }



  .card{
    @include zen-grid-item(12, 1);
    @include zen-clear();
    padding: 0;
    //Two column layout: equal width
    &.campaign-2col{
      .instructional{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          padding-bottom: 40px;
        }
        @include breakpoint($breakpoint-tablet) {
          @include zen-grid-item(8, 3);
        }
      }
      .left-column{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          @include zen-clear();
        }
        @include breakpoint($breakpoint-tablet) {
          @include zen-grid-item(5, 2);
        }
      }
      .right-column{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          @include zen-clear();
        }
        @include breakpoint($breakpoint-tablet) {
          @include zen-grid-item(5, 7);
          @include zen-clear(none);
        }
      }
    }
    &.campaign-2col.left-large{
      .instructional{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          padding-bottom: 40px;
        }
        @include breakpoint($breakpoint-tablet) {
          @include zen-grid-item(8, 3);
        }
      }
      .left-column{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          @include zen-clear();
        }
        @include breakpoint($breakpoint-tablet) {
          @include zen-grid-item(6, 2);
        }
      }
      .right-column{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          @include zen-clear();
        }
        @include breakpoint($breakpoint-tablet) {
          @include zen-grid-item(4, 8);
          @include zen-clear(none);
        }
      }
    }
    &.campaign-2col.right-large{
      .instructional{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          padding-bottom: 40px;
          text-align: center;
        }
        @include breakpoint($breakpoint-tablet) {
          @include zen-grid-item(8, 3);
        }
      }
      .left-column{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          @include zen-clear();
        }
        @include breakpoint($breakpoint-tablet) {
          @include zen-grid-item(4, 2);
        }
      }
      .right-column{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          @include zen-clear();
        }
        @include breakpoint($breakpoint-tablet) {
          @include zen-grid-item(6, 6);
          @include zen-clear(none);
        }
      }
    }
    &.campaign-1col{
      .instructional{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          padding-bottom: 40px;
        }
        @include breakpoint($breakpoint-tablet) {
          @include zen-grid-item(8, 3);
        }
      }
      .center-column{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(10, 2);
          @include zen-clear();
          height: 100%;
          img{
            margin: 0 auto;
          }
          .description{
            text-align: center;
          }
          .caption{
            text-align: center;
          }
        }
      }
    }
    // Add more layouts here
  }
}
body.node-type-campaign-page .card.node-campaign-card-news,
body.node-type-campaign-card-news{
  .card{
    &.campaign-1col{
      .center-column{
        @include breakpoint($breakpoint-mobile) {
          @include zen-grid-item(6, 4);
          @include zen-clear();
          img{
            margin: 0 auto;
          }
          .description{
            text-align: center;
          }
          .caption{
            text-align: center;
          }
        }
      }
    }
  }
}

#main.card-page{
  width: 100%;
  max-width: 100%;
}
body.node-type-campaign-page, #main.card-page{

  .tabs-primary {
    max-width: 1000px;
    margin: 1.5em auto;
  }  

  .has-multiple-cards {
    .contextual-links-wrapper {
      top: 52px; // clear the tray header
    }
  }


  .card{
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 60px;
  }


  /*
   * Global Elements
   */
  @import "modules/wysiwyg";
  a.card-anchor{
    display: block;
    position: absolute;
    top: -200px;
    visibility: hidden;
  }
  #block-tp-campaigns-tp-campaigns-hero{
    width: 100%;
    margin-bottom: 0;
    .branding-header{
      background-position: top center;
      background-repeat: no-repeat;
      position: relative;
    }
    .menu-wrapper{
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 99;
      cursor: default;
    }
    .menu{
      display: block;
      height: auto;
      // width is inline
      margin: 0 auto;
      background-position: top center;
      background-repeat: no-repeat;
      ul.sf-menu{
        clear:left;
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        position:relative;
        left:50%;
        text-align:center;
        background: transparent;
        a{
          color: #000;
          font-family: $primary-sans-font;
          font-weight: bold;
          font-size: 14px;
        }
        li{
          display: block;
          float: left;
          list-style: none;
          margin: 0;
          padding: 0;
          position: relative;
          right: 50%;
          &:hover a{
            color: #fff;
            text-decoration: none;
          }
          li{
            right: 0%;
            a{
              font-weight: 100;
              font-size: 14px;
              line-height: 18px;
            }
            &:hover a{
              text-decoration: underline;
            }
          }
        }
      }
      &.sf-navbar{
        margin-bottom: 0;
      }
      li.parent-item.active {
        a{
          color: #777;
        }
        li a{
          text-align: left;
          color: #000;
        }
      }
      a.active{
        color: #000;
      }
    }
  }
  h1.card-title{
    text-align: center;
  }
  #main{
    max-width: 100%;
    #primary{
      padding: 0;
    }
  }
  .tray-header{
    position: absolute;
    top: 0;
    padding-top: 50px;
    width: 100%;
  }
  .card-wrapper.has-tray-title{
    h1.card-title{
      display: none;
    }
  }
  .slider.has-tray-background{
    .card{
      background-image: none !important;
      background-color: transparent !important;
    }
  }

  header #block-tp4-support-tp4-slim-nav.block{
    margin-bottom: 0;
  }
  &.panels-ipe{
    margin-bottom: 0 !important; //panelizer gets confused when embedding a node
  }
  #primary{
    padding: 0;
  }
  .field-name-field-campaign-media-video{
    figure > div > object {
      left: 0;
    }
  }

  // Swiper

    // position: relative;
  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
  }
  .swipe{
    position: relative;
    .arrow{
      position: absolute;
      z-index: 10;
      text-align: center;
      display: inline-block;
      color: #000;
      cursor: pointer;
      font-size: 72px;
      &:hover{
        color: $light-mint;
      }
      &.left-arrow{
        left: 0;
        .arrow-inner{
          position: relative;
          &:after{
            font-family: "SSGizmo";
            content: '\25C5';
            background-color: rgba(255,255,255,0.2);
          }
        }
      }
      &.right-arrow{
        right: 0;
        .arrow-inner{
          position: relative;
          &:after{
            font-family: "SSGizmo";
            content: '\25BB';
            background-color: rgba(255,255,255,0.2);
          }
        }
      }
    }
    nav.slider-nav{
      position: absolute;
      top: 200px;
      width: 100%;
      .slider-inner{
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
      }
    }
    .pagination{

    }
  }
  

  //Background Properties
  @media all and (max-width: 767px){
    .card, .slider{
      background-size: 768px !important;
    }
  }

  .card, .slider{
    background-position: top center;
    background-repeat: no-repeat;
    @include breakpoint($breakpoint-tablet){
      background-size: 100%;
    }
  }
  .slider.tray-img-width-1000{
    background-size: 768px;
    @include breakpoint($breakpoint-tablet){
      background-size: 1000px;
    }
  }


  /*
   * Card Types/Pages
   */

  //Media
  .campaign_card_media{
    img{
      display: block;
      margin: 0 auto;
      overflow: hidden;
    }
    h4.title{
      padding-top: 20px;
      padding-bottom: 15px;
      margin-bottom: 0;
    }
    .field-name-field-campaign-media-caption{
      padding-top: 5px;
    }
    .node-video{
      h2.node-title{
        display: none;
      }
    }
  }
  .type-card{
    .header-wrapper{
      padding: 0;
    }
  }

  //iFrame!
  iframe{
    display: block;
    margin: 0 auto;
    border: none;
  }

  //Branding
  .card.node-campaign-card-branding{
    padding: 10px 0;
  }

  //News
  .card.node-campaign-card-news{
    .center-column{
      text-align: center;  
      white-space: nowrap;
      line-height: 12px;
      overflow: hidden;
      .news-column{
        width: 18%;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        margin-right: 2%;
        &:last-child{
          margin-right: 0;
        }
        img{
          padding-bottom: 10px;
        }
      }
    }
    .headline, .short-headline, .more-link{
      text-align: center;
    }
    .more-link{
      clear: both;
    }
  }

  //Social
  .social-follow{
    text-align: center;
    line-height: 90px;
    margin-right: -20px;
    a.social-icon {
      width: 100px;
      height: 100px;
      margin-right: 15px;
      overflow: hidden;
      text-indent: 1000px;
      vertical-align: middle;
      color: #fff;
      font-size: 60px;
      &:before{
        width: 100px;
        height: 100px;
        padding: 10px;
        border-radius: 44px;
      }
      &.tp-social-link {
        &:hover{
          text-decoration: none;
        }
        &.facebook:before{
          @extend .tp-social-link.tp-social-Facebook:before;
          background-color: #3d5b96;
        }
        &.facebook:hover:before{
          background-color: #637fab;
        }
        &.twitter:before{
          @extend .tp-social-link.tp-social-Twitter:before;
          background-color: #34aadf;
        }
        &.twitter:hover:before{
          background-color: #70c5e7;
        }
        &.pinterest:before{
          @extend .tp-social-link.tp-social-Pinterest:before;
          background-color: #3d5b96;
        }
        &.pinterest:hover:before{
          background-color: #637fab;
        }
        &.google-plus:before{
          @extend .tp-social-link.tp-social-GooglePlus:before;
          background-color: #d84a3b;
        }
        &.google-plus:hover:before{
          background-color: #f35648;
        }
        &.tumblr:before{
          @extend .tp-social-link.tp-social-Tumblr:before;
          background-color: #385774;
        }
        &.tumblr:hover:before{
          background-color: #529ecc;
        }
        &.email:before{
          @extend .tp-social-link.tp-social-Email:before;
          background-color: #fc5d45;
        }
        &.email:hover:before{
          background-color: #fd8776;
        }
        &.linkedin:before{
          @extend .tp-social-link.tp-social-Linkedin:before;
          background-color: #0977b4;
        }
        &.linkedin:hover:before{
          background-color: #0c9bea;
        }
        &.youtube:before{
          @extend .tp-social-link.tp-social-Youtube:before;
          background-color: #cc181e;
        }
        &.youtube:hover:before{
          background-color: #ff1e26;
        }
        &.vine:before{
          @extend .tp-social-link.tp-social-Vine:before;
          background-color: #00b386;
        }
        &.vine:hover:before{
          background-color: #00d9a2;
        }
        &.instagram:before{
          @extend .tp-social-link.tp-social-Instagram:before;
          background-color: #3f729b;
        }
        &.instagram:hover:before{
          background-color: #5092c6;
        }
      }
    }
  }
  .sms{
    margin-top: 20px;
  }
  .sms-legal{
    text-align: center;
  }

  //
  // Newsletter Signup Block
  //
  .block-newsletter-campaign {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    .message {
      margin: .75em 0;
    }
    .form-item-email {
      margin: 0;
      display: inline-block;
      font-family: $primary-sans-font;
      width: 65%;
      position: relative;
      label {
        display: none;
        font: normal 12px/1 $primary-sans-font;
        position: absolute;
        left: 0;
        bottom: 100%;
        &.error {
          display: inline;
        }
      }
      input {
        width: 100%;
        border: 1px solid #CCC;
        @include border-radius(0);
        -webkit-appearance: none;
        padding: 2px;
        font-size: 12px;
        line-height: 1.5;
      }
    }
    input[type="submit"] {
      width: 33%;
      border: none;
      float: right;
      @include border-radius(0);
      background-color: $light-mint;
      color: white;
      font-family: $primary-sans-font;
      text-transform: lowercase;
      padding: 4px 0 1px;
      
      &:hover {
        background-color: black;
      }
    }

    .terms-of-service {
      clear: both;
      margin: 1em 0;
      padding-bottom: 1em;
      border-bottom: 1px solid $gray-line;
                  font-size: 12px;
      // font-family: $adelle-regular;
      a {
        
        line-height: 1.2em;
        color: $mint;
      }
    }
    .follow-us {
      font: normal 20px/1 $main-brand-font;
      text-transform: lowercase;
      display: inline-block;
      vertical-align: top;
      margin: 2px 8px 0 0;
    }
    .social-links {
      display: inline-block;
      li {
        display: inline-block;
        line-height: 1;
        a {
          display: inline-block;
          // they're the same width;
          height: 0;
          width: social-sprite-width(twitter-gray);
          margin-right: social-sprite-width(twitter-gray) / 4; // reasonable margin
          // image replacement technique
          padding-top: social-sprite-height(twitter-gray);
          overflow: hidden;
          &.facebook { @include social-sprite(facebook-gray);}
          &.twitter { @include social-sprite(twitter-gray);}
          &.google { @include social-sprite(googleplus-gray);}
          &.pinterest { @include social-sprite(pinterest-gray);}
          &.youtube { @include social-sprite(youtube-gray);}
          &.tumblr { @include social-sprite(tumblr-gray); margin-right: 0; } // no margin on last link
        }
      }
    }
  }












  //Card and Header background properties
  header{
    .header-inner{
      padding-top: 15px;
      @include breakpoint($breakpoint-tablet){
        padding-top: 20px;
      }
    }
    .header-bg-image-full{
      background-size: 100%;
    }
    .header-bg-image-980{
      background-size: 1000px;
    }
    .logo-left{
      float: left;
    }
    .logo-right{
      float: right;
    }
    .logo-center{
      display: block;
      margin: 0 auto;
      float: none;
    }
    a.big-link{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
    .isStuck{
      .branding-header{
        -webkit-box-shadow: 0px -7px 10px 8px #000;
        box-shadow: 0px -7px 10px 8px #000;
        margin-bottom: 0;
      }
    }
  }
  .card-inner{
    height: auto;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
  }
  .card-width-980{
    float: none;
    max-width: 1000px;
    margin: 0 auto;
  }




}