/*
 * Campaign Specific Styles
 * This is not a partial and is not apart of style.css.  It is only called on campaign pages.
 * Ordering: Layouts, Elements, Pages, Widgets
 */

/*
 * Layouts
 */
body.campaign-display
{
    $zen-column-count:  12;
    $zen-gutter-width:  3%; //TODO: change this to respond to the width of the containing element.

    //make header full width for menu/branding
    #page-wrap{
        padding-top: 0;
    }
    .header-wrapper{
        padding: 0;
        padding-top: 1em !important;
        max-width: 100%;
        z-index: 99;
    }
    header#header{
        max-width: 100%;
        .slim-nav-inner {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 10px;
        }
        .header-inner{
            max-width: 1000px;
            margin: 0 auto;
            position: relative;
            /*
            #campaign-page-share .tp-social-mailto {
                display: none;
            }
            */
        }
        #div-gpt-ad-1394222082576-0 {
            margin: 0 auto;
        }
        .block {
	        margin-bottom: 0;
        }
    }

    .campaign-content-meta {
        text-align: center;
    }

    .card{
        @include zen-grid-item(12, 1);
        @include zen-clear();
        padding: 0;
        //Two column layout: equal width
        .instructional + {
            .left-column, .left-column + .right-column, .right-column, .center-column {
                margin-top: 0px;
            }
        }

        .title-wrapper + {
            .left-column, .left-column + .right-column, .right-column, .center-column {
                margin-top: 5px;
            }
        }
        &:not(.has-instructional.has-title){
            .left-column, .right-column, .center-column {
                margin-top: 25px;
            }
        }

        &.campaign-2col{
            .instructional{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    padding-bottom: 15px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @include breakpoint($breakpoint-tablet) {
                    @include zen-grid-item(8, 3);
                }
            }
            .left-column{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    padding-left: 10px;
                    @include zen-clear();
                }
                @include breakpoint($breakpoint-tablet) {
                    @include zen-grid-item(5, 2);
                }
            }
            .right-column{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    padding-right: 10px;
                    padding-top: 20px;
                    padding-left: 10px;
                    @include zen-clear();
                }
                @include breakpoint($breakpoint-tablet) {
                    @include zen-grid-item(5, 7);
                    padding-top: 0;
                    @include zen-clear(none);
                }
            }
        }
        &.campaign-2col.left-large{
            .instructional{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    padding-bottom: 15px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @include breakpoint($breakpoint-tablet) {
                    @include zen-grid-item(8, 3);
                }
            }
            .left-column{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    padding-left: 10px;
                    @include zen-clear();
                }
                @include breakpoint($breakpoint-tablet) {
                    @include zen-grid-item(6, 2);
                }
            }
            .right-column{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    padding-top: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                    @include zen-clear();
                }
                @include breakpoint($breakpoint-tablet) {
                    @include zen-grid-item(4, 8);
                    padding-top: 0;
                    @include zen-clear(none);
                }
            }
        }
        &.campaign-2col.right-large{
            .instructional{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    padding-bottom: 15px;
                    padding-left: 10px;
                    padding-right: 10px;
                    text-align: center;
                }
                @include breakpoint($breakpoint-tablet) {
                    @include zen-grid-item(8, 3);
                }
            }
            .left-column{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    padding-left: 10px;
                    @include zen-clear();
                }
                @include breakpoint($breakpoint-tablet) {
                    @include zen-grid-item(4, 2);
                }
            }
            .right-column{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    padding-right: 10px;
                    padding-left: 10px;
                    padding-top: 20px;
                    @include zen-clear();
                }
                @include breakpoint($breakpoint-tablet) {
                    @include zen-grid-item(6, 6);
                    padding-top: 0;
                    @include zen-clear(none);
                }
            }
        }
        &.campaign-1col{
            .instructional{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    padding-bottom: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @include breakpoint($breakpoint-tablet) {
                    @include zen-grid-item(8, 3);
                }
            }
            .center-column{
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(12, 1);
                    @include zen-clear();
                    height: 100%;
                    img{
                        margin: 0 auto;
                    }
                    .description{
                        //            text-align: center;
                    }
                    .caption{
                        text-align: center;
                    }
                }
                @include breakpoint($breakpoint-mobile) {
                    @include zen-grid-item(10, 2);
                }
            }
        }
        // Add more layouts here
    }
}
body.node-type-campaign-page .card.node-campaign-card-news,
body.node-type-campaign-card-news .card.campaign-1col{
    &.campaign-1col:not(.multi-news){
        .center-column{
            @include breakpoint($breakpoint-mobile) {
                @include zen-grid-item(12, 1);
                padding-left: 10px;
                padding-right: 10px;
                @include zen-clear();
                img{
                    margin: 0 auto;
                }
                .description{
                    text-align: center;
                }
                .caption{
                    text-align: center;
                }
            }
            @include breakpoint($breakpoint-tablet) {
                @include zen-grid-item(6, 4);
            }
        }
    }
}
body.campaign-display .card.node-campaign-card-media{
    .center-column .description{
        @include breakpoint($breakpoint-mobile) {
            @include zen-grid-item(12, 1);
            padding-left: 10px;
            padding-right: 10px;
            @include zen-clear();
        }
        @include breakpoint($breakpoint-tablet) {
            @include zen-grid-item(10, 2);
        }
    }

    .playlist-wrapper-wrapper {
        .bx-wrapper {
            ul {
                li {
                    padding-left: 0;
                }
            }
        }
    }
}
body.node-type-campaign-page .card.node-campaign-card-news.multi-news{
    .center-column{
        @include breakpoint($breakpoint-mobile) {
            @include zen-grid-item(12, 1);
            padding-left: 10px;
            padding-right: 10px;
            @include zen-clear();
        }
        @include breakpoint($breakpoint-tablet) {
            @include zen-grid-item(10, 2);
        }
    }
}
body.campaign-display .card.node-campaign-card-multi-column{
    padding-bottom: 20px;
    .center-column{
        @include breakpoint($breakpoint-mobile) {
            @include zen-grid-item(12, 1);
            padding-left: 10px;
            padding-right: 10px;
            @include zen-clear();
        }
        @include breakpoint($breakpoint-tablet) {
            @include zen-grid-item(10, 2);
        }
    }
}
body.campaign-display .card.node-campaign-card-tap-widget{
    .card-content{
        @include breakpoint($breakpoint-mobile) {
            @include zen-grid-item(12, 1);
            padding-left: 10px;
            padding-right: 10px;
            @include zen-clear();
        }
        @include breakpoint($breakpoint-tablet) {
            @include zen-grid-item(10, 2);
        }
    }
}

#main.card-page{
    width: 100%;
    max-width: 100%;
}
body.campaign-display{

    #block-boxes-ga-campaign-header {
        display: none;
        @media (min-width: 728px) {
            display: block;
        }
    }

    .tabs-primary {
        max-width: 1000px;
        margin: 1.5em auto;
    }  



    /*
     * Global Elements
     */
    h1 {
        font: 100 36px/38px $secondary-sans-font;
        text-transform: uppercase;
        color: #000;
    }

    .campaign-sidebar-header {
        font: 100 24px/150% $secondary-sans-font;
        text-transform: uppercase;
        color: white;
        padding: 10px;
        margin-bottom: 0;
    }

    .card {
        height: 100%;
        overflow: hidden;
        padding-bottom: 60px;
        @import "../modules/wysiwyg";
    }
    a.card-anchor {
        display: block;
        position: absolute;
        top: 0px;
        visibility: hidden;
    }
    .card-inner a{
        color: $mint;
    }
    .takepart-take-action-widget{
        margin: 0 auto;
    }
    #block-tp-campaigns-tp-campaigns-hero{
        width: 100%;
        margin-bottom: 0;
        .branding-header{
            background-position: top center;
            background-repeat: no-repeat;
            position: relative;
        }
        .menu-wrapper{
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 99;
            cursor: default;
        }
    }
    .branding-header{
        .menu{
            display: block;
            height: auto;
            // width is inline
            margin: 0 auto;
            background-position: top center;
            background-repeat: no-repeat;
            .sf-arrows .sf-with-ul{
                padding-right: 1em;
            }
            li.parent-item{
                > a{
                    color: #000;
                }
                &:hover > a, &.sfHover > a{
                    color: #fff;
                    text-decoration: none;
                    background-color: #000;
                }
                &.anchored.active > a{
                    color: $mint;
                }
                &:not(.anchored) > a.active{
                    color: $mint;
                }
                &.anchored.active:hover > a, &.anchored.active.sfHover > a{
                    color: #fff;
                }
                &:not(.anchored):hover > a.active, &:not(.anchored).sfHover > a.active{
                    color: #fff;
                }
                li li a{
                    text-align: left;
                    color: #000;
                }
            }
            ul.sf-menu{
                clear:left;
                float:left;
                list-style:none;
                margin:0;
                padding:0;
                position:relative;
                left:50%;
                text-align:center;
                background: transparent;
                a{
                    font-family: $primary-sans-font;
                    font-weight: bold;
                    font-size: 14px;
                }
                ul {
                    @include box-shadow(0 4px 4px rgba(0,0,0,0.5));
                    a{
                        color: #000;
                    }
                }
                > li{
                    display: block;
                    float: left;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    right: 50%;
                    > a{
                        text-transform: uppercase;
                    }
                    li{
                        text-align: left;
                    }
                    li{
                        right: 0%;
                        a{
                            font-weight: 100;
                            font-size: 14px;
                            line-height: 18px;
                        }
                        &:hover a{
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.sf-navbar{
                margin-bottom: 0;
            }
        }
        .social {
            position: absolute;
            right: 10px;
            top: 15px;
            z-index: 100;
        }

        .tp-social-headline,
        .tp-social,
        #campaign-page-social-more {
            float: left;
            display: inline-block;
            vertical-align: middle;
            height: 30px;
            margin-left: 8px;
        }

        .share-headline {
            font: normal 14px/1 $secondary-sans-font;
            height: 14px;
            color: $dark-gray;
            text-transform: uppercase;
            margin: 4px 0 0 0;
        }

        .tp-social-link,
        .trigger a {
            display: inline-block;
            width: 24px;
            height: 24px;
            line-height: 37px;
            overflow: hidden;
            text-indent: 30px;
            margin-left: 8px;
            padding: 0;
            &:first-of-type {
                margin-left: 0;
            }
            @include breakpoint($breakpoint-mobile) {
                &.tp-social-email {
                    display: none;
                }
                &.tp-social-mailto {
                    display: inline-block;
                }
            }
            @include breakpoint($breakpoint-desktop) {
                &.tp-social-email {
                    display: inline-block;
                }
                &.tp-social-mailto {
                    display: inline-block;
                }
            }
        }


        #campaign-page-social-more {
            width: 24px; // contain 8px margin
            height: 24px;
            margin-left: 8px;
            overflow: hidden;
            position: relative;
            float: right;
            h4.trigger {
                margin: 0;
            }
            &.focus {
                overflow: visible;
                #campaign-page-more-shares {
                    top: 100%;
                }
            }
        }


        #campaign-page-more-shares {
            position: absolute;
            right: 0;
            top: -75px; // accounts for margin, padding, and shadow
            width: 120px;
            p {
                background-color: white;
                height: 24px;
                margin: 16px 0 0 0;
                padding: 16px;
                position: relative;
                z-index: 10;
                @include box-shadow(0 0 4px rgba(0,0,0,.5));
                &:before,
                    &:after {
                    content: ' ';
                    display: block;
                    height: 0;
                    width: 0;
                    position: absolute;
                    bottom: 100%;
                    border: 8px solid transparent;
                }
                &:after {
                    right: 4px;
                    border-bottom-color: white;
                    border-bottom-width: 14px;
                }
                &:before {
                    right: 2px;
                    border-width: 10px;
                    border-bottom-width: 16px;
                    border-bottom-color: rgba(0,0,0,.15);
                }
            }
        }

    }
    h1.card-title{
        text-align: center;
        margin-bottom: 26px;
        &.has-instructional{
            margin-bottom: 6px;
        }
    }
    #main-wrap {
        position: relative;
    }
    #main{
        overflow: hidden;
        max-width: 100%;
        -webkit-transition: -webkit-transform .5s ease;
        -moz-transition: -moz-transform .5s ease;
        transition: transform .5s ease;
        #primary{
            padding: 0;
        }
    }
    .tray-header{
        position: absolute;
        top: 0;
        padding-top: 50px;
        width: 100%;
        max-width: 1000px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .swipe-wrap.has-tray-title{
        .card .title-wrapper{
            display: none;
        }
    }
    .card-wrapper{
        height: auto;
    }
    .swipe.has-tray-background{
        .card{
            background-image: none !important;
            background-color: transparent !important;
        }
    }

    header #block-tp4-support-tp4-slim-nav.block{
        margin-bottom: 0;
    }
    &.panels-ipe{
        margin-bottom: 0 !important; //panelizer gets confused when embedding a node
    }
    #primary{
        padding: 0;
    }
    .field-name-field-campaign-media-video{
        figure > div > object {
            left: 0;
        }
    }

    // Swiper

    // position: relative;
    .swipe.slider {
        overflow: hidden;
        visibility: hidden;
        position: relative;
    }
    .swipe-wrap {
        overflow: hidden;
        position: relative;
    }
    .swipe-wrap > div {
        float:left;
        width:100%;
        position: relative;
    }
    .swipe{
        position: relative;
        @include breakpoint($breakpoint-mobile) {
            .arrow{
                display: none;
            }
        }
        @include breakpoint($breakpoint-tablet) {
            .arrow{
                position: absolute;
                left: 0; // right side overrides below
                top: 100px;
                z-index: 3;
                text-align: center;
                display: block;
                color: #000;
                cursor: pointer;
                font-size: 72px;
                line-height: 1em;
                .arrow-inner{
                    &:after{
                        display: block;
                        font-family: "takepart";
                        content: '\e605';
                        font-size: .7em;
                        width: 72px;
                        background-color: rgba(255,255,255,0.2);
                        height: 1em;
                        line-height: 1.2;
                        padding: 10px 0;
                    }
                }
                &.right-arrow{
                    left: auto;
                    right: 0;
                    .arrow-inner{
                        &:after{
                            content: '\e606';
                        }
                    }
                    &:hover{
                        color: $light-mint;
                    }
                }

            }
        }
        nav.slider-nav{
            position: absolute;
            top: 200px;
            width: 100%;
            .slider-inner{
                max-width: 1000px;
                margin: 0 auto;
                position: relative;
            }

        }
        .slider-pagination{
            text-align: center;
            margin-bottom: 1em;
            position: relative;

            a {
                margin-bottom: 2px;
                display: inline-block;
                font-size: 10px;
                height: 1em;
                width: 1em;
                margin-left: .5em;
                overflow: hidden;
                text-indent: 1em;
                background-color: #8b8b8b;
                @include border-radius(5px);
                @include box-shadow(inset 0 0 2px rgba(0,0,0,.5));

                &:hover,
                    &.active {
                    background-color: $mint;
                    cursor: default;
                }
            }
            @include breakpoint($breakpoint-mobile) {
                .mobile-arrow{
                    display: inline-block;
                    position: absolute;
                    bottom: -7px;
                    cursor: pointer;
                    color: #000;

                    &.left-arrow {
                        margin-right: 20px;
                        left: 10px;
                        &:after{
                            font-family: "takepart";
                            content: '\e601';
                            font-size: 35px;
                        }
                        /*
                        &.hover-class {
                            color: #018b73;
                        }
                        */
                    }
                    &.right-arrow {
                        margin-left: 20px;
                        right: 10px;
                        &:after{
                            font-family: "takepart";
                            content: '\e602';
                            font-size: 35px;
                        }
                        /*
                        &.hover-class {
                            color: #018b73;
                        }
                        */
                    }
                }
            }
            @include breakpoint($breakpoint-tablet) {
                .mobile-arrow{
                    display: none;
                }
            }
        }
        &.on-first-slide .left-arrow,
        &.on-first-slide .arrow-left{
            cursor: default;
            color: #898b8a !important;
            &:hover {
                color: #898b8a !important;
            }
        }
        &.on-last-slide .right-arrow,
        &.on-last-slide .arrow-right{
            cursor: default;
            color: #898b8a !important;
            &:hover {
                color: #898b8a !important;    
            }
        }
    }


    //Background Properties
    @media all and (max-width: 767px){
        .card, .slider{
            background-size: 768px !important;
        }
    }

    .card, .slider{
        background-position: top center;
        background-repeat: no-repeat;
        @include breakpoint($breakpoint-tablet){
            background-size: 100%;
        }
    }
    .card.background-crop, .slider.background-crop{
        background-size: auto !important;
        @include breakpoint(1600px) {
            background-size: 100% !important;
        }
    }
    .slider.tray-img-width-1000{
        background-size: 768px;
        @include breakpoint($breakpoint-tablet){
            background-size: 1000px;
        }
    }


    /*
     * Card Types/Pages
     */

    //Media
    .node-campaign-card-media{
        img{
            display: block;
            margin: 0 auto;
            overflow: hidden;
        }
        .center-column img{
            margin: 0 auto;
        }
        h4.media-title{
            padding-bottom: 12px;
            margin-bottom: 0;
        }
        .caption{
            padding-top: 5px;
            margin-bottom: 8px;
        }
        .node-video{
            h2.node-title{
                display: none;
            }
        }
    }
    .type-card{
        .header-wrapper{
            padding: 0;
        }
    }
    .campaign-2col.node-campaign-card-media .description{
        margin-top: -7px;
    }
    .campaign-1col.node-campaign-card-media .caption{
        text-align: left;
    }

    //iFrame!
    iframe{
        display: block;
        margin: 0 auto;
        border: none;
    }
    .iframe-wrapper{
        position: relative;
        padding-top: 25px;
        height: 0;
        overflow: hidden;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    iframe.entity_iframe:not('.video_playlist'){
        max-width: 300px;
    }
    .iframe-wrapper-fixed{
        overflow: hidden;
    }

    .card.iframe-fixed, .card.embed-field{
        .center-column{
            @include breakpoint($breakpoint-mobile) {
                @include zen-grid-item(12, 1);
                @include zen-clear();
                height: 100%;
                img{
                    margin: 0 auto;
                }
                .description{
                    text-align: center;
                }
                .caption{
                    text-align: center;
                }
            }
            @include breakpoint($breakpoint-tablet) {
                @include zen-grid-item(10, 2);
            }
        }
    }
    /* TAP Widget */
    .node-campaign-card-tap-widget {
        .left, .right{
            @include zen-grid-item(12, 1);
            @include zen-clear();
            padding-bottom: 20px;
        }
        .right {
	        margin-top:21px;
        }

        @include breakpoint($breakpoint-tablet) {
            .left{
                @include zen-grid-item(12, 1);
            }
            .left.column-even{
                @include zen-grid-item(6, 1);
            }
            .left.column-wide{
                @include zen-grid-item(7, 1);
            }
            .left.column-narrow{
                @include zen-grid-item(5, 1);
            }
            .right{
                clear: none;
            }
            .right.column-even{
                @include zen-grid-item(6, 7);
            }
            .right.column-wide{
                @include zen-grid-item(7, 6);
            }
            .right.column-narrow{
                @include zen-grid-item(5, 8);
            }
        }
        img{
            display: block;
            margin: 0 auto;
            padding-bottom: 10px;
        }
    }



    //Branding
    .card.node-campaign-card-branding {
        padding: 0;
        .card-inner{
            padding: 10px 0;
        }
        .center-column{
            margin-top: 0px;
        }
    }

    .branding-content{
        text-align: center;
        .branding-text{
            display: inline-block;
        }
        img{
            display: inline-block;
            vertical-align: middle;
        }
    }
    .card.node-campaign-card-branding,
    .card.node-campaign-card-text.slim-text{
        h1, h2, h3, h4, h5, p{
            margin: 0;
            padding: 0;
        }
    }

    //News
    .card.node-campaign-card-news{
        .center-column{
            text-align: center;  
            line-height: 12px;
            overflow: hidden;
            .news-column{
                @include breakpoint($breakpoint-mobile) {
                    width: 100%;
                }
                @include breakpoint($breakpoint-tablet) {
                    width: 18%;
                }
                display: inline-block;
                vertical-align: top;
                white-space: normal;
                margin-right: 2%;
                &:last-child, &:nth-child(5n) {
                    margin-right: 0;
                }
                img{
                    padding-bottom: 5px;
                }
                h5{
                    text-align: left;
                    white-space: normal;
                }
            }
            h3.headline{
                padding-top: 13px;
                margin: 0;
            }
            p.short-headline{
                margin: 0;
                padding-top: 0;
                line-height: 24px;
                padding-bottom:3px;
            }
            .more-link p{
                padding-top: 20px;
                margin: 0;
            }
        }
        a.news-column{
            color: #000;
        }
        .headline, .short-headline, .more-link{
            text-align: center;
        }
        .more-link{
            clear: both;
        }
    }

    //Empty
    .card.node-campaign-card-empty{
        padding: 0;
        @include breakpoint($breakpoint-mobile) {
            .center-column{
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .card-inner{
                padding-top: 0px;
                width: 100%;
                max-width: 100%;
            }
            img{
                width: 768px;
                max-width: 768px;
            }
        }
        @include breakpoint($breakpoint-tablet) {
            .center-column{
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .card-inner{
                padding-top: 0px;
                width: 100%;
                max-width: 100%;
            }
            img{
                width: 100%;
                max-width: 100%;
            }
        }
        &.card-image-width-full{
            @include breakpoint($breakpoint-mobile) {
                img{
                    width: 768px;
                    max-width: 768px;
                }
            }
            @include breakpoint($breakpoint-tablet) {
                img{
                    width: 100%;
                    max-width: 100%;
                }
            }
            .center-column{
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .card-inner{
                padding-top: 0px;
                width: 100%;
                max-width: 100%;
            }
        }
        img{
            visibility: hidden;
            display: block;
        }
        .card-inner{
            position: relative;
        }
        .title-wrapper{
            position: absolute;
            top: 50px;
            left: 50%;
            max-width: 100%;
            width: 100%;
            h1.card-title{
                position: relative;
                left: -50%;
            }
        }
    }

    //Social
    .node-campaign-card-social {
        .social-follow{
            margin-left: -5px;
            a.social-icon {
                font-size: 35px;
            }
            @include breakpoint($breakpoint-tablet) {
                margin-left: 0;
                a.social-icon {
                    font-size: 40px;
                }
            }

            text-align: center;
            line-height: 65px;
            margin-right: -20px;
            a.social-icon {
                width: 100px;
                height: 100px;
                margin-right: 15px;
                overflow: hidden;
                text-indent: 1000px;
                vertical-align: middle;
                color: #fff;
                &:before{
                    width: 100px;
                    height: 100px;
                    padding: 10px;
                    border-radius: 44px;
                }
                &.tp-social-link {
                    &:hover{
                        text-decoration: none;
                    }
                    &.facebook:before{
                        @extend .tp-social-link.tp-social-Facebook:before;
                        background-color: #3d5b96;
                    }
                    &.facebook:hover:before{
                        background-color: #637fab;
                    }
                    &.twitter:before{
                        @extend .tp-social-link.tp-social-Twitter:before;
                        background-color: #34aadf;
                    }
                    &.twitter:hover:before{
                        background-color: #70c5e7;
                    }
                    &.pinterest:before{
                        @extend .tp-social-link.tp-social-Pinterest:before;
                        background-color: #ca2026;
                    }
                    &.pinterest:hover:before{
                        background-color: #e63f52;
                    }
                    &.google-plus:before{
                        @extend .tp-social-link.tp-social-GooglePlus:before;
                        background-color: #d84a3b;
                    }
                    &.google-plus:hover:before{
                        background-color: #f35648;
                    }
                    &.tumblr:before{
                        @extend .tp-social-link.tp-social-Tumblr:before;
                        background-color: #385774;
                    }
                    &.tumblr:hover:before{
                        background-color: #529ecc;
                    }
                    &.email:before{
                        @extend .tp-social-link.tp-social-Email:before;
                        background-color: #fc5d45;
                    }
                    &.email:hover:before{
                        background-color: #fd8776;
                    }
                    &.linkedin:before{
                        @extend .tp-social-link.tp-social-Linkedin:before;
                        background-color: #0977b4;
                    }
                    &.linkedin:hover:before{
                        background-color: #0c9bea;
                    }
                    &.youtube:before{
                        @extend .tp-social-link.tp-social-Youtube:before;
                        background-color: #cc181e;
                    }
                    &.youtube:hover:before{
                        background-color: #ff1e26;
                    }
                    &.vine:before{
                        @extend .tp-social-link.tp-social-Vine:before;
                        background-color: #00b386;
                    }
                    &.vine:hover:before{
                        background-color: #00d9a2;
                    }
                    &.instagram:before{
                        @extend .tp-social-link.tp-social-Instagram:before;
                        background-color: #3f729b;
                    }
                    &.instagram:hover:before{
                        background-color: #5092c6;
                    }
                }
            }
        }
        @media (min-width: 480px) {
            .takepart-newsletter-form {
                margin: 0 20%;
            }
        }
        input[name=newsletter_campaign_signup] {
            float: right;
        }
    }
    .sms{
        margin-top: 20px;
    }
    .sms-legal{
        text-align: center;
        p {
            font-size: .875em;
            line-height: 1.5;
        }
    }
    /*
     * Card Multi-Column
     */
    .node-campaign-card-multi-column{
        .center-inner{
            width: 100%;
            text-align: center;
            overflow: hidden;
            padding-left: 10px;
            > div{
                display: inline-block;
                vertical-align: top;
                width: 100%;
                margin-right: 20px;
                margin-bottom: 40px;
                img{
                    margin-bottom: 10px !important;
                }
                .field-name-field-promo-text{
                    text-align: left;
                }
            }
        }
        p{
            margin-bottom: -5px;
            line-height: normal;
        }
        *{
	        text-align: left;
        }
    }

    /*
     * Card Ad
     */
    .node-campaign-card-ad{
        div[id*='boxes-box-ga_campaign_728x90']{
            display: none;
            @include breakpoint($breakpoint-tablet){
                display: block;
            }
        }
        div[id*='block-boxes-ga-campaign']{
            position: relative;
            &:before{
                content: 'Advertisement';
                text-transform: uppercase;
                font-family: "AdelleSans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
                font-size: 11px;
                color: #5a5a5a;
                width: 100%;
                text-align: center;
                display: block;
            }
        }
        div[id*='div-gpt-ad']{
            margin: 0 auto;
        }
    }

    //Card and Header background properties
    header{
        .branding-header.has-menu{
            .campaign-logo-div {
                @include breakpoint($breakpoint-mobile){
                    float: left;
                    width: 80%;
                    -moz-box-sizing: border-box;
                }
                // added by scott 6-19-2014 (because I'm American); matt, removing the width jacked up the display and lit my computer on fire
                @include breakpoint($breakpoint-tablet){
                    width: 100%;
                }

                @include breakpoint($breakpoint-desktop) {
                    float: none;
                }

                // // removed by matt 2014-06-18; can share same styling as rule below
                // @media (min-width: 701px) {
                //   float: none;
                //   box-sizing: border-box;
                //   width: 100%;
                //   padding-right: 175px;
                //   padding-left: 175px;
                //   margin-left: auto;
                //   margin-right: auto;
                // }
            }
        }
        .branding-header:not(.has-menu){
            .campaign-menu-toggle{
                display: none;
            }
        }
        .header-inner{
            padding-top: 15px;
            @include breakpoint($breakpoint-tablet){
                padding-top: 20px;
            }
        }
        .header-bg-image-full{
            background-size: cover;
        }
        .header-bg-image-980{
            background-size: 1000px;
        }
        .logo-left{
            float: left;
            padding-left: 0%;
            @include breakpoint($breakpoint-tablet){
                padding-left: 1.5%;
            }
        }
        .logo-right{
            float: right;
            padding-right: 0%;
            @include breakpoint($breakpoint-tablet){
                padding-right: 1.5%;
            }
        }
        .logo-center{
            display: inline;
            float: none;
        }
        .campaign-logo-div {
            text-align: center;
            height: auto;
            overflow: hidden;
            margin-left: 5px;
            margin-right: 5px;
            @media (min-width: 701px) {
                float: none;
                box-sizing: border-box;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        a.big-link{
            display: inline;
            z-index: 0;
        }
        .isStuck{
            .branding-header{
                -webkit-box-shadow: 0px -7px 10px 8px #000;
                box-shadow: 0px -7px 10px 8px #000;
                margin-bottom: 0;
            }
        }
    }
    .card-inner{
        height: auto;
        overflow: hidden;
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 50px;
    }
    .card-width-980{
        float: none;
        max-width: 1000px;
        margin: 0 auto;
    }

    //
    // Newsletter Signup Block
    //
    .block-newsletter-campaign {
        max-width: 550px;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
	}
}

.campaign-page-comments {
    max-width: 550px;
    margin: 0 auto;
    h1 {
        font-family: $secondary-sans-font;
        text-transform: uppercase;
        margin-bottom: .25em;
        .count {
            font: normal 100 .65em/1.25 $primary-sans-font;
            display: inline-block;
            vertical-align: middle;
        }
    }
}


body.node-type-campaign-page .slim-text{

    padding-bottom: 10px;

    .slim-text-card-inner
    {
        padding-top: 10px;
    }

    .center-column
    {
        text-align: center; 
    }

}

/* Twitter Card */
body.node-type-campaign-card-twitter{
    #main.card-page #primary{
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
    }
    p.campaign-content-meta{
        text-align: center;
    }
}
.tweet-card{  

    @include breakpoint($breakpoint-mobile) {
        float: left;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0px;
        padding-right: 0px;

    }
    @include breakpoint($breakpoint-tablet) {
        @include zen-grid-item(12, 1);
        @include zen-clear();
        height: 100%;
        img{
            margin: 0 auto;
        }
        .description{
            text-align: center;
        }
        .caption{
            text-align: center;
        }
    }
    @include breakpoint($breakpoint-tablet) {
        @include zen-grid-item(10, 2);
    }

}

.tweet{

    @include breakpoint($breakpoint-mobile){
        width: 97%;
    }
    @include breakpoint($breakpoint-tablet){
        width: 48%;
        margin-right: 2%;
        min-height: 210px;
    }
    @include breakpoint($breakpoint-desktop){
        width: 47%;
        height: 150px;
        min-height: 150px;
        margin-right: 3%;
    }
    float: left;
    margin-bottom: 20px;

    .tweet-left{  
        @include breakpoint($breakpoint-mobile){
            float: left;
            width: 30.5%;
            margin-right: 10px;
        }
        @include breakpoint($breakpoint-tablet){
            float: left;
            margin-right: 0px;

        }

        img.profile-pic{
            @include breakpoint($breakpoint-mobile){
                width: 75px;
                height: 75px;
                border-radius: 75px;
                -webkit-border-radius: 75px;
                -moz-border-radius: 75px;
            }
            @include breakpoint($breakpoint-tablet){
                width: 90px;
                height: 90px;
                border-radius: 90px;
                -webkit-border-radius: 90px;
                -moz-border-radius: 90px;
            }
            @include breakpoint($breakpoint-desktop){
                width: 100px;
                height: 100px;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
            }
        }

    }

    .tweet-right{
        @include breakpoint($breakpoint-mobile){
            float: left;
            width: 64.4%;
        }
        @include breakpoint($breakpoint-tablet){
            float: right;
            margin-left: 3%;
        }
        @include breakpoint($breakpoint-desktop){
            float: right;
            margin-left: 5%;
        }
        h6{
            margin-top: 0px;
            margin-bottom: 10px;
        }
        p{
            margin-top: 5px;
        }
        .tweet a{
            color: $mint;
        }
        h5 {
            a {
                color: $mint;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.twitter-descriptive-text{
    @media all and (max-width: 767px){
        width: 83.33333%;
        margin-left: 5%;
        margin-right: -95%;
        padding-left: 1.5%;
        padding-right: 1.5%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
    }
    @include breakpoint($breakpoint-tablet)
    {
        margin-right: 10%;
        margin-left: 10%;    
    }
}

@media only screen and (max-width: 700px)
{

    body.node-type-campaign-page{

        header#header{
            .campaign-menu-toggle {
                display: block;
                position: absolute;
                left: 78%;
                top: 50px;
                font-size: 2em;
                padding: 25px;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        #block-tp-campaigns-tp-campaigns-hero{
            //margin-top: 35px;
            .menu-wrapper{
                display: none;
            }
            .header-inner{
                padding-top: 50px;
            }
        }

    }   
}
@media only screen and (min-width: 701px) {    
    body.node-type-campaign-page {    
        header#header{
            .campaign-menu-toggle {
                display: none;
            }
        }
    }
}

body.campaign-display .swipe-wrap.has-title{
    .card-inner{
        border-top: 1px solid #dadada;
    }
}

body.campaign-display .card .playlist ul:not(.tabs) li:before{
    background-color: transparent;
}

/**
 *  Perm fix from TP-2522 with ads
 */
body.campaign-display .card.campaign-1col.node-campaign-card-ad .center-column {
    margin: 0;
    padding: 0;
    width: 100%;
}

body.campaign-display .card.campaign-1col.node-campaign-card-ad .block {
    width: 300px;
    margin: 0 auto;
}

//Add Custom Styling for TP4 Campaigns
@import "tp4_dark_bg";

