#block-zendesk-forms-zendesk-support-form {
  input, select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 488px;
  }
  .form-submit {
    width: auto;
  }
  .form-item-files-file {
    max-width: 488px;
    display: none;
    .contact-screenshot-desc {
      margin-top: 5px;
      a {
        text-decoration: underline;
      }
    }
    .filesizewarn {
      display: none;
      margin-top: 5px;
    }
  }
}
