#block-zendesk-forms-zendesk-support-form {
  input, select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 488px;
  }
  .form-submit {
    width: auto;
  }
  .form-item-files-file {
    display: none;
    margin-bottom: 25px;
    .contact-screenshot-desc {
      font-size: 0.85em;
      font-weight: normal;
      margin-top: 15px;
      margin-bottom: 10px;
      a {
        text-decoration: underline;
      }
    }
    .filesizewarn {
      display: none;
      margin-top: 5px;
    }
    .description {
      margin-top: 10px;
    }
  }
}
