body.front{
  #sidebar{
    .block-title{
      border-top: 4px solid #000;
      padding-top: 5px;
    }
  }
}

.date{
  float: right;
  font-family: $adelle-regular;
  color: $dark-gray;
  font-size: 13px;
}



//Latest Headlines
.latest-headlines{
  .views-row{
    line-height: 24px;
    font-size: 14px;
    position: relative;
    padding-left: 15px;
    &:before{
      content: '';
      height: 6px;
      width: 6px;
      background-color: $blue;
      position: absolute;
      top: 7px;
      left: 0;
    }
  }
  a{
    color: #000;
    height: 100%;
    display: block;
    &:hover{
      color: $mint;
    }
  }
}

//Center Column
#skinny {
  .columns{
    text-align: center;
  }
  .columns > .view-content > .views-row{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: dashed 1px #000;
    &:last-child{
      border-bottom: none;
    }
  }
  #block-views-homepage-columns-block{
    .block-title{
      font-size: 12px;
      color: #fff;
      background-color: #0080a3;
      border-bottom: 20px;
      -webkit-border-radius: 0px 0px 37px 37px;
      border-radius: 0px 0px 37px 37px;
      width: 74px;
      height: 37px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
      behavior: $pie-behavior;
    }
    .line{
      border-bottom: 1px solid $blue;
      margin: 0 13px;

    }
  }
}
