// Homepage
body.front{
  #sidebar{
    .block-title{
      border-top: 4px solid #000;
      padding-top: 5px;
    }
  }
}

.date{
  float: right;
}


//Latest Headlines
.latest-headlines{
  .views-row{
    line-height: 24px;
    font-size: 14px;
    position: relative;
    padding-left: 15px;
    &:before{
      content: '';
      height: 6px;
      width: 6px;
      background-color: $blue;
      position: absolute;
      top: 7px;
      left: 0;
    }
  }
  a{
    color: #000;
    &:hover{
      color: $mint;
    }
  }
}
