/**
 * @file
 * Positioning for a fixed-width, desktop-centric layout.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
// $zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;
html {}
body {
  width: 100%;
  margin: 0;
  border-top: 5px solid $light-mint;
  border-bottom: 5px solid $light-mint;
  position: relative;
  &.snapjs-left{
    overflow: hidden;
    border-bottom: none;
    position: static;
    #page-wrap{
      position: absolute;
      overflow: auto;
      top:0;
      left:0;
      right:0;
      bottom:0;
      width: auto;
    }
  }
  &.toolbar-drawer.page-entity-iframe {
      padding-top: 0;
  }
  &.page-entity-iframe {
    border: none;
    padding-top: 0;
  }

}
#page-wrap{
  position: relative;
  background-color: white;
  height: auto;
  overflow: hidden;
  @include breakpoint($breakpoint-tablet) {
    background-color: transparent;
  }
}
.header-wrapper,
.preface-wrapper,
.main-wrapper,
.suffix-wrapper,
.footer-wrapper {
  width: auto;
  height: auto;
  padding: 0;
}
.header-wrapper, .suffix-wrapper, .preface-wrapper{
  padding: 0 10px;
}
.header-wrapper {
  padding-top: 1em;
  border-top: 5px solid $light-mint;
  @include breakpoint($breakpoint-tablet) {
    border-top: none;
  }

  .snapjs-left & {
    background-color: white;
    border-top: 5px solid #01bf9e;
  }
}
.preface-wrapper {
  min-height: 25px;
  margin-top: 53px;
  @include breakpoint($breakpoint-tablet) {
    margin-top: 0;
  }
  .page-node.node-type-openpublish-photo-gallery & {
    margin-top: 25px;
  }
}
.footer-wrapper {
  padding-bottom: 1em;
}
#header,
#preface,
#main,
#suffix,
#footer {
  @include zen-grid-container();
  max-width: $page-width;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 2;
}
#header{
  z-index: 3;
}
#preface {
  min-height: 1em; // TODO figure out a better way to do this
}
#main {
  background-color: white;
  #primary { // mobile first and pages with no sidebar
      @include zen-grid-item(12, 1);
  }
  &.with-sidebar { // most pages
    #primary {
      @include breakpoint($breakpoint-tablet) {
        @include zen-grid-item(7, 1);
      }
      @include breakpoint($breakpoint-desktop) {
        @include zen-grid-item(8, 1);
      }
      body.page-node.node-type-feature-article & {
        @include zen-grid-item(12,1);
      }
    }
  }
  &.with-skinny { // this should never happen
    #primary{
      @include breakpoint($breakpoint-desktop){
        @include zen-grid-item(10, 1);
      }
    }
  }
  &.with-sidebar.with-skinny { // homepage
    #primary {
        @include breakpoint($breakpoint-desktop){
          @include zen-grid-item(6, 1);
          @include zen-clear(none);
          //removed fluidity from Desktop to tablet
          -moz-box-sizing: content-box;
          -webkit-box-sizing: content-box;
          -ms-box-sizing: content-box;
          box-sizing: content-box;
          padding-right: 8px;
      }
    }
  }
  #sidebar {
    @include zen-grid-item(12, 1); // mobile-first
    @include zen-clear();
    @include breakpoint($breakpoint-tablet) {
      @include zen-grid-item(5, 8);
      @include zen-clear(none); // cancel clear
    }
    @include breakpoint($breakpoint-desktop) {
      //removed fluidity from Desktop to tablet
      width: 300px;
      float: right;
      padding-right: 0px;
      margin: 0;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      -ms-box-sizing: content-box;
      box-sizing: content-box;
    }
    p {
        margin-bottom: .5em;
    }
  }

  // the default style establishes mobile first parameters
  // and covers the unusual case where #skinny is by itself
  #skinny {
    @include zen-grid-item(12, 1);
    @include zen-clear();
    @include breakpoint($breakpoint-tablet){
      @include zen-grid-item(5, 8);
    }
    @include breakpoint($breakpoint-desktop){
      @include zen-grid-item(2, 11);
      @include zen-clear(none);
    }
  }
  &.with-sidebar {
    #skinny{
      @include breakpoint($breakpoint-tablet){
        @include zen-grid-item(12, 1);
      }
      @include breakpoint($breakpoint-desktop){
        @include zen-grid-item(2, 7);
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

// Hide/disable #tp_ad_takeover anchors for page skins on touch devices
#tp_ad_takeover {
  display: none;
  visibility: hidden;
  @include breakpoint($breakpoint-desktop) {
    display: block;
    visibility: visible;
  }
}

.close-ad {
    display: none;
    visibility: hidden;
}

// Mobile ad position top
#block-boxes-ga-mobile-320x50-relative {
  @include breakpoint($breakpoint-mobile) {  
    display: block;
    visibility: visible;
    margin: 10px 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    
    #boxes-box-ga_mobile_320x50_relative {
      position: relative;
      width: 320px;
      margin: 10px auto;
      overflow-x: visible;
    }
  }
    @include breakpoint($breakpoint-tablet) {
    display: none;
    visibility: hidden;
  }
  &.hide {
    display: none;
    visibility: hidden; 
  }
}


// Mobile ad position bottom sticky
#block-boxes-ga-mobile-320x50 {
  @include breakpoint($breakpoint-mobile) {  
    display: block;
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    z-index: 3;
    #boxes-box-ga_mobile_320x50 {
      position: relative;
      width: 320px;
      margin: 0 auto;
      overflow-x: visible;
    }
    .close-mobile-ad {
      display: block;
      visibility: visible;
      position: absolute;
      right: -4px;
      top: -24px;
      background-color: transparent;
      text-decoration: none;
      z-index: 4;
      padding: 12px 0 12px 12px;
      width: 36px;
      height: 36px;
      text-align: center;
      span {
          display: block;
          content: '\2421';
          background-color: black;
          color: white;
          font-size: 12px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          font-family: SSGizmo;
          padding: 4px;
          width: 18px;
          height: 18px;
      }
    }
  }
    @include breakpoint($breakpoint-tablet) {
    display: none;
    visibility: hidden;
  }
  &.hide {
    display: none;
    visibility: hidden; 
  }
}
body.page-overlay-ad{
  margin-top: 35px;
  border-top: none;
  border-bottom: none;
}