.node-openpublish-article.view-mode-full {
  .article-header {
    .node-title {
      // these values are extremely stupid.
      font-family: $ashbury-regular;
      font-weight: normal;
      font-size: 2.428571429em;
      line-height: 1.088235294;
      margin-bottom: .25em;
    }
    .field-name-field-article-subhead {
      font-family: $ashbury-light;
      font-size: 1.142857143em;
      margin-bottom: 1em;
    }
  }
  @include breakpoint($breakpoint-tablet) {
    #article-social {
      float: left;
      width: 40px;
      .inner {
        padding: 7px 1px;
      }
    }
    #article-content {
      margin-left: 55px;
    }
  }
  #article-social {
    .tp-social-headline {
      font-family: $tradegothic-regular;
      font-size: 14px;
      line-height: 1;
      color: $dark-gray;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: .5em;
    }
    .comments-link {
      margin: 0;
    }
    .tp-social-link,
    .comments-link a,
    .trigger a {
      display: block;
      overflow: hidden;
      width: 0;
      height: 0;
      padding: 12px;
      text-indent: 24px;
      margin: 0 0 7px 5px;

      background: red;
      border-radius: 12px;
    }
  } // #article-social
  #article-social-more {
    position: relative;
    overflow: hidden;
    &.focusin {
      overflow: visible;
    }
    #article-more-shares {
      position: absolute;
      bottom: 100%;
      background: #fff;
      border-radius: 5px;
      border: 5px solid rgba(0,0,0,.5);
      -webkit-background-clip: padding-box; /* for Safari */
        background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
        min-width: 250px;
        display: inline-block;
    }
  }
  .article-main-image {
    figcaption p {
      margin-top: 0;
      font-family: $ashbury-light-italic;
    }
  }
  .author-bio {
    position: relative;
    padding: 10px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 48px;
      width: 48px;
      border-top: 1px solid $gray-line;
      border-left: 1px solid $gray-line;
    }
    .dateline {
    }
    .byline {
      display: inline;
    }
  }
  .field-name-body {
    font-family: $adelle-light;
    font-weight: normal;
    line-height: 1.5;
    // TODO unfuck fonts theme-wide
    strong, b { font-family: $adelle-bold; font-weight: normal; }
    em, i { font-family: $adelle-italic; font-weight: normal; }
    strong em, em strong, b em, em b, strong i, i strong, b i, i b { font-family: $adelle-italic; font-weight: bold; }

    // base link styles
    a { color: $mint; text-decoration: none; }
    a:hover, a:active { color: $light-mint; text-decoration: underline; }

    // drop cap
    &:first-letter {
      float: left;
      font-size: 4em;
      line-height: 1;
      margin-right: .25em;
      margin-bottom: -.25em;
      // TODO unfuck fonts
      font-family: $ashbury-bold;
      font-weight: normal;
    }

    .node.view-mode-inline-content {
      text-align: center;

      @include breakpoint($breakpoint-tablet) {
	width: 25%;
	float: right;
	margin: .25em .5em;
      }

      > header {
	h2 {
	  font-size: 14px;
	  line-height: 1.285714286;
	  a { color: black; }
	}
      }

      border-top: 1px solid $blue;

      &:before {
	content: 'related';
	display: block;
	font-size: 12px;
	line-height: 1;
	font-family: $brown-bold;
	font-weight: normal;
	height: 12px;
	padding: 9px 0 15px;
	width: 75px;
	color: white;
	background-color: $light-blue;
	margin: 0 auto 14px;
	@include border-corner-radius(bottom, left, 36px);
	@include border-corner-radius(bottom, right, 36px);
      }

      @include dashed-separator-after();
      &:after { // override the mixin
	margin: 1em auto;
	visibility: visible; // override clearfix settings on node.article
      }

    }
  }
}
