.takepart-gallery-cover-slide,
.takepart-gallery-content {
  width: 100%;
  max-width: 960px; // mimic grid items padding
  margin: 0 auto 1.5em;
  &.hidden {
    display: none;
  }
}

.gallery-description {
  &.hidden {
    display: none;
  }
}

.gallery-cover-slide {
  position: relative;
  max-width: 620px;
  margin: 0 auto 4em; // 21

  img {
    vertical-align: bottom;
  }

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 1.5em;
  }
}

// cover slide for this gallery
// and for the "next gallery" slide
.gallery-cover-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black none;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: .571428571em 0; // 8px / 14px
  @include box-sizing(border-box);

  .gallery-cover-branding{
    font: normal .928571429em/2 $adelle-regular; // 13px / 14px
    text-transform: uppercase;
    margin-left: 1.230769231em; // 16px / 13px
  }
  .gallery-cover-title {
    font: normal 1.5em/1 $ashbury-regular;
    margin-left: .761904762em;
    @include breakpoint($breakpoint-tablet) {
      float: left;
      width: 415px;
      font-size: 2.428571429em;
      line-height: 1.088235294;
      margin-left: .470588235em;
    }
  }
  .gallery-cover-enter {
    background-color: $light-mint;
    padding: .5em 1em; // 16px
    font: normal 1.142857143em/1.125 $adelle-regular;
    text-transform: lowercase;
    text-align: center;
    &:after {
      content: '\0020\23e9';
      display: inline;
      font-family: "SSGizmo";
    }
    position: absolute;
    @include box-sizing(border-box);
    top: 100%;
    width: 100%;
    @include breakpoint($breakpoint-tablet) {
      position: static;
      width: auto;
      float: right;
    }

    .gallery-slide-next-gallery & {
      position: absolute;
      right: 0;
      top: 6px;
      background-color: transparent;
      font: normal .928571429em/1.076923077 $ashbury-light;

      &:after {
        display: none;
      }
      &:before {
        content: '\23e9\0020';
        display: inline;
        font-family: "SSGizmo";
      }

      @include breakpoint($breakpoint-tablet) {
        top: auto;
        bottom: 6px;
        font-size: 1em;
        line-height: 1;
      }
    }
  }
} // .gallery-cover-content

.social {
  float: right;

  .headline {
    font: normal 1em/1 $tradegothic-regular;
    text-transform: uppercase;
    color: $dark-gray;
  }
}

// slides
.gallery-content {
  @include breakpoint($breakpoint-desktop) {
    margin-left: 51px;
  }
  .gallery-header {
    color: black;
    @include clearfix;
  }
  .gallery-headline {
    // desktop values;
    font: normal 2.428571429em/1.088235294 $ashbury-regular;
    margin-bottom: .235294118em;
  }
  .gallery-subhead {
    font: normal 1.142857143em/1.125 $ashbury-light;
    margin-bottom: .5em;
  }
  .author {
    @include breakpoint($breakpoint-desktop) {
      float: left;
    }
    .publish-date {
      font-family: $adelle-regular;
      padding-right: .75em;
      border-right: 1px solid black;
      margin-right: .5em;
    }
  }
  .social {
    float: none;
    max-width: 620px;
    margin: 0 auto;
    text-align: right;
    @include breakpoint($breakpoint-desktop) {
      float: right;
      margin-right: 289px;
    }
  }
  .swipe {
    // visibility: hidden;
    overflow: hidden;
    position: relative;
    max-width: 620px;
    margin: 0 auto 1.5em;
    @include breakpoint($breakpoint-desktop) {
      max-width: 100%;
    }
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .gallery-slide {
    width: 100%;
    float: left;
    position: relative;

    .slide-image-wrapper {
      background-color: black;

      img {
        display: block;
        margin: 0 auto;
      }
    }
    .slide-caption {
      @include box-sizing(border-box);
      padding: 1em;
      height: 150px;
      overflow-y: scroll;
      border: 1px solid #e5e5e5;

      .slide-caption-headline {
        font: normal 1.5em/1.142857143 $ashbury-bold;
        margin-bottom: .667em;
      }

      .slide-caption-content {
        font: normal 1em/1.5 $ashbury-light;
        b, strong { font-weight: normal; font-family: $ashbury-bold; }
        i, em { font-weight: normal; font-family: $ashbury-light-italic; }
        p {
          margin: 1em 0;
        }
        h5 {
          line-height: 1.5;
        }
        a {
          color: $mint;
        }
      }

    }
    @include breakpoint($breakpoint-desktop) {
      height: 413px;
      .slide-image-wrapper {
        float: left;
        width: 620px;
        height: 413px;
      }
      .slide-caption {
        margin-left: 620px;
        height: 413px;
        overflow-y: scroll;
      }
    }
  }
  .gallery-slide-next-gallery {
    .slide-image-wrapper {
      position: relative;
    }
  }
  .gallery-nav {
    width: 100%;
    text-align: center;
    @include breakpoint($breakpoint-desktop) {
      max-width: 620px;
    }

    .pagination {
      font: normal .928571429em/2.076923077 $adelle-regular;
      display: inline-block;
      vertical-align: top;
    }
    .gallery-nav-link {
      display: inline-block;
      vertical-align: top;

      font-size: 2.5em; // 35px / 14px
      line-height: 1;
      overflow: hidden;

      &.hidden {
        cursor: default;
        color: white;
        &.hover,
        &:hover {
          color: white;
        }
      }

      &.hover,
      &:hover {
        color: $mint;
        text-decoration: none;
      }
      &:after {
        display: inline;
        font-family: 'SSGizmo';
        content: '\25C5';
      }
      &.next:after {
        content: '\25BB';
      }
    }
  }
}

// slideshow

//supplementary content
.node-openpublish-photo-gallery {

  @include breakpoint($breakpoint-desktop) {
    .node-type-openpublish-photo-gallery & {
      margin-left: 51px;      
    }
  }

  font: normal 1em/1.5 $adelle-light;

  b, strong { font-weight: normal; font-family: $adelle-regular; }
  i, em { font-weight: normal; font-family: $adelle-light-italic; }
  b i, b em, strong i, strong em, i b, i strong, em b, em strong {
    font-weight: normal; font-family: $adelle-italic;
  }

  .enter-link {
    font: normal 1em/1.5 $ashbury-regular;
    color: $mint;
    &:before {
      content: '\23e9\0020';
      display: inline;
      font-family: "SSGizmo";
    }
    a {
      color: $mint;
    }
  }

  .takepart-take-action-widget {
    margin: 1.5em auto 2em;
  }

  h2.block-title, h3 {
    font-family: $brown-bold;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2;
    margin: .667em 0; // account for different margins in the comp
    text-transform: lowercase;

    &.top-border {
      @include header-top-border;
    }
    span {
      font-family: $adelle-light;
      font-weight: normal;
      font-size: 14px;
    }
  }

  .field-name-field-related-stories {
    margin-bottom: 2em;
    .field-item {
      @include blue-square-bullets;
    }
  }

  .topic-links {
    margin-bottom: 2em;
    li {
      padding: 0;
      &:after {
        content: ',\0020';
        display: inline;
      }
      &:last-child:after {
        content: '';
      }
    }
    a {
      color: $mint;
      text-decoration: none;
      text-transform: capitalize;
      &:hover,
      &:active {
        color: $light-mint;
        text-decoration: underline;
      }
    }
  } // .topic-links

  .on-our-radar {
    margin-bottom: 2em;
    li {
      @include blue-square-bullets();
    }
  }


}