body.page-taxonomy-term.vocabulary-topic{
  .content{
    @include breakpoint($breakpoint-mobile){
      ul.promo-content{
        $font-family: $primary-serif-font;
        font-size: 16px;
        li{
          margin-bottom: 20px;
        }
      }
    }
    @include breakpoint($breakpoint-tablet){
      ul.promo-content{
        li {
          float: left;
          width: 33%;
          padding-right: 20px;
          padding-bottom: 20px;
          -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
          -moz-box-sizing: border-box;    /* Firefox, other Gecko */
          box-sizing: border-box;
          .promo-image{
            padding-bottom: 10px;
            height: auto;
            overflow: hidden;
            height: 160px;
            img{
              max-width: 190px;
            }
          }
          .promo-headline{
            $font-family: $primary-serif-font;
            font-size: 16px;
            line-height: 20px;
          }
        }
        li:first-child{
          float: left;
          width: 100%;
          padding: 0;
          padding-bottom: 10px;
          .promo-image{
            padding-bottom: 0;
            float: left;
            padding-right: 20px;
            height: auto;
            img{
              max-width: 300px;
            }
          }
          .promo-headline{
            float: left;
            font-family: $primary-serif-font;
            font-size: 28px;
            line-height: 32px;
            display: block;
            width: 300px;
          }
        }
        li:nth-child(2){
          clear: left;
          img{
            float: left;
          }
        }
        li:nth-child(3){
          img{
            margin: 0 auto;
          }
        }
        li:nth-child(4){
          img{
            float: right;
          }
        }
      }
    }
    @include breakpoint($breakpoint-desktop){

    }
  }
}