.comments {
	display: table;
	margin: 0 auto;
	width: 100%;
	@include breakpoint($breakpoint-phablet) {
		width: auto;
	}
	a.comments-count {
		display: block;
		clear: both;
		text-align: center;
		font-family: $AdelleSans;
		font-size: 16px;
		border-radius: 2px;
		background: $light-mint;
		color: #fff;
		font-weight: bold;
		padding: 8px 14px;
		cursor: pointer;
		@include breakpoint($breakpoint-phablet) {
			display: none;
		}
	}
	.fb_comments {
		@include breakpoint($breakpoint-phablet) {
			display: block;
		}
		display: none;
	}
}
