#header{
  display: block;
  width: 100%;
  height: 40px;
  .toggle-menu{
    display: block;
    width: 20px;
    height: 3px;
    border-top: 9px double $light-mint;
    border-bottom: 3px solid $light-mint;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
  }
  .logo{
    height: auto;
    overflow: hidden;
    display: block;
    width: 121px;
    float: left;
    img{
      width: 100%;
    }
  }
  .search{
    display: none;
    &.active{
      font-size: .928571429em;
      clear: both;
      position: relative;
      .form-item-keys-2{
        display: inline-block;
        background-color: white;
        float: left;
        height: auto;
        overflow: hidden;
        width: 100%;
        vertical-align: bottom;
        line-height: 23px;
        font-weight: normal;
        margin: 0;
        padding: 10px;
        @include box-shadow(0px 0px 5px 1px rgba(0, 0, 0, .3));
        @include box-sizing(border-box);
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      [type=text]{
        float: left;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 0;
        width: 100%;
        color: #777;
        text-indent: 6px;
        font-size: 16px;
        line-height: 21px;
        background: #fff;
        &:focus{
          outline: none;
        }
      }
      @include breakpoint($breakpoint-tablet) {
        display: block;
        float: right;
        clear: right;
        margin-top: 25px;
        .form-item-keys-2{
          padding: 0;
          width: auto;
          background-color: transparent;
          -webkit-box-shadow: none;
          box-shadow: none;
          &:before{
            content: "Search";
            width: 45px;
            height: 20px;
            display: block;
            left: 0;
            bottom: 0;
            position: absolute;
            left: -45px;
          }
        }
        [type=text]{
          width: 140px;
          -webkit-appearance: none;

          height: 25px;
          font-size: inherit;
          line-height: normal;
          &::-webkit-input-placeholder {
            opacity: 0;
          }
          &:-moz-placeholder { /* Firefox 18- */
            opacity: 0;
          }
          &::-moz-placeholder {  /* Firefox 19+ */
            opacity: 0;
          }
          :-ms-input-placeholder {
            color: red;
          }
        }
      }
    }
  }
}