.series-navigation-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
  @include breakpoint($breakpoint-phablet){
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.series-navigation{
  .label{
    font-family: tradegothicbold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $mint;
  }
  a{
    color: $black;
    width: 100%;
    display: block;
    height: 100%;
  }
  h4{
    margin: 5px 0 15px 0;
  }
  .navigation{
    display: table;
  }
  .item{
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
    border-bottom: 1px solid $light-gray;
    padding: 0 10px;
  }
  .item-left{
    border-right: 1px solid $light-gray;
  }
  img.topic-box{
    margin: 0 auto;
  }
  /* pixel pushing */
  .i-double-arrow-left{
    margin-right: 3px;
  }
}