.tp_sponsor {
	text-align: center;
	padding: auto 0;
	font-family: $Brown;
	font-size: 14px;
	font-weight: bold;
	span {
		text-transform: uppercase;
	}
	width: 100%;
	img {
		display: inline-block;
		vertical-align: middle;
	}
}

.sponsor-disclosure .tp_sponsored_content_disclaimer p {
	background-color:$light-gray;
	padding: 10px 15px;
	font-family: $AdelleSans;
	font-size: 14px;
	font-style: italic;
}
