.tp-more-on-takepart {
  max-width: 640px;
  margin: 0 auto;
  clear: both;

  .mot-left, .mot-right{
    width: 70%;
    margin: 0 auto;
    clear: left;
    text-align: center;
    @include breakpoint($breakpoint-desktop) {
      width: 50%;
      float: left;
      clear: both;
      text-align: left;
    }
  }

  .tp-more__title {
    margin-bottom: 15px;
    // mimic styling of bootstrap ".row"
    @include breakpoint($breakpoint-phablet) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &.has-promoted-video .tp-more__title {
    margin-left: 0;
  }

  .tp-more__article {
    margin-bottom: 10px;
    padding: 0 5px;
    display: inline-block;
    @include breakpoint($breakpoint-desktop) {
      display: block;
      float: left;
    }
    > * {
      text-align: left;
    }
  }

  .thumbnail {
    position: relative;
    margin: 0;
    img {
	 z-index: 0;
	 position: relative;
	 top: 0;
	 left: 0;
	 max-width: 100%;
	 height: auto;
    }
    .icon {
	 z-index: 1;
	 bottom: 3px;
	 right: 3px;
	 position: absolute;
	 color: #fff;
	 line-height: 10px;
    }
  }
  a {
    color: $black;
  }
  a:hover {
    text-decoration: underline;
  }
  .tp-more__article-title {
    margin: 10px 0 0;
  }

  .promoted {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 12px;
    font-family: $TradeGothic;
    text-transform: upercase;
    background: $black none;
    padding: 3px;
    margin: 0;
    border-radius: 3px;
    display: inline-block;
  }

  .tp-more__video {

    .tp-more__video-title {
      margin-top: 5px;
      margin-bottom: 0;
    }

    .tp-more__video-title-link:hover {
      text-decoration: underline;
    }

    .tp-more__video-cta {
      margin: 10px 0 5px;
      color: $light-mint;
      font-size: 16px;
      &:after {
        content: '\0020\00BB';
        display: inline;
      }
    }

    .tp-more__video-cta-link {
      color: $light-mint;
      font-family: $TradeGothic;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }

    @include breakpoint($breakpoint-phablet) {
      padding-left: 0;
      padding-right: 0;
    }
    @include breakpoint($breakpoint-desktop) {
      float: left;
      padding-left: 15px;
      width: 50%;
      clear: none;
      .tp-more__video-title {
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }
} // #more-on-takepart

.tp-more-on-takepart-video .jwplayer{
  overflow: hidden;
}
.tp-ad-processed {
  position: static;
  padding-left: 15px * .5;
  padding-right: 0;
}