#more-on-takepart {
  max-width: 640px;
  margin: 0 auto;
  .item{
    margin-bottom: 10px;
  }
	.thumbnail {
		position: relative;
		margin: 0;
		img {
			z-index: 0;
			position: relative;
			top: 0;
			left: 0;
			max-width: 100%;
			height: auto;
		}
		.icon {
			z-index: 1;
			bottom: 3px;
			right: 3px;
			position: absolute;
			color: #fff;
			line-height: 10px;
		}
	}
	a {
		color: $black;
	}
	h2 {
		margin-bottom: 13px;
	}
	h4 {
		margin: 10px 0 0;
	}
}
