/**
 *	Mobile first scss
 */
.tp-ad-wrapper {
   @include breakpoint($breakpoint-phablet) {
     margin: 20px;
     &.ad-right {
       float: right;
       margin: 20px 0 20px 30px;
     }

     .tp-ad {
       &:after {
         clear: none;
       }
     }
   }
 }

.leaderboard {
  .desktop {
    display: none;

    //only show the leaderboard ad for bigger then 480
    @include breakpoint($breakpoint-phablet) {
      display: block;
    }
  }
}

.tp_ad_takeover {
  #page-wrapper, #footer-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    z-index: 2;
  }
}