/* 
    Document   : signature-embedded
    Created on : Aug 2, 2012, 10:44:43 AM
    Author     : marcgoldstein
    Description:
        Styling for embedded petitions.
*/
div.horizontal-tabs {
    border: 0 none;
}

div.horizontal-tabs-panes {
    border:0;
    padding:1em 0;
    margin-top:-3px;
}

#content .horizontal-tabs ul.horizontal-tabs-list {
    background-color: transparent;
    border: 0 none;
    list-style: none;
    margin:0;
}

#content .horizontal-tabs ul.horizontal-tabs-list li {
    margin:0 4px 0 0;
    font-size: 12px;
}

#content .horizontal-tabs ul.horizontal-tabs-list li a {
    font-weight:300;
    text-transform: uppercase;
    color: #000;
    outline: none;
}

#content .horizontal-tabs ul.horizontal-tabs-list li a:hover {
    background-color: #dee8ea;
}

#content .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button {
    border: 1px solid #dfe6ea;
    background-color: #f3f7f8;
    margin: 0 5px 0 0;
    padding: 0;
    outline: none;
}

#content .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a {
    padding-bottom: 6px;
    padding-top: 9px;
}

#content .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.first {

}

#content .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.selected {
    background-color: #dfe6ea;
}
.embedaction-content .node-petition-action label {
    float: left;
    width: 100px;
}
.embedaction-content .node-petition-action input.text-full {
    
}