/*
 * Variables File
 * Global variables should be defined in the base theme.  Variables specific to 'Fresh' should be added here
 */



/* Fonts */
$AdelleSans: "AdelleSans";
$Ashbury: "Ashbury";
$Brown: "Brown";

/* Colors */
$blue: #0080A5;
$light-mint: #00C09D;
$mint: #00A084;
$black: #000;
$gray: #7F7F7F;
$light-gray: #C7C7C7;
