/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/sprites";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "zen";

/* Helpers */
@import "base/helpers/variables";
@import "base/helpers/mixins";
@import "base/normalize/normalize";
@import "base/icons/icons";

/* Elements */
@import "elements/typography";
@import "elements/normalize";
@import "elements/misc";
// @import "elements/forms";

/* Page */
@import "page/layout";
@import "page/homepage";
@import "page/openpublish_article";
@import "page/openpublish_photo_gallery";
@import "page/topic_taxonomy";
@import "page/campaigns";
@import "page/profile";
@import "page/series_taxonomy";
@import "page/search";

/* Modules */
@import "modules/bxslider";
@import "modules/megamenu";
@import "modules/interstitials";
@import "modules/footer";
@import "modules/_tp4_support_footer";
@import "modules/header";
@import "modules/slimnav";
@import "modules/sidebar";
@import "modules/topic_features";
@import "modules/left_drawer";
@import "modules/poll";
@import "modules/flashcard";
@import "modules/tpl-block";
@import "modules/featured_campaigns";
@import "modules/video_playlist";
@import "modules/social-menu";
@import "modules/newsletter_campaign";
