/*
 * Custom Styling for Campaigns
 */

body.campaign-display{
  $primary-color: #fff;
  $secondary-color: #000;
  $bright-mint: #01bf9e;
  //Card
  .card.dark-background{
    h1, h2, h3, h4, h5, h6{
      color: $primary-color;
    }
    p{
      color: $primary-color;
    }
    a{
      color: $bright-mint;
    }
    .secondary-button a{
      color: $primary-color;
      &:hover{
        color: $primary-color;
      }
    }
    .primary-button a{
      color: $primary-color;
    }
    .media-caption{
      color: $primary-color;
    }
    ul, ol{
      li{
        color: $primary-color;
      }
    }
  }
  //Tray
  .tray.dark-background{
    .arrow:hover{
      color: $bright-mint;
    }
    .slider-pagination {
      a{
        background-color: $primary-color;
      }
      a.active{
        background-color: $bright-mint;
      }
    }
    .tray-header .card-title{
      color: $primary-color;
    }
  }
  //Header
  .branding-header.dark-background {
    .share-headline{
      color: $primary-color;
    }
    .menu{
      li{
        &.active > a {
          color: $bright-mint; //switch red with $bright-mint.
        }
        &.parent-item:not(.anchored) > a.active{
          color: $bright-mint;
        }


        > a{
          color: $primary-color;
        }
        &.sfHover > a, &:hover > a{
          color: $secondary-color;
          background-color: $primary-color;
        }
        &.sfHover > a, &:hover > a.active{
          color: $secondary-color;
        }
      }
      li.parent-item:not(.anchored):hover a.active{
        color: $secondary-color;
      }
    }
  }
  //Misc
  .swipe-wrap.has-title{
    .card.dark-background .card-inner{
      border-top: none;
    }
  }
  //Twitter Card Overrides
  .node-campaign-card-twitter{
    .card.dark-background h3.tweet-username a{
      color: $primary-color;
    }
  }
  //E-mail
  .card.dark-background .takepart-newsletter-promo-text{
    color: $primary-color;
  }

}
