// Typography


body{
  font: 100 14px/18px $primary-serif-font;
}

%hN{
  margin-top: 0px;
  line-height: 1;
  text-rendering: optimizeLegibility;
}
h1{
  font-family: $primary-serif-font;
  font-size: 28px;
  line-height: 32px;
  @extend %hN;
}
h2{
  font-family: $primary-serif-font;
  font-weight: 100;
  @extend %hN;
}
h3{
  @extend %hN;
}
h4{
  @extend %hN;
}
h5{
  @extend %hN;
}

.author{
  font-family: $primary-serif-font;
  font-style: italic;
  font-weight: 100;
}
.section-header{
  font-family: $main-brand-font;
  line-height: 27px;
  font-weight: bold;
  font-size: 20px;
}

.small{

}
.column-title{
  font-family: $secondary-sans-font;
  font-size: 18px;
  line-height: 20px;
  color: $blue;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
  &:hover{
    text-decoration: underline;
  }
  &.more{
    font-size: 14px;
    font-weight: 100;
    font-family: $primary-serif-font;
    @include blue-arrow-bullets;
    display: inline-block;
  }
}

input{

}
.footer-title{
  font-family: $main-brand-font;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}



