/**
 * Header (fat and slim)
 */

@import "social/*.png";
@include all-social-sprites;
@import "logos/*.png";
@include all-logos-sprites;

.follow-us{
  ul{
    clear: both;
    li{
      a{
        height: social-sprite-height(facebook-black);
        width: social-sprite-width(facebook-black);
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        float: left;
        margin-left: 6px;
      }
      &:first-child a{
        margin-left: 0;
      }
    }
  }
}
