@import "compass/css3/inline-block";
@import "compass/css3/pie";

$primary-color: #ea5f11;
$page-margins: 20px;
$primary-font: Helvetica,Arial,sans-serif;

$white: white;
$light-white: #ccc;

/* # General
================================================== */
.page-wrap {
    padding: 10px;
    -webkit-font-smoothing: antialiased;

    .main {
      background: image-url('blackboard.jpg');
    }

}

.right { float: right; }
.left { float: left; }
.text-right { text-align: right; }


/* # Header
================================================== */
.header {
  font-family: $primary-font;
  padding: $page-margins;
  position: relative;
  min-height: 422px;
  color: $white;
  background: image-url('hero-background.jpg');

  h1 {
    color: white;
    background-color: $primary-color;
    font-size: 100px;
    padding: .1em;
    width: 400px;
    margin-left: -$page-margins;
  }

  .hero {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
    z-index: 10;
  }

  .slug {
    font-size: 27px;
    line-height: 150%;
  }

  .credit {
    font-size: 18px;
  }

  .date {
    font-size: 32px;
    line-height: 80%;
  }

  .burst {
    font: bold 33px $primary-font;
  }

  .fine {
    font-size: 9px;
    color: $light-white;
    position: absolute;
    margin-bottom: 60px;
    bottom: 0;
    z-index: 10;
    width: 940px;
    .right { 
      color: white;
    }
  }

}


/* menu */

/* # Content
================================================== */
.content {
}

.content .body p {
}

/* # Content Signup Form
================================================== */
