@import "compass/css3/inline-block";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/pie";
@import "typeface";

$page-width: 1000px;
$page-margins: 20px;
$content-width: $page-width - $page-margins;

$primary-color: #ea5f11;
$primary-grey: #666;

$primary-font: Helvetica,Arial,sans-serif;
$secondary-font: 'GlyphaLTPro-Black', serif;

$primary-white: white;
$light-white: #ccc;
$body-copy-black: #1a1a1a;

/* # General
================================================== */
.page-wrap {
    padding: 10px;
    -webkit-font-smoothing: antialiased;

    .main {
      background: image-url('blackboard.jpg');
    }

    .page-header,
    .content-header {
      font: normal 100px $secondary-font;
    }

}

.right { float: right; }
.left { float: left; }
.text-right { text-align: right; }


/* # Header
================================================== */
.header {
  font-family: $primary-font;
  padding: $page-margins;
  position: relative;
  min-height: 422px;
  color: $primary-white;
  background: image-url('hero-background.jpg');
  clear: both;
  zoom: 1;

  .page-header {
    color: white;
    background-color: $primary-color;
    padding: .1em;
    width: 400px;
    margin-left: -$page-margins;
    font-family: $secondary-font;
  }

  .hero {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
    z-index: 10;
  }

  .slug {
    display: block;
    font-size: 27px;
    line-height: 150%;
  }

  .credit {
    display: block;
    font-size: 18px;
  }

  .date {
    display: block;
    font-size: 32px;
    line-height: 80%;
  }

  .burst {
    display: block;
    font: bold 33px $primary-font;
  }

  .fine {
    font-size: 9px;
    color: $light-white;
    position: absolute;
    margin-bottom: 60px;
    bottom: 0;
    z-index: 10;
    width: 940px;
    .right { 
      color: white;
    }
  }


  /* menu */
  .menu-wrapper {
    font: bold 19px/100% $secondary-font;
    padding: 5px;
    background: image-url('orange_felt.png');
    @include border-radius(5px);
    position: absolute;
    bottom: 0;
    left: $page-margins;
    right: $page-margins;
    .menu {
      border: 1px dashed #ECBE84;
      list-style: none;
      text-align: center;
      overflow: visible;
      height: 39px;
      .item {
        margin: 0;
        padding: 0;
        overflow: visible;
        @include inline-block;
        a {
          @include inline-block;
          padding: 8px 0;
          width: 127px;
          text-align: center;
          color: $primary-white;
          text-shadow: 0 -1px 2px #A84300;
          @include transition-property(color);
          @include transition-duration(0.15s);
          @include transition-timing-function(ease-in-out);
          &:hover,
          &:focus {
            text-decoration: none;
            color: black;
          }
        }
        &.active {
          background: image-url('active_menu_bg.png') no-repeat -17px 0;
          margin-top: -3px;
          height: 43px;
          a {
              text-shadow: none;
              color: black;
              margin-top: 3px;
            }
        }
      }
    }
  }
}


/* # Content
================================================== */
p {
  color: $body-copy-black;
}

#page {
  padding: $page-margins;
  background: none;
  .content-header {
    background: image-url('header1_bg.png') no-repeat;
    color: black;
    font-size: 26px;
    height: 50px;
    margin-bottom: 0px;
    padding: 5px 10px;

    span {
      @include rotate(-2deg);
      display: block;
    }
  }
  .content {
    overflow: visible;
    position: relative;
  }
  .video_container {
    width: 600px;
    height: 500px;
    background: black;
    border: 5px solid white;
    position: relative;
    z-index: 10;
    vertical-align: top;
    @include inline-block;
    @include box-shadow(0 0 10px black);
  }
}

.page-body-content {
  background: $primary-white;
  padding: $page-margins;
  img {
    float: right;
    margin-left: $page-margins;
    margin-right: -33px;
  }
}

.page-wordlet-teach-home .social-menu {
  width: 290px;
  background: image-url('paper_right.png') no-repeat right 10px;
  padding: 0px 30px 0 300px;
  top: -50px;
  margin-left: -300px;
  margin-right: -$page-margins;
  position: relative;
  z-index: 5;
  @include inline-block;
  vertical-align: top;
  float: right;

  .item {
    background-repeat: no-repeat;
    padding-left: 90px;

    &.text { background-image: image-url('social-phone.png'); }
    &.connected { background-image: image-url('social-envelopes.png'); }
    &.discussion { background-image: image-url('social-chat.png'); }
  }


  h1 { display: none; }
  .sect-headline {
    font: normal 24px $secondary-font;
    color: $primary-color;
    strong {
      font-weight: normal;
      color: black;
    }
  }
  .link_on_white {
    margin: 0 0 80px -40px;
    width: 350px;
    a {
      font: 22px $secondary-font;
      color: $primary-white;
    }
  }
}

.content .body p {
}

// Video pages, ie Students, Parents, TEachers
.teach-video-page {
  // TODO: Paper background
  background: #ecedf6; 
  padding: 20px;
  @include box-shadow(inset 0 0 40px rgba(0,0,0,0.2));

  // "learn" headline with label behind it
  .content-preheader,
  .col-headline {
    font-family: $secondary-font;
    margin: -0.5em 0 1em;
    padding: 5px 0 0 15px;
    font-size: 40px;
    line-height: 1.375;
    text-transform: uppercase;
    background: transparent url(../img/video-page-label-background.png) no-repeat scroll top left;
    @include rotate(-4deg);
  }
  .content-headline {
    font-family: $secondary-font;
    font-size: 42px;
    line-height: 1;
    text-transform: uppercase;
    max-width: 740px;
    @media (min-width: 481px) {
      margin-left: 20px;
    }
  }
  .content-subheadline {
    font-weight: normal;
    color: #666565;
    font-size: 16px;
    line-height: 1;
    @media (min-width: 481px) {
      margin-left: 20px;
    }
  }
  .main-video-wrapper {
    width: 859px;
    padding: 4px;
    margin: 2em auto;
    background-color: white;
    @include box-shadow(0 0 6px black);
  }
  .content-column {
    @media (min-width: 481px) {
      width: 44.9%;
      margin-right: 5%;
      float: left;
      &.column-odd {
        clear: left;
      }
    }
    .col-headline {
      margin: 0 0 .5em;
    }
  }
  .social-menu {
    clear: both;
  }
}

/* # Content Signup Form
================================================== */
