/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: #a17757 url('/profiles/takepart/themes/takepart3/campaigns/patt/images/bg-wood.jpg');
	color: #333;
	font-size: 12px;
	font-family: Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
}
body.page-wordlet-patt-game{
	min-width: 1000px;
}

.multipage-campaign #site-header {
	height: 36px;
	margin-bottom: 9px;
}

#site-header-inner {
	background: #f1f3f4;
	height: 36px;
}

#site-footer {
	background: #f1f3f4;
	display: inline-block; *display: inline; zoom: 1;
	width: 100%;
}

#site-header #site-logo {
	margin-bottom: 0;
}

#site-footer #site-about {
	padding-right: 1em;
}

.page-wrap {
	width:1000px;
	margin:0 auto;
}

.ribbon {
    width:1000px;
	height:41px;
	margin:0 auto;
}

.ribbon img {
	width:1000px;
	position:relative;
	left:50%;
	margin-left:-500px;
}

.table {
	width:1000px;
	/*background:url(/profiles/takepart/themes/takepart3/campaigns/patt/images/table-bg.png) no-repeat;*/
	background: #000;
	background: rgba(0,0,0,.6);
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(25%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.65) 100%); /* W3C */

	position:relative;
	/*top:25px;*/
}

.table .logo {margin-top:15px;}

.table .tagline {
	position: absolute;
	top: 45px;
	left: 540px;
}



.table .hide {display:none;}

/*.table .tag {opacity:0;}*/

.table .item a {display:block;}

.footer {
	position: relative;
	top: 25px;
}


.table.int {
	width:1000px;
	position:relative;
	font-family: sans-serif;
	padding-bottom: 20px;
}

.table.int .header {
	background:url('/profiles/takepart/themes/takepart3/campaigns/patt/images/interior-header-bg.png') no-repeat center top;
	height:132px;
	position:relative;
	top:13px;
	z-index: 0;
}

.table.int .header .logo {
	position:absolute;
	left:380px;
	top:-45px;
}

.table.int .nav {
	width: 900px;
	margin: 0 auto;
	margin-top:-6px;
	margin-bottom: 25px;
}

.table.int .nav ul {
	display: inline-block; *display: inline; zoom: 1;
}

.table.int .nav li {
	float:left;
	width:125px;
	height:86px;
	list-style:none;
	margin-right:-15px;
	position: relative;
}

.table.int .nav li a {
	font-family: sans-serif;
	font-weight:700;
	text-transform:uppercase;
	font-size:13px;
	line-height:13px;
	text-align:center;
	vertical-align: middle;
	position: relative;
	z-index: 51;
	display: block;
	background: rgba(0,0,0,0);
}

.table.int .nav li img {
	display: none;
}

.table .nav a {
	text-decoration:none;
	color:#000;
}

.page-wordlet-patt-videos li.patt_videos_url a,
.page-wordlet-patt-film li.patt_film_url a,
.page-wordlet-patt-action li.patt_action_url a,
.page-wordlet-patt-snap li.patt_snap_url a,
.page-wordlet-patt-book li.patt_book_url a,
.page-wordlet-patt-events li.patt_events_url a,
.page-wordlet-patt-alliances li.patt_alliances_url a,
.page-wordlet-patt-assistance li.patt_assistance_url a,
.page-wordlet-patt-game li.patt_game_url a,
.table.int .nav li.active a,
.table.int .nav li a:hover {
	color:#fff;
}

.table .nav li:after {
	background:url('/profiles/takepart/themes/takepart3/campaigns/patt/images/interior-nav-bg-white.png') no-repeat;
	z-index: -50;
	position: absolute;
	display: block;
	width:125px;
	height:86px;
	top: 0;
	left: 0;
	content: " ";
}

.page-wordlet-patt-videos li.patt_videos_url:after,
.page-wordlet-patt-film li.patt_film_url:after,
.page-wordlet-patt-action li.patt_action_url:after,
.page-wordlet-patt-snap li.patt_snap_url:after,
.page-wordlet-patt-book li.patt_book_url:after,
.page-wordlet-patt-events li.patt_events_url:after,
.page-wordlet-patt-alliances li.patt_alliances_url:after,
.page-wordlet-patt-assistance li.patt_assistance_url:after,
.page-wordlet-patt-game li.patt_game_url:after,
.table.int .nav li:hover:after,
.table.int .nav li.active:after,
.table.int .nav .hover {
	background:url('/profiles/takepart/themes/takepart3/campaigns/patt/images/interior-nav-bg-blue.png') no-repeat;
	color:#fff;
}

.table.int .nav .active a,
.table.int .nav .hover a {
	color:#fff;
}

.table.int .nav li span {
	display: table-cell;
	vertical-align: middle;
	height: 86px;
	width:125px;
	padding:0 11px;
}

.table.int .nav-overlay {
	z-index:100;
	position: absolute;
	top: 131px;
	left: 22px;
}

.table.int .nav-overlay li {
	width:102px;
	height:57px;
	list-style:none;
	float:left;
	margin-right:6px;
	cursor:pointer;
	/*border:1px dashed red;*/
}

.table.int #page {
	background: rgba(0,0,0,.3);
	width:982px;
	display: inline-block; *display: inline; zoom: 1;
	margin-left: 10px;
	color: #fff;
}

.table.int .main .column  {
	margin-right:1px;
}

.table.int .main .column-1,
.table.int .main .column-3 {
	width:170px;
	height: 100%;
	float:left;
	background: rgba(0,0,0,.2);
}

.table.int .main .column-1 .content,
.table.int .main .column-3 .content {
	padding: 0 10px;
}

.table.int .main .column-2 {
	width:638px;
	float:left;
	background: rgba(0,0,0,.2);
	height: 100%;
}

.table.int .main .two-columns {
	margin-left: 85px;
}

.table.int .main .column-1 ol {
	padding:30px 0 0 5px;
}

.table.int .main .column-1 ol li {
	list-style:none;
	min-height:22px;
	background:url('/profiles/takepart/themes/takepart3/campaigns/patt/images/interior-chevron.png') no-repeat top left;
	margin-bottom:25px;
}

.table.int .main .column-1 ol li a {
	padding-left:35px;
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
	font-size:14px;
	display:block;
	font-weight: bold;
	line-height: 19px;
}

.table.int .main .column-1 ol li a:hover {
	color:#4f86ad;
}

.table.int .main .column .inner {
	padding: 15px;
}

.table.int .main .inner h3 {
	color:#fff;
	font-size:15px;
	font-weight:500;
	margin: 2em 0 1em 0;
}

.table.int .main .inner {
	color:#fff;
	font-size:14px;
	font-weight:500;
}

.table.int .main .inner p {
	color:#fff;
}

.table.int .main .column-1 .content,
.table.int .main .column-3 .content {
	padding: 10px;
}

.table.int .main .column-1 h4,
.table.int .main .column-3 h3,
.table.int .main .column-3 h4 {
	margin: 20px 0 5px 0;
}

.table.int .main .sms {
	display: inline-block;
	width: 100%;
	width: 349px;
	margin: 0 auto;
	display: block;
}

.table.int .main .sms form {
	display: inline-block; *display: inline; *zoom: 1;
	vertical-align: top;
}

.table.int .main .sms .form-item {
	width: 250px;
	margin-right: 8px;
	float: left;
}

.table.int .main .sms label {
	display: none;
}

.table.int .main .sms input {
	width: 100%;
	height: 40px;
	font-size: 21px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.table.int .main .sms .form-actions {
	float: left;
}

.table.int .main .sms .form-submit {
	display: block;
	cursor: pointer;
	background: url(images/submit.jpg);
	width: 87px;
	height: 40px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	*text-indent: 0;
	line-height: 1000px;
	border: 0;
	padding: 0;
}

.sms .messages.error {
	color: rgb(0, 204, 255);
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
}

.table.int .main .sms .ajax-progress {
	position: absolute;
}

.table.int .main .column-3 .sms p {
	line-height: 1.1;
}

.table.int .main .column-3 form {
	text-align: center;
}

.table.int .main .column-3 form .input {
	width:149px;
	margin:0 auto;
}

.table.int .main .column-3 form input[type="text"] {
	width: 127px;
	margin-top: 7px;
	border: none;
	border-radius: 50px;
	padding: 3px;
}

.table.int .main .column-3 form h3 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight:500;
}

.table.int .main .column-3 form .submit {
}

.table.int .main .column-3 form .form-submit {
	background: transparent url(/profiles/takepart/themes/takepart3/campaigns/patt/images/interior-form-btn.png) left top no-repeat;
	width:111px;
	height:41px;
	margin: 5px auto 0;
	line-height: 100px;
	overflow: hidden;
	text-indent: 100%;
	border: none;
	display: block;
}

.table.int .main .column-3 form .form-item-email label {
	display: none;
}

.table.int .main .column-3 form .form-item-email .form-required {
	display: none;
}

.table.int .main .column-3 .email-signup .thank-you-message {
	padding: 10px;
	background: rgba(0,0,0,.4);
	margin: 0 -10px;
}

.table.int .main .column-3 .email-signup .thank-you-message p {
	margin: 0;
}

.email-signup .terms_and_conditions {
	display: block;
	color: #fff;
	font-size: 11px;
	line-height: 1.1;
}

.email-signup .form-actions {
	margin-bottom: 0;
}

.table.int .main .column-3 .sponsored {
	width:151px;
	margin:0 auto;
	margin:35px auto 0 auto;
}

.table.int .main .column-3 .sponsored ul,
.table.int .main .column-3 .sponsored li {
	list-style: none;
}

.table.int .main .column-3 h4 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	font-size: 14px;
}

#mobile_back {
	position: absolute;
	top: 46px;
	left: -1em;
	font-weight: bold;
}

#mobile_back a {
	display: block;
	background: #000 url(/profiles/takepart/themes/takepart3/campaigns/patt/images/interior-chevron-left.png) left center no-repeat;
	background-color: rgba(0,0,0,.6);
	padding: 5px;
	padding-left: 30px;
	text-transform: uppercase;
	color: #fff;
}

.mobile {
	display: none;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6,
.main em,
.main p {
	color: inherit;
}

.follow ul,
.follow li {
	list-style: none;
	text-align: center;
}

.follow li {
	display: inline;
	margin: 0 5px;
}

/* --------------------------------------------------------------------
   Page specific
   ----------------------------------------------------------------- */

/* Home ---------------- */

.page-wordlet-patt-home .table {
	height: 750px;
	padding: 0;
}

.page-wordlet-patt-home .header,
.page-wordlet-patt-home .table .nav {
	display: none;
}

.page-wordlet-patt-home .table #page {
	margin: 0;
	width: auto;
	display: block;
}

.table .bread {
	position:absolute;
	top: 363px;
	left: 695px;
}

.table .bread .tag {
	position: absolute;
	top: 23px;
	left: 128px;
}

.table .dinner {
	position: absolute;
	top: 288px;
	left: 280px;
}

.table .dinner .tag {
	position: absolute;
	top: 74px;
	left: -46px;
}

.table .salad {
	position: absolute;
	top: 520px;
	left: 671px;
}

.table .salad .tag {
	position: absolute;
	top: 9px;
	left: 150px;
}

.table .saltpepper {
	position: absolute;
	top: 301px;
	left: 159px;
}

.table .saltpepper .tag {
	position: absolute;
	top: -63px;
	left: -132px;
}

.table .butter {
	position: absolute;
	top: 216px;
	left: 530px;
}

.table .butter .tag {
	position: absolute;
	top: -85px;
	left: 85px;
}

.table .cola {
	position: absolute;
	top: 215px;
	left: 303px;
}

.table .cola .tag {
	position: absolute;
	top: -63px;
	left: 84px;
}

.table .utensils {
	position: absolute;
	top: 435px;
	left: 82px;
}

.table .utensils .tag {
	position:absolute;
	top: 151px;
	left: -68px;
}

.table .knife {
	position: absolute;
	top: 306px;
	left: 713px;
}

.table .knife .tag {
	position:absolute;
	top: -95px;
	left: 61px;
}

/* Alliances ---------------- */

.page-wordlet-patt-alliances .primary_alliances ul,
.page-wordlet-patt-alliances .primary_alliances li,
.page-wordlet-patt-alliances .secondary_alliances ul,
.page-wordlet-patt-alliances .secondary_alliances li {
	list-style: none;
}

.page-wordlet-patt-alliances .primary_alliances li {
	margin: 20px;
	float: left;
}

.page-wordlet-patt-alliances .primary_alliances ul {
	display: inline-block; *display: inline; zoom: 1;
	width: 100%;
}

.page-wordlet-patt-alliances .secondary_alliances li {
	margin: .5em 0;
	float: left;
	width: 50%;
}

.page-wordlet-patt-alliances .secondary_alliances ul {
	display: inline-block; *display: inline; zoom: 1;
	width: 100%;
}

.page-wordlet-patt-alliances .secondary_alliances a {
	color: #fff;
}

/* Book ---------------- */

.page-wordlet-patt-assistance .sponsored,
.page-wordlet-patt-events .sponsored,
.page-wordlet-patt-book .sponsored {
	display: none;
}

/* Snap Gallery ---------------- */

.social-buttons {
	text-align: center;
	line-height: 9px;
}

.social-buttons h3 {
	text-transform: uppercase;
	color: #fff;
	float: left;
	margin: 0 10px 0 0;
	line-height: 32px;
}

.page-wordlet-patt-snap .table.int .addthis_toolbox {
	background: rgba(0,0,0,.6);
	display: inline-block; *display: inline; zoom: 1;
	padding: 8px 12px;
}

.page-wordlet-patt-snap .tile.person,
.page-wordlet-patt-snap .tile.link,
.page-wordlet-patt-snap .tile.fact {
	cursor: pointer;
}

.page-wordlet-patt-snap .tile .modal-left,
.page-wordlet-patt-snap .tile .modal-header,
.page-wordlet-patt-snap .tile .description {
	display: none;
}

.snap-grid h1,
.snap-grid p {
	color: #fff;
}

.tile {
	position: relative;
}

.tile .modal-left,
.tile .modal-right {
	display: none;
}

.tile .veil {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.7);
}

.tile.fact .veil {
	background: #cc0f23;
}

.tile a:active .veil,
.tile a:focus .veil,
.tile a:hover .veil {
	display: block;
}

.tile .veil_content {
	position: absolute;
	top: 36%;
	color: #fff;
	text-align: center;
	width: 100%;
}

.tile .veil_content p {
	padding: 0 5px;
	margin: 0;
	font-size: 11px;
}

#grid-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	display: none;
	z-index: 100;
}

#grid-modal {
	top: 50%;
	margin-top: -175px;
	position: relative;
	height: auto;
}

.modal-left .fact {
	background-color: #cc0f23;
	height: 100%;
}

.modal-left .fact h1 {
	background-color: transparent;
	font-size: 60pt;
	line-height: 1em;
}

.snap_modal_modal .modal-header h1.fact {
	display: block;
	background: #fff;
}

.modal-right .modal-content {
	height: 100%;
}

.modal-right .modal-content.fact {
	background: #fff;
}

.snap_modal_modal .modal-right .modal-content p,
.snap_modal_modal .modal-right .modal-content em {
	color: inherit;
	line-height: 1.3em;
}

.modal-right .modal-content.fact h1,
.snap_modal_modal .modal-right .modal-content.fact p {
	color: #0182aa;
}

.snap_modal_modal .modal-right .modal-content.fact p {
	font-size: 16px;
	padding-right: 40px;
}

.close-btn {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
    cursor: pointer;
}

.snap_modal_modal .modal-right {
	height: 314px;
}

.snap_modal_modal footer {
	float: right;
	width: 490px;
}

.modal-content h2 {
	background-color: #515151;
}

.modal-content {
	background-color: #323232;
	height: 312px;
	width: 100%;
	overflow: hidden;
}

.modal-content h3 {
	display: inline-block;
	font-size: 19px;
	line-height: 26px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	font-weight: bold;
}

.modal-content .description {
	color: #FFFFFF;
	font-size: 0.9em;
	line-height: 1.2em;
	height: 143px;
	overflow: auto;
	margin: 0 0 0 20px;
	padding: 0 20px 0 0;
	font-weight: normal;
}

.modal-content .description p {
	margin: 1em 0;
}

.modal-content.fact .description {
	height: 184px;
	padding-left: 20px;
}

.description.take-your-place {
	height: 100%;
	background: #fff;
	color: #0182aa;
	margin: 0;
}

.description.take-your-place p {
	font-size: 16pt;
	padding: 10px 40px 10px 40px;
	display: inline-block;
	margin-top: 110px;
}

.description.take-your-place p a {
	color: blue;
}

/* Iframed header ---------------- */

.page-wordlet-patt-nav,
.page-wordlet-patt-nav .page-wrap .table {
	background: transparent;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 499px) {
	body:not(.page-wordlet-patt-game) .mobile {
		display: block;
	}

	body:not(.page-wordlet-patt-game) #footer,
	body:not(.page-wordlet-patt-game) #page-wrapper {
		width: auto;
	}

	body:not(.page-wordlet-patt-game) * {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		max-width: 100% !important;
	}

	body:not(.page-wordlet-patt-game) img {
		height: auto !important;
	}

	/* nav */

	body:not(.page-wordlet-patt-game) .multipage-campaign #site-header #site-logo {
		padding-right: 0;
		position: absolute;
		left: 0;
		top: 0;
	}

	body:not(.page-wordlet-patt-game) .multipage-campaign #site-header {
		margin-bottom: 0;
		height: auto;
	}

	body:not(.page-wordlet-patt-game) .multipage-campaign #site-main-nav {
		padding: 5px 0;
	}

	body:not(.page-wordlet-patt-game) #site-header li {
		line-height: 1.5;
	}

	body:not(.page-wordlet-patt-game) #site-header-inner {
		height: auto;
		float: left;
		padding-left: 47px;
	}

	body:not(.page-wordlet-patt-game) #site-navs {
		float: none;
	}

	body:not(.page-wordlet-patt-game) #site-main-nav {
		float: none;
	}

	body:not(.page-wordlet-patt-game) #site-header div ul {
		float: none;
	}

	body:not(.page-wordlet-patt-game) #site-hot-nav,
	body:not(.page-wordlet-patt-game) #top-search,
	body:not(.page-wordlet-patt-game) #join-login-top,
	body:not(.page-wordlet-patt-game) #top-follow-wrapper,
	body:not(.page-wordlet-patt-game) #site-more-navs {
		display: none;
	}

	body:not(.page-wordlet-patt-game) .header-right {
		display: inline;
		float: none;
	}

	body:not(.page-wordlet-patt-game) .header-right #nav-wrap {
		display: inline;
		float: none;
	}

	body:not(.page-wordlet-patt-game) .header-right #nav-wrap:after {
		display: none;
	}

	body:not(.page-wordlet-patt-game) #block-menu-block-1 {
		display: inline;
		float: none;
	}

	body:not(.page-wordlet-patt-game) #header-wrapper {
		margin: 0;
		position: relative;
		z-index: 2;
	}

	/* wrap */
	body:not(.page-wordlet-patt-game) .page-wrap {
		top: -46px;
		position: relative;
		z-index: 1;
	}

	body:not(.page-wordlet-patt-game) .table.int #page {
		margin-left: 0;
	}

	/* patt */
	body:not(.page-wordlet-patt-game) .table.int {
		padding: 0 1em;
	}

	body:not(.page-wordlet-patt-game) .table.int .main {
		margin: 0;
	}

	body:not(.page-wordlet-patt-game) .table.int .main,
	body:not(.page-wordlet-patt-game) .table.int .main .column-1,
	body:not(.page-wordlet-patt-game) .table.int .main .column-2,
	body:not(.page-wordlet-patt-game) .table.int .main .column-3 {
		height: auto !important;
		width: auto;
		float: none;
		margin: 0;
	}

	body:not(.page-wordlet-patt-game) .table.int .main {
		background: none;
		margin-top: -45px;
		position: relative;
		z-index: 60;
	}

	body:not(.page-wordlet-patt-game) .table.int .nav {
		display: none;
	}

	body:not(.page-wordlet-patt-game) .table.int .main .column-3,
	body:not(.page-wordlet-patt-game) .table.int .main .column-1 {
		background: none;
	}

	body:not(.page-wordlet-patt-game) .table.int .main .column {
		position: static !important;
		margin-top: 0 !important;
		width: auto !important;
		height: auto !important;
	}

	body:not(.page-wordlet-patt-game) .table.int .main .column-1 .content,
	body:not(.page-wordlet-patt-game) .table.int .main .column-3 .content {
		position: static !important;
		margin-top: 0 !important;
		width: auto !important;
		height: auto !important;
		padding: 10px;
	}

	body:not(.page-wordlet-patt-game) .table.int .main .column-2,
	body:not(.page-wordlet-patt-game) .table.int .main .column-3 {
		background: rgba(0,0,0,.6);
	}

	body:not(.page-wordlet-patt-game) .table.int .main .column-3,
	body:not(.page-wordlet-patt-game) .table.int .main .column-2 {
		margin: 0 5px;
	}

	body:not(.page-wordlet-patt-game) .table.int .main .column-1 ol {
		display: inline-block;
		width: 100%;
		padding: 0 0 0 5px;
	}

	body:not(.page-wordlet-patt-game) .table.int .main .column-1 ol li {
		width: 32.33%;
		float: left;
		background: rgba(0,0,0,.6);
		min-height: 50px;
		line-height: 46px;
		text-align: center;
		margin: 0 1% 5px 0;
		border: 2px solid #5a86a6;
		border-radius: 2px;
	}

	body:not(.page-wordlet-patt-game) .table.int .main .column-1 ol li a {
		display: block;
		height: 48px;
		line-height: 46px;
		padding: 0;
	}

	body:not(.page-wordlet-patt-game) .table.int .main .column-1 ol li a span {
		display: inline-block;
		padding: 0 5px;
		vertical-align: middle;
		line-height: 1em;
	}

	body:not(.page-wordlet-patt-game) .table.int .main .column-1 ol li a span span {
		font-size: 1em;
	}

	body:not(.page-wordlet-patt-game) .table.int .nav li {
		margin-right: 0;
	}

	body:not(.page-wordlet-patt-game) .table.int .header {
		height: auto;
		background: none;
		top: 0;
	}

	body:not(.page-wordlet-patt-game) .table.int .header .logo {
		position: static;
		text-align: center;
		margin-top: 0;
	}

	body:not(.page-wordlet-patt-game) .table.int .main .two-columns {
		margin-left: 0;
	}

	/* Home */

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .table {
		height: auto;
		padding: 0;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .header,
	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .table .nav {
		display: block;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .table .nav {
		display: inline-block; *display: inline; zoom: 1;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .page-wrap {
		margin-bottom: -46px;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home #mobile_back,
	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .table #page {
		display: none;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .table.int .nav li:after {
		display: none;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .table.int .nav li {
		width: 50%;
		height: 172px;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .table.int .nav li img {
		display: block;
		margin: auto;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .table.int .nav li span {
		display: none;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .hunger {
		background: url(/profiles/takepart/themes/takepart3/campaigns/patt/images/mobile-table-tag-news.png) center top no-repeat;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .patt_film_url {
		background: url(/profiles/takepart/themes/takepart3/campaigns/patt/images/mobile-table-tag-film.png) center top no-repeat;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .patt_book_url {
		background: url(/profiles/takepart/themes/takepart3/campaigns/patt/images/mobile-table-tag-book.png) center top no-repeat;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .patt_videos_url {
		background: url(/profiles/takepart/themes/takepart3/campaigns/patt/images/mobile-table-tag-videos.png) center top no-repeat;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .patt_events_url {
		background: url(/profiles/takepart/themes/takepart3/campaigns/patt/images/mobile-table-tag-events.png) center top no-repeat;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .patt_snap_url {
		background: url(/profiles/takepart/themes/takepart3/campaigns/patt/images/mobile-table-tag-gallery.png) center top no-repeat;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .patt_assistance_url {
		background: url(/profiles/takepart/themes/takepart3/campaigns/patt/images/mobile-table-tag-assistance.png) center top no-repeat;
	}

	body:not(.page-wordlet-patt-game) .page-wordlet-patt-home .patt_action_url {
		background: url(/profiles/takepart/themes/takepart3/campaigns/patt/images/mobile-table-tag-action.png) center top no-repeat;
	}

}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}





























/**
 * Modules / Reusable elements
 */
.snap-grid {
    display: inline-block; *display: inline; zoom: 1;
    width: 100%;
}

.tile {
    background-color: #0082ab;
    color: white;
    float: left;
    /*width: 196px;
    height: 156px;*/
    width: 50%;
    margin: 0 0 0 0;
    overflow: hidden;
}

.tile a:hover {
	text-decoration: none;
}

.tile img {
    width: 100%;
    display: block;
}

.tile p {
    line-height: 1.2em;
    font-weight: lighter;
    font-size: 11pt;
    margin: 0 auto;
    padding-right: 5px;
}

.tile b {
    font-weight: 900;
}

.tile-myth {
    padding: 15px;
}

.modal {
	display: none;
}

.snap_modal_modal {
    max-width: 980px;
}

.modal-left {
    float: left;
    position: relative;
    width: auto;
}

.modal-left img {
    display: block;
    width: 490px;
    height: 315px;
}

p.question {
    color: white;
    font-size: 14pt;
}

.modal-left p.question {
    font-size: 1.3em;
    font-weight: lighter;

}

p.myth-fact {
    color: white;
    line-height: 1.1em;
    font-size: 18px;
    font-weight: lighter;
}

.modal-left > img {
    width: 100%;
}

.modal-right {
    /*position: relative;*/
    float: left;
    /*width: 50%;*/
    height: 350px;
}

.snap_modal_modal h1,
.snap_modal_modal h2,
.snap_modal_modal h3 {
    display: inline-block;
    color: white;
    padding: 5px 20px;
    margin:0;
}

.modal-header h1 {
	margin-top: 15px;
	font-size: 18pt;
	font-weight: bold;
	max-width: 400px;
}

.modal-header h2 {
	margin-top: 7px;
	font-size: 16pt;
	font-weight: 200;
	line-height: 1;
}

.modal-header h3 {
	font-size: 13pt;
	font-weight: 100;
	padding-bottom: 0;
}

#modal-content {
    height: 312px;
    width: 100%;
    overflow: hidden;
}

#modal-content p.myth-fact,
#modal-content h1.fact {
    color: #0182aa;
}

.modal-left  {
    height: auto;
}

.modal-left.fact {
    background-color: #cc0f23;
}

#modal-content {
    background-color: #323232;

}

#modal-content.fact {
    background-color: white;
}

h1.tile-header {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 35pt;
    line-height: 1em;
}

.tile h1,
.tile p {
    padding-left: 15px;
    margin-bottom: 3px;
}

.snap_modal_modal h1 {
    background-color: #0082ab;
}

.snap_modal_modal .fact h1 {
    background-color: transparent;
    font-size: 60pt;
    line-height: 1em;
    display: block;
    text-align: right;
    padding: 40px 40px 10px 40px;
}

.modal-right .fact h1 {
	margin: 0;
	text-align: left;
}

.modal-left .myth-fact {
	text-align: right;
	padding: 15px 40px 10px 40px;
	display: block;
}

#modal-content h2 {
    background-color: #515151;
}

#modal-content > div.description {
    color: #FFFFFF;
    font-size: 0.9em;
    line-height: 1.2em;
    height: 143px;
    overflow: auto;
    margin: 0 20px;

}

#modal-content > div.fact {
    height: 190px;
    margin-left: 0;
}

.snap_modal_overlay {
	background: rgba(0,0,0,.8);
}

.snap_modal_close {
	display: none !important;
}

.modal-nav {
    float: left;
}

.nav-button {
    float: left;
    cursor: pointer;
    margin-right: 3px;
}

#share-btn  {
    float: right;
    padding: 6px 10px;
    color: #323232;
    background-color: #474747;
    cursor: pointer;
}

#social-buttons {
    float: right;
    background-color: #323232;
    padding: 2px 3px;
}

/**
 * Section Specific
 */

.social-icon {
    margin-right: 10px;
}



/**
 * Page Specific
 */







/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 391px) {
	.snap-grid {
	    background-color: #0082ab;
	}
}

@media only screen and (min-width: 392px) {

    .wrapper {
        /*width: 392px;*/
        max-width: 392px;
    }

    .tile {
        width: 196px;
        height: 156px;
        margin: 0 0 0 0;
    }

}


@media only screen and (min-width: 588px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .page-wrap nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    .page-wrap nav li:first-child a {
        margin-left: 0;
    }

    .page-wrap nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    .page-wrap nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

/* =======================
 *  Custom
   ========================*/
    .wrapper {
        width: 588px;
        max-width: 588px;
    }

    .modal-left {
        /*width: 491px;*/
        height: 314px;
    }

    .modal-right {

    }



}

@media only screen and (max-width: 784px) {
    .modal-left {
        float: none;
    }
}

@media only screen and (min-width: 784px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

    .wrapper {
        width: 784px;
        max-width: 784px;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    .page-wrap nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

/* =======================
 *  Custom
   ========================*/
    .modal-left,
    .modal-right {
        width: 50%;
    }
}

@media only screen and (min-width: 980px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 980px; /* 1140px - 10% for margins */
        max-width: 980px;
        margin: 0 auto;
    }

    /* =======================
 *  Custom
   ========================*/
    .modal-left,
    .modal-right {
        /*width: 491px;*/
       width: 50%;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.game{
	-webkit-overflow-scrolling:touch;
	overflow: auto;
}
.game > iframe, .game object{
	height: 700px;
	max-width: 100%;
	width: 100%;
	border: none;
}