/*******************************
 * Video Content Type on Fresh
 ******************************/
.video-wrapper{
  .main-media {
    margin-bottom: 8px;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
}
