/* line 1, ../sass/foodinc.scss */
#page-wrapper.foodinc {
  padding: 10px;
  background: #fff;
  max-width: 1000px;
  width: auto;
}
/* line 6, ../sass/foodinc.scss */
#page-wrapper.foodinc .content {
  margin-top: 20px;
}
/* line 8, ../sass/foodinc.scss */
#page-wrapper.foodinc .content h2 {
  margin-bottom: 10px;
  color: #5c2e13;
}
/* line 13, ../sass/foodinc.scss */
#page-wrapper.foodinc img {
  max-width: 100%;
}
/* line 16, ../sass/foodinc.scss */
#page-wrapper.foodinc .hero {
  font-size: 14px;
  line-height: 28px;
}
/* line 19, ../sass/foodinc.scss */
#page-wrapper.foodinc .hero img, #page-wrapper.foodinc .hero .video {
  float: left;
  margin-right: 10px;
}
/* line 23, ../sass/foodinc.scss */
#page-wrapper.foodinc .hero .learn-more {
  float: right;
  clear: both;
}
/* line 26, ../sass/foodinc.scss */
#page-wrapper.foodinc .hero .learn-more p {
  display: inline-block;
  color: #5c2e13;
  font-size: 18px;
}
/* line 33, ../sass/foodinc.scss */
#page-wrapper.foodinc ul#main-navigation.menu {
  background-color: black;
  list-style: none;
  overflow: hidden;
}
/* line 37, ../sass/foodinc.scss */
#page-wrapper.foodinc ul#main-navigation.menu li {
  display: block;
  float: left;
  font-family: 'TradeGothicLTStdCnBold';
  list-style: none outside none;
  margin: 0;
  padding: 0 25px;
  border-right: 1px dotted #4c4c4c;
}
/* line 48, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content {
  width: 68%;
  float: left;
  clear: both;
}
/* line 52, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content #foodinc-categories {
  font-size: 14px;
  line-height: 28px;
  font-family: Helvetica,Arial,sans-serif;
}
/* line 56, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content #foodinc-categories .row {
  clear: both;
  margin-bottom: 20px;
  height: auto;
  overflow: hidden;
}
/* line 63, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content #foodinc-categories .row-id-0 .image {
  float: left;
}
/* line 66, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content #foodinc-categories .row-id-0 .category-title h2 {
  color: #5c2e13;
}
/* line 69, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content #foodinc-categories .row-id-0 .category-info {
  display: block;
  float: left;
  width: 430px;
  position: relative;
  z-index: 1;
  margin-left: -20px;
}
/* line 77, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content #foodinc-categories .row-id-0 .category-text {
  padding-left: 20px;
}
/* line 82, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content #foodinc-categories .row-odd .image {
  float: right;
  margin-left: 10px;
}
/* line 86, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content #foodinc-categories .row-odd .category-info {
  display: block;
}
/* line 91, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content #foodinc-categories .row-even .image {
  float: left;
  margin-right: 10px;
}
/* line 95, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content #foodinc-categories .row-even .category-info {
  display: block;
}
/* line 100, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges {
  padding-bottom: 30px;
  height: auto;
  overflow: hidden;
}
/* line 104, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges h2 {
  color: #5c2e13;
  margin: 0;
}
/* line 108, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges .row {
  width: 300px;
  margin-top: 20px;
  position: relative;
}
/* line 112, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges .row.row-odd {
  float: left;
  clear: both;
}
/* line 116, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges .row.row-even {
  float: right;
}
/* line 119, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges .row img {
  float: left;
  margin-right: 10px;
}
/* line 123, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges .row .info {
  margin-left: 110px;
}
/* line 125, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges .row .info .name {
  color: #5c2e13;
  font-size: 18px;
}
/* line 129, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges .row .info .bio {
  padding: 0 15px;
  position: relative;
  display: block;
  text-overflow: ellipsis;
  padding: 0;
}
/* line 136, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges .row .info .show-more-height {
  height: 58px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 141, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges .row .info .show-more {
  color: #1CA9E7;
  cursor: pointer;
}
/* line 144, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.page-body-content .judges .row .info .show-more:hover {
  text-decoration: underline;
}
/* line 152, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-awards section.right-rail {
  float: right;
  width: 30%;
}
/* line 158, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-howto section.page-body-content {
  width: 68%;
  float: left;
  clear: both;
}
/* line 163, ../sass/foodinc.scss */
#page-wrapper.foodinc #foodinc-howto section.right-rail {
  float: right;
  width: 30%;
}
