@body-family: Arial, Helvetica, sans-serif;
@nav-family: NewsGothicBoldCondensed, 'Arial Narrow', sans-serif;
@body-text-color: #333333;
@body-font-size: 12px;
@link-color: #1CA9E7;
@page-width-web: 1000px;
@content-width: 640px;
@left-rail-width: 145px;
@right-rail-width: 300px;

body {
    background:#eff3f5 url(../images/bg-page2.jpg) no-repeat top center;
    color: @body-text-color;
    font-size: @body-font-size;
    font-family: @body-family;
    margin:0;
    padding:0;
}

body.multipage-campaign {
    background: #eff3f5 url(../images/2012-02-08/bg-page-cv.png) repeat-x 0 0;

    #highlighted {
        padding: 0;
    }

    li.dhtml-menu > ul.menu {
        position: absolute;
        z-index: 1000;
        margin-left: -25px;

        li.dhtml-menu {
            float: none;
            border-right: 0;
            border-bottom: 1px dotted #4C4C4C;
            padding: 3px 25px;
        }
    }
}

a {
    text-decoration:none;
    color:@link-color;
}

/*slim header navigation*/
#slim-header ul.menu li {
    float: none;
    float: left;
    font-family: @nav-family;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.05em;
    list-style-type: none;
    text-align: center;
    padding: 8px 0 0 0;
}

/*page structure*/
#page-wrapper {
    margin: 0px auto 0;
    width:@page-width-web;
}

.main-content {
    width: @content-width;
    float: left;
}

body.two-sidebars #left-rail,
body.sidebar-first #left-rail {
    display:inline-block;
    margin:0;
    padding-left: 0;
    width: @left-rail-width;
}

.main-content {
    width: @content-width;
}

.views-field-field-slide-headline-override .field-content a:hover {
    color:@link-color;
}
