/* # General
================================================== */
@font-face {
    font-family: 'Monotype Std';
    src: url('/profiles/takepart/themes/takepart3/fonts/Monotype/ModernMTStd-ExtendedItalic.otf');
    font-style: italic;
}
.page-wrap {
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.page-wrap h1,
.page-wrap h2,
.page-wrap h3 {
    line-height: 95%;
    font-family: 'Monotype Std', serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-style: italic;
}

/* # Header
================================================== */
.header h1 {
    line-height: 0;
}
.header h1 span {
    display: none;
}
/* menu */
.header .menu {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.header .menu ul {
    list-style: none;
}
.header .menu ul li {
    display: inline-block; *display: inline; *zoom: 1;
    border-right: 1px dotted #4c4c4c;
}
.header .menu ul li a {
    font-family: 'TradeGothicLTStdCnBold';
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 5px 0;
    display: block;
    padding: 0 25px;
    font-size: 19px;
    line-height: 150%;
    text-decoration: none;
}
.header .menu ul li a:hover,
.header .menu ul li .active {
    color: #1CA9E7;
}

/* # Home - General
================================================== */
.page-wordlet-eyelevel-home .content {
    padding-top: 37px;
    padding-bottom: 80px;
}
.page-wordlet-eyelevel-home .video_intro {
    text-align: center;
}
.page-wordlet-eyelevel-home .content h2 {
    margin-top: 33px;
    font-size: 30px;
}

/* # Video - General
================================================== */
.page-wordlet-eyelevel-video .content {
    padding-top: 27px;
}

/* # Video - Artist Menu
================================================== */
.page-wordlet-eyelevel-video h2 {
    text-align: center;
    margin-bottom: 11px;
}
.page-wordlet-eyelevel-video .artists-list {
    margin-bottom: 30px;
    display: inline-block; *display: inline; *zoom: 1;
    width: 100%;
}
.page-wordlet-eyelevel-video .artists-list ul {
    list-style: none;
    margin-left: -1%;
}
.page-wordlet-eyelevel-video .artists-list ul li {
    float: left;
    vertical-align: top;
    width: 9%;
    text-align: center;
    margin-left: 1%;
    position: relative;
}
.page-wordlet-eyelevel-video .artists-list .portrait {
    line-height: 0;
    margin-bottom: 7px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
    position: relative;
}
.page-wordlet-eyelevel-video .artists-list .inactive .portrait:before{
    display: block;
    position: absolute;  
    top: 0;
    left: 0; 
    background: rgba(0,0,0, 0.5);
    content: 'coming soon';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-weight: bold;
    line-height: 110%;
    padding-top: 40%;
    height: 60%;
    width: 100%;
}
.page-wordlet-eyelevel-video .artists-list .portrait img {
    width: 100%;
}
.page-wordlet-eyelevel-video .artists-list .name {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 5%;
    display: block;
}
.page-wordlet-eyelevel-video .artists-list a {
    color: #1ca9e7;
    text-decoration: none;
}

/* # Video - Artists
================================================== */
.page-wordlet-eyelevel-video .artist-info h3 {
    font-size: 30px;
}
.page-wordlet-eyelevel-video .artist {
    display: inline-block; *display: inline; *zoom: 1;
    margin-bottom: 30px;
}

.page-wordlet-eyelevel-video .artist .info-wrapper {
    float: left;
    margin-right: 475px;
}
.page-wordlet-eyelevel-video .artist .video {
    width: 460px;
    margin-left: -475px;
    float: right;
}
.page-wordlet-eyelevel-video .artist:nth-child(2n) .info-wrapper {
    float: right;
    margin-right: 0;
    width: 50%;
}
.page-wordlet-eyelevel-video .artist:nth-child(2n) .video {
    width: auto;
    margin-left: 0;
    float: none;
}