body {
	background: #fff;
}

#site-footer,
#site-header {
	display: none;
}

#page-wrapper {
	width: auto;
}

#page {
	display: inline-block;
	vertical-align: top;
	width: 400px;
}

#page .content,
#page .headline {
	padding: 0 40px;
}

#page .headline {
	padding-top: 20px;
	margin-bottom: 5px;

	font-size: 26px;
	text-transform: uppercase;
	font-family: TradeGothicLTStdCnBold, sans-serif;
}

#page .content {
	padding-bottom: 20px;
}

#page .body p {
	margin-bottom: 5px;
}

#page #dont {
	font-size: 12px;
}