/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Helpers */
/* Elements */
/* line 27, ../sass/elements/_pie.scss */
.pie-element, .bordered, .gradient {
  behavior: url("/css/PIE.htc");
  position: relative;
}

/* line 33, ../sass/elements/_pie.scss */
.bordered {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 38, ../sass/elements/_pie.scss */
.gradient {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* line 52, ../sass/elements/_pie.scss */
.pie-container, .widget {
  z-index: 0;
  position: relative;
}

/* line 56, ../sass/elements/_pie.scss */
.z-pie-element, .widget h3 {
  behavior: url("/css/PIE.htc");
  z-index: 0;
}

/* line 71, ../sass/elements/_pie.scss */
.has-gradient {
  behavior: url("/css/PIE.htc");
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* Page */
/* line 5, ../sass/page/_homepage.scss */
body.front main#main {
  margin: 0 auto;
}
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
body.front main#main:before, body.front main#main:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
body.front main#main:after {
  clear: both;
}
/* line 8, ../sass/page/_homepage.scss */
body.front main#main #primary {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 11, ../sass/page/_homepage.scss */
body.front main#main #skinny {
  float: left;
  width: 16.66667%;
  margin-left: 50%;
  margin-right: -66.66667%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 14, ../sass/page/_homepage.scss */
body.front main#main #sidebar {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* Modules */
/* Layouts */
/**
 * @file
 * Positioning for a fixed-width, desktop-centric layout.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* line 30, ../sass/layouts/_fixed.scss */
body {
  width: 100%;
}

/* line 33, ../sass/layouts/_fixed.scss */
.header-wrapper, .preface-wrapper, .main-wrapper, .suffix-wrapper, .footer-wrapper {
  width: 100%;
  height: auto;
}

/* line 37, ../sass/layouts/_fixed.scss */
header#header, #preface, main#main, #suffix, footer {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  clear: left;
}
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
header#header:before, header#header:after, #preface:before, #preface:after, main#main:before, main#main:after, #suffix:before, #suffix:after, footer:before, footer:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
header#header:after, #preface:after, main#main:after, #suffix:after, footer:after {
  clear: both;
}
