.view-photo-gallery .views-slideshow-controls-top {
position:relative;
}
.view-photo-gallery #widget_pager_top_photo_gallery-block {
position:absolute;
right: -325px;
width:300px;
}

.view-photo-gallery div.views-slideshow-pager-field-item {
  float:left;
  width:100px;
  height:70px;
  padding-left :0;
  left:0;
  margin:0;
}


