/* Overrides to the base normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: $Ashbury;
  font-weight: 100;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -.01em;
  -webkit-font-smoothing: antialiased;
}
h1{
  font-family: $AdelleSans;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}
h2{
  font-family: $AdelleSans;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
}
h3{
  font-family: $AdelleSans;
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
}
h4, h5{
  font-family: $AdelleSans;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}
blockquote{
  font-family: $Ashbury;
  font-weight: 100px;
  font-size: 18px;
  line-height: 27px;
  margin: 30px 20px;
}
.figure{
  margin: 0;
}
.sponsor-label{
  font-family: $Brown;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
}
.label{
  font-family: $AdelleSans;
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .01em;
}
.caption{
  font-family: $Ashbury;
  font-weight: 100;
  font-size: 12px;
  line-height: 24px;
}
.published-at{

}
ul{
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
}
ul.tabs {
  border-bottom: 1px solid $light-gray;
  font-size: 16px;
  margin: 20px inherit;
  > li {
    list-style: none;
    display: inline-block;
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    padding-bottom: 0;
    > a {
      margin-right: 2px;
      line-height: 1.4em;
    }
    &.is-active{
      color: $light-gray;
      background-color: white;
      border: 1px solid $light-gray;
      border-bottom-color: transparent;
      cursor: default;
    }
  }
}
hr{
  border-bottom: 1px solid $light-gray;
  &.special{
    color: $blue;
  }
}
a{
  color: $mint;
}
img{
  display: block;
  max-width: 100%;
}
.img-circle{
  border-radius: 50%;
}
#page-wrapper{
  border-top: 5px solid $light-mint;
}

/*
* Helpers
*************************/
.pull-right{
  float: right !important;
}
.text-center{
  text-align: center;
}
.top{
  margin-top: 0;
}
.bottom{
  margin-bottom: 0;
}


/*
* Components
*************************/
blockquote.pullquote{
  p{
    font-family: $Ashbury;
    font-weight: 100;
    font-style: italic;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .cite{
    margin-top: 10px;
    text-transform: uppercase;
  }
}
aside.inline-content{
  padding: 0;
  @include breakpoint($breakpoint-phablet){
    padding: 0 $grid-gutter-width/2;
  }
  .inline-label{
    color: $blue;
    font-family: $TradeGothic;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .inline-title{
    color: $black;
  }
  img{
    margin: 0 auto;
  }
  .inline-content-inner{
    padding: 0 20px;
  }
}
.author-block{
  font-family: $Ashbury;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  span{
    font-weight: bold;
  }
}
.container{
  @include breakpoint($breakpoint-phablet){
    max-width: 480px;
    margin: 0 auto;
  }
  @include breakpoint($breakpoint-tablet){
    max-width: 750px;
  }
  @include breakpoint($breakpoint-desktop){
    max-width: 1000px;
  }
}

/*
* Advertisements
*************************/
.ad-label{
  font-family: $AdelleSans;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  color: $light-gray;
}
.ad{
  display: block;
  margin: 0 auto;
}


/*
* Buttons
*************************/
.btn{

}
.btn-primary{
  font-family: $AdelleSans;
  font-weight: 900;
  font-size: 14px;
}
.btn-secondary{
  font-family: $AdelleSans;
  font-weight: normal;
  font-size: 14px;
  color: $light-mint;
  border: 1px solid $light-mint;
  border-radius: 3px;
  padding: 5px 10px;
}

.social .icon{
  width: 24px;
  height: 24px;
}

/*
* Menus
*************************/
.horizontal-menu{
  margin: 10px 0;
  li{
    margin: 0;
    display: inline-block;
    text-align: center;
  }
}

/*
* Author Block
*************************/
.author-teaser{
  margin-top: 10px;
  margin-bottom: 10px;
  .about{
    font-family: $Ashbury;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    span{
      font-weight: 900;
    }
  }
  .published-at{
    margin-bottom: 5px;
    @extend .ad-label;
    text-align: left;
  }
  .image{
    padding-right: 0;
  }
  img{
    margin: 0 auto;
  }
}
/*
* Topic Box
*************************/
.topic-box-wrapper{
  margin: 20px inherit;
}


/*
* Lines
*************************/
.line{
  height: 1px;
  margin: 10px inherit;
  background-clip: content-box;
  clear: both;
}
.line-style-1{
  background-color: $light-gray;
}
.line-style-2{
  background-color: $light-gray;
}
.line-style-3{
  background-color: $blue;
}

/*
* Separators
*************************/
.separator{
  width: 50px;
  display: block;
  margin: 0 auto;
  height: 3px;
}
.separator-style-1{
  background-color: $light-mint;
  opacity: .3;
}
