/***
 * file: CSS support for takepart_vidpop
*/

/*
* this is the embedded preview pane
*/

.mobile-vidpop {
  position: relative;
}

div.vidpop-preview {
  width: 480px;
  height: 360px;
  position: relative;
  background: url(images/loader_66x66.gif) 20px 20px no-repeat black;
}
div.vidpop-preview iframe body {
  background-color: black;
}
div.vidpop-preview-overlay {
  width: 480px;
  height: 360px;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.mobile-vidpop div.vidpop-preview-overlay {
  height: 80px;
  position: relative;
  top: 0;
}
div.vidpop-preview a {
  text-decoration: none;
}
div.vidpop-preview a img {
  width: 480px;
  height: 360px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
div.vidpop-preview-overlay-headline {
  width: 450px;
  z-index: 9;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 14px;
}
div.vidpop-preview-overlay-text {
  width: 480px;
  height: 80px;
  z-index: 5;
  position: absolute;
  top: 280px;
  left: 0;
  cursor: pointer;
}
.mobile-vidpop div.vidpop-preview-overlay-text {
  height: 80px;
  z-index: 5;
  top: 0;
  position: absolute;
}
div.vidpop-preview-overlay-text .line1 {
  position: relative;
  top: 5px;
  left: 50px;;
  font-size: 16px;
  font-weight: bold;
  line-height: 140%;
  color: #fff;
  width: 420px;
}
.mobile-vidpop div.vidpop-preview-overlay-text .line1 {
  top: 5px;
  left: 15px;
  width: 440px;
}
div.vidpop-preview-overlay-text .line1 .watch {
  font-size: 13px;
  font-weight: bold;
  color: #99bbcb;
  padding-right: 10px;
}
div.vidpop-preview-overlay-text .line2 {
  position: relative;
  top: 10px;
  left: 15px;;
  font-size: 13px;
  line-height: 120%;
  color: #d9e7ed;
  width: 440px;
  font-weight: normal;
}
.mobile-vidpop div.vidpop-preview-overlay-text .line2 {
  top: 20px;
}

.vidpop-embed-promo-headline {
  font-weight: bolder;
  font-size: 16px;
  color: #99bbcc;  
  margin-bottom: 10px;
}
.vidpop-embed-promo-text {
  padding-bottom: 5px;
  margin-bottom: 10px;
}


/*
* the overlay sits on top of the preview, with borders and arrow button
*/
.vidpop-overlay {
  display:none;     /* must be initially hidden */
  background-color: white;
  width: 900px;
  min-height: 360px;
  border: 1px solid #fff;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

/* close button positioned on upper right corner */
#cboxClose {
  background: url(images/close_popup.png) no-repeat !important;
  position:absolute;
  right: 5px !important;
  top: 5px !important;
  cursor:pointer;
  height:13px !important;
  width:13px !important;
  z-index: 99999;
}
/*
#cboxClose {
  background: url(images/close_popup_mobile.png) no-repeat !important;
  position:absolute;
  right: 5px !important;
  top: 5px !important;
  cursor:pointer;
  height:20px !important;
  width:50px !important;
  z-index: 99999;
}
*/

/*
* the popup window
*/
.vidpop-popup .inner-wrapper {
  padding: 0px;
}
.vidpop-popup .top-banner {
  clear: both;
  margin-top: 15px;
  margin-bottom: 20px;
}
.vidpop-popup .top-banner .tp-logo {
  float: left;
  width: 75px;
  margin-left: 10px;
  padding-top: 17px;
}
.vidpop-popup .top-banner .video-banner-large {
  float: left;
  width: 728px;
  height: 90px;
}

.vidpop-popup .media-youtube-preview-wrapper object,
.vidpop-popup .media-youtube-preview-wrapper iframe {
  height: 390px !important;
}

.vidpop-popup .lower-wrapper {
  padding: 20px 0;
  clear: both;
  }
.vidpop-popup .contents {
  clear: both;
}
.vidpop-popup .nobanner {
  margin-top: 10px;
}
.vidpop-popup .contents .leftside {
  float: left;
  width: 640px;
}
.vidpop-popup .contents .rightside {
  float: right;
  width: 200px;
  padding-top: 15px;
  margin-right: 10px;
}

.vidpop-popup .field-name-field-promo-headline {
  color: black;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 10px;
}
.vidpop-popup .field-name-field-promo-text {
  color: black;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 10px;
}
.vidpop-popup .subscribe {
  margin: 10px 0 10px 10px;
}
.vidpop-popup .comment-link {
  margin: 20px 0;
  text-align: center;
  font-family: arial !important;
  font-weight: bold;
}
.vidpop-popup .tp-vidpop-share-button-bar {
  margin: 10px 0 10px 60px;  
}
.vidpop-popup .tp-vidpop-share-button-bar {
}

.vidpop-popup #vidpop-social {
  margin-bottom: 10px;
}

.vidpop-popup .addthis_button_tweet {
    width: 75px;
    overflow: hidden;
}

.vidpop-popup .addthis_button_facebook_like {
    width: 75px;
    overflow: visible;
    opacity: 1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

/* cbox adjustments */
#cboxLoadedContent {
  margin-bottom: 0 !important;
  padding-top: 12px;
}
#cboxContent {
  top: -10px;
  right: -10px;
}
#colorbox, #cboxWrapper, #cboxContent, #cboxLoadedContent {
  overflow: hidden !important;
}
body #cboxContent {
  height: 595px !important;
}

/*
Internet Explorer 8 will have problems with showing images in the Colorbox.
The fix is to add this to the theme CSS:
*/
#cboxLoadedContent img {
  max-width: none;
}

/*
.vidpop-popup .fb_edge_comment_widget {
    left:-400px !important;
    top:-20px !important;
}
*/

.vidpop-popup .addthis_button_email {
    padding: 2px 0 0 6px;
}

/* adjust popup window, based on banners */
body.vidpop-banners-enabled #colorbox {
  height: 550px !important;
}
body.vidpop-banners-enabled #cboxWrapper {
  height: 550px !important;
}
body.vidpop-banners-enabled #cboxMiddleLeft {
  height: 500px !important;
}
body.vidpop-banners-enabled #cboxContent {
  height: 540px !important;
}
body.vidpop-banners-enabled #cboxLoadedContent {
  height: 540px !important;
}

body.vidpop-banners-enabled {
  position: relative;
}

/* video popups in map */
.vidmap-popup {
  background: #262626 url(images/vidmap-popup-bg.png) repeat-x !important;
  min-height:75px;
  width: 200px;
  color: white;
  padding: 15px;
}
.vidmap-popup .state-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2px;
}
.vidmap-popup .details {
  font-weight: bold;
  font-size: 12px;
}

div.vidpop-loader {
  width: 66px;
  height: 66px;
  background: url(images/loader_66x66.gif) no-repeat;
}


