/***
 * file: CSS support for takepart_vidpop, mobile pages
*/

/*
* this is the embedded preview pane
*/

.vidpop-mobile-video-page {
  position: relative;
  width: 640px;
}
.vidpop-mobile-video-page .backto {
  margin-bottom: 10px;;
  font-size: 22px;
}
.vidpop-mobile-video-page .video {
  margin-bottom: 20px;
}
.vidpop-mobile-video-page .leftside {
  float: left;
  width: 440px !important;
}
.vidpop-mobile-video-page .rightside {
  float: right;
  width: 180px !important;
  padding-top: 0 !important;
  margin-right: 0 !important;
}

.vidpop-mobile-video-page .vtitle {
  font-weight: bold;
  color: black;
  font-size: 22px;
}
.vidpop-mobile-video-page .vbody {
  font-size: 13px;
  line-height: 15px;
  margin-right: 0;
}
.vidpop-mobile-video-page .subscribe {
  margin: 0 0 10px 10px;
}


