/***
 * file: CSS support for takepart_vidpop
*/

div.vidpop-preview {
  width: 420px;
  height: 315px;
  position: relative;
}
div.vidpop-preview-overlay {
  width: 420px;
  height: 315px;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
div.vidpop-preview a img {
  width: 420px;
  height: 315px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.simple_overlay {

  /* must be initially hidden */
  display:none;

  /* place overlay on top of other elements */
  z-index:10000;

  /* styling */
  background-color:#333;

  width:675px;
  min-height:200px;
  border:1px solid #666;

  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
  background-image:url(/media/img/overlay/close.png);
  position:absolute;
  right:-15px;
  top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
}
