/* line 1, ../sass/newsletter.scss */
body {
  background: #fff;
  border-top: none;
  border-bottom: none;
  font-family: "Ashbury-Light", "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-size: 14px;
}

/* line 10, ../sass/newsletter.scss */
#site-footer,
#site-header {
  display: none;
}

/* line 14, ../sass/newsletter.scss */
#page-wrapper {
  width: auto;
}

/* line 18, ../sass/newsletter.scss */
#page {
  float: left;
  vertical-align: top;
  width: 400px;
}

/* line 24, ../sass/newsletter.scss */
#page * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../sass/newsletter.scss */
#page .content,
#page .headline {
  padding: 0 40px;
}

/* line 35, ../sass/newsletter.scss */
#page .headline {
  padding-top: 20px;
  margin-bottom: 5px;
  font-size: 26px;
  font-family: "Ashbury-Regular", "Times New Roman", Georgia, "DejaVu Serif", serif;
}

/* line 42, ../sass/newsletter.scss */
#page .content {
  padding-bottom: 20px;
}

/* line 46, ../sass/newsletter.scss */
#page .body p {
  margin-bottom: 5px;
}

/* line 50, ../sass/newsletter.scss */
#page #dont {
  font-size: 12px;
}

/* line 54, ../sass/newsletter.scss */
#page .form {
  margin-bottom: 1em;
}

/* line 58, ../sass/newsletter.scss */
.form-type-textfield {
  position: relative;
}

/* line 62, ../sass/newsletter.scss */
.form-type-textfield label {
  position: absolute;
  z-index: 2;
  line-height: 40px;
  padding: 0 5px;
  padding-left: 10px;
  color: #999;
  border: 1px solid transparent;
}

/* line 72, ../sass/newsletter.scss */
.form-type-textfield input {
  max-width: 100%;
  font-size: 18px;
  z-index: 1;
  border: 1px solid #ccc;
  box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  line-height: 32px;
  padding: 0 5px;
  position: relative;
}

/* line 84, ../sass/newsletter.scss */
.form-type-textfield input:focus {
  max-width: 100%;
  z-index: 3;
  outline: none;
}

/* line 90, ../sass/newsletter.scss */
.form-actions input {
  border: none;
  font-size: 24px;
  text-transform: uppercase;
  font-family: TradeGothicLTStdCnBold, sans-serif;
  color: #fff;
  width: 100%;
  padding: .25em;
  cursor: pointer;
  background: #01BF9E;
}

/* line 102, ../sass/newsletter.scss */
.form .thank-you-message {
  margin-top: 1em;
}

/* line 105, ../sass/newsletter.scss */
a {
  color: #019F84;
}

/* line 108, ../sass/newsletter.scss */
.form-required {
  display: none;
}

/* line 111, ../sass/newsletter.scss */
form {
  color: #666;
}
