/* line 1, ../sass/social_interstitial.scss */
body {
  background: green;
}

/* line 6, ../sass/social_interstitial.scss */
#site-footer,
#site-header {
  display: none;
}

/* line 10, ../sass/social_interstitial.scss */
#page-wrapper {
  width: auto;
}

/* line 14, ../sass/social_interstitial.scss */
#page {
  display: inline-block;
  vertical-align: top;
}

/* line 20, ../sass/social_interstitial.scss */
#page .content,
#page .headline {
  padding: 0 40px;
}

/* line 24, ../sass/social_interstitial.scss */
#page .headline {
  padding-top: 20px;
  margin-bottom: 5px;
  font-size: 26px;
  text-transform: uppercase;
  font-family: TradeGothicLTStdCnBold, sans-serif;
}

/* line 33, ../sass/social_interstitial.scss */
#page .content {
  padding-bottom: 20px;
}

/* line 37, ../sass/social_interstitial.scss */
#page .body {
  width: 160px;
  float: left;
}

/* line 42, ../sass/social_interstitial.scss */
#page .body p {
  margin-bottom: 5px;
}

/* line 46, ../sass/social_interstitial.scss */
#page .socials {
  float: left;
}

/* line 50, ../sass/social_interstitial.scss */
#page .socials .social {
  float: left;
  margin-left: 14px;
}

/* line 55, ../sass/social_interstitial.scss */
#page .socials .social img {
  display: block;
}

/* line 59, ../sass/social_interstitial.scss */
#page #dont {
  font-size: 12px;
}
