#edit-signature-email-und-0-value {
  width: 270px;
  height: 20px;
}

#edit-signature-first-name-und-0-value {
  width: 130px;
  height: 20px;
}

#edit-signature-last-name-und-0-value {
  width: 130px;
  height: 20px;
}

#edit-field-wbor-zip-code-und-0-zip-code {
  width: 90px;
  height: 20px;
}

#edit-field-wbor-zip-code-und-0-plus-four {
  width: 70px;
  height: 20px;
}

.wbor-zip-code-note {
  font-size: 10px;
  font-weight: bold;
  padding: 6px 0;
}

.wbor-required-note {
  font-size: 10px;
  color: #666666;
  font-style: italic;
}
