.wordlet {
    outline: 1px dashed green;
    min-height: 1px;
}

.hide_wordlets .wordlet {
    display: none;
}

#wordlets_show {
    display: none;
}

.hide_wordlets #wordlets_hide {
    display: none;
}

.hide_wordlets #wordlets_show {
    display: inline;
}

.wordlet_edit,
.wordlet_add {
    font-size: 10px;
    display: none;
    position: absolute;
    background: #fff;
}

.wordlet_edit {
    outline: 1px dashed blue;
    color: blue;
}

.wordlet_configure,
.wordlet_add {
    outline: 1px dashed red;
    color: red;
}

.wordlets_modal input[type="text"] {
    width: 300px;
}

/* Drupal admin bar */

#toolbar {
    position: static;
    margin: 0;
}

div#toolbar div.toolbar-shortcuts ul {
    height: auto;
}

ul.tabs.primary {
    display: none;
}

body {
    padding-top: 0 !important;
}